<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <style>


        body .ui-dialog .ui-dialog-buttonpane {
            width: auto !important;
        }

    </style>
    
    <script>
        //<![CDATA[
            var link = window.location.href;
            var elementA = document.getElementsByTagName("a");
            var element;
            var kt = 0;
            for (let i = 0; i < elementA.length; i++) {
                if(link.indexOf(elementA[i]) !== -1){
                    kt = 1;
                    element = elementA[i];
                }
            }
            if(kt === 1){
                var id = element.parentNode.id;
                document.getElementById(id).className = "active-menuitem";
                var parentId = id.substring(0, id.length - 2);
                document.getElementById(parentId).className = "active-menuitem";
                var parent = document.getElementById(parentId);
                parent.querySelector("ul").style.display = "block";
            }
       // ]]>
    </script>
    
    <script>
        var time = new Date().getTime();
        window.addEventListener("click", function () {
            time = new Date().getTime();
        });

        setInterval(function () {
            var a = new Date().getTime();
            if (a - time > 30 * 60000 + 1000) {
                window.location.reload(true);
            }
        }, 1000);
    </script>

    <script>
        function closeWhenScroll() {
            $(".ui-tree, .ui-outputpanel, .ui-panel, .ui-datatable").add(window).scroll(function () {
//                console.log('scroll');
                $(".ui-selectonemenu-panel").css("display", "none");
                $(".ui-datepicker").css("display", "none");
                $(".ui-colorpicker-container").css("display", "none");

            });
        }

//        $('.ui-tree-filter').on('keydown', function (event) {
//            console.log('sssssssss');
//            if (event.keyCode === 32) {
////                event.target.value = event.target.value + 'x';
////                var id = event.target.id;
//                $(this).keyup();
//            }
//        });
//
//        $('.ui-selectonemenu-filter').on('keydown', function (event) {
//            console.log('sssssssss');
//            if (event.keyCode === 32) {
////                event.target.value = event.target.value + 'x';
//                var id = event.target.id;
//                $(this).keyup();
//            }
//        });


//        function insert(str, index) {
//            return str.substr(0, index) + ' ' + str.substr(index);
//        }
//        ;
//
//        $(document).on('keypress', function (event) {
//            if (event.keyCode === 32) {
//
//                var elem = document.getElementById(event.target.id);
//
//                var insertPos = elem.selectionStart;
//
//                event.target.value = insert(event.target.value, insertPos);
//
//                elem.setSelectionRange(insertPos + 1, insertPos + 1);
//            }
//        });

//        $(document).on('keyup', function (event) {
//            if (event.keyCode === 32) {
//                event.target.value = event.target.value + 'x';
//            }
//        });

        $('*').click(function () {
            $('.ui-tree-filter').on('keydown', function (event) {
                if (event.keyCode === 32) {
                    $(this).keyup();
                }
            });

            $('.ui-selectonemenu-filter').on('keydown', function (event) {
                if (event.keyCode === 32) {
                    $(this).keypress();
                    $(this).keyup();
                }
            });
        });

//        $(document).ready(function () {
//            $(".ui-tree, .ui-outputpanel, .ui-panel, .ui-datatable").add(window).scroll(function () {
//                console.log('scroll xxxxxxxxxxxx');
//                $(".ui-selectonemenu-panel").css("display", "none");
//                $(".ui-datepicker").css("display", "none");
//                $(".ui-colorpicker-container").css("display", "none");
//                $('#logo').click();
//            });
//        })

    </script>

    <h:form id="remoteGlobalForm">
        <p:remoteCommand name="" process="" update="" />
        <p:outputPanel id="remoteGrowl">
            <p:growl id="growNotify" widgetVar="growNotify" showSummary="false" showDetail="true" life="9000"/>
        </p:outputPanel>
    </h:form>

    <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
        <p:commandButton value="Yes" styleClass="ui-confirmdialog-yes"/>
        <p:commandButton value="No" styleClass="ui-confirmdialog-no" />
    </p:confirmDialog>

    <p:ajaxStatus style="display:block;margin-bottom:2em;" oncomplete="closeWhenScroll()">
        <f:facet name="default">
            <h:outputText value="Status: StandBy" />
        </f:facet>

        <f:facet name="start">
            <p:graphicImage name="images/ajax-loader.gif" />
        </f:facet>

        <f:facet name="complete">
            <h:outputText value="Status: Completed" />
        </f:facet>
    </p:ajaxStatus>

    <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" oncomplete="closeWhenScroll()"/>

    <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" 
              resizable="false" showHeader="false">
        <p:graphicImage name="images/ajax-loader.gif" />
    </p:dialog>

</html>