<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pp="http://primefaces.org/poseidon">
    <style>


        .layout-wrapper .layout-menu {
            height: 100px;
        }
        .layout-wrapper.menu-layout-static .layout-menu-container {
            margin-top: calc(55px - 75px);
            height: calc(100vh - 55px) !important;
            background-color: #fff !important;
            border: #fff 0px solid;
            border-right: #a0acb5 1px solid;

        }
        .layout-wrapper .layout-menu li a:hover {
            background-color: #dcdfe1 !important;
/*            color: #fff !important;*/
            font-weight: bold !important; 
        }


        .layout-wrapper .layout-menu li ul{
            background-color: #fff !important;
        }
        /*            .layout-wrapper .layout-menu li a i{
                        color: #0066B3 !important;
                    }*/
        /*            .layout-wrapper .layout-menu li a span{
                        color: #0066B3;
                    }*/
        .layout-wrapper .layout-menu li a {
            color: #0066B3;
            /*font-weight: bold;*/
        }
        .layout-wrapper .layout-menu >li {
            border-bottom: #dcdfe1 1px solid;
        }
    </style>

    <h:form id="menuform"> 
        <div id="menuLayout" class="layout-menu-container ">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                    <pp:menu widgetVar="me1" model="#{menuController.model}">
                    </pp:menu>



                    <!--                    <pp:menu widgetVar="me">
                                            <p:menuitem id="om_dashboard" value="Dashboard" icon="fa fa-fw fa-home" outcome="/campaign/campaignOnline"/>
                                            <p:submenu id="om_themes" label="Themes" icon="fa fa-fw fa-paint-brush">
                                                <p:menuitem id="theme1" value="Turquoise Theme" icon="fa fa-fw fa-paint-brush" actionListener="#{guestPreferences.setTheme('turquoise')}" ajax="false" style="color:#00acac"/>
                                                <p:menuitem id="theme2" value="Blue Theme" icon="fa fa-fw fa-paint-brush" actionListener="#{guestPreferences.setTheme('blue')}" ajax="false" style="color:#2f8ee5"/>
                                                <p:menuitem id="theme3" value="Purple Theme" icon="fa fa-fw fa-paint-brush" actionListener="#{guestPreferences.setTheme('purple')}" ajax="false" style="color:#6c76af"/>
                                                <p:menuitem id="theme4" value="Orange Theme" icon="fa fa-fw fa-paint-brush" actionListener="#{guestPreferences.setTheme('orange')}" ajax="false" style="color:#efa64c"/>
                                                <p:menuitem id="theme5" value="Pink Theme" icon="fa fa-fw fa-paint-brush" actionListener="#{guestPreferences.setTheme('pink')}" ajax="false" style="color:#f16383"/>
                                                <p:menuitem id="theme6" value="Light Blue Theme" icon="fa fa-fw fa-paint-brush" actionListener="#{guestPreferences.setTheme('light-blue')}" ajax="false" style="color:#63c9f1"/>
                                                <p:menuitem id="theme7" value="Green Theme" icon="fa fa-fw fa-paint-brush" actionListener="#{guestPreferences.setTheme('green')}" ajax="false" style="color:#57c279"/>
                                                <p:menuitem id="theme8" value="Deep Purple Theme" icon="fa fa-fw fa-paint-brush" actionListener="#{guestPreferences.setTheme('deep-purple')}" ajax="false" style="color:#7e57c2"/>
                                            </p:submenu>
                                            <p:submenu id="om_default" label="Rule Engine" icon="fa fa-fw fa-life-saver">
                                                <p:menuitem id="om_empty" value="Result Table" outcome="/campaign/campaignOnline" />
                                                <p:menuitem id="om_login" value="Condiotn Table" outcome="/campaign/campaignOnline" />
                                                <p:menuitem value="Preprocess Unit" outcome="/campaign/campaignOnline" />
                                                <p:menuitem id="om_error" value="Promotion Block" outcome="/campaign/campaignOnline" />
                                            </p:submenu>
                                            <p:submenu label="Campaign" icon="fa fa-fw fa-life-saver">
                                                <p:menuitem value="Approving" outcome="/campaign/campaignOnline" />
                                                <p:menuitem  value="Offline" outcome="/campaign/campaignOnline" />
                                                <p:menuitem  value="Online" outcome="/campaign/campaignOnline" />
                                            </p:submenu>
                                            <p:submenu  label="Promotion" icon="fa fa-fw fa-life-saver">
                                                <p:menuitem  value="Notification" outcome="/campaign/campaignOnline" />
                                                <p:menuitem value="Ocs Behavious" outcome="/campaign/campaignOnline" />
                                                <p:menuitem value="Scenario" outcome="/campaign/campaignOnline" />
                                            </p:submenu>
                                            <p:submenu label="Template" icon="fa fa-fw fa-life-saver">
                                                <p:menuitem  value="OCS Behavious" outcome="/campaign/campaignOnline" />
                                                <p:menuitem value="Notify" outcome="/campaign/campaignOnline" />
                                            </p:submenu>
                                        </pp:menu>-->
                </div>
            </div>
        </div>
    </h:form>
</ui:composition>