<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="theme-color" content="#{guestPreferences.themeColors[guestPreferences.theme]}" />
        </f:facet>
        <title><ui:insert name="title">Campaign</ui:insert></title>
        <h:outputScript name="js/nanoscroller.js" library="poseidon-layout" />
        <h:outputScript name="js/layout.js" library="poseidon-layout" />
        <h:outputScript name="js/swipe.js" library="poseidon-layout" />
        <ui:insert name="head"/>
    </h:head>

    <h:body styleClass="main-body" id="body">
        <script type="text/javascript">

            function updateTitle(me)
            {
                me.title = me.value;
            }

            function onScroll() {
                var menu = document.getElementById("menuLayout");
                window.addEventListener("scroll", callbackFunc);
                function callbackFunc() {
                    var y = window.pageYOffset;
                    if (y > 0) {
                        $('#layout-bar').addClass("fixed");
                        $('#layout-bar').removeClass("notfixed");
                        $('#menuLayout').addClass("fixedmenu");
                        $('#menuLayout').removeClass("notfixedmenu");
//                        $('#cataform').addClass("fixedcat");
//                        $('#cataform').removeClass("notfixedcat");
                    } else {
                        $('#layout-bar').addClass("notfixed");
                        $('#layout-bar').removeClass("fixed");
                        $('#menuLayout').addClass("notfixedmenu");
                        $('#menuLayout').removeClass("fixedmenu");
//                        $('#cataform').addClass("notfixedcat");
//                        $('#cataform').removeClass("fixedcat");
                    }

                }
            }
            window.onload = function () {
                onScroll();
            };
        </script>
        <style>

            .ui-state-disabled {
                cursor: default!important;
                pointer-events: all;
            }

            button:disabled,
            button[disabled]{
                background-color: #a8acb1;
            }

            .title-action {
                margin-top: 1px;
            }

            body{
                overflow: hidden !important;
            }

            .layout-wrapper .layout-menu li a i {
                color: #54667a;
            }
            .layout-wrapper .layout-menu li.active-menuitem > a {
                background-color: #fff;
                color: #54667a !important;
                font-weight: bold;
            }
            .layout-wrapper .layout-menu li.active-menuitem > a i {
                color: #54667a;
                font-weight: bold;
            }
            .layout-wrapper .layout-menu li a {
                color: #54667a !important;
            }

            #fromTree{
                margin-top: 1px;
            }

            /*tree style*/
            .ui-tree-filter-container {
                position: sticky;
                z-index: 1000;
                top: 0;
                margin: auto;
            }

            /*context menu style*/
            body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link.ui-state-hover {
                background-color: #DCDFE1;
                color: black;
            }
            body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link {
                border-bottom: #DCDFE1 1px solid;
            }
            /*input switch syle*/
            .ui-inputswitch {
                margin-bottom: -3px;
            }

            /*Dialog header style*/
            .ui-icon-closethick:before {
                color: white;

            }
            body .ui-dialog .ui-widget-header {
                background-color: #0066B3;
                color: #ffffff;
            }
            body .ui-dialog .ui-dialog-titlebar {
                margin-top: 10px;
                margin-left: 10px;
                margin-right: 10px;
            }

            /*Button style*/
            body .ui-button.ui-button-text-only .ui-button-text {
                font-weight: normal !important; 

            }

            .ui-fluid .ui-button {
                width: 100%;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
            }

            body .ui-button {            
                border-radius: 3px;
            }

            .ui-fluid .ui-inputgroup .ui-button {
                border-radius: 3px;
            }

            /*Label style*/
            body .ui-outputlabel {
                padding-bottom: 5px;
                color: #0066B3 !important;
                font-weight: 500 !important;
                font-size: 14px !important;
            }

            /*Div space style*/
            .spacerHeight{
                height: 5px;
            }

            /*tree icon style*/
            .ui-icon-folder-collapsed:before {
                color:#DEBA83; 
            }

            .ui-icon-folder-open:before {
                color:#DEBA83;
            }

            .ui-icon-document:before {
                color: #0066B3;
            }

            /*horizontal line style*/
            .line{
                border-bottom: 2px solid #000; 
                width: 100%;
                margin-bottom: 8px; 
                margin-top: 10px;
            }






            .ui-tree .ui-tree-container {
                overflow: visible !important;
            }

            .ui-selectonemenu {
                min-width: 0 !important;
            }

            .ui-selectonemenu-panel{
                max-width: 300px !important;
            }

            .ui-inputswitch .ui-inputswitch-on {
                background-color: #0066B3;
            }

            .ui-selectonemenu-filter-container {
                width: 93% !important;
            }

            .fixed{
                position: fixed;
                padding: 0 0 0 0;
                z-index: 10000000;
            }
            .notfixed{
                padding: 75px 0 0 0;
            }

            .fixedmenu{
                position: fixed !important;
                margin-top: 5px !important;
            }
            .notfixedmenu{
            }

            .fixedcat{
                position: fixed !important;
                margin-top: -1px !important;
                width: 270px !important;
            }
            .notfixedcat{
            }

            .circle {
                background: #00acac;
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }



            /*layout-menu*/
            .layout-wrapper.menu-layout-static .layout-menu-container {
                margin-top: 5px;
                border: 1px solid;
                position: fixed;
            }

            /*layout-main-content*/
            .layout-main-content {
                padding: 2px 0 0 0 !important;
                margin-top: 0 !important;
                position: absolute;
                margin-top: 64px !important;
                border-radius: 5px !important;
            }

            /*layout-main-catagory*/
            .layout-main-catagory{
                margin-top: 5px;
                position: fixed;
                margin-left: 258px;
                z-index: 99;
                top: 75px;
                height: 800px;
                border-radius: 5px !important;
            }

            /*Component*/
            .treeStype {
                background-color: #F2F2F2 !important;
                color: #190707 !important;
            }

            .toolbar{
                /*border-radius: 5px !important;*/
                /*background-color: #808080 !important;*/

            }

            largeBorderRadius {
                border-radius: 5px !important;
            }

            panelTitle {
                background-color: #81DAF5 !important;
                color: #F4FA58;
            }

            .layout-wrapper .layout-menu li a:hover {
                background-color: #00acac;
            }

            .layout-wrapper .layout-bar {
                padding: 80px 0 0px 0 !important;
            }

            /*           /table*/
            .table-campaign .ui-datatable-tablewrapper {
                margin-top: 33px;
            }
            body .ui-datatable .ui-paginator.ui-paginator-top{
                display: none;
            }
            body .ui-datatable .ui-datatable-header {
                background-color: #fff;
                color: #5f666c;
                padding: 8px 0px;
            }
            body .ui-datatable .ui-paginator {
                background-color: #fff;
                border: solid 1px #D9E0E7;
            }
            body .ui-paginator .ui-paginator-pages .ui-paginator-page {
                color: #5f666c;            }
            body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
                color: #0066B3 !important;            }
            body .ui-paginator .ui-paginator-first, body .ui-paginator .ui-paginator-prev, body .ui-paginator .ui-paginator-next, body .ui-paginator .ui-paginator-last {
                color: #5f666c;}
            .ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options {
                float: left;
            }

            /*button*/
            .campaign-save-btn {
                background-color: #9fc5f8;
            }

            panel
            body .ui-panel .ui-panel-titlebar {
                background-color: #fff;
                color: #5f666c;
                border-bottom: 1px solid;
                padding: 2px 14px;
            }



            ::placeholder {
                color: #dcdfe1;
                opacity: 1; /* Firefox */
            }

            /*button*/
            body .ui-button.ui-button-text-only .ui-button-text {
                font-weight: bold;
                color: #fff
            }



            /*main-content*/
            .layout-wrapper.menu-layout-static .layout-main-content {
                margin-left: 525px;
            }




            @media (min-width: 1025px) {
                .layout-wrapper.menu-layout-static.layout-menu-static-inactive .layout-main-content {
                    margin-left: 276px; }
                .layout-wrapper.menu-layout-static.layout-menu-static-inactive .layout-main-catagory  {
                    margin-left: 8px!important;}
            }

            @media (max-width: 1024px) {
                .layout-wrapper.menu-layout-static.layout-menu-static-inactive .layout-main-content {
                    margin-left: 276px; }
                .layout-wrapper.menu-layout-static.layout-menu-static-inactive .layout-main-catagory  {
                    margin-left: 8px!important;}
            }

            .layout-wrapper .topbar-items {
                float: right;
                margin: 0;
                padding: 5px 0 0 0;
                list-style-type: none;
            }

            .layout-wrapper.menu-layout-static .layout-mask {
                display: none; }

        </style>

        <div class="layout-wrapper #{guestPreferences.menuLayout} #{guestPreferences.orientationRTL ? 'layout-rtl' : null}" >  

            <ui:include src="./topbar.xhtml" />
            <ui:include src="./menu.xhtml" />

            <p:outputPanel id="divCata" class="layout-main-catagory" style="width: 270px;margin-left: 257px; margin-top: -14px">
                <ui:insert name="catagory"/>
            </p:outputPanel>

            <p:outputPanel id ="divContent" class="layout-main-content" style="width: calc(100% - 527px)">
                <ui:insert name="content"/>
            </p:outputPanel>

        </div>

        <ui:include src="common-template.xhtml"/>

        <h:outputStylesheet name="css/nanoscroller.css" library="poseidon-layout" />
        <h:outputStylesheet name="css/animate.css" library="poseidon-layout" />
        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="poseidon-layout" />
    </h:body>

</html>