<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pp="http://primefaces.org/poseidon">

    <p:idleMonitor
        timeout="#{session.maxInactiveInterval * 1000}"
        onidle="PF('timeoutDialog').show()"/>

    <p:dialog id="timeoutSession"
              header="Login"
              widgetVar="timeoutDialog"
              showEffect="fade" hideEffect="fade"
              modal="true"
              width="1000"
              height="800"
              closable="false"
              draggable="false"
              resizable="false"
              onHide="stopCount()"
              onShow="doTimer()">
        <br />
        <h:form prependId="false" onsubmit="this.action='j_spring_security_login';">
            <div class="login-panel ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12 logo-container">
                        <p:graphicImage name="images/login/login-logo.png" library="poseidon-layout" />
                    </div>
                    <div class="ui-g-12">
                        <p:inputText onchange="this.value = this.value.trim()" id="username" placeholder="Username" />
                    </div>
                    <div class="ui-g-12">
                        <p:password id="password" placeholder="Password" feedback="false"/>
                    </div>
                    <div class="ui-g-12 chkbox-container">
                        <!--<p:captcha label="Captcha" />-->
                    </div>
                    <div class="ui-g-12 button-container">
                        <p:commandButton value="Sign In" ajax="false" icon="fa fa-user" styleClass="turquoise-btn"/>
                    </div>
                </div>
            </div>
        </h:form>
    </p:dialog>
    <script type="text/javascript">
        var TIME = 120; // in seconds
        var countTimer = TIME;
        var processTimer;
        var timer_is_on = 0;
        var redirectPage = "#{request.contextPath}/auth/j_verinice_timeout";

        var countDownDiv = "dialog-countdown";
        var txtCountDown = null;
        if (!txtCountDown)
            txtCountDown = document.getElementById(countDownDiv);

        function startIdleMonitor() {
            countTimer = TIME;
            txtCountDown.innerHTML = countTimer;
            PF('timeoutDialog').show();
        }
        function timedCount() {
            txtCountDown.innerHTML = countTimer;
            if (countTimer === 0) {
                stopCount();
                window.location.href = redirectPage;
                return;
            }
            countTimer = countTimer - 1;
            processTimer = setTimeout("timedCount()", 1000);
        }
        function doTimer() {
            if (!timer_is_on) {
                timer_is_on = 1;
                timedCount();
            }
        }
        function stopCount() {
            clearTimeout(processTimer);
            timer_is_on = 0;
            keepAlive();
        }
    </script>
</ui:composition>