<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:po="http://primefaces.org/poseidon">

    <style>
        body .ui-state-active, body .ui-state-highlight {
            font-weight: bold
        }

        /*banner*/
        .layout-wrapper .topbar{
            height: 55px;
        }
        .layout-wrapper .topbar .topbar-left {
            height: 55px;
        }

        .layout-wrapper .topbar-items > li {
            margin-left: 8px;
        }
        .layout-wrapper .topbar .logo {
            display: inline-block;
            vertical-align: middle;
            width: 251px;
            height: 55px;
            background: url("#{resource['poseidon-layout:images/custom/new-logo.png']}") top left no-repeat;
            background-size: 251px 55px;
        }

        .ui-widget-header .ui-tabmenuitem .ui-state-active {
            background-color: #fff;
        }
        body .ui-tabmenu .ui-state-active {
            background-color: #fff;
        }
    </style>

    <div id="topbar" class="topbar clearfix" style="background-color: #0066B3">

        <div class="topbar-left">            
            <div class="logo"></div>
        </div>

        <div class="topbar-right" >
            <!--            <div class="" style="width: 500px; float: left">
                            <p:outputPanel class="ui-inputgroup">
                                <a id="menu-button" href="#" style="padding: 4px 0px 0 15px;">
                                    <i class="fa fa-bars" id="menu-button" style="font-size: 25px;"></i> <span> </span>
                                </a>
                                <p:tabMenu activeIndex="#{param.i}" style="background-color: #fff;    padding-top: 4px;">
                                    <p:menuitem value="Managerment" outcome="/campaign/campaignOnline" style="background: #fff;color: #000; border-radius: 0px;">
                                        <f:param name="i" value="0" />
                                    </p:menuitem>
                                    <p:menuitem value="About" outcome="/campaign/campaignOnline" style="background: #fff;color: #000; border-radius: 0px;">
                                        <f:param name="i" value="1" />
                                    </p:menuitem>
                                    <p:menuitem value="Help" outcome="/campaign/campaignOnline" style="background: #fff;color: #000; border-radius: 0px;">
                                        <f:param name="i" value="1" />
                                    </p:menuitem>
                                </p:tabMenu>
                            </p:outputPanel>
                        </div>-->


            <a id="topbar-menu-button" href="#">
                <i class="fa fa-bars"></i>
            </a>
            <ul class="topbar-items fadeInDown animated">

                <li class="profile-item">
                    <a href="#">                            
                        <div class="profile-image"></div>
                        <span class="topbar-item-name"></span>
                    </a>

                    <ul class="poseidon-menu animated">
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-user"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-user-secret"></i>
                                <span>Privacy</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-cog"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="/campaign/admin/changePass.jsf">
                                <i class="fa fa-fw fa-circle-o-notch"></i>
                                <span>Change password</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="/campaign/j_spring_security_logout">
                                <i class="fa fa-fw fa-sign-out"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <h:outputText value="#{menuController.username}" style="float: right; color: white; font-weight: bold; margin-top: 2px;"></h:outputText>
        </div>
    </div>

</ui:composition>