<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">

<p:dialog header="Define value" widgetVar="defineValueDialog" id="defineValueDialog" responsive="true" width="1000px"
          style=" overflow-y: hidden" dynamic="true" modal="true">
    <f:facet name="header">
        <i class="fa fa-list" style="font-size: 14px;"></i>
        <h:outputText value="Define value" style="margin-left:10px;"/>
    </f:facet>
    <!--<h:form id="createRuleForm">-->
    <h:form id="defineValueForm">

        <!--<h:form id="cdrForm">-->
        <p:outputPanel class="ui-g-12 ui-lg-12">
            <div class="spacerHeight"/>
            <p:dataTable id="defineValueTable" var="value" value="#{preProcessZoneController.lstProcessValueTemp}"
                         selectionMode="single"
                         reflow="true" widgetVar="defineValueTable"
                         styleClass="table-campaign" style="margin-top: 10px;height: 450px ; overflow-y: auto"
                         paginator="true" rows="10"
                         rowKey="#{value.processValueId}"
                         editable="true"
                         rowsPerPageTemplate="5,10,15,20" lazy="false">
                <f:facet name="header">
                    <p:outputLabel value="Value table"
                                   style="float: left; font-weight: bold; font-size: 16px"/><span
                        style="color: red ;float: left">*</span>
                    <p:commandButton icon="fa fa-plus" value="Row" style="float: right; margin-left: 5px;width: auto;"
                                     action="#{preProcessZoneController.onAddDefineValue()}"
                                     update="@([id$=defineValueTable])"
                                     onstart="PF('defineValueTable').paginator.setPage(0);"/>
                </f:facet>
                <p:column headerText="Value Id" colspan="2">
                    <h:outputText value="#{value.valueId}" min="0"/>
                </p:column>
                <p:column headerText="Value Name" colspan="2">
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="Value Name"
                                 value="#{value.valueName}">
                        <p:ajax  event="change" process="@([id$=defineValueForm])"  update="@([id$=defineValueForm])"></p:ajax>
                    </p:inputText>
                </p:column>
                <p:column headerText="Value Color" colspan="2">
                    <p:outputPanel class="ui-g-12 ui-lg-9">
                        <p:inputText onchange="this.value = this.value.trim()" placeholder="Value Color"
                                     value="#{value.valueColor}"
                                     id="valueColor">
                            <p:ajax  event="keyup"  update="@this,@([id$=colorPicker])" global="false"></p:ajax>
                        </p:inputText>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-3">
                        <p:colorPicker value="#{value.valueColor}" id="colorPicker">
                            <p:ajax  event="change"  update="@([id$=valueColor])" global="false"></p:ajax>
                        </p:colorPicker>
                    </p:outputPanel>
                </p:column>

                <p:column headerText="Description" colspan="2">
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="Description"
                                 value="#{value.description}">
                        <p:ajax  event="change" process="@([id$=defineValueForm])"  update="@([id$=defineValueForm])"></p:ajax>
                    </p:inputText>
                </p:column>

                <p:column headerText="Action" colspan="1">
                    <p:commandLink  action="#{preProcessZoneController.onRemoveDefineValue(value)}"
                                   process=" @this "
                                   update="@([id$=defineValueTable]),@([id$=remoteGrowl])">
                        <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                        <p:confirm header="Confirmation"
                                   message="Are you sure to delete this value?"
                                   icon="fa fa-warning"/>
                    </p:commandLink>
                </p:column>
            </p:dataTable>
        </p:outputPanel>

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton action="#{preProcessZoneController.onSaveProcessValue()}"
                                 style="width:auto;float: right;"
                                 icon="fa fa-floppy-o" value="Apply"
                                 process=" @this ,@([id$=defineValueForm])"
                                 update="@([id$=nomalTable]),@([id$=tableForm]),@([id$=remoteGrowl])"
                                 oncomplete=" if (!args.validationFailed)   PF('defineValueDialog').hide();">
                    <p:ajax></p:ajax>
                </p:commandButton>
            </p:outputPanel>
        </div>
    </h:form>
</p:dialog>
</html>