<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <c:if test="#{ruleOfflineController.editObject eq 'rule_online'}">
        <ui:include src="RuleContentOnly.xhtml"/>
    </c:if>

    <c:if test="#{ruleOfflineController.editObject eq 'result'}">
        <p:outputPanel style="margin-top: -57px;">
            <ui:include src="/ruleEngine/resultTable/resultTableContentOnly.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{ruleOfflineController.editObject eq 'condition'}">
        <p:outputPanel>
            <ui:include src="/ruleEngine/conditionTable/conditionTableContentOnly.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{ruleOfflineController.editObject eq 'ppu_string'}">
        <style>
            .title-action {
                margin-top: 3px;
            }
            .ui-inputswitch {
                margin-bottom: -6px;
            }
        </style>
        <p:outputPanel style="margin-top: -20px;">
            <ui:include src="/preProcessString/preprocessContent.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{ruleOfflineController.editObject eq 'ppu_number'}">
        <style>
            .title-action {
                margin-top: 3px;
            }
            .ui-inputswitch {
                margin-bottom: -6px;
            }
        </style>
        <p:outputPanel>
            <ui:include src="/preProcessNumber/preprocessContent.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{ruleOfflineController.editObject eq 'ppu_exist_element'}">
        <style>
            .title-action {
                margin-top: 3px;
            }
            .ui-inputswitch {
                margin-bottom: -6px;
            }
        </style>
        <p:outputPanel>
            <ui:include src="/preProcessExistElement/preprocessContent.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{ruleOfflineController.editObject eq 'ppu_time'}">
        <style>
            .title-action {
                margin-top: 3px;
            }
            .ui-inputswitch {
                margin-bottom: -6px;
            }
        </style>
        <p:outputPanel>
            <ui:include src="/preProcessTime/preprocessContent.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{ruleOfflineController.editObject eq 'ppu_date'}">
        <style>
            .title-action {
                margin-top: 3px;
            }
            .ui-inputswitch {
                margin-bottom: -6px;
            }
        </style>
        <p:outputPanel>
            <ui:include src="/preProcessDate/preprocessContent.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{ruleOfflineController.editObject eq 'ppu_number_range'}">
        <style>
            .title-action {
                margin-top: 3px;
            }
            .ui-inputswitch {
                margin-bottom: -6px;
            }
        </style>
        <p:outputPanel>
            <ui:include src="/preProcessNumberRange/preprocessContent.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{ruleOfflineController.editObject eq 'ppu_compare_nember'}">
        <style>
            .title-action {
                margin-top: 3px;
            }
            .ui-inputswitch {
                margin-bottom: -6px;
            }
        </style>
        <p:outputPanel>
            <ui:include src="/preProcessCompareNumber/preprocessContent.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{ruleOfflineController.editObject eq 'ppu_zone'}">
        <style>
            .title-action {
                margin-top: 3px;
            }
            .ui-inputswitch {
                margin-bottom: -6px;
            }
        </style>
        <p:outputPanel>
            <ui:include src="/preProcessZone/preprocessContent.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{ruleOfflineController.editObject eq 'ppu_same_element'}">
        <style>
            .title-action {
                margin-top: 3px;
            }
            .ui-inputswitch {
                margin-bottom: -6px;
            }
        </style>
        <p:outputPanel>
            <ui:include src="/preProcessSameElement/preprocessContent.xhtml"/>
        </p:outputPanel>
    </c:if>

<!--    <p:outputPanel class="ui-g ui-fluid" rendered="#{ruleOfflineController.display eq false}">
    <p:graphicImage name="images/anh_nen.jpg"
                    style="height: calc(100vh - 90px) !important; overflow: auto; width: 100%"/>
</p:outputPanel>-->

</html>