<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:outputPanel id="panelCondition" class="ui-g ui-fluid" rendered="#{scenarioTriggerController.isDisplay}" 
                   style="height: calc(100vh - 67px) !important; overflow: auto;margin-right: -9px; margin-left: -9px; margin-top: -20px">
        <p:panel class="ui-g-12" style="border-radius: 5px !important">

<!--            <p:toolbar styleClass="toolbar">
                <f:facet name="left">
                    <h:form>
                        <p:outputLabel value="Scenario Trigger"
                                       style="float: left; font-weight: bold; font-size: 14px"/>
                    </h:form>
                </f:facet>
                <f:facet name="right">
                    <h:form>
                        <p:inputSwitch style="float: right;margin-top: -3px;" value="#{scenarioTriggerController.actonSwitch}">
                            <p:ajax update="@([id$=resetForm]),@([id$=saveForm])"></p:ajax>
                        </p:inputSwitch>
                        <p:outputLabel value="Edit" style="float: right; margin-right: 10px;"/>
                    </h:form>
                </f:facet>
            </p:toolbar>-->

            <!--habm2-start-->
            <div class="title-wrap">
                <div class="title-name">Scenario Trigger</div>
                <div class="title-action">
                    <h:form id="btnSwitch">
                        <p:outputLabel for="editSw" value="Edit" styleClass="title-lb"/>
                        <p:inputSwitch id="editSw" label="Edit" styleClass="title-sw"
                                       value="#{scenarioTriggerController.actonSwitch}">
                            <p:ajax update="@([id$=resetForm]),@([id$=saveForm]),@([id$=ussdForm])"></p:ajax>
                        </p:inputSwitch>
                    </h:form>
                </div>
            </div>
            <!--habm2-end-->

            <h:form id="ussdForm">
                <p:outputPanel class="ui-g-12 ui-lg-12" id="test1">
                    <p:focus context="test1"/>
                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Scenario trigger id" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText onchange="this.value = this.value.trim()" placeholder="Scenario trigger id" disabled="true" value="#{scenarioTriggerController.scenarioTrigger.scenarioTriggerId}"/>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Scenario trigger name" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText  disabled="#{scenarioTriggerController.actonSwitch eq false}" onchange="this.value = this.value.trim()" placeholder="Scenario trigger name"
                                     value="#{scenarioTriggerController.scenarioTrigger.triggerName}"
                                     title="#{scenarioTriggerController.scenarioTrigger.triggerName}"
                                     required="true" requiredMessage="Scenario trigger name is required"
                                     validatorMessage="Scenario trigger name not contains '%' character"
                                     onkeypress="updateTitle(this)">

                        </p:inputText>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Category" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:selectOneMenu  disabled="#{scenarioTriggerController.actonSwitch eq false}"  syncTooltip="true"  filterMatchMode="contains"  filter="true" id="category"  value="#{scenarioTriggerController.scenarioTrigger.categoryId}" style="margin-bottom:10px;">
                            <f:selectItems value="#{scenarioTriggerController.categories}"
                                           var="item"
                                           itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                           itemValue="#{item.categoryId}" />
                        </p:selectOneMenu>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Description" />
                        <div class="spacerHeight"/>
                        <p:inputTextarea  disabled="#{scenarioTriggerController.actonSwitch eq false}"  onchange="this.value = this.value.trim()" placeholder="Description" rows="3" cols="30" autoResize="false"
                                         validatorMessage="Description not contains '%' character"
                                         title="#{scenarioTriggerController.scenarioTrigger.description}"
                                         value="#{scenarioTriggerController.scenarioTrigger.description}"
                                         onkeypress="updateTitle(this)">

                        </p:inputTextarea>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Scenario ussd name" /><span style="color: red">*</span>
                        
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputPanel class="ui-g-12 ui-lg-9">
                                <p:inputText  disabled="#{scenarioTriggerController.actonSwitch eq false}" onchange="this.value = this.value.trim()" placeholder="Scenario ussd name" id="ussdName"
                                             value="#{scenarioTriggerController.scenarioTrigger.ussdName}"
                                             title="#{scenarioTriggerController.scenarioTrigger.ussdName}"
                                             readonly="true">

                                </p:inputText>
                            </p:outputPanel>
                            <p:outputPanel class="ui-g-12 ui-lg-3">
                                <p:commandButton disabled="#{scenarioTriggerController.actonSwitch eq false}" style="width: 50px;" icon="fa fa-pencil-square-o"
                                                 action="#{scenarioTriggerController.onChooseUssd()}"
                                                 process="@this"
                                                 update="@([id$=ussdTreeForm])"
                                />
                            </p:outputPanel>
                        </p:outputPanel>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Alias" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText  disabled="#{scenarioTriggerController.actonSwitch eq false}" onchange="this.value = this.value.trim()" placeholder="Alias"
                                     value="#{scenarioTriggerController.scenarioTrigger.alias}"
                                     title="#{scenarioTriggerController.scenarioTrigger.alias}"
                                     required="true" requiredMessage="Alias is required"
                                     validatorMessage="Alias not contains '%' character"
                                     onkeypress="updateTitle(this)">

                        </p:inputText>
                    </p:outputPanel>
                    
                    
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputLabel value="List Node" />
                 
                    </p:outputPanel>
                    
                    <p:outputPanel class="ui-g-12 ui-lg-12" style="border: #a8afb7 1px solid">
                       
                            <p:tree filterMatchMode="contains"  id="treeCategoryCondition" var="node"
                                     value="#{scenarioTriggerController.rootScenarioNode}"
                                     selectionMode="single"
                                     selection="#{scenarioTriggerController.selectedScenarioNode}"
                                     style="height: 200px; border: 0px solid; padding: 0px; overflow: auto;">
<!--                                    <p:ajax event="select" listener="#{scenarioTriggerController.onSelectScenario}" update="@([id$=ussdForm])" process="@([id$=ussdForm])"/>-->
                                <p:treeNode type="scenarioNode" expandedIcon="ui-icon-folder-open"
                                            collapsedIcon="ui-icon-folder-collapsed">
                                    <h:outputText value="#{node.name}" title="#{node.name}"/>
                                </p:treeNode>

                                <p:treeNode type="condition" >
                                    <h:outputText value="#{node.name}" title="#{node.name}"/>
                                </p:treeNode>
                                <p:treeNode type="column" icon="ui-icon-circle-check">
                                    <h:outputText value="#{node.name}" title="#{node.name}"/>
                                </p:treeNode>
                            </p:tree>
                       

                    </p:outputPanel>


                    <p:outputPanel class="ui-g-12 ui-lg-12" id="divButton">
                        <p:commandButton icon="fa fa-refresh" value="Reset" id="resetForm"
                                         style="width:auto;float: right;"
                                         process="@this, @([id$=ussdForm])"
                                         update="@this"
                                         disabled="#{scenarioTriggerController.actonSwitch eq false}"
                                         oncomplete="PF('dlgConfirmResetScenario').show()"/>
                        <p:commandButton action="#{scenarioTriggerController.validateObject()}"
                                         style="width:auto;float: right;"
                                          icon="fa fa-floppy-o" value="Save" id="saveForm"
                                         process="@([id$=ussdForm])"
                                         update="@([id$=remoteGrowl])"
                                         disabled="#{scenarioTriggerController.actonSwitch eq false}"
                                         oncomplete="if (!args.validationFailed) PF('dlgConfirmCondition').show();">
                        </p:commandButton>
                    </p:outputPanel>
                </p:outputPanel>

            </h:form>

        </p:panel>
    </p:outputPanel>

    <p:dialog header="Confirmation" widgetVar="dlgConfirmAdd" modal="true" height="100">
        <h:outputText value="Are you sure to add this Scenario Node" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmAdd').hide();"/>

                <p:commandButton action="#{scenarioTriggerController.doAddNode()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 process="@([id$=ussdForm]),@this"
                                 update="@([id$=content]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirmAdd').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
    <p:dialog header="Confirmation" widgetVar="dlgConfirmCondition" modal="true" height="100">
        <h:outputText value="#{scenarioTriggerController.isUpdate eq false ? 'Are you sure to create this Scenario Trigger?' : 'Are you sure to edit this Scenario Trigger?'}" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmCondition').hide();"/>

                <p:commandButton action="#{scenarioTriggerController.doSaveObject()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 process="@([id$=ussdForm]),@this"
                                 update="@([id$=content]),@([id$=remoteGrowl]),@([id$=editSw])"
                                 oncomplete="PF('dlgConfirmCondition').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
    <p:dialog header="Confirmation" widgetVar="dlgConfirmResetScenario" modal="true" height="100">
        <h:outputText value="Are you sure to reset?" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmResetScenario').hide();"/>

                <p:commandButton action="#{scenarioTriggerController.refreshData()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 process="@this"
                                 update="@([id$=btnSwitch]),@([id$=ussdForm]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirmResetScenario').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>

<!--    <p:outputPanel class="ui-g ui-fluid" rendered="#{scenarioTriggerController.isDisplay eq false}">
        <p:graphicImage name="images/anh_nen.jpg" style="height: calc(100vh - 90px) !important; overflow: auto; width: 100%"/>
    </p:outputPanel>-->
    
    
    <ui:include src="scenarioTemplateTreePopup.xhtml" />
</html>