<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:outputPanel id="panelCondition" class="ui-g ui-fluid" style="height: calc(100vh - 90px) !important; overflow: auto;">
        <p:panel class="ui-g-12" style="border-radius: 5px !important">
            <h:form id="ussdForm">
                <p:outputPanel class="ui-g-12 ui-lg-12" id="test1">
                    <p:focus context="test1"/>
                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Scenario trigger id" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText placeholder="Scenario trigger id" 
                                     disabled="true" 
                                     value="#{scenarioTriggerController.scenarioTrigger.scenarioTriggerId}"/>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Scenario trigger name" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText placeholder="Scenario trigger name"
                                     value="#{scenarioTriggerController.scenarioTrigger.triggerName}"
                                     title="#{scenarioTriggerController.scenarioTrigger.triggerName}"
                                     disabled="true">
                        </p:inputText>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Category" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:selectOneMenu  syncTooltip="true"  
                                          filterMatchMode="contains"  
                                          filter="true" 
                                          value="#{scenarioTriggerController.scenarioTrigger.categoryId}" 
                                          style="margin-bottom:10px;"
                                          disabled="true">
                            <f:selectItems value="#{scenarioTriggerController.categories}"
                                           var="item"
                                           itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                           itemValue="#{item.categoryId}" />
                        </p:selectOneMenu>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Description" />
                        <div class="spacerHeight"/>
                        <p:inputTextarea  placeholder="Description" rows="3" cols="30" autoResize="false"
                                          title="#{scenarioTriggerController.scenarioTrigger.description}"
                                          value="#{scenarioTriggerController.scenarioTrigger.description}"
                                          disabled="true">
                        </p:inputTextarea>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Scenario ussd name" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText placeholder="Scenario ussd name"
                                     value="#{scenarioTriggerController.scenarioTrigger.ussdName}"
                                     title="#{scenarioTriggerController.scenarioTrigger.ussdName}"
                                     disabled="true">
                        </p:inputText>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Alias" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText placeholder="Alias"
                                     value="#{scenarioTriggerController.scenarioTrigger.alias}"
                                     title="#{scenarioTriggerController.scenarioTrigger.alias}"
                                     disabled="true">
                        </p:inputText>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputLabel value="List Node" />
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-12" style="border: #a8afb7 1px solid">

                        <p:tree filterMatchMode="contains"  id="treeCategoryCondition" var="node"
                                value="#{scenarioTriggerController.rootScenarioNode}"
                                selectionMode="single"
                                selection="#{scenarioTriggerController.selectedScenarioNode}"
                                style="height: 200px; border: 0px solid; padding: 0px; overflow: auto;">
                            <p:treeNode type="scenarioNode" expandedIcon="ui-icon-folder-open"
                                        collapsedIcon="ui-icon-folder-collapsed">
                                <h:outputText value="#{node.name}" title="#{node.name}"/>
                            </p:treeNode>

                            <p:treeNode type="condition" >
                                <h:outputText value="#{node.name}" title="#{node.name}"/>
                            </p:treeNode>
                            <p:treeNode type="column" icon="ui-icon-circle-check">
                                <h:outputText value="#{node.name}" title="#{node.name}"/>
                            </p:treeNode>
                        </p:tree>

                    </p:outputPanel>
                </p:outputPanel>
            </h:form>
        </p:panel>
    </p:outputPanel>
</html>