<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Variable Define"
              widgetVar="criteriaValueDefineDialog" id="criteriaValueDefineDialog" responsive="true" modal="true">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Criteria Value Define" style="margin-left:10px;"/>
        </f:facet>
        <h:form id="criteriaValueDefine" style="width: 900px !important">
            <p:outputPanel class="ui-g ui-fluid">
                <p:outputPanel class="ui-g-12 ui-lg-12">

                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Id"/>
                        <div class="spacerHeight"/>
                        <p:inputText title="#{kpiProcessorController.criteriaValue.criteriaValueId}"
                                     readonly="true"
                                     value="#{kpiProcessorController.criteriaValue.criteriaValueId}"
                                     onkeyup="updateTitle(this)"
                                     >
                        </p:inputText>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Criteria Value Name"/><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText id="criteriaValueName"
                                     placeholder="Criteria Value Name"
                                     onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '));"
                                     title="#{kpiProcessorController.criteriaValue.criteriaValueName}"
                                     disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}"
                                     value="#{kpiProcessorController.criteriaValue.criteriaValueName}" onkeyup="updateTitle(this)" >
                            <p:ajax  event="change" update="@this" ></p:ajax>
                        </p:inputText>
                        <p:focus for="criteriaValueName"/>
                    </p:outputPanel>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-12">

                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Function Type"/><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:selectOneMenu 
                            disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}"
                            filterMatchMode="contains" syncTooltip="true" onkeyup="updateTitle(this)"
                            value="#{kpiProcessorController.criteriaValue.fuzzyFunctionType}">
                            <f:selectItem itemLabel="Choose value" itemValue="-1" itemDescription="Choose value"/>
                            <f:selectItem itemLabel="Linear" itemValue="1" itemDescription="Linear"/>
                            <f:selectItem itemLabel="Triangular" itemValue="2" itemDescription="Triangular"/>
                            <f:selectItem itemLabel="Trapezoidal" itemValue="3" itemDescription="Trapezoidal"/>
                            <f:selectItem itemLabel="L" itemValue="4" itemDescription="L"/>
                            <f:selectItem itemLabel="Gamma" itemValue="5" itemDescription="Gamma"/>
                            <p:ajax update="@([id$=functionConfig]),@([id$=membershipFunction])" listener="#{kpiProcessorController.changeMembershipFunction()}"/>
                        </p:selectOneMenu>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Description"/>
                        <div class="spacerHeight"/>
                        <p:inputText 
                            placeholder="Description"
                            onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '));"
                            title="#{kpiProcessorController.criteriaValue.description}" onkeyup="updateTitle(this)" 
                            disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}"
                            value="#{kpiProcessorController.criteriaValue.description}">
                            <p:ajax  event="change" update="@this" ></p:ajax>
                        </p:inputText>
                    </p:outputPanel>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-12" id="functionConfig">
                    <p:outputPanel class="ui-g-12 ui-lg-12">

                        <p:outputLabel value="Membership Function"/><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText 
                            placeholder="Membership Function"
                            title="#{kpiProcessorController.criteriaValue.membershipFunction}" onkeyup="updateTitle(this)"
                            readonly="true"
                            id="membershipFunction"
                            value="#{kpiProcessorController.criteriaValue.membershipFunction}">
                        </p:inputText>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputLabel value="Function Config"
                                       style="font-size: 14px; font-weight: bold ; float: left;  width: auto; margin-top: 15px"/>
                        <span style="color: red ; float: left; margin-top: 15px">*</span>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-7" style="border: 1px solid #b3b3cc;height: 280px;" rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 1}">
                        <h:graphicImage library="poseidon-layout" name="images/a1.jpg" />
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-7" style="border: 1px solid #b3b3cc;height: 280px;" rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 2}">
                        <h:graphicImage library="poseidon-layout" name="images/a2.jpg" />
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-7" style="border: 1px solid #b3b3cc;height: 280px;" rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 3}">
                        <h:graphicImage library="poseidon-layout" name="images/a3.jpg" />
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-7" style="border: 1px solid #b3b3cc;height: 280px;" rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 4}">
                        <h:graphicImage library="poseidon-layout" name="images/a4.jpg" />
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-7" style="border: 1px solid #b3b3cc;height: 280px;" rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 5}">
                        <h:graphicImage library="poseidon-layout" name="images/a5.jpg" />
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-1" style="height: 280px;"></p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-4" style="border: 1px solid #b3b3cc;height: 280px;" 
                                   rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 1}"
                                   >
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 1:"/>
                            <p:inputText required="false"   id="linear1"
                                value="#{kpiProcessorController.member.stringA}"
                                title="#{kpiProcessorController.member.stringA}"
                                onkeyup="$(this).val($(this).val().replace(/[^+0-9.]/g, ''));updateTitle(this);"
                                disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" >
                                 <f:validateDoubleRange minimum="0" maximum="1.79769313486231570E+307"/>
                                <p:ajax  event="change" update="@([id$=membershipFunction]),@([id$=linear1])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeLinear()}"/>
                            </p:inputText>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 2:"/>
                            <p:inputText required="false"  id="linear2"
                                value="#{kpiProcessorController.member.stringB}"
                                title="#{kpiProcessorController.member.stringB}"
                                onkeyup="$(this).val($(this).val().replace(/[^+0-9.]/g, ''));updateTitle(this);"
                                disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" >
                                 <f:validateDoubleRange minimum="0" maximum="1.79769313486231570E+307"/>
                                 <p:ajax event="change" update="@([id$=membershipFunction]),@([id$=linear2])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeLinear()}"/>
                            </p:inputText>
                        </p:outputPanel>


                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-4" style="border: 1px solid #b3b3cc;height: 280px;" 
                                   rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 2}"
                                   >
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 1:"/>
                            <p:inputText id="triangular1"
                                value="#{kpiProcessorController.member.stringA}"
                                title="#{kpiProcessorController.member.stringA}"
                                onkeyup="$(this).val($(this).val().replace(/[^+0-9.]/g, ''));updateTitle(this);"
                                disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" >
                                 <f:validateDoubleRange minimum="0" maximum="1.79769313486231570E+307"/>
                                <p:ajax event="change" update="@([id$=membershipFunction]),@([id$=triangular1])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeTriangular()}"/>
                            </p:inputText>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 2:"/>
                            <p:inputText id="triangular2"
                                value="#{kpiProcessorController.member.stringB}"
                                title="#{kpiProcessorController.member.stringB}"
                                onkeyup="$(this).val($(this).val().replace(/[^+0-9.]/g, ''));updateTitle(this);"
                                disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" >
                                 <f:validateDoubleRange minimum="0" maximum="1.79769313486231570E+307"/>
                                <p:ajax event="change" update="@([id$=membershipFunction]),@([id$=triangular2])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeTriangular()}"/>
                            </p:inputText>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 3:"/> 
                            <p:inputText id="triangular3"
                                value="#{kpiProcessorController.member.stringC}"
                                title="#{kpiProcessorController.member.stringC}"
                                onkeyup="$(this).val($(this).val().replace(/[^+0-9.]/g, ''));updateTitle(this);"
                                disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" >
                                 <f:validateDoubleRange minimum="0" maximum="1.79769313486231570E+307"/>
                                <p:ajax event="change" update="@([id$=membershipFunction]),@([id$=triangular3])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeTriangular()}"/>
                            </p:inputText>
                        </p:outputPanel>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-4" style="border: 1px solid #b3b3cc;height: 280px;" 
                                   rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 3}"
                                   >
                        <p:outputPanel class="ui-g-12 ui-lg-12">

                            <p:outputLabel value="Parameter 1:"/>
                            <p:inputText id="trapezoid1"
                                value="#{kpiProcessorController.member.stringA}"
                                title="#{kpiProcessorController.member.stringA}"
                                onkeyup="$(this).val($(this).val().replace(/[^+0-9.]/g, ''));updateTitle(this);"
                                disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" >
                                 <f:validateDoubleRange minimum="0" maximum="1.79769313486231570E+307"/>
                                <p:ajax event="change" update="@([id$=membershipFunction]),@([id$=trapezoid1])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeTrapezoid()}"/>
                            </p:inputText>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 2:"/>
                            <p:inputText id="trapezoid2"
                                value="#{kpiProcessorController.member.stringB}"
                                title="#{kpiProcessorController.member.stringB}"
                                onkeyup="$(this).val($(this).val().replace(/[^+0-9.]/g, ''));updateTitle(this);"
                                disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" >
                                 <f:validateDoubleRange minimum="0" maximum="1.79769313486231570E+307"/>
                                <p:ajax event="change" update="@([id$=membershipFunction]),@([id$=trapezoid2])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeTrapezoid()}"/>
                            </p:inputText>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 3:"/> 
                            <p:inputText id="trapezoid3"
                                value="#{kpiProcessorController.member.stringC}"
                                title="#{kpiProcessorController.member.stringC}"
                                onkeyup="$(this).val($(this).val().replace(/[^+0-9.]/g, ''));updateTitle(this);"
                                disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" >
                                 <f:validateDoubleRange minimum="0" maximum="1.79769313486231570E+307"/>
                                <p:ajax event="change" update="@([id$=membershipFunction]),@([id$=trapezoid3])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeTrapezoid()}"/>
                            </p:inputText>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 4:"/> 
                            <p:inputText id="trapezoid4"
                                value="#{kpiProcessorController.member.stringD}"
                                title="#{kpiProcessorController.member.stringD}"
                                onkeyup="$(this).val($(this).val().replace(/[^+0-9.]/g, ''));updateTitle(this);"
                                disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" >
                                 <f:validateDoubleRange minimum="0" maximum="1.79769313486231570E+307"/>
                                <p:ajax event="change" update="@([id$=membershipFunction]),@([id$=trapezoid4])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeTrapezoid()}"/>
                            </p:inputText>
                        </p:outputPanel>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-4" style="border: 1px solid #b3b3cc;height: 280px;" 
                                   rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 4}"
                                   >
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 1:"/>
                            <p:inputText id="typeL1"
                                value="#{kpiProcessorController.member.stringA}"
                                title="#{kpiProcessorController.member.stringA}"
                                onkeyup="$(this).val($(this).val().replace(/[^+0-9.]/g, ''));updateTitle(this);"
                                disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" >
                                 <f:validateDoubleRange minimum="0" maximum="1.79769313486231570E+307"/>
                                <p:ajax event="change" update="@([id$=membershipFunction]),@([id$=typeL1])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeL()}"/>
                            </p:inputText>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 2:"/>
                            <p:inputText id="typeL2"
                                value="#{kpiProcessorController.member.stringB}"
                                title="#{kpiProcessorController.member.stringB}"
                                onkeyup="$(this).val($(this).val().replace(/[^+0-9.]/g, ''));updateTitle(this);"
                                disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" >
                                 <f:validateDoubleRange minimum="0" maximum="1.79769313486231570E+307"/>
                                <p:ajax event="change" update="@([id$=membershipFunction]),@([id$=typeL2])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeL()}"/>
                            </p:inputText>
                        </p:outputPanel>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-4" style="border: 1px solid #b3b3cc;height: 280px;" 
                                   rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 5}"
                                   >
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 1:"/>
                            <p:inputText id="gamma1"
                                value="#{kpiProcessorController.member.stringA}"
                                title="#{kpiProcessorController.member.stringA}"
                                onkeyup="$(this).val($(this).val().replace(/[^+0-9.]/g, ''));updateTitle(this);"
                                disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" >
                                 <f:validateDoubleRange minimum="0" maximum="1.79769313486231570E+307"/>
                                <p:ajax event="change" update="@([id$=membershipFunction]),@([id$=gamma1])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeGamma()}"/>
                            </p:inputText>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 2:"/>
                            <p:inputText id="gamma2"
                                value="#{kpiProcessorController.member.stringB}"
                                title="#{kpiProcessorController.member.stringB}"
                                onkeyup="$(this).val($(this).val().replace(/[^+0-9.]/g, ''));updateTitle(this);"
                                disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" >
                                 <f:validateDoubleRange minimum="0" maximum="1.79769313486231570E+307"/>
                                <p:ajax event="change" update="@([id$=membershipFunction]),@([id$=gamma2])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeGamma()}"/>
                            </p:inputText>
                        </p:outputPanel>
                    </p:outputPanel>

                </p:outputPanel>

            </p:outputPanel>




            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton icon="fa fa-undo" value="Cancel"
                                 style="width:auto;float: right;margin-left: 5px;"
                                 oncomplete="PF('criteriaValueDefineDialog').hide()">
                </p:commandButton>
                <p:commandButton icon="fa fa-check" value="Apply" style="width:auto;float: right;"
                                 oncomplete="if(!args.validationFailed) PF('criteriaValueDefineConfirmation').show();"
                                 action="#{kpiProcessorController.onValidateCriteriaValue()}"
                                 update="@([id$=remoteGrowl])"
                                 disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}">
                </p:commandButton>


            </p:outputPanel>
        </h:form>
    </p:dialog>

    <p:dialog header="Confirmation"
              widgetVar="criteriaValueDefineConfirmation"
              id="criteriaValueDefineConfirmation"
              modal="true"
              width="214"
              height="100">
        <div style="margin-top: 15px"/>
        <i class="fa fa-exclamation-triangle" style="margin-left: 8px; font-size: 1.15em;"></i>
        <h:outputText value="Are you sure to apply ?" 
                      style="margin:3px ">
        </h:outputText>
        <div style="background: #95b4d0; height: 1px;width: 115%;margin-top: 20px;position: relative;left:-14px;"/>
        <p:outputPanel class="ui-g-12 ui-lg-12">
            <p:commandButton value="No"
                             style="width:auto;float: right;margin-left: 2px"
                             oncomplete="PF('criteriaValueDefineConfirmation').hide();"/>

            <p:commandButton style="width:auto;float: right;"
                             value="Yes"
                             action="#{kpiProcessorController.onSaveOrUpdateCriteriaValue()}"
                             update="@([id$=valueTable]),@([id$=remoteGrowl])"
                             oncomplete="PF('criteriaValueDefineConfirmation').hide(),PF('criteriaValueDefineDialog').hide()">
            </p:commandButton>
        </p:outputPanel>
    </p:dialog>
</html>