<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Add filter" widgetVar="addFilterPopup" id="addFilterPopup" responsive="true" style="width: 500px"
              modal="true">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Add filter" style="margin-left:10px;"/>
        </f:facet>
        <div class="spacerHeight"/>
        <h:form id="addTreeForm" style="width: 1200px;">
            <p:outputPanel class="ui-g ui-fluid"  style=" border: 0px solid; padding: 0px ;height:550px ;overflow-y: auto;">
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputPanel class="ui-g-12 ui-lg-12">

                        <p:outputLabel value="Filter conditions"/>
                        <div class="spacerHeight"/>
                        <p:inputTextarea  
                            onkeyup="updateTitle(this)"
                            value="#{kpiProcessorController.path.dataCondition}"
                            rows="1" id="inputCondition" placeholder="Filter conditions"
                            title="#{kpiProcessorController.path.dataFunction}"
                            disabled="true">
                        </p:inputTextarea>

                        <p:dataTable id="conditionTable" var="condition" value="#{kpiProcessorController.lstConditionTable}"
                                     reflow="true"
                                     styleClass="table-campaign" style="margin-top: 10px ;max-height: 430px ; overflow-y: auto"
                                     paginator="true" rows="10"
                                     widgetVar="conditionTable"
                                     emptyMessage="No condition found with given criteria"
                                     editable="true"
                                     rowIndexVar="index"
                                     rowsPerPageTemplate="5,10,15" lazy="false">
                            <f:facet name="header">
                                <p:commandButton 
                                    disabled="#{kpiProcessorController.checkSizeLstCondition eq false || kpiProcessorController.viewFilter eq true}" 
                                    icon="fa fa-plus" value="Condition"
                                    style="float: left ; width: auto"
                                    action="#{kpiProcessorController.prepareAddCondition()}"
                                    update="@([id$=conditionTable]),@([id$=addTreeForm])"
                                    /> 
                            </f:facet>
                            <p:column headerText="Field Name" colspan="2">
                                <div style="margin-top: 8px"/>
                                <p:selectOneMenu disabled="#{kpiProcessorController.viewFilter eq true}"
                                                 syncTooltip="true"
                                                 filterMatchMode="contains"  filter="true"
                                                 value="#{condition.fieldId}"> 
                                    <p:ajax  update="@([id$=addTreeForm])"  listener="#{kpiProcessorController.onFieldConditionChange(condition)}"/>
                                    <f:selectItem itemValue="-1" itemLabel="Choose value" itemDescription="Choose value"/>
                                    <f:selectItems 
                                        itemDescription="#{item.objectName}"
                                        itemLabel="#{item.objectName}"
                                        itemValue="#{item.objectId}"
                                        var="item"
                                        value="#{kpiProcessorController.lstConditionData}"/>
                                </p:selectOneMenu>
                                <div style="margin-bottom: 8px"/>
                            </p:column>
                            <p:column colspan="1" style="text-align: center">
                                <h:outputText value="="/>
                            </p:column>
                            <p:column headerText="Field value" colspan="2">
                                <div style="margin-top: 8px"/>
                                <p:inputText 
                                    id="fieldValue"
                                    onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '));" 
                                    value="#{condition.fieldValueString}" 
                                    disabled="#{kpiProcessorController.viewFilter eq true}"
                                    onkeyup="updateTitle(this)"
                                    title="#{condition.fieldValueString}"
                                    rendered="#{condition.fieldType eq 2}">
                                    <p:ajax update="@([id$=inputCondition]),@this" process="@([id$=addTreeForm])" listener="#{kpiProcessorController.changeConditionFieldName()}"/>
                                </p:inputText>
                                <p:spinner 
                                    title="#{condition.fieldValueInt}"
                                    onkeyup="$(this).val($(this).val().replace(/[^-+0-9]/g, ''));updateTitle(this)" 
                                    value="#{condition.fieldValueInt}" 
                                    rendered="#{condition.fieldType eq 3}" 
                                    disabled="#{kpiProcessorController.viewFilter eq true}">
                                    <p:ajax update="@([id$=inputCondition]),@this" process="@([id$=addTreeForm])" listener="#{kpiProcessorController.changeConditionFieldName()}"/>
                                </p:spinner>

                                <p:spinner 
                                    title="#{condition.fieldValueNumber}"
                                    onkeyup="$(this).val($(this).val().replace(/[^-+0-9]/g, ''));updateTitle(this)" 
                                    value="#{condition.fieldValueNumber}" 
                                    rendered="#{condition.fieldType eq 4}" 
                                    disabled="#{kpiProcessorController.viewFilter eq true}">
                                    <p:ajax update="@([id$=inputCondition]),@this" process="@([id$=addTreeForm])" listener="#{kpiProcessorController.changeConditionFieldName()}"/>
                                </p:spinner>

                                <p:inputText value="#{condition.valueStringDouble}"
                                           title="#{condition.valueStringDouble}" 
                                           rendered="#{condition.fieldType eq 5}" 
                                           onkeyup="$(this).val($(this).val().replace(/[^-+0-9]/g, ''));updateTitle(this)"
                                           disabled="#{kpiProcessorController.viewFilter eq true}">   
                                   <f:validateDoubleRange minimum="-1.79769313486231570E+307" maximum="1.79769313486231570E+307"/>
                                    <p:ajax update="@([id$=inputCondition]),@this" process="@([id$=addTreeForm])" listener="#{kpiProcessorController.changeConditionFieldName()}"/>
                                </p:inputText>
                                <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{condition.fieldValueBoolean}"
                                                  rendered="#{ condition.fieldType == 6}"
                                                  disabled="#{kpiProcessorController.viewFilter eq true}">
                                    <p:ajax update="@([id$=inputCondition]),@this" process="@([id$=addTreeForm])" listener="#{kpiProcessorController.changeConditionFieldName()}"/>
                                     <f:selectItem itemValue="-1" itemLabel="Choose value" itemDescription="Choose value"/>
                                    <f:selectItem itemLabel="true" itemValue="2" itemDescription="true"/>
                                    <f:selectItem itemLabel="false" itemValue="1" itemDescription="false"/>
                                </p:selectOneMenu>
                                <div style="margin-bottom: 8px"/>
                            </p:column>

                            <p:column headerText="Action" colspan="1">
                                <p:commandLink disabled="#{kpiProcessorController.viewFilter eq true}"
                                               action="#{kpiProcessorController.prepareDelateCondition(condition)}"
                                               update="@([id$=remoteGrowl]),@([id$=addTreeForm])"
                                               >
                                    <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                                    <p:confirm header="Confirmation"
                                               message="Are you sure to delete this condition?"
                                               icon="fa fa-warning"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </p:outputPanel>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputPanel class="ui-g-12 ui-lg-12">

                        <p:outputLabel value="Functions"/>
                        <div class="spacerHeight"/>
                        <p:inputTextarea  onkeyup="updateTitle(this)"
                                          value="#{kpiProcessorController.path.dataFunction}"
                                          onchange="this.value = this.value.trim()" rows="1" id="inputFunction" placeholder="Functions"
                                          title="#{kpiProcessorController.path.dataFunction}"
                                          disabled="true">
                        </p:inputTextarea>
                        <p:dataTable id="functionTable" var="function" 
                                     reflow="true"
                                     styleClass="table-campaign" style="margin-top: 10px ;max-height: 430px ; overflow-y: auto"
                                     paginator="true" rows="10"
                                     value="#{kpiProcessorController.lstFunctionTable}"
                                     widgetVar="functionTable"
                                     emptyMessage="No function found with given criteria"
                                     editable="true"
                                     rowIndexVar="rowIndex"
                                     rowsPerPageTemplate="5,10,15" lazy="false">
                            <f:facet name="header">
                                <p:commandButton icon="fa fa-plus" value="Function" disabled="#{kpiProcessorController.viewFilter eq true}"
                                                 style="float: left ; width: auto"
                                                 action="#{kpiProcessorController.preapareAddFunction}"
                                                 update="@([id$=functionTable])"
                                                 />
                            </f:facet>
                            <p:column headerText="Function Name" colspan="2">
                                <div style="margin-top: 8px"/>
                                <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{function.fieldId}"
                                                  style="min-width: auto;"
                                                  disabled="#{kpiProcessorController.viewFilter eq true}">

                                    <p:ajax update="@([id$=inputFunction]),@this,@([id$=functionTable])" listener="#{kpiProcessorController.changeFieldFunctionName(function)}"/>
                                    <f:selectItem itemValue="-1" itemLabel="Choose function" itemDescription="Choose function"/>
                                    <f:selectItems value="#{kpiProcessorController.lstFunctionData}"
                                                   var="data1"
                                                   itemLabel="#{data1.functionDisplay}"
                                                   itemDescription="#{data1.functionDisplay}"
                                                   itemValue="#{data1.functionId}"/>
                                </p:selectOneMenu>
                                <div style="margin-bottom: 8px"/>
                            </p:column>
                            <p:column headerText="Parameters" colspan="2" filterMatchMode="contains" style="text-align: center">
                                <p:repeat value="#{function.lstFunctionParams}" var="params">
                                    <div style="margin-top:8px"/>
                                    <p:inputText onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '));updateTitle(this)" value="#{params.fieldValueString}"
                                                 title="#{params.fieldValueString}"
                                                 rendered="#{params.valueType eq 1}"
                                                 disabled="#{kpiProcessorController.viewFilter eq true}" >
                                        <p:ajax update="@([id$=inputFunction]),@this" process="@([id$=functionTable])" listener="#{kpiProcessorController.onFunctionChange()}"/>
                                    </p:inputText>
                                    <p:spinner 
                                        title="#{params.fieldValueNumber}"
                                        onkeyup="$(this).val($(this).val().replace(/[^-+0-9]/g, ''));updateTitle(this)"
                                        value="#{params.fieldValueNumber}"
                                        rendered="#{params.valueType eq 2}"
                                        disabled="#{kpiProcessorController.viewFilter eq true}">
                                        <p:ajax update="@([id$=addTreeForm])" process="@([id$=functionTable])" listener="#{kpiProcessorController.onFunctionChange()}"/>

                                    </p:spinner>
                                        <p:calendar style=" min-width: auto" showOn="button" 
                                                    value="#{params.fieldValueDate}"
                                                    title="#{params.fieldValueDate}"
                                                    converterMessage="Input parameter is wrong!"
                                                    pattern="yyyy/MM/dd HH:mm:ss" rendered="#{params.valueType eq 3}"
                                                    disabled="#{kpiProcessorController.viewFilter eq true}">
                                            <p:ajax event="keyup" delay="500" update="@([id$=inputFunction]),@this" process="@([id$=functionTable])" listener="#{kpiProcessorController.onFunctionChange()}"/>
                                            <p:ajax event="dateSelect" process="@([id$=functionTable])" update="@([id$=inputFunction])"  listener="#{kpiProcessorController.onFunctionChange}" />
                                        </p:calendar>
                                    <p:commandButton 
                                         disabled="#{kpiProcessorController.action eq false || kpiProcessorController.view eq false}"
                                        value="#{params.fieldZoneName eq null ? 'Choose zone' : params.value}"
                                        title="#{params.fieldZoneName eq null ? 'Choose zone' : params.valueMax}"
                                        action="#{kpiProcessorController.prepareChooseZone(params)}"
                                        update="@([id$=zoneTreePopup])"
                                        id="chooseZone"
                                        oncomplete="PF('zoneTreePopup').show();"
                                        rendered="#{params.valueType  eq 4}"/>

                                    <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{params.fieldZoneMapId}"
                                                      style="min-width: auto;"
                                                      rendered="#{ params.valueType  eq 5}"
                                                      disabled="#{kpiProcessorController.viewFilter eq true}">
                                        <f:selectItem itemValue="-1" itemLabel="Choose value" itemDescription="Choose value"/>
                                        <p:ajax update="@([id$=inputFunction]),@this" process="@([id$=functionTable])" listener="#{kpiProcessorController.onFunctionChange()}"/>
                                        <f:selectItems value="#{kpiProcessorController.lstZoneMap}"
                                                       var="zoneMap"
                                                       itemLabel="#{zoneMap.zoneMapName}"
                                                       itemDescription="#{zoneMap.zoneMapName}"
                                                       itemValue="#{zoneMap.zoneMapId}"/>
                                    </p:selectOneMenu>
                                    <p:inputText onkeyup="$(this).val($(this).val().replace(/[^-+0-9]/g, ''));updateTitle(this)"
                                                 value="#{params.valueStringDouble}"
                                               title="#{params.valueStringDouble}"
                                               rendered="#{params.valueType eq 6}"
                                               disabled="#{kpiProcessorController.viewFilter eq true}">   
                                    <f:validateDoubleRange minimum="-1.79769313486231570E+307" maximum="1.79769313486231570E+307"/>
                                     <p:ajax update="@([id$=inputFunction]),@this" process="@([id$=functionTable])" listener="#{kpiProcessorController.onFunctionChange()}"/>
                                   </p:inputText>
                                    <div style="margin-bottom: 8px"/>
                                </p:repeat>
                            </p:column>

                            <p:column headerText="Action" colspan="1">
                                <p:commandLink  disabled="#{kpiProcessorController.viewFilter eq true}"
                                                update="@([id$=functionTable]),@([id$=remoteGrowl]),@([id$=inputFunction])"
                                                action="#{kpiProcessorController.preapareDeleteFunction(function)}"
                                                >
                                    <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                                    <p:confirm header="Confirmation"
                                               message="Are you sure to delete this function ?"
                                               icon="fa fa-warning"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </p:outputPanel>
                </p:outputPanel>
            </p:outputPanel>
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton 
                        icon="fa fa-undo" value="Cancel" style="width:auto;float: right; margin-left: 5px"
                        oncomplete="PF('addFilterPopup').hide();">
                    </p:commandButton>
                    <p:commandButton disabled="#{kpiProcessorController.viewFilter eq true}"
                                     style="width:auto;float: right;"
                                     icon="fa fa-check" value="Apply"
                                     process="@([id$=addTreeForm])"
                                     action="#{kpiProcessorController.changePathRowTable}"
                                     update="@([id$=path]),@([id$=remoteGrowl]),@([id$=pathTable])"
                                     oncomplete=" if (!args.validationFailed)   PF('addFilterPopup').hide();"
                                     >
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>
</html>