<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="#{kpiProcessorController.update eq false ? 'Create category' :'Update category'}"
              widgetVar="carDialog" id="carDialog" responsive="true" modal="true">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="#{kpiProcessorController.update eq false ? 'Create category' :'Update category'}" style="margin-left:10px;"/>
        </f:facet>
        <h:form id="catagoryfrm" style="width: 635px !important">
            <p:outputPanel class="ui-g ui-fluid">
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Category id"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="Category id"
                                 id="categoryId"
                                 readonly="true"
                                 value="#{kpiProcessorController.category.categoryId}"
                                 requiredMessage="Category id is required"
                                 >
                    </p:inputText>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Category name"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="Category name"
                                 id="categoryName"
                                 value="#{kpiProcessorController.category.name}"
                                 title="#{kpiProcessorController.category.name}"
                                 requiredMessage="Category name is required"
                                 >
                    </p:inputText>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Category type"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="Category type"
                                 readonly="true"
                                 id="categoryType"
                                 required="true"
                                 value="#{kpiProcessorController.category.categoryType}"
                                 requiredMessage="Category type is require"/>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-6" rendered="#{kpiProcessorController.category.parentId != null}">
                    <p:outputLabel value="Parent category"/>
                    <div class="spacerHeight"/>
                    <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" style="margin-bottom:10px;"
                                      value="#{kpiProcessorController.category.parentId}"
                                      id="parentCategory"
                                      rendered="#{kpiProcessorController.update eq false}">
                        <f:selectItems value="#{kpiProcessorController.lstCategory}"
                                       var="item"
                                       itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                       itemValue="#{item.categoryId}"/>
                    </p:selectOneMenu>
                    <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" style="margin-bottom:10px;"
                                      value="#{kpiProcessorController.category.parentId}"
                                      id="parentCategoryEdit"
                                      rendered="#{kpiProcessorController.update eq true}">

                        <f:selectItems value="#{kpiProcessorController.lstCategory}"
                                       var="item"
                                       itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                       itemValue="#{item.categoryId}"/>
                    </p:selectOneMenu>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-6"></p:outputPanel>
            </p:outputPanel>

            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton icon="fa fa-remove" value="Cancel"
                                     style="width:auto;float: right;"
                                     process="@this"
                                     oncomplete="PF('carDialog').hide();"/>
                    <p:commandButton action="#{kpiProcessorController.validateCategory()}"
                                     style="width:auto;float: right;" 
                                     icon="fa fa-floppy-o" value="Save"
                                     process="@([id$=catagoryfrm])"
                                     update="@([id$=remoteGrowl])"
                                     oncomplete="if (!args.validationFailed) PF('dlgConfirm').show();">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog 
        header="Confirmation" 
        widgetVar="dlgConfirm" 
        modal="true" 
        height="100" 
        width="300"
        id="categoryConfirm">
        <div style="margin-top: 15px"/>
        <i class="fa fa-exclamation-triangle" style="margin-left: 8px; font-size: 1.15em;"></i>
        <h:outputText  
            style="margin:3px " 
            value="#{kpiProcessorController.update eq false ? 'Are you sure to create this Category?' : 'Are you sure to edit this Category?'}" />
        <div style="background: #95b4d0; height: 1px;width: 111%;margin-top: 20px;position: relative;left:-16px;"/>

        <p:outputPanel class="ui-g-12 ui-lg-12">
            <p:commandButton value="No"
                             style="width:auto;float: right;margin-left: 2px"
                             process="@this"
                             oncomplete="PF('dlgConfirm').hide();"/>

            <p:commandButton action="#{kpiProcessorController.doSaveOrUpdateCategory()}"
                             style="width:auto;float: right;"
                             value="Yes"
                             process="@([id$=catagoryfrm]),@this"
                             update="@([id$=fromTree]),@([id$=remoteGrowl])"
                             oncomplete="PF('dlgConfirm').hide();PF('carDialog').hide();">
            </p:commandButton>
        </p:outputPanel>
    </p:dialog>
</html>