<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/template_dashbord_general.xhtml">

    <ui:define name="title">Kpi Processor</ui:define>

    <ui:define name="viewname">Kpi Processor</ui:define>

    <ui:define name="head">
        <style>
            body .ui-outputlabel {
                padding-bottom: 5px;
            }

            #basic1 .ui-panel-titlebar {
                padding: 0px;
                /*border-bottom: 0px solid;*/
            }

            body .ui-panel .ui-panel-content {
                padding: 0px;
            }
        </style>
        <script type="text/javascript">
            function onClickReset() {
                if(PrimeFaces.widgets['invitationTable']) {
                    //widgetVar does exist
                    PF('invitationTable').clearFilters();
                }
                if(PrimeFaces.widgets['segmentTable']) {
                    //widgetVar does exist
                    PF('segmentTable').clearFilters();
                }
                if(PrimeFaces.widgets['ruleTable']) {
                    //widgetVar does exist
                    PF('ruleTable').clearFilters();
                }
            }
        </script>
    </ui:define>

    <ui:define name="content" >
        <p:outputPanel class="ui-g ui-fluid" id="content">
            <p:outputPanel class="ui-g-12 ui-lg-3 panel_content" style=" margin-top: 44px">
                <ui:include src="kpiProcessorAndCategoryTree.xhtml" />
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-9 panel_content" id="mainContent" style=" position: relative">
                <ui:include src="kpiProcessorContent.xhtml"/>
            </p:outputPanel>
        </p:outputPanel>
    </ui:define>
</ui:composition>