<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Add result table" widgetVar="resultTablePopup" id="resultTablePopup" responsive="true" style="width: 500px" modal="true">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Add result table" style="margin-left:10px;"/>
        </f:facet>
        <h:form id="resultTabletForm" style="width: 500px ;max-height: 800px;overflow: auto">
            <p:pickList id="resultTablePickingList"  var="result" value="#{campaignOnlineController.resultTablePickingList}"
                        itemValue="#{result}" itemLabel="#{result.resultTableName}"  showCheckbox="true"
                        showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains"
                        responsive="true" converter="resultTableConverter">
                <f:facet name="sourceCaption">List Result Table</f:facet>
                <f:facet name="targetCaption">Apply</f:facet>
                <p:column >
                    <h:outputText value="#{result.resultTableName}" />
                </p:column>
            </p:pickList>
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton value="Save "
                                     action="#{campaignOnlineController.onSaveResultTable()}"
                                     style="width:auto;float: right;"
                                     update="@([id$=resultTable])"
                                     oncomplete="PF('resultTablePopup').hide()"/>
                    <p:commandButton style="width:auto;float: right;  background-color: #a8afb7;color: #020202"
                                     icon="fa fa-remove" value="Cancel"
                                     oncomplete="PF('resultTablePopup').hide()">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>
</html>