<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<p:dialog header="#{campaignOnlineController.update eq false ? 'Create category' :'Update category'}"
          widgetVar="carDialog" id="carDialog" responsive="true" modal="true">
    <f:facet name="header">
        <i class="fa fa-list" style="font-size: 14px;"></i>
        <h:outputText value="#{campaignOnlineController.update eq false ? 'Create category' :'Update category'}" style="margin-left:10px;"/>
    </f:facet>
    <h:form id="catagoryfrm" style="width: 635px !important">
        <p:outputPanel class="ui-g ui-fluid">
            <p:outputPanel class="ui-g-12 ui-lg-6">
                <p:outputLabel value="Category id"/><span style="color: red">*</span>
                <div class="spacerHeight"/>
                <p:inputText onchange="this.value = this.value.trim()" placeholder="Category id"
                             id="categoryId"
                             readonly="true"
                             value="#{campaignOnlineController.category.categoryId}"
                             requiredMessage="Category id is required"
                             validatorMessage="Category id not contains '%' character">
                    <f:validateRegex pattern="^[^%]*$"/>
                </p:inputText>
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-6">
                <p:outputLabel value="Category name"/><span style="color: red">*</span>
                <div class="spacerHeight"/>
                <p:inputText onchange="this.value = this.value.trim()" placeholder="Category name"
                             id="categoryName"
                             value="#{campaignOnlineController.category.name}"
                             title="#{campaignOnlineController.category.name}"
                             requiredMessage="Category name is required"  autocomplete="off">
                    <p:ajax update="@this" process="@this" global="false"/>                    
                </p:inputText>
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-6">
                <p:outputLabel value="Category type"/><span style="color: red">*</span>
                <div class="spacerHeight"/>
                <p:inputText onchange="this.value = this.value.trim()" placeholder="Category type"        
                             readonly="true"
                             id="categoryType"
                             required="true"
                             value="Campaign Online"
                             requiredMessage="Category type is require"/>
            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-6" rendered="#{campaignOnlineController.category.parentId != null}">
                <p:outputLabel value="Parent category"/>
                <div class="spacerHeight"/>
                <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" style="margin-bottom:10px;"
                                 value="#{campaignOnlineController.category.parentId}"
                                 id="parentCategory"
                                 rendered="#{campaignOnlineController.update eq false}">
                    <f:selectItems value="#{campaignOnlineController.categories}"
                                   var="item"
                                   itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                   itemValue="#{item.categoryId}"/>
                </p:selectOneMenu>
                <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" style="margin-bottom:10px;"
                                 value="#{campaignOnlineController.category.parentId}"
                                 id="parentCategoryEdit"
                                 rendered="#{campaignOnlineController.update eq true}">
    
                    <f:selectItems value="#{campaignOnlineController.categories}"
                                   var="item"
                                   itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                   itemValue="#{item.categoryId}"/>
                </p:selectOneMenu>
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-6"></p:outputPanel>
        </p:outputPanel>

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton icon="fa fa-remove" value="Cancel"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('carDialog').hide();"/>
                    <p:commandButton action="#{campaignOnlineController.validateCategory()}"
                                     style="width:auto;float: right;" 
                                      icon="fa fa-floppy-o" value="Save"
                                     process="@([id$=catagoryfrm])"
                                     update="@([id$=remoteGrowl])"
                                     oncomplete="if (!args.validationFailed) PF('dlgConfirm').show();">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>

<p:dialog header="Confirmation" widgetVar="dlgConfirm" modal="true" height="100" id="categoryConfirm">
    <h:outputText value="#{campaignOnlineController.update eq false ? 'Are you sure to create this Category?' : 'Are you sure to edit this Category?'}" />

    <div class="card card-w-title">
        <p:outputPanel class="ui-g-12 ui-lg-12">
            <p:commandButton value="No"
                             style="width:auto;float: right;"
                             process="@this"
                             oncomplete="PF('dlgConfirm').hide();"/>

            <p:commandButton action="#{campaignOnlineController.doSaveOrUpdateCategory()}"
                             style="width:auto;float: right;"
                             value="Yes"
                             process="@([id$=catagoryfrm]),@this"
                             update="@([id$=fromTree]),@([id$=remoteGrowl])"
                             oncomplete="PF('dlgConfirm').hide();PF('carDialog').hide();">
            </p:commandButton>
        </p:outputPanel>
    </div>
</p:dialog>
</html>