<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">

<p:dialog header="Add rule online" widgetVar="addRuleDialog" id="addRuleDialog" responsive="true" width="1000px"
          style="margin-top: 30px ;bottom: 20px ;overflow-y: auto" dynamic="true" modal="true">
    <f:facet name="header">
        <i class="fa fa-list" style="font-size: 14px;"></i>
        <h:outputText value="Add rule online" style="margin-left:10px;"/>
    </f:facet>
    <!--<h:form id="createRuleForm">-->
    <h:form id="cdrForm">
        <p:outputPanel class="ui-g-12 ui-lg-12">
            <p:outputPanel class="ui-g-12 ui-lg-6">
                <p:outputLabel value="Rule name"/><span style="color: red">*</span>
                <div class="spacerHeight"/>
                <p:inputText onchange="this.value = this.value.trim()" placeholder="ruleName"
                             id="ruleName"
                             value="#{campaignOnlineController.createNewRule.ruleName}">
                </p:inputText>
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-6">
                <p:outputLabel value="Rule Id"/><span style="color: red">*</span>
                <div class="spacerHeight"/>
                <p:inputText onchange="this.value = this.value.trim()" value="#{campaignOnlineController.createNewRule.ruleId}"  disabled="true">
                </p:inputText>
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-6">
                <p:outputLabel value="Category type"/><span style="color: red">*</span>
                <div class="spacerHeight"/>
                <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" id="category" value="#{campaignOnlineController.createNewRule.categoryId}"
                                 style="margin-bottom:10px;">
                    <f:selectItems value="#{campaignOnlineController.ruleCategories}"
                                   var="item"
                                   itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                   itemValue="#{item.categoryId}"/>
                </p:selectOneMenu>
            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-6">
                <p:outputLabel value="Description"/>
                <div class="spacerHeight"/>
                <p:inputText onchange="this.value = this.value.trim()" placeholder="description"
                             id="ruleDescription"
                             value="#{campaignOnlineController.createNewRule.description}">
                </p:inputText>
            </p:outputPanel>

        </p:outputPanel>
        <!--</h:form>-->
        <!--<h:form id="cdrForm">-->
        <p:outputPanel class="ui-g-12 ui-lg-12" id="cdrTablePanel">

            <p:outputPanel class="ui-inputgroup">
                <p:outputPanel class="circle" style="position: relative;">
                    <p:outputLabel value="1"
                                   style="position: absolute; padding-top: 5px; padding-left: 9px;font-weight: bold; color: #fff "/>
                </p:outputPanel>
                <p:outputPanel style="border-bottom: 1px solid #a8acb1; width: 100%;margin-bottom: 8px;">
                    <p:spacer height="0" width="10px"/>
                    <p:outputLabel value="List cdr service" style="font-size: 14px; font-weight: bold"/> <span
                        style="color: red">*</span>
                    <p:inputSwitch value="#{campaignOnlineController.applyAllCdrToRule}"
                                   style="float: right; margin-left: 5px;margin-right: 20px">
                        <p:ajax update="@([id$=cdrTablePanel])"/>
                    </p:inputSwitch>
                    <p:outputLabel value="Apply all cdr"
                                   style="float: right; font-weight: bold; font-size: 16px ;margin-right: 20px"/>
                </p:outputPanel>
            </p:outputPanel>
            <p:dataTable id="tableCdr" var="cdr" value="#{campaignOnlineController.cdrServicesTable}"
                         selectionMode="single"
                         reflow="true" widgetVar="tableCdr"
                         styleClass="table-campaign" style="margin-top: 10px"
                         paginator="true" rows="10"
                         rowKey="#{cdr.cdrServiceId}"
                         rowIndexVar="rowIndex"
                         rowsPerPageTemplate="5,10,15,20" lazy="false"
                         rendered="#{campaignOnlineController.applyAllCdrToRule eq false}">
                <f:facet name="header">
                    <p:outputLabel value="List Cdr" style="float: left; font-weight: bold; font-size: 16px"/>
                    <p:commandButton icon="fa fa-plus" style="float: right; margin-left: 5px;width: 35px;"
                                     action="#{campaignOnlineController.prepareDataToShowCdrServicePopup()}"
                                     update=":cdrPickingListForm:cdrPickingList"
                                     oncomplete="PF('cdrServicePopup').show();"/>

                </f:facet>
                <p:column headerText="No" sortBy="#{rowIndex}" colspan="1">
                    <h:outputText value="#{rowIndex+1}"/>
                </p:column>

                <p:column headerText="Name" sortBy="#{cdr.name}"
                          colspan="2" filterMatchMode="contains">
                    <h:outputText value="#{cdr.name}"/>
                </p:column>

                <p:column headerText="Action" colspan="1">
                    <p:commandLink value="Remove" action="#{campaignOnlineController.removeCdrServiceTable(cdr)}"
                                   process=" @this "
                                   update="@([id$=tableCdr])">
                    </p:commandLink>
                </p:column>
            </p:dataTable>

        </p:outputPanel>
        <p:outputPanel class="ui-g-12 ui-lg-12">

            <p:outputPanel class="ui-inputgroup">
                <p:outputPanel class="circle" style="position: relative;">
                    <p:outputLabel value="2"
                                   style="position: absolute; padding-top: 5px; padding-left: 9px;font-weight: bold; color: #fff "/>
                </p:outputPanel>
                <p:outputPanel style="border-bottom: 1px solid #a8acb1; width: 100%;margin-bottom: 8px;">
                    <p:spacer height="0" width="10px"/>
                    <p:outputLabel value="result table" style="font-size: 14px; font-weight: bold"/> <span
                        style="color: red">*</span>
                </p:outputPanel>
            </p:outputPanel>
            <p:dataTable id="resultTable" var="result" value="#{campaignOnlineController.resultTable}"
                         selectionMode="single"
                         reflow="true" widgetVar="resultTable"
                         styleClass="table-campaign" style="margin-top: 10px"
                         paginator="true" rows="10"
                         rowKey="#{result.resultTableId}"
                         rowIndexVar="rowIndex"
                         rowsPerPageTemplate="5,10,15,20" lazy="false">
                <f:facet name="header">
                    <p:outputLabel value="List result table" style="float: left; font-weight: bold; font-size: 16px"/>
                    <p:commandButton icon="fa fa-plus" style="float: right; margin-left: 5px;width: 35px;"
                                     action="#{campaignOnlineController.prepareDataToShowResultTablePopup()}"
                                     update=":resultTabletForm:resultTablePickingList"
                                     oncomplete="PF('resultTablePopup').show();"/>
                </f:facet>
                <p:column headerText="Index" sortBy="#{rowIndex}" colspan="1">
                    <h:outputText value="#{rowIndex+1}"/>
                </p:column>

                <p:column headerText="Name" sortBy="#{result.resultTableName}" colspan="2">
                    <h:outputText value="#{result.resultTableName}"/>
                </p:column>

                <p:column headerText="Action" colspan="1">
                    <p:commandLink value="Up | " action="#{campaignOnlineController.moveResulTableUp(result)}"
                                   process=" @this "
                                   update="@([id$=resultTable])">
                    </p:commandLink>
                    <p:commandLink value="Down | " action="#{campaignOnlineController.moveResulTableDown(result)}"
                                   process=" @this "
                                   update="@([id$=resultTable])">
                    </p:commandLink>
                    <p:commandLink value="Remove" action="#{campaignOnlineController.removeResultTable(result)}"
                                   process=" @this "
                                   update="@([id$=resultTable])">
                    </p:commandLink>
                </p:column>
            </p:dataTable>


        </p:outputPanel>

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton action="#{campaignOnlineController.onCreateRule()}"
                                 style="width:auto;float: right;"
                                 icon="fa fa-floppy-o" value="Apply"
                                 process=" @this ,@([id$=cdrForm])"
                                 update="@([id$=rule]),@([id$=remoteGrowl]), @([id$=ruleTree]) "
                                 oncomplete=" if (!args.validationFailed)   PF('addRuleDialog').hide();">
                    <p:ajax></p:ajax>
                </p:commandButton>
            </p:outputPanel>
        </div>
    </h:form>
</p:dialog>
<ui:define name="aaaa">
    <script type="text/javascript">
        function test() {
            console.log("");
        }
    </script>
</ui:define>
</html>