<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Choose promotion block" widgetVar="promotionBlockTreePopup" id="promotionBlockTreePopup" responsive="true" style="width: 500px" modal="true">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Choose promotion block" style="margin-left:10px;"/>
        </f:facet>

        <h:form id="promotionBlockTreeForm" style="width: 500px">
            <p:tree filterMatchMode="contains" id="conditionTree" var="node"
                    value="#{resultTableController.blockRootNode}"
                    filterBy="#{node.filter}"
                    selectionMode="single"
                    selection="#{resultTableController.selectedBlockNode}"
                    style=" border: 0px solid; padding: 0px;width: 100%;height:500px ;overflow-y: auto;">

                <p:treeNode type="category" expandedIcon="ui-icon-folder-open"
                            collapsedIcon="ui-icon-folder-collapsed" >
                    <h:outputText value="#{node.name}"/>
                </p:treeNode>

                <p:treeNode type="block" icon="ui-icon-document">
                    <h:outputText value="#{node.name}"/>
                </p:treeNode>
            </p:tree>
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12" rendered="#{resultTableController.chooseBlockForResultString}">
                    <p:commandButton action="#{resultTableController.onSelectBlock()}"
                                     style="width:auto;float: right;"
                                     icon="fa fa-chevron-down" value="Select"
                                     update="@([id$=resultStringForm]),@([id$=divRatio]), @([id$=remoteGrowl])"
                                     oncomplete="PF('promotionBlockTreePopup').hide(); PF('resultStringPopup').show();"> 
                    </p:commandButton>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-12" rendered="#{resultTableController.chooseBlockForResult}">
                    <p:commandButton action="#{resultTableController.onSelectBlock()}"
                                     style="width:auto;float: right;"
                                     icon="fa fa-chevron-down" value="Select"
                                     update="@([id$=resultStringForm]),@([id$=divRatio]), @([id$=remoteGrowl])"
                                     oncomplete="PF('promotionBlockTreePopup').hide();">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>
</html>