<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:outputPanel id="panelCondition" class="ui-g ui-fluid" rendered="#{resultTableController.isDisplay}" 
                   style="height: calc(100vh - 67px) !important; overflow: auto;margin-right: -9px; margin-left: -9px; margin-top: 37px !important">
        <p:panel class="ui-g-12" style="border-radius: 5px !important;">

            <!--            <p:toolbar styleClass="toolbar">
                            <f:facet name="left">
                                <h:form>
                                    <p:outputLabel value="Result table"
                                                   style="float: left; font-weight: bold; font-size: 14px"/>
                                </h:form>
                            </f:facet>
                            <f:facet name="right">
                                <h:form>
                                    <p:inputSwitch style="float: right;margin-top: -3px;" value="#{resultTableController.actonSwitch}">
                                        <p:ajax update="@([id$=resetForm]),@([id$=saveForm])"></p:ajax>
                                    </p:inputSwitch>
                                    <p:outputLabel value="Edit" style="float: right; margin-right: 10px;"/>
                                </h:form>
                            </f:facet>
                        </p:toolbar>-->

            <!--habm2-start-->
            <div class="title-wrap">
                <div class="title-name">Result Table</div>
                <div class="title-action">
                    <h:form>
                        <p:outputLabel for="editSw" value="Edit" styleClass="title-lb"/>
                        <p:inputSwitch id="editSw" label="Edit" styleClass="title-sw" style="position: sticky !important;"
                                       value="#{resultTableController.actonSwitch}">
                            <p:ajax update="@([id$=resetForm]),@([id$=saveForm]),@([id$=conditionForm])"></p:ajax>
                        </p:inputSwitch>
                    </h:form>
                </div>
            </div>
            <!--habm2-end-->

            <h:form id="conditionForm">
                <p:outputPanel class="ui-g-12 ui-lg-12" id="test1">
                    <!--                    <p:focus context="test1"/>-->
                    <p:outputPanel class="ui-g-6 ui-lg-4">
                        <p:outputLabel value="Category" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:selectOneMenu  disabled="#{resultTableController.actonSwitch eq false}"   syncTooltip="true"  filterMatchMode="contains"  filter="true" id="category"  value="#{resultTableController.resultTable.categoryId}" style="margin-bottom:10px;">
                            <f:selectItems value="#{resultTableController.categories}"
                                           var="item"
                                           itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                           itemValue="#{item.categoryId}" />
                        </p:selectOneMenu>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-6 ui-lg-4">
                        <p:outputLabel value="Result table id" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText  disabled="#{resultTableController.actonSwitch eq false}" onchange="this.value = this.value.trim()" placeholder="Result table id" readonly="true" value="#{resultTableController.resultTable.resultTableId}"/>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-6 ui-lg-4" id="resultTableName">
                        <p:focus context="resultTableName"/>
                        <p:outputLabel value="Result table name" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText  disabled="#{resultTableController.actonSwitch eq false}" onchange="this.value = this.value.trim()" placeholder="Result table name"
                                     value="#{resultTableController.resultTable.resultTableName}"
                                     title="#{resultTableController.resultTable.resultTableName}"
                                     required="true" requiredMessage="Result table name is required"
                                     validatorMessage="Result table name not contains '%' character"
                                     onkeypress="updateTitle(this)">
                            <f:validateRegex pattern="^[^%]*$"/>
                        </p:inputText>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputLabel value="Description" />
                        <div class="spacerHeight"/>
                        <p:inputTextarea  onchange="this.value = this.value.trim()" placeholder="Description" rows="1" cols="30" autoResize="false"
                                         validatorMessage="Description not contains '%' character"
                                         title="#{resultTableController.resultTable.description}"
                                         value="#{resultTableController.resultTable.description}"                                 
                                         onkeypress="updateTitle(this)">
                            <f:validateRegex pattern="^[^%]*$"/>
                        </p:inputTextarea>
                    </p:outputPanel>




                    <!--                    <p:outputPanel class="ui-g-12 ui-lg-12">-->
                    <!--                        <p:selectOneRadio disabled="#{resultTableController.actonSwitch eq false}"  id="console" value="#{resultTableController.radioValue}">-->
                    <!--                            <f:selectItem itemLabel="Condition table" itemValue="0" />-->
                    <!--                            <f:selectItem itemLabel="Default result" itemValue="1" />-->
                    <!--                            <p:ajax event="change"-->
                    <!--                                    process="@this"-->
                    <!--                                    update="@([id$=divRatio]),@([id$=remoteGrowl])"-->
                    <!--                                    listener="#{resultTableController.onChangeRadio()}" />-->
                    <!--                        </p:selectOneRadio>-->
                    <!--                    </p:outputPanel>-->

                    <p:outputPanel id="divRatio">
                        <!--  Default result area -->
                        <p:outputPanel class="ui-g-12 ui-lg-6" id="defaultResult" >
                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <p:outputLabel value="Default result" /><span style="color: red">*</span>
                                <div class="spacerHeight"/>
                                <p:outputPanel class="ui-g-12 ui-lg-12">
                                    <p:outputPanel class="ui-g-12 ui-lg-6">
                                        <p:inputText  disabled="#{resultTableController.actonSwitch eq false}" onchange="this.value = this.value.trim()" placeholder="Default result"
                                                     value="#{resultTableController.conditionTableDefault.resultString}"
                                                     title="#{resultTableController.conditionTableDefault.resultString}"
                                                     readonly="true">

                                        </p:inputText>
                                    </p:outputPanel>
                                    <p:outputPanel class="ui-g-12 ui-lg-6">
                                        <p:commandButton disabled="#{resultTableController.actonSwitch eq false}"  style="width: 40px;" icon="fa fa-pencil-square-o"
                                                         action="#{resultTableController.onChooseResultString(null)}"
                                                         process="@([id$=divRatio])"
                                                         update="@([id$=resultStringForm])"
                                                         oncomplete="PF('resultStringPopup').show();"/>
                                        <p:commandButton disabled="#{resultTableController.actonSwitch eq false}"  style="margin-left: 5px; width: 40px;" icon="fa fa-trash"
                                                         action="#{resultTableController.onRemoveDefault()}"
                                                         process="@([id$=divRatio])"
                                                         update="@([id$=divRatio]),@([id$=remoteGrowl]),@([id$=resultStringForm])">
                                            <p:confirm header="Confirmation" message="Are you sure to remove Default result?" icon="ui-icon-alert"/>
                                        </p:commandButton>
                                    </p:outputPanel>
                                </p:outputPanel>


                            </p:outputPanel>
                        </p:outputPanel>


                        <!--  condition area -->
                        <p:outputPanel class="ui-g-12 ui-lg-6" id="conditionTable">
                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <p:outputLabel value="Condition table name" /><span style="color: red">*</span>
                                <div class="spacerHeight"/>
                                <p:outputPanel class="ui-g-12 ui-lg-12">
                                    <p:outputPanel class="ui-g-12 ui-lg-6">
                                        <p:inputText  disabled="#{resultTableController.actonSwitch eq false}" onchange="this.value = this.value.trim()" placeholder="Condition table name"
                                                     title="#{resultTableController.conditionTable.conditionTableName}"
                                                     value="#{resultTableController.conditionTable.conditionTableName}"
                                                     readonly="true">
                                            <f:validateRegex pattern="^[^%]*$"/>
                                        </p:inputText>
                                    </p:outputPanel>
                                    <p:outputPanel class="ui-g-12 ui-lg-6">
                                        <p:commandButton disabled="#{resultTableController.actonSwitch eq false}"  style="width: 40px;" icon="fa fa-pencil-square-o"
                                                         action="#{resultTableController.onChooseCondition()}"
                                                         process="@([id$=divRatio])"
                                                         update="@([id$=conditionTreeForm])"
                                                         />
                                        <p:commandButton disabled="#{resultTableController.actonSwitch eq false}"  style="margin-left: 5px; width: 40px;" icon="fa fa-trash"
                                                         action="#{resultTableController.onRemoveCondition()}"
                                                         process="@([id$=divRatio])"
                                                         update="@([id$=divRatio]),@([id$=remoteGrowl]),@([id$=preprocessUnitTreeForm])">
                                            <p:confirm header="Confirmation" message="Are you sure to remove Condition table?" icon="ui-icon-alert"/>
                                        </p:commandButton>
                                    </p:outputPanel>
                                </p:outputPanel>

                            </p:outputPanel>


                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:dataTable id="condition" var="itemTbl" value="#{resultTableController.conditionTableDTOS}"
                                         reflow="true"
                                         styleClass="table-campaign" style="margin-top: 10px"
                                         selection="#{resultTableController.conditionTableDTO}"
                                         rowKey="#{itemTbl.index}" paginator="true" rows="10"
                                         widgetVar="ruleTable"
                                         emptyMessage="No content"
                                         editable="true" editMode="cell"
                                         rowsPerPageTemplate="5,10,15,20" lazy="false">
                                <f:facet name="header">
                                    <p:outputLabel value="Content of Result table *" style="float: left;font-weight: bold; font-size: 16px"/>
                                </f:facet>
                                <p:column headerText="No"
                                          style="text-align:center; width: 50px;">
                                    <h:outputText value="#{itemTbl.index}"/>
                                </p:column>
                                <p:column headerText="Default"
                                          style="text-align:center; width: 50px;">
                                    <p:selectOneRadio value="#{itemTbl.isDefault}" disabled="true" unselectable="true">
                                        <f:selectItem itemLabel="" itemValue="1" />
                                    </p:selectOneRadio>
                                </p:column>

                                <p:columns value="#{resultTableController.columns}" var="column"
                                           columnIndexVar="colIndex"
                                           style="background-color: ##{itemTbl.valueColor[colIndex]}; width: 100px;">
                                    <f:facet name="header">
                                        <h:outputText value="#{column.header}" title="#{column.header}"/>
                                    </f:facet>
                                    <h:outputText value="#{itemTbl.values[colIndex]}" title="#{itemTbl.values[colIndex]}"/>

                                </p:columns>

                                <p:column headerText="Combine"
                                          style="text-align:center; width: 50px;">
                                    <h:outputText value="#{itemTbl.combine}" title="#{itemTbl.combine}"/>
                                </p:column>

                                <p:column headerText="Result"
                                          style="text-align:center; ; width: 180px;">
                                    <h:outputText value="#{itemTbl.resultString}"
                                                  title="#{itemTbl.resultString}" style="text-align:center;"/>
                                </p:column>

                                <p:column headerText="Action" style="width: 70px">
                                    <p:commandButton disabled="#{resultTableController.actonSwitch eq false}"  value="Choose"
                                                     style="background-color: #a8afb7;color: #020202;"
                                                     action="#{resultTableController.onChooseResultString(itemTbl)}"
                                                     update="@([id$=divRatio]),@([id$=resultStringForm]), @([id$=remoteGrowl])"
                                                     oncomplete="PF('resultStringPopup').show();"/>
                                </p:column>

                            </p:dataTable>
                        </p:outputPanel>
                    </p:outputPanel>


                    <p:outputPanel class="ui-g-12 ui-lg-12" id="divButton">
                        <p:commandButton icon="fa fa-refresh" value="Reset" id="resetForm"
                                         action="#{resultTableController.refreshData()}"
                                         style="width:auto;float: right;"
                                         process="@this"
                                         update="@([id$=remoteGrowl]), @([id$=mainContent])"
                                         disabled="#{resultTableController.actonSwitch eq false}">
                            <p:confirm header="Confirmation" message="Are you sure?" icon="fa fa-exclamation-triangle" />
                        </p:commandButton>

                        <p:commandButton action="#{resultTableController.validateForm()}"
                                         style="width:auto;float: right;"
                                          icon="fa fa-floppy-o" value="Save" id="saveForm"
                                         update="@([id$=remoteGrowl]), @([id$=condition])"
                                         disabled="#{resultTableController.actonSwitch eq false}"
                                         oncomplete="if (!args.validationFailed) PF('dlgConfirmCondition').show();">
                        </p:commandButton>

                    </p:outputPanel>
                </p:outputPanel>
                <!-- end table-->
            </h:form>
        </p:panel>
    </p:outputPanel>

    <p:dialog header="Confirmation" widgetVar="dlgConfirmCondition" modal="true" height="100">
        <h:outputText value="#{resultTableController.isUpdate eq false ? 'Are you sure to create this Result Table?' : 'Are you sure to edit this Result Table?'}" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmCondition').hide();"/>

                <p:commandButton action="#{resultTableController.saveOrUpdate()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 process="@this"
                                 update="@([id$=content]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirmCondition').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
    <p:dialog header="Confirmation" widgetVar="dlgConfirmResetCondition" modal="true" height="100">
        <h:outputText value="Are you sure to reset?" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmResetCondition').hide();"/>

                <p:commandButton action="#{resultTableController.refreshData()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 process="@([id$=conditionForm]),@this"
                                 update="@([id$=content]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirmResetCondition').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>

    <p:outputPanel class="ui-g ui-fluid" rendered="#{resultTableController.isDisplay eq false}">
        <p:graphicImage name="images/anh_nen.jpg" style="height: calc(100vh - 89px) !important; overflow: auto; width: 100%"/>
    </p:outputPanel>

    <ui:include src="conditionTreePopup.xhtml" />
    <ui:include src="promotionBlockTreePopup.xhtml" />
    <ui:include src="resultStringPopup.xhtml" />
</html>