<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Add result" widgetVar="resultStringPopup" id="resultStringPopup" responsive="true" style="width: 300px; height: auto" modal="true">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Add result" style="margin-left:10px;"/>
        </f:facet>

        <h:form id="resultStringForm" style="width: 500px">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:outputLabel value="Type" /><span style="color: red">*</span>
                <div class="spacerHeight"/>
                <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" style="margin-bottom:10px;" value="#{resultTableController.resultStringDTO.typeValue}" placeholder="Type">
                    <f:selectItem itemLabel="Choose type" itemValue=""/>
                    <f:selectItem itemLabel="NORMAL" itemValue="1"/>
                    <f:selectItem itemLabel="SKIP" itemValue="2"/>
                    <f:selectItem itemLabel="NO ACTION" itemValue="3"/>
                    <f:selectItem itemLabel="EXIT ALL" itemValue="4"/>
                    <f:selectItem itemLabel="EXIT RULE" itemValue="5"/>
                    <f:selectItem itemLabel="EXIT SEGMENT" itemValue="6"/>
                    <f:selectItem itemLabel="EXIT CAMPAIGN" itemValue="7"/>
                    <p:ajax event="change" 
                            listener="#{resultTableController.onChangeType()}"
                            update="@([id$=divRatio]),@([id$=resultStringForm]), @([id$=remoteGrowl])"/>
                </p:selectOneMenu>
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-12" rendered="#{resultTableController.resultStringDTO.typeValue eq '2'}">
                <p:outputLabel value="Step" />
                <div class="spacerHeight"/>
                <p:inputText onchange="this.value = this.value.trim()" placeholder="Step" value="#{resultTableController.resultStringDTO.step}"
                             onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));">

                </p:inputText>
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-6">
                <p:outputLabel value="Promotion Block" />
                <span style="color: red">#{resultTableController.resultStringDTO.typeValue eq '1'
                                           or resultTableController.resultStringDTO.typeValue eq '2' ? '*' : ''}
                </span>
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-6">
                <p:commandButton action="#{resultTableController.onChooseBlockForResultString()}"
                                 style="width:auto;float: right;"
                                 value="Choose"
                                 update="@([id$=promotionBlockTreeForm]),@([id$=remoteGrowl])">
                </p:commandButton>
            </p:outputPanel>
            <div class="spacerHeight"/>
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:inputText readonly="true" onchange="this.value = this.value.trim()"
                             required="#{resultTableController.resultStringDTO.typeValue eq '1' 
                                         or resultTableController.resultStringDTO.typeValue eq '2'}"
                             placeholder="Promotion Block" 
                             value="#{resultTableController.resultStringDTO.promotionBlockName}">
                </p:inputText>
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton action="#{resultTableController.validatePreprocessUnit()}"
                                 style="width:auto;float: right;"
                                 icon="fa fa-floppy-o" value="Apply"
                                 update="@([id$=divRatio]),@([id$=remoteGrowl])"
                                 oncomplete=" if (!args.validationFailed)  PF('resultStringPopup').hide();">
                </p:commandButton>
            </p:outputPanel>
        </h:form>
    </p:dialog>
</html>