<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces" />

    <p:outputPanel class="ui-g ui-fluid" 
                   style="height: calc(100vh - 67px) !important; overflow: auto;margin-right: -9px; margin-left: -9px; margin-top: -20px"
                   rendered="#{assessmentRuleController.disPlays}">
        <p:panel class="ui-g-12" style="border-radius: 5px !important">
            <div class="title-wrap">
                <div class="title-name">Assessment Rule</div>
                <div class="title-action">
                    <h:form>
                        <p:outputLabel for="editSw" value="Edit" styleClass="title-lb"/>
                        <p:inputSwitch id="editSw" label="Edit" styleClass="title-sw" style="position: sticky !important;"
                                       value="#{assessmentRuleController.action}">
                            <p:ajax update="@([id$=resetForm]),@([id$=saveForm]),@([id$=mainContent])"></p:ajax>
                        </p:inputSwitch>
                    </h:form>
                </div>
            </div>
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <h:form id="mainForm">

                    <!--    THONG TIN CHUNG ASSESSMENT   -->
                    <p:outputPanel class="ui-g-12 ui-lg-12">

                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel value="Category"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:selectOneMenu disabled="#{assessmentRuleController.action eq false}"
                                             filterMatchMode="contains"  filter="true" 
                                             syncTooltip="true" 
                                             value="#{assessmentRuleController.assessmentRule.categoryId}"
                                             style="margin-bottom:10px;">
                                <f:selectItems value="#{assessmentRuleController.categories}"
                                               var="item"
                                               itemLabel="#{item.name}" itemDescription="#{item.name}"
                                               itemValue="#{item.categoryId}"/>
                            </p:selectOneMenu>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel value="Assessment Rule Id"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText disabled="true"
                                         onchange="this.value = this.value.trim()"
                                         value="#{assessmentRuleController.assessmentRule.ruleId}">

                            </p:inputText>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel value="Assessment Rule Name"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>

                            <p:inputText  disabled="#{assessmentRuleController.action eq false}"
                                          id="assessmentRuleNameId"
                                          onchange="this.value = this.value.trim()"
                                          value="#{assessmentRuleController.assessmentRule.ruleName}"
                                          title="#{assessmentRuleController.assessmentRule.ruleName}"
                                          onkeyup="updateTitle(this)">
                                <p:ajax event="change" update="@([id$=assessmentRuleNameId])" listener="#{assessmentRuleController.editAssessmentRuleName()}" />
                            </p:inputText>
                            <p:focus for="assessmentRuleNameId" />
                        </p:outputPanel>
                    </p:outputPanel>   

                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputLabel value="Description"/>
                        <div class="spacerHeight"/>
                        <p:inputText disabled="#{assessmentRuleController.action eq false}"
                                     id="assessmentRuleDescriptionId"
                                     value="#{assessmentRuleController.assessmentRule.description}"
                                     title="#{assessmentRuleController.assessmentRule.description}"
                                     onkeyup="updateTitle(this)">
                            <p:ajax event="change" update="@([id$=assessmentRuleDescriptionId])" listener="#{assessmentRuleController.editAssessmentDescription()}" />
                        </p:inputText>
                    </p:outputPanel>                      
                    <!--    END THONG TIN CHUNG ASSESSMENT   -->

                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputPanel style="border-bottom: 1px solid #5f666c; width: 100%;"/>
                    </p:outputPanel>

                    <!--     THONG TIN CHUNG PPU             -->


                    <p:outputPanel class="ui-g-12 ui-lg-12">

                        <p:dataTable id="ppuTable" 
                                     var="item" 
                                     value="#{assessmentRuleController.listPpuEvaluation}"
                                     rowIndexVar="rowIndex"
                                     styleClass="table-campaign" 
                                     paginator="true" rows="10"
                                     rowsPerPageTemplate="5,10,15,20" lazy="false">

                            <f:facet name="header">
                                <span id="iconToggleall" style="font-size: 24px;float: left; font-weight: bold;color: #0066B3;padding-top: 5px"
                                      class="fa fa-tags"></span>
                                <p:outputLabel value="List PPU" style="float: left; font-weight: bold; font-size: 24px !important;margin-left:10px;padding: 0"/>
                                <p:commandButton action="#{assessmentRuleController.buildTreePPUCreate()}"
                                                 disabled="#{assessmentRuleController.action eq false}"
                                                 update="@([id$=ppuTreeId])"
                                                 oncomplete="PF('ppuTreeId').show()"
                                                 icon="fa fa-plus" 
                                                 style="float: right; margin-left: 5px;width: auto;"
                                                 value="PPU"/>
                            </f:facet>
                            <p:column headerText="Index" style="text-align: center">
                                <h:outputText value="#{rowIndex+1}"/>
                            </p:column>

                            <p:column headerText="PPU Name" style="text-align: center">
                                <h:outputText id="PPUName" value="#{item.value}" title="#{item.valueMax}"/>

                            </p:column>

                            <p:column headerText="PPU Type" style="text-align: center">
                                <h:outputText id="PPUType" value="#{item.preProcessType == 2 ? 'Number' :''}" title="#{item.preProcessType ==2 ? 'Number' :''}"/>
                            </p:column>

                            <p:column headerText="Criteria Name" style="text-align: center">
                                <h:outputText id="CriteriaName" value="#{item.criteriaNameValue}" title="#{item.criteriaNameValueMax}"/>
                            </p:column>

                            <p:column headerText="Action" style="text-align: center">                          

                                <p:outputPanel class="ui-g-12 ui-lg-12">
                                    <p:commandLink action="#{assessmentRuleController.deletePPU(item)}"
                                                   disabled="#{assessmentRuleController.action eq false}"
                                                   update="@([id$=ppuTable]),@([id$=remoteGrowl]),@([id$=fuzzyTable])">
                                        <h:outputText class="ui-icon ui-icon-trash"  style=" width: 100%;float: left;"/>
                                        <p:confirm header="Confirmation" message="Do you want to delete PPU ?" icon="ui-icon-alert" />
                                    </p:commandLink>
                                </p:outputPanel>


                            </p:column>
                        </p:dataTable>
                    </p:outputPanel>
                    <!--            END THONG TIN PPU           -->

                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputPanel style="border-bottom: 1px solid #5f666c; width: 100%;"/>
                    </p:outputPanel>

                    <!--     THONG TIN CHUNG KPI             -->


                    <p:outputPanel class="ui-g-12 ui-lg-12">

                        <p:dataTable id="kpiTable" 
                                     var="item" 
                                     value="#{assessmentRuleController.listKpiProcessor}"
                                     rowIndexVar="rowIndex"
                                     styleClass="table-campaign" 
                                     paginator="true" rows="10"
                                     rowsPerPageTemplate="5,10,15,20" lazy="false">

                            <f:facet name="header">
                                <span style="font-size: 24px;float: left;color: #0066B3;padding-top: 5px"
                                      class="fa fa-thumbs-up"></span>
                                <p:outputLabel value="List KPI" style="float: left; font-weight: bold; font-size: 24px !important;margin-left:10px;padding: 0"/>
                                <p:commandButton  action="#{assessmentRuleController.buildKpiprocessorCreate()}"
                                                  disabled="#{assessmentRuleController.action eq false}"
                                                  update="@([id$=kpiTreeId])"
                                                  oncomplete="PF('kpiTreeId').show()"
                                                  icon="fa fa-plus" 
                                                  style="float: right; margin-left: 5px;width: auto;"
                                                  value="KPI"/>
                            </f:facet>
                            <p:column headerText="Index" style="text-align: center">
                                <h:outputText value="#{rowIndex+1}"/>
                            </p:column>

                            <p:column headerText="KPI Processor Name" style="text-align: center">
                                <h:outputText id="kpiProcessorName" value="#{item.value}" title="#{item.valueMax}"/>

                            </p:column>

                            <p:column headerText="Criteria Name" style="text-align: center">
                                <h:outputText id="kpiCriteriaName" value="#{item.criteriaNameValue}" title="#{item.criteriaNameValueMax}"/>
                            </p:column>

                            <p:column headerText="Action" style="text-align: center">
                                <p:outputPanel class="ui-g-12 ui-lg-12">
                                    <p:commandLink action="#{assessmentRuleController.deleteKPI(item)}"
                                                   disabled="#{assessmentRuleController.action eq false}"
                                                   update="@([id$=kpiTable]),@([id$=remoteGrowl]),@([id$=fuzzyTable])" >
                                        <h:outputText class="ui-icon ui-icon-trash"  style=" width: 100%;float: left;"/>
                                        <p:confirm header="Confirmation" message="Do you want to delete KPI ?" icon="ui-icon-alert" />
                                    </p:commandLink>
                                </p:outputPanel>
                            </p:column>
                        </p:dataTable>
                    </p:outputPanel>

                    <!--            END THONG TIN KPI           -->

                    <!--       THONG TIN CHUNG RESULTCLASS      -->
                    <p:outputPanel class="ui-g-12 ui-lg-12">

                        <p:outputPanel class="ui-g-12 ui-lg-12" >
                            <p:outputPanel style="border-bottom: 1px solid #a8acb1; width: 100%;display: flex;align-items: center">
                                <p:outputPanel class="demo">
                                    <span id="icon" style="font-size: 24px;color: #0066B3"
                                          class="fa fa-flag-checkered"></span>

                                </p:outputPanel>
                                <p:outputLabel value="Create Result" style="font-size: 24px !important; font-weight: bold;margin-left: 10px;padding-bottom: 0"/> <span
                                    style="color: red;flex: 1;line-height: 34px">*</span>
                                <span id="iconToggResultClass" style="font-size: 20px;float: right; font-weight: bold"
                                      class="fa fa-fw fa-angle-up"></span>
                                <script>
                                    $('#iconToggResultClass').click(function () {
                                        $('#divResult').toggle("slow");
                                    });
                                </script>
                            </p:outputPanel>
                            <p:outputPanel id="resultTableClass">
                                <div id="divResult">
                                    <p:dataTable id="resultClassTable" var="item" 
                                                 value="#{assessmentRuleController.listResultClass}"
                                                 rowIndexVar="rowIndex"
                                                 styleClass="table-campaign" 
                                                 paginator="true" rows="10"
                                                 rowsPerPageTemplate="5,10,15,20"
                                                 lazy="false">
                                        <p:ajax event="page" process="@this" update="@this" />

                                        <f:facet name="header">
                                            <p:outputLabel value="List Result" style="float: left; font-weight: bold; font-size: 16px"/>
                                            <p:commandButton  action="#{assessmentRuleController.createResultClass()}"
                                                              disabled="#{assessmentRuleController.action eq false}"
                                                              update="@([id$=resultClassTable])"
                                                              icon="fa fa-plus" value="Result" 
                                                              style="float: right; margin-left: 5px;width: auto;"/>
                                        </f:facet>
                                        <p:column headerText="Index"  style="text-align: center">
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>

                                        <p:column headerText="Class Id" style="text-align: center">
                                            <h:outputText id="classId" value="#{item.classId}" title="#{item.classId}"/>

                                        </p:column>

                                        <p:column headerText="Class Name">
                                            <p:inputText onchange="this.value = this.value.trim()"
                                                         disabled="#{assessmentRuleController.action eq false}"
                                                         id="resultName"
                                                         value="#{item.className}"
                                                         style="text-align: center"
                                                         title="#{item.className}">
                                                <p:ajax event="change" process="@([id$=resultName])" update="@([id$=className]),@([id$=resultName])" listener="#{assessmentRuleController.editResultClassName()}"/>

                                            </p:inputText>

                                        </p:column>

                                        <p:column headerText="Description">
                                            <p:inputText id="resultDescription"
                                                         disabled="#{assessmentRuleController.action eq false}"
                                                         onchange="this.value = this.value.trim()"
                                                         value="#{item.description}"
                                                         style="text-align: center"
                                                         title="#{item.description}">
                                                <p:ajax event="change" process="@([id$=resultClassTable])" update="@([id$=resultClassTable]),@([id$=resultDescription])" listener="#{assessmentRuleController.editResultClassName()}" />
                                            </p:inputText>
                                        </p:column>

                                        <p:column headerText="Action" style="text-align: center"> 

                                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                                <p:commandLink action="#{assessmentRuleController.deleteResultClass(item)}"
                                                               disabled="#{assessmentRuleController.action eq false}"
                                                               update="@([id$=resultClassTable]),@([id$=remoteGrowl])">
                                                    <h:outputText class="ui-icon ui-icon-trash"  style=" width: 100%;float: left;"/>
                                                    <p:confirm header="Confirmation" message="Do you want to delete this Result Class ?" icon="ui-icon-alert" />
                                                </p:commandLink>
                                            </p:outputPanel>

                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </p:outputPanel>
                        </p:outputPanel>

                        <!--        END RESULTCLASS              -->

                        <!--         FUZZY TABLE       -->
                        <p:outputPanel class="ui-g-12 ui-lg-12" >
                            <p:outputPanel style="border-bottom: 1px solid #a8acb1; width: 100%;display: flex;align-items: center">
                                <p:outputPanel class="demo">
                                    <span id="icon" style="font-size: 24px;color: #0066B3"
                                          class="fa fa-balance-scale"></span>

                                </p:outputPanel>
                                <p:outputLabel value="Create Fuzzy" style="font-size: 24px !important; font-weight: bold;margin-left: 10px;padding-bottom: 0"/> <span
                                    style="color: red;flex:1;line-height: 34px">*</span>
                                <span id="iconToggle2" style="font-size: 20px;float: right; font-weight: bold"
                                      class="fa fa-fw fa-angle-up"></span>
                                <script>
                                    $('#iconToggle2').click(function () {
                                        $('#divFuzzy').toggle("slow");
                                    });
                                </script>
                            </p:outputPanel>
                            <p:outputPanel class="ui-g-12 ui-lg-12">

                                <div id="divFuzzy">
                                    <p:dataTable  value="#{assessmentRuleController.listFuzzyRule}"
                                                  var="item"
                                                  id="fuzzyTable"
                                                  rowIndexVar="rowIndex"
                                                  styleClass="table-campaign" 
                                                  paginator="true" rows="10"
                                                  rowsPerPageTemplate="5,10,15,20" lazy="false">

                                        <f:facet name="header">
                                            <p:outputLabel value="List Fuzzy" style="float: left; font-weight: bold; font-size: 16px"/>
                                            <p:commandButton  action="#{assessmentRuleController.prepareCreateFuzzyRule()}"
                                                              disabled="#{assessmentRuleController.action eq false}"
                                                              update="@([id$=fuzzyRuleDialogId]), @([id$=treeFuzzy]),@([id$=remoteGrowl])"
                                                              oncomplete="if (!args.validationFailed) PF('fuzzyRuleDialogId').show()" 
                                                              icon="fa fa-plus" style="float: right; margin-left: 5px;width: auto;"
                                                              value="Fuzzy"/>
                                        </f:facet>
                                        <p:column headerText="Index" style="text-align: center">
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>

                                        <p:column headerText="Class Name" style="text-align: center">
                                            <h:outputText id="className" value="#{item.valueName}" title="#{item.valueMaxName}"/>
                                        </p:column>

                                        <p:column headerText="Fuzzy Expression" style="text-align: center">
                                            <h:outputText id="fuuzyExpression" value="#{item.value}" title="#{item.valueMax}"/>
                                        </p:column>

                                        <p:column headerText="Fuzzy Operator" style="text-align: center">
                                            <h:outputText id="fuzzyOperator" value="#{item.fuzzyOperator == 1 ? 'MAX/MIN' : item.fuzzyOperator == 2 ? 'PROD/PROBOR' : '' }" 
                                                          title="#{item.fuzzyOperator == 1 ? 'MAX/MIN' : item.fuzzyOperator == 2 ? 'PROD/PROBOR' : '' }"/>

                                        </p:column>

                                        <p:column headerText="Fuzzy weight" style="text-align: center">
                                            <h:outputText id="weight" value="#{item.weight}" title="#{item.weight}"/>

                                        </p:column>

                                        <p:column headerText="Action" style="text-align: center">
                                            <p:outputPanel class="ui-g-12 ui-lg-4">
                                                <p:commandLink  action="#{assessmentRuleController.showFuzzyRule(item)}"
                                                                update="@([id$=fuzzyRuleDialogId])"
                                                                oncomplete="PF('fuzzyRuleDialogId').show()">
                                                    <h:outputText class="pi pi-eye"  style=" width: 100%;float: left;font-size: 20px;"/>
                                                </p:commandLink>
                                            </p:outputPanel>

                                            <p:outputPanel class="ui-g-12 ui-lg-4">
                                                <p:commandLink action="#{assessmentRuleController.prepareEditFuzzyRule(item)}"
                                                               disabled="#{assessmentRuleController.action eq false}"
                                                               update="@([id$=fuzzyRuleDialogId]),@([id$=remoteGrowl])"
                                                               oncomplete="if (!args.validationFailed) PF('fuzzyRuleDialogId').show()">
                                                    <h:outputText class="ui-icon ui-icon-pencil"  style=" width: 100%;float: right;"/>
                                                </p:commandLink>
                                            </p:outputPanel>

                                            <p:outputPanel class="ui-g-12 ui-lg-4">
                                                <p:commandLink action="#{assessmentRuleController.deleteFuzzyRule(item)}"
                                                               disabled="#{assessmentRuleController.action eq false}"
                                                               update="@([id$=fuzzyTable])">
                                                    <h:outputText class="ui-icon ui-icon-trash"  style=" width: 100%;float: left;"/>
                                                    <p:confirm header="Confirmation" message="Do you want to delete this Fuzzy Rule ?" icon="ui-icon-alert" />
                                                </p:commandLink>
                                            </p:outputPanel>


                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </p:outputPanel>
                        </p:outputPanel>

                    </p:outputPanel>
                    <!--              END FUZZYTABLE        -->

                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:commandButton disabled="#{assessmentRuleController.action eq false}"
                                         id="resetForm" icon="fa fa-refresh" value="Reset"
                                         style="width:auto;float: right;"
                                         oncomplete="PF('dlgConfirmResetTemp').show();">
                        </p:commandButton>
                        <p:commandButton disabled="#{assessmentRuleController.action eq false}"
                                         id="saveForm"  icon="fa fa-floppy-o" value="Save" style="width:auto;float: right;"
                                         process="@this,@([id$=mainContent]) "
                                         action="#{assessmentRuleController.validateAssessmentRule()}"
                                         update="@([id$=remoteGrowl]),,@([id$=mainContent])"
                                         oncomplete="if (!args.validationFailed) PF('dlgConfirmSaveTemp').show();">
                        </p:commandButton>
                    </p:outputPanel>
                </h:form>
            </p:outputPanel>
        </p:panel>
    </p:outputPanel>

    <p:dialog header="Confirmation"
              widgetVar="dlgConfirmSaveTemp"
              id="dlgConfirmSaveTemp"
              modal="true"
              height="100">
        <h:outputText value="Are you sure to save this Assessment Rule?" />
        <p:outputPanel class="ui-g-12 ui-lg-12" >
            <p:outputLabel class="ui-g-12 ui-lg-12" style="border-bottom: 1px solid #a8acb1; width: 100%"  />
        </p:outputPanel>
        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmSaveTemp').hide();"/>

                <p:commandButton style="width:auto;float: right;"
                                 value="Yes"
                                 action="#{assessmentRuleController.doSaveAll()}"
                                 update="@([id$=treeCategory]),@([id$=mainContent]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirmSaveTemp').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
    <p:dialog header="Confirmation"
              widgetVar="dlgConfirmResetTemp"
              id="dlgConfirmResetTemp"
              modal="true"
              height="100">
        <h:outputText value="Are you sure to reset this Assessment Rule?" />
        <p:outputPanel class="ui-g-12 ui-lg-12" >
            <p:outputLabel class="ui-g-12 ui-lg-12" style="border-bottom: 1px solid #a8acb1; width: 100%"  />
        </p:outputPanel>
        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmResetTemp').hide();"/>

                <p:commandButton style="width:auto;float: right;"
                                 value="Yes"
                                 action="#{assessmentRuleController.onResetAssessmentRule()}"
                                 update="@([id$=mainContent]),@([id$=treeCategory]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirmResetTemp').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
    <ui:include src="PopupTreeKPI.xhtml"/>              
    <ui:include src="PopupTreePPU.xhtml"/>
    <ui:include src="PopupGroupDefine.xhtml"/>
    <ui:include src="PopupExpressionDefine.xhtml"/>
    <ui:include src="PopupFuzzyRuleDefine.xhtml"/>

</html>