<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="fromTree">

        <div class="title-wrap">
            <div class="title-name">Assessment Rule List</div>
        </div>
        <!--habm2-end-->



        <p:tree filterMatchMode="contains"  id="treeCategory" var="node"
                value="#{assessmentRuleController.rootNode}"
                filterBy="#{node.filter}"
                selectionMode="single" 
                selection="#{assessmentRuleController.selectedNode}"
                style="height: calc(100vh - 101px) !important; border: 0px solid; padding: 0px;width: 100%;overflow: auto;">
            <p:ajax event="select" 
                    process="@([id$=treeCategory])"
                    listener="#{assessmentRuleController.prepareEditWhenClick()}"
                    update="@([id$=carDialog]),@([id$=content]),@([id$=remoteGrowl])"/>

            <p:treeNode type="category" expandedIcon="ui-icon-folder-open" 
                        collapsedIcon="ui-icon-folder-collapsed">
                <h:outputText value="#{node.name}" title="#{node.name}"/>
            </p:treeNode>

            <p:treeNode type="object" ><i class="fa fa-line-chart" style="font-size: 14px;padding-right: 5px;"></i>
                <h:outputText value="#{node.ruleName}" title="#{node.ruleName}"/>
            </p:treeNode>


            <p:treeNode type="folderkpi" icon="ui-icon-folder-open">
                <h:outputText value="#{node.processorName}" title="#{node.processorName}"/>
            </p:treeNode>

            <p:treeNode type="kpi" icon="ui-icon-document">
                <h:outputText value="#{node.processorName}" title="#{node.processorName}"/>
            </p:treeNode>

            <p:treeNode type="folderppu" icon="ui-icon-folder-open">
                <h:outputText value="#{node.preProcessName}" title="#{node.preProcessName}"/>
            </p:treeNode>

            <p:treeNode type="ppu" icon="ui-icon-document">
                <h:outputText value="#{node.preProcessName}" title="#{node.preProcessName}"/>
            </p:treeNode>


            <p:ajax event="expand" listener="#{assessmentRuleController.onNodeExpand}"></p:ajax>
            <p:ajax event="collapse" listener="#{assessmentRuleController.onNodeCollapse}"></p:ajax>
        </p:tree>

        <p:contextMenu for="treeCategory" nodeType="category" style="width: auto;">
            <p:menuitem icon="fa fa-floppy-o" 
                        value="Create category" 
                        action="#{assessmentRuleController.preapreCreateCategory()}"
                        update="@([id$=carDialog]),@([id$=categoryConfirm])"
                        oncomplete="PF('carDialog').show()"/>
            <p:menuitem icon="fa fa-refresh" 
                        value="Edit category"
                        action="#{assessmentRuleController.preapreUpdateCategory()}"
                        update="@([id$=carDialog]),@([id$=categoryConfirm])"
                        oncomplete="PF('carDialog').show()"/>
            <p:menuitem icon="fa fa-trash" 
                        value="Delete category" 
                        action="#{assessmentRuleController.deleteCategory()}"
                        update="@([id$=content]),@([id$=remoteGrowl])">
                <p:confirm header="Confirmation" message="You definitely want to delete ?" icon="ui-icon-alert"/>
            </p:menuitem>
            <p:menuitem icon="fa fa-plus" 
                        value="Create Assessment Rule" 
                        action="#{assessmentRuleController.prepareCreateAssessmentRule()}"
                        update="@([id$=mainContent])"/>
        </p:contextMenu>

        <p:contextMenu for="treeCategory" nodeType="object" style="width: auto;">
            <p:menuitem icon="fa fa-refresh" 
                        value="Edit Assessment Rule" 
                        action="#{assessmentRuleController.prepareUpdateAssessmentRule()}"
                        update="@([id$=mainContent]), @([id$=treeCategory])"/>
            <p:menuitem icon="fa fa-trash" 
                        value="Delete Assessment Rule" 
                        action="#{assessmentRuleController.deleteAssessmentRule()}"
                        update="@([id$=treeCategory]),@([id$=remoteGrowl]),@([id$=mainContent])">
                <p:confirm header="Confirmation" message="Do you want to delete this Assessment Rule ?" icon="ui-icon-alert"/>
            </p:menuitem>
        </p:contextMenu>

    </h:form>




</html>