<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <c:if test="#{assessmentRuleController.objectTypeToEdit eq 'object'}">

        <ui:include src="AssessmentRuleContentOnly.xhtml"/>

    </c:if>

    <c:if test="#{assessmentRuleController.objectTypeToEdit eq 'category'}">

        <ui:include src="AssessmentRuleContentOnly.xhtml"/>

    </c:if>

    <c:if test="#{assessmentRuleController.objectTypeToEdit eq 'kpi'}">
        <p:outputPanel style="margin-top: -56px;">
            <ui:include src="/kpiProcessor/kpiProcessorContent.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{assessmentRuleController.objectTypeToEdit eq 'ppu'}">   
        <p:outputPanel style="margin-top: -56px;">
            <ui:include src="/ppuEvaluation/ppuEvaluationContent.xhtml"/>
        </p:outputPanel>
    </c:if>
        <ui:include src="PopupCategoryCreateOrUpdate.xhtml"/>
</html>