<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<p:outputPanel class="ui-g ui-fluid">
    <p:panel class="ui-g-12">

        <div class="title-wrap">
            <div class="title-name">Segment detail</div>

        </div>

        <p:outputPanel class="ui-g-12 ui-lg-12"
                       style="height: calc(100vh - 101px) !important; height: 610px; overflow: auto;">
            <h:form id="segmentDetailForm">
                <p:outputPanel id="test1">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputPanel class="ui-g-12 ui-lg-4">
                        <p:outputLabel value="Category"/>
                        <div class="spacerHeight"/>
                        <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{campaignOnlineController.selectedSegment.categoryId}"
                                         style="margin-bottom:10px;"
                                         disabled="true">
                            <f:selectItems value="#{campaignOnlineController.segmentCategories}"
                                           var="input"
                                           itemLabel="#{input.name}"
                                           itemValue="#{input.categoryId}"/>
                        </p:selectOneMenu>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-4">
                        <p:outputLabel value="Segment id"/><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText onchange="this.value = this.value.trim()" placeholder="Segment id"
                                     disabled="true"
                                     value="#{campaignOnlineController.selectedSegment.segmentId}"/>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-4">
                        <p:outputLabel value="Segment name"/><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText onchange="this.value = this.value.trim()" placeholder="Segment name"
                                     disabled="true"
                                     value="#{campaignOnlineController.selectedSegment.segmentName}"/>
                    </p:outputPanel>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputPanel class="ui-g-12 ui-lg-4">
                        <p:outputLabel for="console121" value="State"/>
                        <div class="spacerHeight"/>
                        <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" id="console121" disabled="true"
                                         value="#{campaignOnlineController.selectedSegment.isActive}">
                            <f:selectItem itemLabel="Active" itemValue="1"/>
                            <f:selectItem itemLabel="Unactive" itemValue="0"/>
                        </p:selectOneMenu>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-4">
                        <p:outputLabel value="Effect date"/> <span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:calendar id="effectiveDate" showOn="button"
                                    value="#{campaignOnlineController.selectedSegment.effDate}"
                                    disabled="true"
                                    pattern="dd/MM/yyyy"/>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-4">
                        <p:outputLabel value="Expire date"/> <span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:calendar id="expireDate" showOn="button"
                                    value="#{campaignOnlineController.selectedSegment.expDate}"
                                    disabled="true"
                                    pattern="dd/MM/yyyy"/>
                    </p:outputPanel>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel  value="Segment size"/>
                        <div class="spacerHeight"/>
                        <p:inputText onchange="this.value = this.value.trim()" placeholder=""
                                     disabled="true"
                                     value="#{campaignOnlineController.selectedSegment.segmentSize}"/>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Parent"/>
                        <div class="spacerHeight"/>
                        <p:inputText onchange="this.value = this.value.trim()" placeholder="Parent"
                                     disabled="true"
                                     value="#{campaignOnlineController.selectedSegment.parentId}"/>
                    </p:outputPanel>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputLabel value="Description"/>
                        <div class="spacerHeight"/>
                        <p:inputTextarea  onchange="this.value = this.value.trim()" rows="1" placeholder="Description"
                                         disabled="true"
                                         value="#{campaignOnlineController.selectedSegment.description}"/>
                    </p:outputPanel>
                </p:outputPanel>

                </p:outputPanel>
            </h:form>
        </p:outputPanel>
    </p:panel>
</p:outputPanel>


</html>