<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/template_dashbord.xhtml">

    <ui:define name="title">#{home.title}</ui:define>
    
    <ui:define name="content" >      
        <p:outputPanel class="ui-g ui-fluid" id="content">
<!--            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:panel id="basic" class="ui-g-12" toggleable="false" style="width: 100%; height: calc(100vh - 200px) !important; margin-top: -20px"> 
                    <p:graphicImage name="images/anh_nen.jpg" width="100%" style="height: inherit"/>
                </p:panel>
            </p:outputPanel>-->
        </p:outputPanel>
    </ui:define>
   
</ui:composition>