<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<p:dialog header="Add parameter" widgetVar="parameterTreePopup" id="parameterTreePopup" responsive="true"
          style="width: 500px" modal="true">
    <f:facet name="header">
        <i class="fa fa-list" style="font-size: 14px;"></i>
        <h:outputText value="Add parameter" style="margin-left:10px;"/>
    </f:facet>

    <p:outputLabel value="List Parameter" style=" margin-left: 9px;"/>
    <div class="spacerHeight"/>
    <h:form id="parameterTreeForm" style="width: 500px">
        <p:tree filterMatchMode="contains" id="parameterTree" var="node"
                value="#{preProcessNumberRangeController.parameterNode}"
                filterBy="#{node.filter}"
                selectionMode="single"
                selection="#{preProcessNumberRangeController.parameterSelectedNode}"
                style=" border: 0px solid; padding: 0px;width: 100%;height:550px ;overflow-y: auto;"
                pt:placeholder="fill me">
            <p:treeNode type="category" expandedIcon="ui-icon-folder-open"
                        collapsedIcon="ui-icon-folder-collapsed">
                <h:outputText value="#{node.name}"/>
            </p:treeNode>
            <p:treeNode type="parameter" >
                <h:outputText value="#{node.parameterName}"/>
            </p:treeNode>
        </p:tree>
        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton action="#{preProcessNumberRangeController.validateChooseParameter()}"
                                 style="width:auto;float: right;"
                                 icon="fa fa-chevron-down" value="Select"
                                 process="@([id$=parameterTreeForm])"
                                 update="@([id$=nomalTable]),@([id$=remoteGrowl]) ,"
                                 oncomplete=" if (!args.validationFailed)  PF('parameterTreePopup').hide();">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </h:form>
</p:dialog>
</html>