<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:outputPanel class="ui-g ui-fluid" rendered="#{preProcessNumberRangeController.display}"
                   style="height: calc(100vh - 67px) !important; overflow: auto;margin-right: -9px; margin-left: -9px; margin-top: -20px">
        <p:panel class="ui-g-12" style="border-radius: 5px !important">

            <!--        <p:toolbar styleClass="toolbar">
                        <f:facet name="left">
                            <h:form>
                                <p:outputLabel value="PPU Number Range"
                                               style="float: left; font-weight: bold; font-size: 14px"/>
                            </h:form>
                        </f:facet>
                        <f:facet name="right">
                            <h:form>
                                <p:inputSwitch style="float: right;margin-top: -3px;" value="#{preProcessNumberRangeController.action}">
                                    <p:ajax update="@([id$=resetForm]),@([id$=saveForm])"></p:ajax>
                                </p:inputSwitch>
                                <p:outputLabel value="Edit" style="float: right; margin-right: 10px;"/>
                            </h:form>
                        </f:facet>
                    </p:toolbar>-->

            <!--habm2-start-->
            <div class="title-wrap">
                <div class="title-name">PPU Number Range</div>
                <div class="title-action">
                    <h:form>
                        <p:outputLabel for="editSw" value="Edit" styleClass="title-lb"/>
                        <p:inputSwitch id="editSw" label="Edit" styleClass="title-sw"
                                       value="#{preProcessNumberRangeController.action}">
                            <p:ajax update="@([id$=resetForm]),@([id$=saveForm]),@([id$=mainForm]),@([id$=dlgConfirmSaveTemp])"></p:ajax>
                        </p:inputSwitch>
                    </h:form>
                </div>
            </div>
            <!--habm2-end-->

            <p:outputPanel class="ui-g-12 ui-lg-12">
                <h:form id="mainForm">
                    <p:outputPanel id="inputForm" style="height: 230px">
                        <p:focus context="inputForm"/>
                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="PreProcess unit id"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText onchange="this.value = this.value.trim()" placeholder="PreProcess unit id" disabled="true"
                                         value="#{preProcessNumberRangeController.currentValue.preProcessId}"/>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="PreProcess unit name"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText disabled="#{preProcessNumberRangeController.action eq false}" onchange="this.value = this.value.trim()" placeholder="PreProcess unit name"
                                         value="#{preProcessNumberRangeController.currentValue.preProcessName}"
                                         title="#{preProcessNumberRangeController.currentValue.preProcessName}"
                                         onkeypress="updateTitle(this)"/>
                        </p:outputPanel>


                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Category"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:selectOneMenu disabled="#{preProcessNumberRangeController.action eq false}"  syncTooltip="true"  filterMatchMode="contains"  filter="true" id="category" value="#{preProcessNumberRangeController.currentValue.categoryId}"
                                             style="margin-bottom:10px;">
                                <f:selectItems value="#{preProcessNumberRangeController.categories}"
                                               var="item"
                                               itemLabel="#{item.name}" itemDescription="#{item.name}"
                                               itemValue="#{item.categoryId}"/>
                            </p:selectOneMenu>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Input mode"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:selectOneMenu disabled="#{preProcessNumberRangeController.action eq false}"  syncTooltip="true"  filterMatchMode="contains"  filter="true" id="console13" value="#{preProcessNumberRangeController.currentValue.inputMode}"
                                             style="margin-bottom:10px;">
                                <p:ajax process="@([id$=inputForm])"
                                        listener="#{preProcessNumberRangeController.onChangeInputMode()}"
                                        update="@([id$=tableForm])"/>
                                <f:selectItem itemLabel="Object" itemValue="1"/>
                                <f:selectItem itemLabel="Function" itemValue="2"/>
                            </p:selectOneMenu>
                        </p:outputPanel>


                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Description"/>
                            <div class="spacerHeight"/>
                            <p:inputTextarea disabled="#{preProcessNumberRangeController.action eq false}"   onchange="this.value = this.value.trim()" placeholder="Description" rows="1" cols="30" autoResize="false"
                                             value="#{preProcessNumberRangeController.currentValue.description}"
                                             title="#{preProcessNumberRangeController.currentValue.description}"
                                             onkeypress="updateTitle(this)">
                            </p:inputTextarea>
                        </p:outputPanel>
                    </p:outputPanel>
                    <!--</h:form>-->
                    <!--schedule-->
                    <p:outputPanel id="tableForm">
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputPanel
                                style="border-bottom: 1px solid #5f666c; width: 100%;margin-bottom: 8px;     margin-top: 10px;">
                            </p:outputPanel>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Input field"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputTextarea onchange="this.value = this.value.trim()" rows="1"  id="inputField" placeholder="" disabled="true"
                                             value="#{preProcessNumberRangeController.currentValue.inputFields}"
                                             title="#{preProcessNumberRangeController.currentValue.inputFields}"/>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12"
                                       rendered="#{preProcessNumberRangeController.currentValue.inputMode eq 1}">
                            <p:outputPanel>
                                <div id="pathDiv">
                                    <p:dataTable id="pathTable" var="path"
                                                 value="#{preProcessNumberRangeController.lstPathTable}"
                                                 selectionMode="single"
                                                 reflow="true"
                                                 rowIndexVar="rowIndex"
                                                 rowKey="#{path.objectId}"
                                                 styleClass="table-campaign" style="margin-top: 10px"
                                                 paginator="true" rows="10"
                                                 widgetVar="pathTable"
                                                 emptyMessage="No field found with given criteria"
                                                 editable="true"
                                                 rowsPerPageTemplate="5,10,15,20" lazy="false">
                                        <f:facet name="header">
                                            <p:outputLabel value="Path table"
                                                           style="font-size: 14px; font-weight: bold ; float: left;  width: auto; margin-top: 15px"/>
                                            <span style="color: red ; float: left; margin-top: 15px">*</span>
                                            <p:commandButton disabled="#{preProcessNumberRangeController.action eq false}"  icon="fa fa-plus" value="Child path"
                                                             style="float: right; margin-right: 1px; width: auto;"
                                                             action="#{preProcessNumberRangeController.addChildPath()}"
                                                             update="@([id$=pathTable]),@([id$=remoteGrowl])"/>
                                            <p:commandButton disabled="#{preProcessNumberRangeController.action eq false}"  icon="fa fa-plus" value="Path"
                                                             style="float: right; width: auto;"
                                                             update=":pathTreeForm:pathTree"
                                                             action="#{preProcessNumberRangeController.prepateToShowChoosePathPopup()}"
                                                             oncomplete="PF('pathTreePopup').show();"/>

                                        </f:facet>
                                        <p:column headerText="No" sortBy="#{rowIndex}" colspan="1">
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>


                                        <p:column headerText="Path/Child path"
                                                  colspan="2">
                                            <p:selectOneMenu disabled="#{preProcessNumberRangeController.action eq false}"  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{path.objectId}"
                                                             style="margin-bottom:10px;">
                                                <p:ajax listener="#{preProcessNumberRangeController.onChangePath(path)}"
                                                        update="@([id$=pathTable]),@([id$=inputField])"/>
                                                <f:selectItem itemLabel="Choose node" itemValue="-1"/>
                                                <f:selectItems value="#{path.lstInput}"
                                                               var="input"
                                                               itemLabel="#{input.objectName}"
                                                               itemDescription="#{input.objectName}"
                                                               itemValue="#{input.objectId}"/>
                                            </p:selectOneMenu>
                                        </p:column>


                                        <p:column headerText="Filter" colspan="1">
                                            <p:commandLink disabled="#{preProcessNumberRangeController.action eq false}"  value=""
                                                           action="#{preProcessNumberRangeController.prepareDataToShowFilterTable(path)}"
                                                           update="@([id$=addTreeForm]),@([id$=remoteGrowl])"
                                                           oncomplete=" if (!args.validationFailed) PF('addFilterPopup').show();"
                                                           rendered="#{path.data == null or path.data == ''}">
                                                <h:outputText value="" class="ui-icon ui-icon-plus"  style=" width: 100%;"/>
                                            </p:commandLink>
                                            <p:commandLink value="#{path.data}" style=" word-break: break-word;"
                                                           title="#{path.data}"
                                                           action="#{preProcessNumberRangeController.prepareDataToShowFilterTable(path)}"
                                                           update="@([id$=addTreeForm]),@([id$=remoteGrowl])"
                                                           oncomplete=" if (!args.validationFailed) PF('addFilterPopup').show();"
                                                           rendered="#{path.data != null and path.data != ''}">
                                            </p:commandLink>
                                        </p:column>

                                        <p:column headerText="Action" colspan="1">
                                            <p:commandLink disabled="#{preProcessNumberRangeController.action eq false}"  action="#{preProcessNumberRangeController.onRemovePath(path)}"
                                                           update="@([id$=pathTable]),@([id$=inputField]),@([id$=remoteGrowl])">
                                                <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                                                <p:confirm header="Confirmation"
                                                           message="Are you sure to delete ?"
                                                           icon="fa fa-warning"/>
                                            </p:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </p:outputPanel>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12"
                                       rendered="#{preProcessNumberRangeController.currentValue.inputMode eq 2}">
                            <p:outputPanel>
                                <div id="pathFunction">
                                    <p:dataTable id="functionTable" var="function"
                                                 value="#{preProcessNumberRangeController.lstFunctionPathTable}"
                                                 selectionMode="single"
                                                 reflow="true"
                                                 styleClass="table-campaign" style="margin-top: 10px"
                                                 paginator="true" rows="10"
                                                 rowKey="#{function.fieldId}"
                                                 rowIndexVar="rowIndex"
                                                 widgetVar="functionTable"
                                                 emptyMessage="No function found with given criteria"
                                                 editable="true"
                                                 rowsPerPageTemplate="5,10,15,20" lazy="false">
                                        <f:facet name="header">
                                            <p:outputLabel value="Path table"
                                                           style="font-size: 14px; font-weight: bold ; float: left;  width: auto; margin-top: 15px"/>
                                            <span style="color: red ; float: left; margin-top: 15px">*</span>
                                            <p:commandButton disabled="#{preProcessNumberRangeController.action eq false}"  icon="fa fa-plus" value="Function"
                                                             style="float: right ; width: auto"
                                                             action="#{preProcessNumberRangeController.onAddFunctionPath()}"
                                                             update="@([id$=functionTable])"/>
                                        </f:facet>
                                        <p:column headerText="No" sortBy="#{rowIndex}" colspan="1">
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>
                                        <p:column headerText="Function Name" colspan="2">
                                            <p:selectOneMenu disabled="#{preProcessNumberRangeController.action eq false}"  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{function.fieldId}"
                                                             style=" min-width: auto;">
                                                <p:ajax listener="#{preProcessNumberRangeController.onFieldFunctionPathChange(function)}"
                                                        update="@([id$=functionTable]),@([id$=inputField])"/>
                                                <f:selectItem itemLabel="Choose function" itemValue="-1"/>
                                                <f:selectItems value="#{function.lstFunction}"
                                                               var="data1"
                                                               itemLabel="#{data1.functionDisplay}"
                                                               itemDescription="#{data1.functionDisplay}"
                                                               itemValue="#{data1.functionId}"/>
                                            </p:selectOneMenu>
                                        </p:column>
                                        <p:column headerText="Parameters" colspan="2" filterMatchMode="contains">
                                            <p:repeat value="#{function.lstFunctionParams}" var="params">
                                                <div style="margin-bottom: 8px">
                                                <p:inputText disabled="#{preProcessNumberRangeController.action eq false}" onchange="this.value = this.value.trim()" style="margin-bottom: 8px;" value="#{params.fieldValueString}"
                                                             title="#{params.fieldValueString}"
                                                             onkeypress="updateTitle(this)"
                                                             rendered="#{params.valueType eq 1}">
                                                    <p:ajax event="change" process="@([id$=functionTable])"
                                                            update="@([id$=pathFunction]),@([id$=inputField])"
                                                            listener="#{preProcessNumberRangeController.onFunctionPathChange}"/>
                                                </p:inputText>
                                                </div>
                                                <div style="margin-bottom: 8px">
                                                <p:spinner disabled="#{preProcessNumberRangeController.action eq false}"  style="margin-bottom: 8px;" value="#{params.fieldValueNumber}"
                                                           title="#{params.fieldValueNumber}"
                                                           onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
                                                           onkeypress="updateTitle(this)"
                                                           rendered="#{params.valueType eq 2}">
                                                    <p:ajax event="change" process="@([id$=functionTable])"
                                                            update="@([id$=pathFunction]) ,@([id$=inputField])"
                                                            listener="#{preProcessNumberRangeController.onFunctionPathChange}"/>
                                                </p:spinner>
                                                </div>
                                                <div style="margin-bottom: 8px">
                                                    <p:calendar disabled="#{preProcessNumberRangeController.action eq false}"  style="margin-bottom: 8px;" showOn="button"
                                                                value="#{params.fieldValueDate}"
                                                                pattern="yyyy/MM/dd HH:mm:ss" rendered="#{params.valueType eq 3}">
                                                        <p:ajax event="change" process="@([id$=functionTable])"
                                                                update="@([id$=pathFunction]) ,@([id$=inputField])"
                                                                listener="#{preProcessNumberRangeController.onFunctionPathChange}"/>
                                                        <p:ajax event="dateSelect" process="@([id$=functionTable])"
                                                                update="@([id$=pathFunction]),@([id$=inputField])"
                                                                listener="#{preProcessNumberRangeController.onFunctionPathChange}"/>
                                                    </p:calendar>
                                                </div>
                                                <p:commandButton disabled="#{preProcessNumberRangeController.action eq false}"  style="margin-bottom:8px; width: 100%;"
                                                                 value="#{params.fieldZoneName eq null ? 'Choose zone' :  params.fieldZoneName}"
                                                                 title="#{params.fieldZoneName eq null ? 'Choose zone' :  params.fieldZoneName}"
                                                                 action="#{preProcessNumberRangeController.prepareChooseZone(params)}"
                                                                 oncomplete="PF('zoneTreePopup').show();"
                                                                 rendered="#{ params.valueType  eq 4}"/>
                                                <p:selectOneMenu disabled="#{preProcessNumberRangeController.action eq false}"  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{params.fieldZoneMapId}"
                                                                 style="margin-bottom:8px;  min-width: auto;"
                                                                 rendered="#{ params.valueType  eq 5}">
                                                    <p:ajax process="@([id$=functionTable])"
                                                            update="@([id$=pathFunction]) ,@([id$=inputField])"
                                                            listener="#{preProcessNumberRangeController.onFunctionPathChange}"/>
                                                    <f:selectItems value="#{preProcessNumberRangeController.lstZoneMap}"
                                                                   var="zoneMap"
                                                                   itemLabel="#{zoneMap.zoneMapName}"
                                                                   itemDescription="#{zoneMap.zoneMapName}"
                                                                   itemValue="#{zoneMap.zoneMapId}"/>
                                                </p:selectOneMenu>

                                                <div style="margin-bottom: 8px">
                                                    <p:inputNumber disabled="#{preProcessNumberRangeController.action eq false}"  style="margin-bottom: 8px;"
                                                                   value="#{params.fieldValueDouble}"
                                                                   title="#{params.fieldValueDouble}"
                                                                   onkeypress="updateTitle(this)"
                                                                   rendered="#{params.valueType eq 6}">
                                                        <p:ajax event="change" process="@([id$=functionTable])"
                                                                update="@([id$=pathFunction]) ,@([id$=inputField])"
                                                                listener="#{preProcessNumberRangeController.onFunctionPathChange}"/>
                                                    </p:inputNumber>
                                                </div>
                                            </p:repeat>
                                        </p:column>

                                        <p:column headerText="Action" colspan="1">
                                            <p:commandLink disabled="#{preProcessNumberRangeController.action eq false}"  action="#{preProcessNumberRangeController.onRemovePathFuntion(function)}"
                                                           update="@([id$=functionTable]),@([id$=inputField]),@([id$=remoteGrowl])">
                                                <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                                                <p:confirm header="Confirmation"
                                                           message="Are you sure to delete this function ?"
                                                           icon="fa fa-warning"/>
                                            </p:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </p:outputPanel>
                        </p:outputPanel>
                        <!--<h:form id="tableSegment">-->
                        <p:outputPanel class="ui-g-12 ui-lg-12">

                            <p:outputPanel class="ui-g-12 ui-lg-2">
                                <p:outputLabel value="Special field" style="margin-left: -8px"/><span style="color: red">*</span>
                            </p:outputPanel>
                            <p:outputPanel class="ui-g-12 ui-lg-7">
                                <p:outputLabel value=""/>
                            </p:outputPanel>
                            <p:outputPanel class="ui-g-12 ui-lg-3">
                                <p:selectBooleanCheckbox disabled="#{preProcessNumberRangeController.action eq false}" value="#{preProcessNumberRangeController.currentValue.equalAtEndValue}"
                                                         label="is equal at end value">
                                    <p:ajax  update="@([id$=specialField])" listener="#{preProcessNumberRangeController.changeEqualAtTheEnd()}"></p:ajax>
                                </p:selectBooleanCheckbox>
                                <span>Is equal at end value</span>
                            </p:outputPanel>
                            <div class="spacerHeight"/>
                            <p:inputText onchange="this.value = this.value.trim()" id="specialField" placeholder="" disabled="true"
                                         value="#{preProcessNumberRangeController.currentValue.specialFields}"
                                         title="#{preProcessNumberRangeController.currentValue.specialFields}"/>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12" style="margin-top: 25px">
                            <p:outputPanel class="ui-inputgroup">
                                <p:outputPanel style="border-bottom: 1px solid #5f666c; width: 100%;margin-bottom: 8px;">
                                </p:outputPanel>
                            </p:outputPanel>
                            <p:outputPanel class="ui-inputgroup">
                                <p:outputPanel class="ui-g-12 ui-lg-2">
                                    <p:outputLabel value="Default value" style="margin-left: -8px"/><span style="color: red">*</span>
                                </p:outputPanel>
                                <p:outputPanel class="ui-g-12 ui-lg-8">
                                    <p:selectOneMenu disabled="#{preProcessNumberRangeController.action eq false}"  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{preProcessNumberRangeController.currentValue.defaultValue}">
                                        <f:selectItem itemLabel="Choose value" itemValue=""/>
                                        <f:selectItems value="#{preProcessNumberRangeController.lstProcessValue}"
                                                       var="value"
                                                       itemLabel="#{value.valueName}"
                                                       itemDescription="#{value.valueName}"
                                                       itemValue="#{value.valueId}"/>
                                    </p:selectOneMenu>
                                </p:outputPanel>
                                <p:outputPanel class="ui-g-12 ui-lg-2">
                                    <p:commandButton disabled="#{preProcessNumberRangeController.action eq false}"  icon="fa fa-plus" value="Value"
                                                     style="float: right; margin-right:  -6px; width: auto;"
                                                     action="#{preProcessNumberRangeController.prepareToShowDefineValuePopup}"
                                                     update="@([id$=defineValueForm])"
                                                     oncomplete="PF('defineValueDialog').show();"/>
                                </p:outputPanel>
                            </p:outputPanel>
                            <p:outputPanel>
                                <div id="nomalDiv">
                                    <p:dataTable id="nomalTable" var="processParams"
                                                 value="#{preProcessNumberRangeController.lstProcessParams}"
                                                 selectionMode="single"
                                                 reflow="true"
                                                 widgetVar="nomalTable"
                                                 styleClass="table-campaign" style="margin-top: 10px ;max-height: 430px ; overflow-y: auto"
                                                 paginator="true" rows="10"
                                                 rowKey="#{processParams.processParamId}"
                                                 rowIndexVar="rowIndex"
                                                 emptyMessage="No nomalizer found with given criteria"
                                                 editable="true" editMode="cell"
                                                 rowsPerPageTemplate="5,10,15,20" lazy="false">
                                        <f:facet name="header">
                                            <p:outputLabel value="Normalizer table"
                                                           style="font-size: 14px; font-weight: bold ; float: left; margin-top: 15px"/>
                                            <span style="color: red ; float: left; margin-top: 15px">*</span>
                                            <p:commandButton disabled="#{preProcessNumberRangeController.action eq false}"  icon="fa fa-plus" value="Row"
                                                             style="float: right; margin-left: 5px;width: auto;"
                                                             action="#{preProcessNumberRangeController.addNomalizerTable()}"
                                                             update="@([id$=nomalTable])"
                                                             onstart="PF('nomalTable').paginator.setPage(0);"/>
                                        </f:facet>
                                        <p:column headerText="No" sortBy="#{rowIndex}" colspan="1">
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>
                                        <p:column headerText="Value Name"
                                                  colspan="2"  style="background-color: ##{processParams.valueColor}">
                                            <p:selectOneMenu disabled="#{preProcessNumberRangeController.action eq false}"  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{processParams.paramIndex}">
                                                <f:selectItem itemLabel="Choose value" itemValue="0"/>
                                                <f:selectItems value="#{preProcessNumberRangeController.lstProcessValue}"
                                                               var="value"
                                                               itemLabel="#{value.valueName}"
                                                               itemDescription="#{value.valueName}"
                                                               itemValue="#{value.valueId}"/>
                                                <p:ajax process="@this" update="@([id$=nomalTable])"
                                                        listener="#{preProcessNumberRangeController.onChangeValueName(processParams)}"></p:ajax>
                                            </p:selectOneMenu>
                                        </p:column>
                                        <p:column headerText="Is param" colspan="1">
                                            <p:selectBooleanCheckbox disabled="#{preProcessNumberRangeController.action eq false}" value="#{processParams.param}">
                                                <p:ajax process="@([id$=nomalTable])" update="@([id$=nomalTable]) , @([id$=specialField])" listener="#{preProcessNumberRangeController.changeParameter(processParams)}"></p:ajax>
                                            </p:selectBooleanCheckbox>
                                        </p:column>

                                        <p:column headerText="Start Value" colspan="2">
                                            <p:inputText disabled="#{preProcessNumberRangeController.action eq false}" onchange="this.value = this.value.trim()" value="#{processParams.value}"
                                                         title="#{processParams.value}"
                                                         onkeypress="updateTitle(this)"
                                                         rendered="#{processParams.param eq false}">
                                                <p:ajax  event="change" process="@this"  update="@this"></p:ajax>
                                            </p:inputText>
                                            <p:commandButton disabled="#{preProcessNumberRangeController.action eq false}"  value="Choose parameter"
                                                             title="Choose parameter"
                                                             action="#{preProcessNumberRangeController.prepareToShowParameterDialog(processParams,1)}"
                                                             update="@([id$=parameterTree])"
                                                             oncomplete="PF('parameterTreePopup').show();"
                                                             rendered="#{processParams.param eq true and processParams.value == null}">
                                            </p:commandButton>
                                            <p:commandLink value="#{processParams.value}"
                                                           title="#{processParams.value}"
                                                           action="#{preProcessNumberRangeController.prepareToShowParameterDialog(processParams,1)}"
                                                           update="@([id$=parameterTree])"
                                                           oncomplete="PF('parameterTreePopup').show();"
                                                           rendered="#{processParams.param eq true and processParams.value != null and preProcessNumberRangeController.action eq true}">
                                            </p:commandLink>
                                            <h:outputText value="#{processParams.value}"
                                                           title="#{processParams.value}"
                                                           rendered="#{processParams.param eq true and processParams.value != null and preProcessNumberRangeController.action eq false}">
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Is param" colspan="1">
                                            <p:selectBooleanCheckbox disabled="#{preProcessNumberRangeController.action eq false}" value="#{processParams.param2}">
                                                <p:ajax process="@([id$=nomalTable])" update="@([id$=nomalTable]), @([id$=specialField])" listener="#{preProcessNumberRangeController.changeParameter2(processParams)}"></p:ajax>
                                            </p:selectBooleanCheckbox>
                                        </p:column>
                                        <p:column headerText="End Value" colspan="2">
                                            <p:inputText disabled="#{preProcessNumberRangeController.action eq false}" onchange="this.value = this.value.trim()" value="#{processParams.value2}"
                                                         title="#{processParams.value2}"
                                                         onkeypress="updateTitle(this)"
                                                         rendered="#{processParams.param2 eq false}">
                                                <p:ajax  event="change" process="@this"  update="@this"></p:ajax>
                                            </p:inputText>
                                            <p:commandButton disabled="#{preProcessNumberRangeController.action eq false}"  value="Choose parameter"
                                                             title="Choose parameter"
                                                             action="#{preProcessNumberRangeController.prepareToShowParameterDialog(processParams,2)}"
                                                             update="@([id$=parameterTree])"
                                                             oncomplete="PF('parameterTreePopup').show();"
                                                             rendered="#{processParams.param2 eq true and processParams.value2 == null}">
                                            </p:commandButton>
                                            <p:commandLink 
                                                value="#{processParams.value2}"
                                                           title="#{processParams.value2}"
                                                           action="#{preProcessNumberRangeController.prepareToShowParameterDialog(processParams,2)}"
                                                           update="@([id$=parameterTree])"
                                                           oncomplete="PF('parameterTreePopup').show();"
                                                           rendered="#{processParams.param2 eq true and processParams.value2 != null and preProcessNumberRangeController.action eq true}">
                                            </p:commandLink>
                                            
                                            <h:outputText value="#{processParams.value2}"
                                                           title="#{processParams.value2}"
                                                           rendered="#{processParams.param2 eq true and processParams.value2 != null and preProcessNumberRangeController.action eq false}">
                                            </h:outputText>
                                            
                                        </p:column>
                                        <p:column headerText="Priority" colspan="2">
                                            <p:spinner disabled="#{preProcessNumberRangeController.action eq false}"  
                                                       onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
                                                       value="#{processParams.priority}" min="0">
                                                <p:ajax  event="change" process="@this"  update="@this"></p:ajax>
                                            </p:spinner>
                                        </p:column>
                                        <p:column headerText="Action" colspan="1">
                                            <p:commandLink disabled="#{preProcessNumberRangeController.action eq false}"  action="#{preProcessNumberRangeController.onRemoveNomalizerTable(processParams)}"
                                                           update="@([id$=nomalTable]),@([id$=remoteGrowl])">
                                                <h:outputText value="" class="ui-icon ui-icon-trash" style=" width: 100%;"/>
                                                <p:confirm header="Confirmation"
                                                           message="Are you sure to delete ?"
                                                           icon="fa fa-warning"/>
                                            </p:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </p:outputPanel>
                        </p:outputPanel>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputPanel style="border-bottom: 1px solid #5f666c; width: 100%;"/>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:commandButton id="resetForm" icon="fa fa-refresh" value="Reset"
                                         style="width:auto;float: right;"
                                         action="#{preProcessNumberRangeController.onReset()}"
                                         update="@([id$=mainContent]),@([id$=treeCategory])  "
                                         disabled="#{preProcessNumberRangeController.action eq false}">
                            <p:confirm header="Confirmation"
                                       message="Are you sure to reset this preprocess number range"
                                       icon="fa fa-warning"/>
                        </p:commandButton>
                        <p:commandButton id="saveForm"  icon="fa fa-floppy-o" value="Save" style="width:auto;float: right;"
                                         process="@this,@([id$=mainContent]) "
                                         action="#{preProcessNumberRangeController.onValidateObject()}"
                                         update="@([id$=remoteGrowl])"
                                         oncomplete="if (!args.validationFailed) PF('dlgConfirmSaveTemp').show();"
                                         disabled="#{preProcessNumberRangeController.action eq false}">
                        </p:commandButton>
                    </p:outputPanel>
                </h:form>
            </p:outputPanel>
        </p:panel>
    </p:outputPanel>

    <p:dialog header="Confirmation"
              widgetVar="dlgConfirmSaveTemp"
              id="dlgConfirmSaveTemp"
              modal="true"
              height="100">
        <h:outputText value="Are you sure to save this preprocess number range ?" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton disabled="#{preProcessNumberRangeController.action eq false}"  value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmSaveTemp').hide();"/>

                <p:commandButton disabled="#{preProcessNumberRangeController.action eq false}"  action="#{preProcessNumberRangeController.onSave()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 update="@([id$=remoteGrowl]),@([id$=mainContent]),@([id$=content]),@([id$=treeCategory]) "
                                 oncomplete="PF('dlgConfirmSaveTemp').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
<!--    <p:outputPanel class="ui-g ui-fluid" rendered="#{preProcessNumberRangeController.display eq false}">
        <p:graphicImage name="images/anh_nen.jpg"
                        style="height: calc(100vh - 90px) !important; overflow: auto; width: 100%"/>
    </p:outputPanel>-->
    <ui:include src="AddFilterPopup.xhtml"/>
    <ui:include src="ChoosePath.xhtml"/>
    <ui:include src="DefineValuePopup.xhtml"/>
    <ui:include src="ParameterTreePopup.xhtml"/>
    <ui:include src="zoneTreePopup.xhtml"/>
</html>