<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Dashboard</ui:define>

    <ui:define name="viewname">Dashboard</ui:define>

    <ui:define name="head">
           <script type="text/javascript">
               //<![CDATA[
               function skinChart() {
                   this.cfg.shadow = false;
                   this.cfg.title = '';
                   this.cfg.seriesColors = ['#00acac', '#3e96e7'];
                   this.cfg.grid = {
                       background: '#ffffff',
                       borderColor: '#ffffff',
                       gridLineColor: '#EEEEEE',
                       shadow: false
                   };
                   this.cfg.axesDefaults = {
                       rendererOptions: {
                           textColor: '#212121'
                       }
                   };
                   this.cfg.seriesDefaults = {
                       shadow: false,
                       lineWidth: 1,
                       markerOptions: {
                           shadow: false,
                           size: 7,
                           style: 'circle'
                       }
                   }
               }
               //]]>  
           </script>
           <style type="text/css">
               .main-content {
                   padding: 0;
               }
           </style>
       </ui:define>

    <ui:define name="content">
        <div class="ui-g dashboard">            
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card overview-box overview-box-1">
                    <div class="ui-g-4">
                        <i class="fa fa-inbox"></i>
                    </div>
                    <div class="ui-g-8">
                        <span class="overview-box-count">253</span>
                        <span class="overview-box-name">Unread Messages</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card overview-box overview-box-2">
                    <div class="ui-g-4">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="ui-g-8">
                        <span class="overview-box-count">3216</span>
                        <span class="overview-box-name">Check-ins</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card overview-box overview-box-3">
                    <div class="ui-g-4">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="ui-g-8">
                        <span class="overview-box-count">428</span>
                        <span class="overview-box-name">Files Synced</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card overview-box overview-box-4">
                    <div class="ui-g-4">
                        <i class="fa fa-key"></i>
                    </div>
                    <div class="ui-g-8">
                        <span class="overview-box-count">4</span>
                        <span class="overview-box-name">Login Attempts</span>
                    </div>
                </div>
            </div>
            
            <div class="ui-g-12 ui-md-6 ui-lg-4 task-list">
                <p:panel header="Tasks" style="min-height:360px">
                    <ul>
                        <li>
                            <p:selectBooleanCheckbox />
                            <span class="task-name">Sales Reports</span>
                            <i class="fa fa-briefcase"></i>
                        </li>
                        <li>
                            <p:selectBooleanCheckbox />
                            <span class="task-name">Pay Invoices</span>
                            <i class="fa fa-credit-card"></i>
                        </li>
                        <li>
                            <p:selectBooleanCheckbox />
                            <span class="task-name">Dinner with Tony</span>
                            <i class="fa fa-cutlery"></i>
                        </li>
                        <li>
                            <p:selectBooleanCheckbox />
                            <span class="task-name">Client Meeting</span>
                            <i class="fa fa-user"></i>
                        </li>
                        <li>
                            <p:selectBooleanCheckbox />
                            <span class="task-name">New Theme</span>
                            <i class="fa fa-paint-brush"></i>
                        </li>
                        <li>
                            <p:selectBooleanCheckbox />
                            <span class="task-name">Flight Ticket</span>
                            <i class="fa fa-fighter-jet"></i>
                        </li>
                        <li>
                            <p:selectBooleanCheckbox />
                            <span class="task-name">Generate Charts</span>
                            <i class="fa fa-area-chart"></i>
                        </li>
                    </ul>
                </p:panel>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid contact-form">
                <p:panel header="Contact Us" style="min-height:360px">
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" id="console" value="#{selectOneMenuView.console}" autoWidth="false">
                                <f:selectItem itemLabel="Select One" itemValue="" />
                                <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
                                <f:selectItem itemLabel="PS4" itemValue="PS4" />
                                <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
                            </p:selectOneMenu>
                        </div>
                        <div class="ui-g-12">
                            <p:inputText onchange="this.value = this.value.trim()" placeholder="Name"/>
                        </div>
                        <div class="ui-g-12">
                            <p:inputText onchange="this.value = this.value.trim()" placeholder="Age"/>
                        </div>
                        <div class="ui-g-12">
                            <p:inputText onchange="this.value = this.value.trim()" placeholder="Message"/>
                        </div>
                    </div>
                    <p:commandButton type="button" value="Send" icon="fa fa-paper-plane-o"></p:commandButton>
                </p:panel>
            </div>
            <div class="ui-g-12 ui-lg-4 contacts">
                <p:panel header="Contacts" style="min-height:360px">
                    <ul>
                        <li>
                            <a href="#">
                                <p:graphicImage name="images/avatar1.png" library="poseidon-layout" width="45"/>
                                <span class="name">Joshua Williams</span>
                                <span class="email">joshua@pf-poseidon.com</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p:graphicImage name="images/avatar2.png" library="poseidon-layout" width="45"/>
                                <span class="name">Emily Clark</span>
                                <span class="email">emily@pf-poseidon.com</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p:graphicImage name="images/avatar3.png" library="poseidon-layout" width="45"/>
                                <span class="name">Susan Johnson</span>
                                <span class="email">susan@pf-poseidon.com</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p:graphicImage name="images/avatar4.png" library="poseidon-layout" width="45"/>
                                <span class="name">Kelly Stark</span>
                                <span class="email">kelly@pf-poseidon.com</span>
                            </a>
                        </li>
                    </ul>
                </p:panel>
            </div>
            
            <div class="ui-g-12 ui-md-4">
                <div class="card timeline ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-3">
                            <span class="event-time">just now</span>
                            <i class="fa fa-map-signs" style="color:#009688"></i>
                        </div>
                        <div class="ui-g-9">
                            <span class="event-owner" style="color:#009688">Katherine May</span>
                            <span class="event-text">Lorem ipsun dolor amet</span>
                            <div class="event-content">
                                <p:graphicImage name="images/dashboard/bridge.png" library="poseidon-layout" width="100"/>
                            </div>
                        </div>
                        
                        <div class="ui-g-3">
                            <span class="event-time">12h ago</span>
                            <i class="fa fa-star" style="color:#f1b263"></i>
                        </div>
                        <div class="ui-g-9">
                            <span class="event-owner" style="color:#f1b263">Brandon Santos</span>
                            <span class="event-text">Ab nobis, magnam sunt eum. Laudantium, repudiandae, similique!.</span>
                        </div>
                        
                        <div class="ui-g-3">
                            <span class="event-time">15h ago</span>
                            <i class="fa fa-comment" style="color:#2f8ee5"></i>
                        </div>
                        <div class="ui-g-9">
                            <span class="event-owner" style="color:#2f8ee5">Stephan Ward</span>
                            <span class="event-text">Omnis veniam quibusdam ratione est repellat qui nam quisquam ab mollitia dolores ullam voluptates, similique, dignissimos.</span>
                        </div>
                        
                        <div class="ui-g-3">
                            <span class="event-time">2d ago</span>
                            <i class="fa fa-marker" style="color:#2f8ee5"></i>
                        </div>
                        <div class="ui-g-9">
                            <span class="event-owner" style="color:#2f8ee5">Jason Smith</span>
                            <span class="event-text">Laudantium, repudiandae, similique!</span>
                            <div class="event-content">
                                <p:graphicImage name="images/dashboard/map.png" library="poseidon-layout" />
                            </div>
                        </div>
                        
                        <div class="ui-g-3">
                            <span class="event-time">1w ago</span>
                            <i class="fa fa-heart" style="color:#6c76af"></i>
                        </div>
                        <div class="ui-g-9">
                            <span class="event-owner">Kevin Cox</span>
                            <span class="event-text">Quibusdam ratione est repellat qui nam quisquam veniam quibusdam ratione.</span>
                        </div>
                        
                        <div class="ui-g-3">
                            <span class="event-time">2w ago</span>
                            <i class="fa fa-history" style="color:#2d353c"></i>
                        </div>
                        <div class="ui-g-9">
                            <span class="event-owner" style="color:#2d353c">Walter White</span>
                            <span class="event-text">I am the one who knocks!</span>
                        </div>
                        
                        <div class="ui-g-12">
                            <p:commandButton type="button" value="Refresh" icon="ui-icon-refresh" />
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="ui-g-12 ui-md-8">
                <div class="card">
                    <h:form>
                        <p:dataTable var="car" value="#{dtBasicView.cars}" selectionMode="single" rowKey="#{car.id}" reflow="true" style="margin-bottom:20px">
                            <f:facet name="header">Recent Sales</f:facet>
                            <p:column headerText="Id" sortBy="#{car.id}">
                                <h:outputText value="#{car.id}" />
                            </p:column>

                            <p:column headerText="Year" sortBy="#{car.year}">
                                <h:outputText value="#{car.year}" />
                            </p:column>

                            <p:column headerText="Brand" sortBy="#{car.brand}">
                                <h:outputText value="#{car.brand}" />
                            </p:column>
                            
                            <p:column headerText="Color" sortBy="#{car.color}">
                                <h:outputText value="#{car.color}" />
                            </p:column>
                        </p:dataTable>   
                        
                        <p:panel header="Sales Graph">
                            <p:chart type="line" model="#{chartDemoView.lineModel1}" responsive="true"/>
                        </p:panel>
                    </h:form>
                </div>
            </div>
            
            <div class="ui-g-12 ui-md-8">
                <p:panel header="Calendar" style="height:100%">
                    <p:schedule value="#{scheduleView.eventModel}"/>
                </p:panel>
            </div>
            <div class="ui-g-12 ui-md-4">
                <p:panel header="Activity" style="height:100%">
                    <div class="activity-header">
                        <div class="ui-g">
                            <div class="ui-g-6">
                                <span style="font-weight:bold">Last Activity</span>
                                <p>Updated 1 minute ago</p>
                            </div>
                            <div class="ui-g-6" style="text-align:right">
                                <p:commandButton type="button" icon="fa fa-refresh" />
                            </div>
                        </div>
                    </div>
                    <ul class="activity-list">
                        <li>
                            <div class="count">$900</div>
                            <div class="ui-g">
                                <div class="ui-g-6">Income</div>
                                <div class="ui-g-6">95%</div>
                            </div>
                        </li>
                        <li>
                            <div class="count" style="background-color:#00acac">$250</div>
                            <div class="ui-g">
                                <div class="ui-g-6">Tax</div>
                                <div class="ui-g-6">24%</div>
                            </div>
                        </li>
                        <li>
                            <div class="count" style="background-color:#2f8ee5">$125</div>
                            <div class="ui-g">
                                <div class="ui-g-6">Invoices</div>
                                <div class="ui-g-6">55%</div>
                            </div>
                        </li>
                        <li>
                            <div class="count" style="background-color:#f1b263">$250</div>
                            <div class="ui-g">
                                <div class="ui-g-6">Expenses</div>
                                <div class="ui-g-6">15%</div>
                            </div>
                        </li>
                        <li>
                            <div class="count" style="background-color:#6c76af">$350</div>
                            <div class="ui-g">
                                <div class="ui-g-6">Bonus</div>
                                <div class="ui-g-6">5%</div>
                            </div>
                        </li>
                        <li>
                            <div class="count" style="background-color:#2f8ee5">$500</div>
                            <div class="ui-g">
                                <div class="ui-g-6">Revenue</div>
                                <div class="ui-g-6">25%</div>
                            </div>
                        </li>
                    </ul>
                </p:panel>
            </div>
        </div>
    </ui:define>

</ui:composition>