<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Group Define"
              widgetVar="groupDefineSegmentId" 
              id="groupDefineSegmentId" 
              responsive="true" 
              modal="true">
        <f:facet name="header">
            <i class="fa fa-cogs" style="font-size: 14px;"></i>
            <h:outputText value="Group Define" style="margin-left:10px;"/>
        </f:facet>
        <h:form  style="width: 635px; height: auto; overflow: auto">

            <p:outputPanel class="ui-g-12 ui-lg-4">
                <p:outputLabel value="Operator"/><span style="color: red">*</span>

            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-4" >
                <p:outputLabel />
                <div class="spacerHeight"/>
                <p:selectOneMenu value="#{campaignEvaluationInfoController.nodeDefineDTO.operatorDT}"
                                 style="margin-bottom:10px;">          
                    <f:selectItem itemValue="and" itemLabel="AND"/>
                    <f:selectItem itemValue="or" itemLabel="OR"/>
                    <f:selectItem itemValue="not" itemLabel="NOT"/>
                </p:selectOneMenu>
            </p:outputPanel>


            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton icon="fa fa-remove" value="Cancel"
                                     style="width:auto;float: right;"
                                     process="@this"
                                     oncomplete="PF('groupDefineSegmentId').hide();"/>
                    <p:commandButton 
                        style="width:auto;float: right;" 
                        icon="fa fa-floppy-o" value="Apply"
                        update="@([id$=remoteGrowl])"
                        oncomplete="PF('dlgConfirmGroupDefineSegmentId').show();">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog header="Confirmation" widgetVar="dlgConfirmGroupDefineSegmentId" modal="true" height="100" >
        <h:outputText value="Are you sure to take action?" />
        <p:outputPanel class="ui-g-12 ui-lg-12" >
            <p:outputLabel class="ui-g-12 ui-lg-12" style="border-bottom: 1px solid #a8acb1; width: 100%"  />
        </p:outputPanel>
        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmGroupDefineSegmentId').hide();"/>

                <p:commandButton 
                    style="width:auto;float: right;"
                    value="Yes"
                    action="#{campaignEvaluationInfoController.saveOrEditGroupSegment()}"
                    process="@this"
                    update="@([id$=treeFuzzySegment]),@([id$=displayExpressionSegment]),@([id$=listButtonSegmentId])"
                    oncomplete="PF('dlgConfirmGroupDefineSegmentId').hide();PF('groupDefineSegmentId').hide();">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>


</html>