<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Segment"
              widgetVar="editSegmentEvaluationId" 
              id="editSegmentEvaluationId" 
              responsive="true" modal="true">
        <f:facet name="header">
            <i class="fa fa-users" style="font-size: 14px;"></i>
            <h:outputText value="Segment" style="margin-left:10px;"/>
        </f:facet>
        <h:form style="height: 900px !important;width: 1200px !important;overflow-x: hidden">
            <div style="height: 400px !important">
                <p:outputPanel class="ui-g ui-fluid">
                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Id"/>
                        <div class="spacerHeight"/>
                        <p:inputText disabled="true"
                                     onchange="this.value = this.value.trim()" placeholder="Id"
                                     value="#{campaignEvaluationInfoController.segmentEvaluationInfoEdit.segmentEvaluationInfoId}">
                        </p:inputText>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Campaign EvaluationInfo"/>
                        <div class="spacerHeight"/>
                        <p:inputText disabled="true"
                                     onchange="this.value = this.value.trim()"
                                     value="#{campaignEvaluationInfoController.campaignEvaluationInfo.campaignEvaluationInfoName}"
                                     title="#{campaignEvaluationInfoController.campaignEvaluationInfo.campaignEvaluationInfoName}"
                                     onkeyup="updateTitle(this)">
                        </p:inputText>

                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Segment Name"/><span style="color: red">*</span>
                        <p:commandButton action="#{campaignEvaluationInfoController.buildCampaignForSegment()}"
                                         disabled="#{campaignEvaluationInfoController.disableSegmentEvaluationInfo eq true}"
                                         update="@([id$=chooseSegment])"
                                         oncomplete="PF('chooseSegment').show()"
                                         title="Choose Segment"
                                         icon="fa fa-thumbs-up" 
                                         style="float: right; margin-bottom:5px;width: auto;height: 30px"
                                         value="choose"/>
                        <div class="spacerHeight"/>
                        <p:inputText id="segmentNameId"
                                     disabled="true"
                                     onchange="this.value = this.value.trim()"
                                     placeholder="segment name"
                                     value="#{campaignEvaluationInfoController.segment.name}"
                                     title="#{campaignEvaluationInfoController.segment.name}"
                                     onkeyup="updateTitle(this)">
                        </p:inputText>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-3">
                        <p:outputLabel value="Reasoning Method"/><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:selectOneMenu disabled="#{campaignEvaluationInfoController.disableSegmentEvaluationInfo eq true}"
                                         value="#{campaignEvaluationInfoController.segmentEvaluationInfoEdit.segmentReasioningMethod}"
                                         style="margin-top: 5px">          
                            <f:selectItem itemValue="1" itemLabel="WEIGHTED_VOTE" itemDescription="WEIGHTED_VOTE"/>
                            <f:selectItem itemValue="2" itemLabel="SINGLE_WINNER" itemDescription="SINGLE_WINNER"/>
                        </p:selectOneMenu>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-3">
                        <div style="margin-bottom: 5px">
                            <p:outputLabel value="Segment Weight"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                        </div>
                        <p:inputNumber style="margin-top: 20px !important"
                                       disabled="#{campaignEvaluationInfoController.disableSegmentEvaluationInfo eq true}"
                                       onchange="this.value = this.value.trim()"
                                       placeholder="segment weight"
                                       value="#{campaignEvaluationInfoController.segmentEvaluationInfoEdit.segmentWeight}">
                        </p:inputNumber>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputLabel value="Description"/>
                        <div class="spacerHeight"/>
                        <p:inputText disabled="#{campaignEvaluationInfoController.disableSegmentEvaluationInfo eq true}"
                                     placeholder="description"
                                     onchange="this.value = this.value.trim()" 
                                     value="#{campaignEvaluationInfoController.segmentEvaluationInfoEdit.description}"
                                     title="#{campaignEvaluationInfoController.segmentEvaluationInfoEdit.description}"
                                     onkeyup="updateTitle(this)">
                        </p:inputText>
                    </p:outputPanel>
                </p:outputPanel>
                <!--Choose Rule-->
                <p:outputPanel class="ui-g-12 ui-lg-12" style="padding-top: 30px;">


                    <p:outputPanel style="border-bottom: 1px solid #a8acb1; width: 100%;display: flex;align-items: center">
                        <p:outputPanel class="demo">
                            <span id="icon" style="font-size: 24px;color: #0066B3"
                                  class="fa fa-cube"></span>
                        </p:outputPanel>


                        <p:outputLabel value="Choose Rule" style="font-size: 24px !important; font-weight: bold;margin-left: 10px;padding-bottom: 0"/> <span
                            style="color: red;flex: 1;line-height: 34px">*</span>
                        <span id="icondown" style="font-size: 24px; font-weight: bold"
                              class="fa fa-fw fa-angle-down"></span>
                        <script>
                            $('#icondown').click(function () {
                                $('#devRuleSegmentTable').toggle("slow");
                            });
                        </script>

                    </p:outputPanel>

                    <div id="devRuleSegmentTable">
                        <p:dataTable id="ruleSegmentTable" 
                                     var="item" 
                                     value="#{campaignEvaluationInfoController.listRuleEvaluationInfoOfSegment}"
                                     rowIndexVar="rowIndex"
                                     styleClass="table-campaign" 
                                     paginator="true" rows="10"
                                     rowsPerPageTemplate="5,10,15,20" lazy="false">

                            <f:facet name="header">
                                <p:outputLabel value="List Rule" style="float: left; font-weight: bold; font-size: 16px"/>
                                <p:commandButton  icon="fa fa-plus" style="float: right; margin-left: 5px;width: auto;"
                                                  value="Rule"
                                                  title="Create Rule Evaluation Info"
                                                  action="#{campaignEvaluationInfoController.prepareCreateRuleSegment()}"
                                                  disabled="#{campaignEvaluationInfoController.disableSegmentEvaluationInfo eq true}"
                                                  update="@([id$=assessmentRuleSegmentId]),@([id$=remoteGrowl])"
                                                  oncomplete="if (!args.validationFailed) PF('assessmentRuleSegmentId').show()"/>
                            </f:facet>
                            <p:column headerText="Index" style="text-align: center">
                                <h:outputText value="#{rowIndex+1}"/>
                            </p:column>

                            <p:column headerText="Rule Name" style="text-align: center">
                                <h:outputText id="ruleTableName" value="#{item.value}" title="#{item.valueName}"/>

                            </p:column>

                            <p:column headerText="Reasoning method" style="text-align: center">
                                <h:outputText id="ReasioningMethod" value="#{item.ruleReasioningMethod == 1 ? 'WEIGHTED_VOTE' : item.ruleReasioningMethod == 2 ? 'SINGLE_WINNER':''}" 
                                              title="#{item.ruleReasioningMethod == 1 ? 'WEIGHTED_VOTE' : item.ruleReasioningMethod == 2 ? 'SINGLE_WINNER':''}"/>
                            </p:column>

                            <p:column headerText="Rule Weight" style="text-align: center">
                                <h:outputText id="reuleWeight" value="#{item.ruleWeight}" title="#{item.ruleWeight}"/>
                            </p:column>

                            <p:column headerText="Action">
                                <p:outputPanel class="ui-g-12 ui-lg-4">
                                    <p:commandLink action="#{campaignEvaluationInfoController.showRuleSegment(item)}"
                                                   update="@([id$=assessmentRuleSegmentId])"
                                                   title="View Rule Evaluation Info"
                                                   oncomplete="PF('assessmentRuleSegmentId').show()">
                                        <h:outputText class="pi pi-eye"  style=" width: 100%;float: right;font-size: 20px;"/>
                                    </p:commandLink>
                                </p:outputPanel>
                                <p:outputPanel class="ui-g-12 ui-lg-4">
                                    <p:commandLink action="#{campaignEvaluationInfoController.prepareEditRuleSegment(item)}"
                                                   disabled="#{campaignEvaluationInfoController.disableSegmentEvaluationInfo eq true}"
                                                   update="@([id$=assessmentRuleSegmentId])"
                                                   title="Edit Rule Evaluation Info"
                                                   oncomplete="PF('assessmentRuleSegmentId').show()">
                                        <h:outputText class="ui-icon ui-icon-pencil"  style=" width: 100%;float: right;"/>
                                    </p:commandLink>
                                </p:outputPanel>

                                <p:outputPanel class="ui-g-12 ui-lg-4">
                                    <p:commandLink action="#{campaignEvaluationInfoController.deleteRuleSegment(item)}"
                                                   title="Delete Rule Evaluation Info"
                                                   disabled="#{campaignEvaluationInfoController.disableSegmentEvaluationInfo eq true}"
                                                   update="@([id$=ruleSegmentTable]),@([id$=remoteGrowl])">
                                        <h:outputText class="ui-icon ui-icon-trash"  style=" width: 100%;float: left;"/>
                                        <p:confirm header="Confirmation" message="Are you sure to delete rule evaluation?" icon="ui-icon-alert" />
                                    </p:commandLink>
                                </p:outputPanel>


                            </p:column>
                        </p:dataTable>

                    </div>
                </p:outputPanel>
                <!--   Result   -->
                <p:outputPanel class="ui-g-12 ui-lg-12" style="padding-top: 30px;">
                    <p:outputPanel style="border-bottom: 1px solid #a8acb1; width: 100%;display: flex;align-items: center">
                        <p:outputPanel class="demo">
                            <span id="icon" style="font-size: 24px;color: #0066B3"
                                  class="fa fa-flag-checkered"></span>
                        </p:outputPanel>


                        <p:outputLabel value="Create Result" style="font-size: 24px !important; font-weight: bold;margin-left: 10px;padding-bottom: 0"/> <span
                            style="color: red;flex: 1;line-height: 34px">*</span>
                        <span id="icondown1" style="font-size: 20px;font-weight: bold"
                              class="fa fa-fw fa-angle-down"></span>
                        <script>
                            $('#icondown1').click(function () {
                                $('#devResultSegment').toggle("slow");
                            });
                        </script>

                    </p:outputPanel>

                    <div id="devResultSegment">
                        <p:dataTable id="resulSegmentTable" 
                                     var="item" 
                                     value="#{campaignEvaluationInfoController.listResultClassOfSement}"
                                     rowIndexVar="rowIndex"
                                     styleClass="table-campaign" 
                                     paginator="true" rows="10"
                                     rowsPerPageTemplate="5,10,15,20" lazy="false">

                            <f:facet name="header">
                                <p:outputLabel value="List Result" style="float: left; font-weight: bold; font-size: 16px"/>
                                <p:commandButton  icon="fa fa-plus" style="float: right; margin-left: 5px;width: auto;"
                                                  action="#{campaignEvaluationInfoController.prepareCreateResultClassSegmemnt()}"
                                                  disabled="#{campaignEvaluationInfoController.disableSegmentEvaluationInfo eq true}"
                                                  update="@([id$=resulSegmentTable]),@([id$=remoteGrowl])"
                                                  value="Result"
                                                  title="Create Result Class"/>
                            </f:facet>
                            <p:column headerText="Index" style="text-align: center">
                                <h:outputText value="#{rowIndex+1}"/>
                            </p:column>

                            <p:column headerText="Result Id" style="text-align: center">
                                <h:outputText id="resultIdSegment" value="#{item.classId}" title="#{item.classId}"/>

                            </p:column>

                            <p:column headerText="Result Name" style="text-align: center">
                                <p:inputText  onchange="this.value = this.value.trim()"
                                              id="resultName"
                                              style="text-align: center"
                                              value="#{item.className}"
                                              placeholder="result name"
                                              title="#{item.className}">
                                    <p:ajax event="change" process="@([id$=resultName])" update="@([id$=resultName]),@([id$=fuzzyName])" listener="#{campaignEvaluationInfoController.editResultClassNameSegment()}"/>
                                </p:inputText>
                            </p:column>

                            <p:column headerText="Description" style="text-align: center">
                                <p:inputText onchange="this.value = this.value.trim()"
                                             id="resultDescriptionSegment"
                                             style="text-align: center"
                                             value="#{item.description}"
                                             placeholder="description"
                                             title="#{item.description}">
                                    <p:ajax event="change" process="@([id$=resulSegmentTable])" update="@([id$=resulSegmentTable])" listener="#{campaignEvaluationInfoController.editResultClassDecriptionSegment()}" />
                                </p:inputText>
                            </p:column>

                            <p:column headerText="Action"> 
                                <p:outputPanel class="ui-g-12 ui-lg-12">
                                    <p:commandLink action="#{campaignEvaluationInfoController.deleteResultClassSegment(item)}"
                                                   disabled="#{campaignEvaluationInfoController.disableSegmentEvaluationInfo eq true}"
                                                   update="@([id$=resulSegmentTable]),@([id$=remoteGrowl])"
                                                   title="Delete Result Class">
                                        <h:outputText class="ui-icon ui-icon-trash"  style=" width: 100%;float: left;"/>
                                        <p:confirm header="Confirmation" message="Are you sure to delete this result class?" icon="ui-icon-alert" />
                                    </p:commandLink>
                                </p:outputPanel>
                            </p:column>
                        </p:dataTable>
                    </div>
                </p:outputPanel>
                <!-- FuzzyRule -->

                <p:outputPanel class="ui-g-12 ui-lg-12" style="padding-top: 30px;">
                    <p:outputPanel style="border-bottom: 1px solid #a8acb1; width: 100%;display: flex;align-items: center">
                        <p:outputPanel class="demo">
                            <span id="icon" style="font-size: 24px;color: #0066B3"
                                  class="fa fa-balance-scale"></span>

                        </p:outputPanel>
                       
                            <p:outputLabel value="Create Fuzzy" style="font-size: 24px !important; font-weight: bold;margin-left: 10px;padding-bottom: 0"/> <span
                                style="color: red;flex:1;line-height: 34px">*</span>
                            <span id="icondown2" style="font-size: 20px;float: right; font-weight: bold"
                                  class="fa fa-fw fa-angle-down"></span>
                            <script>
                                $('#icondown2').click(function () {
                                    $('#devFuzzySegment').toggle("slow");
                                });
                            </script>
                        
                    </p:outputPanel>
                    <div id="devFuzzySegment">
                        <p:dataTable id="fuzzyClassSegment" 
                                     var="item" 
                                     value="#{campaignEvaluationInfoController.listFuzzyRuleOfSegment}"
                                     rowIndexVar="rowIndex"
                                     styleClass="table-campaign" 
                                     paginator="true" rows="10"
                                     rowsPerPageTemplate="5,10,15,20" lazy="false">

                            <f:facet name="header">
                                <p:outputLabel value="List Rule" style="float: left; font-weight: bold; font-size: 16px"/>
                                <p:commandButton  icon="fa fa-plus" style="float: right; margin-left: 5px;width: auto;"
                                                  action="#{campaignEvaluationInfoController.prepareCreateFuzzySegment()}"
                                                  title="Create Fuzzy Rule"
                                                  disabled="#{campaignEvaluationInfoController.disableSegmentEvaluationInfo eq true}"
                                                  update="@([id$=fuzzyRuleDialogSegmentId]),@([id$=remoteGrowl])"
                                                  oncomplete="if (!args.validationFailed) PF('fuzzyRuleDialogSegmentId').show()"
                                                  value="Fuzzy"/>
                            </f:facet>
                            <p:column headerText="Index" style="text-align: center">
                                <h:outputText value="#{rowIndex+1}"/>
                            </p:column>

                            <p:column headerText="Class Name" style="text-align: center">
                                <h:outputText id="fuzzyName" value="#{item.valueName}" title="#{item.valueMaxName}"/>
                            </p:column>

                            <p:column headerText="Fuzzy Expression" style="text-align: center">
                                <h:outputText id="fuzzydisplayExpression" value="#{item.value}" title="#{item.valueMax}"/>
                            </p:column>

                            <p:column headerText="Fuzzy Operator" style="text-align: center">
                                <h:outputText id="fuzzyfuzzyOperator" value="#{item.fuzzyOperator == 1 ? 'MAX/MIN' : item.fuzzyOperator == 2 ? 'PROD/PROBOR': ''}"
                                              title="#{item.fuzzyOperator == 1 ? 'MAX/MIN' : item.fuzzyOperator == 2 ? 'PROD/PROBOR': ''}"/>
                            </p:column>

                            <p:column headerText="Fuzzy Weight" style="text-align: center">
                                <h:outputText id="fuzzyweight" value="#{item.weight}"/>
                            </p:column>

                            <p:column headerText="Action">
                                <p:outputPanel class="ui-g-12 ui-lg-4">
                                    <p:commandLink action="#{campaignEvaluationInfoController.showFuzzySegment(item)}"
                                                   update="@([id$=fuzzyRuleDialogSegmentId])"
                                                   title="View Fuzzy Rule"
                                                   oncomplete="PF('fuzzyRuleDialogSegmentId').show()">
                                        <h:outputText class="pi pi-eye"  style=" width: 100%;float: right;font-size: 20px;"/>
                                    </p:commandLink>
                                </p:outputPanel>
                                <p:outputPanel class="ui-g-12 ui-lg-4">
                                    <p:commandLink action="#{campaignEvaluationInfoController.prepareEditFuzzySegment(item)}"
                                                   disabled="#{campaignEvaluationInfoController.disableSegmentEvaluationInfo eq true}"
                                                   update="@([id$=fuzzyRuleDialogSegmentId]),@([id$=remoteGrowl])"
                                                   title="Edit Fuzzy Rule"
                                                   oncomplete="if (!args.validationFailed) PF('fuzzyRuleDialogSegmentId').show()">
                                        <h:outputText class="ui-icon ui-icon-pencil"  style=" width: 100%;float: right;"/>
                                    </p:commandLink>
                                </p:outputPanel>

                                <p:outputPanel class="ui-g-12 ui-lg-4">
                                    <p:commandLink action="#{campaignEvaluationInfoController.deleteFuzzyRuleSegment(item)}"
                                                   disabled="#{campaignEvaluationInfoController.disableSegmentEvaluationInfo eq true}"
                                                   update="@([id$=fuzzyClassSegment])"
                                                   title="Delete Fuzzy Rule">
                                        <h:outputText class="ui-icon ui-icon-trash"  style=" width: 100%;float: left;"/>
                                        <p:confirm header="Confirmation" message="Are you sure to delete this fuzzy rule?" icon="ui-icon-alert" /> 
                                    </p:commandLink>
                                </p:outputPanel>
                            </p:column>
                        </p:dataTable>
                    </div>
                </p:outputPanel>
            </div>

            <div class="card card-w-title" style="height: 100px">
                <p:outputPanel class="ui-g-12 ui-lg-12" rendered="#{campaignEvaluationInfoController.disableSegmentEvaluationInfo eq false}">
                    <p:commandButton icon="fa fa-undo" value="Cancel"
                                     style="width:auto;float: right;"
                                     process="@this"
                                     oncomplete="PF('editSegmentEvaluationId').hide();"/>
                    <p:commandButton 
                        style="width:auto;float: right;" 
                        icon="fa fa-check" value="Apply"
                        action="#{campaignEvaluationInfoController.validateSegmentEvaluationInfo()}"
                        update="@([id$=remoteGrowl])"
                        oncomplete="if (!args.validationFailed) PF('dlgConfirmSegmentEvaluationId').show();">
                    </p:commandButton>
                </p:outputPanel>
            </div>

        </h:form>

    </p:dialog>


    <p:dialog header="Confirmation" widgetVar="dlgConfirmSegmentEvaluationId" modal="true" height="100" >
        <h:outputText value="Are you want to save this  Segment?" />
        <p:outputPanel class="ui-g-12 ui-lg-12" >
            <p:outputLabel class="ui-g-12 ui-lg-12" style="border-bottom: 1px solid #a8acb1; width: 100%"  />
        </p:outputPanel>
        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmSegmentEvaluationId').hide();"/>

                <p:commandButton 

                    style="width:auto;float: right;"
                    value="Yes" 
                    process="@this"
                    action="#{campaignEvaluationInfoController.saveSegmentEvaluationInfo()}"
                    update="@([id$=segmentTbale]),@([id$=remoteGrowl]),@([id$=fuzzyTable])"
                    oncomplete="PF('editSegmentEvaluationId').hide(),PF('dlgConfirmSegmentEvaluationId').hide()" >
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
</html>