<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <p:dialog header="Variable Define"
              widgetVar="variableDefineDialoga" id="variableDefineDialoga" responsive="true" modal="true">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Variable Define" style="margin-left:10px;"/>
        </f:facet>
        <h:form id="addVeriablePopup" style="width: 800px !important;overflow-y: auto;">
            <p:outputPanel style="height: 600px">
                <p:outputPanel class="ui-g ui-fluid">
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel value="Variable Name"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText 
                                title="#{ppuEvaluationController.inputFieldVariableMap.variableName}"
                                id="variableName"
                                readonly="true"
                                value="#{ppuEvaluationController.inputFieldVariableMap.variableName}">
                            </p:inputText>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-8" style="margin-top: 30px !important">
                            <p:outputPanel >
                                <p:outputLabel value="Input mode" style="float: left;margin-right: 35px;margin-top: 3px;margin-left: 55px"/>
                                <p:selectOneRadio 
                                    disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}"
                                    value="#{ppuEvaluationController.inputFieldVariableMap.isInputMode}" 
                                    style="float: left">
                                    <f:selectItem itemValue="1" itemLabel="Object"/>
                                    <f:selectItem itemValue="2" itemLabel="Function"/>
                                    <p:ajax update="@([id$=chooseInputMode]),@([id$=path]),@([id$=functionTable]),@([id$=pathTable]),@([id$=variableName])" listener="#{ppuEvaluationController.changeInputMode}"/>
                                </p:selectOneRadio>
                            </p:outputPanel>
                        </p:outputPanel>
                    </p:outputPanel>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputLabel value="Path"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText id="path" readonly="true" title="#{ppuEvaluationController.inputFieldVariableMap.variableValue}"
                                 value="#{ppuEvaluationController.inputFieldVariableMap.variableValue}" >
                    </p:inputText>
                </p:outputPanel>

                <p:outputPanel id="chooseInputMode">
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputPanel>
                            <p:outputPanel style="overflow: auto;" rendered="#{ppuEvaluationController.inputFieldVariableMap.isInputMode == 1}">

                                <p:outputLabel value="Path Table"
                                               style="font-size: 14px; font-weight: bold ; float: left;  width: auto;"/>
                                <span style="color: red ; float: left;">*</span>
                                <p:commandButton 
                                    action="#{ppuEvaluationController.addChildPath()}"
                                    update="@([id$=pathTable]),@([id$=remoteGrowl]),@([id$=path])"
                                    disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}" icon="fa fa-plus" value="Child path"
                                    style="float: right; margin-left: 5px; width: auto;"
                                    />
                                <p:commandButton 
                                    oncomplete="PF('pathTreePopup').show()"
                                    update="@([id$=pathTreePopup])"
                                    action="#{ppuEvaluationController.showTreeNode}"
                                    disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}" icon="fa fa-wrench" value="Path"
                                    style="float: right; width: auto;"
                                    />
                            </p:outputPanel>
                            <p:dataTable 
                                rendered="#{ppuEvaluationController.inputFieldVariableMap.isInputMode == 1}"
                                value="#{ppuEvaluationController.lstPath}"
                                id="pathTable"
                                selectionMode="single"
                                scrollable="true"
                                scrollHeight="300"
                                reflow="true"
                                var="path"
                                rowIndexVar="rowIndex"
                                rowKey=""
                                styleClass="table-campaign" style="margin-top: 10px"
                                widgetVar="pathTable"
                                editable="true">
                                <p:column 
                                    style="text-align: center"
                                    headerText="Index" sortBy="#{rowIndex}" colspan="1">
                                    <h:outputText value="#{rowIndex+1}"/>
                                </p:column>


                                <p:column 
                                    style="text-align: center"
                                    headerText="Path/Child Path"
                                    colspan="3">
                                    <div style="margin-top: 8px"/>
                                    <p:selectOneMenu  disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}"
                                                      title="#{path.inputObject.objectId}"
                                                      syncTooltip="true"
                                                      filterMatchMode="contains"
                                                      filter="true"
                                                      value="#{path.inputObject.objectId}">
                                        <p:ajax update="@([id$=path]),@([id$=pathTable])" listener="#{ppuEvaluationController.changePathRowOnTable(rowIndex)}"/>
                                        <f:selectItem itemLabel="Choose node"  itemValue="-1" itemDescription="Choose node"/>
                                        <f:selectItems 
                                            itemDescription="#{item.objectName}"
                                            itemValue="#{item.objectId}"
                                            itemLabel="#{item.objectName}"
                                            value="#{path.lstEvaluationInputObject}"
                                            var="item"/>
                                    </p:selectOneMenu>
                                    <div style="margin-bottom: 8px"/>
                                </p:column>


                                <p:column colspan="3"
                                          style="text-align: center"
                                          headerText="Filter">
                                    <p:commandLink
                                        update="@([id$=addFilterPopup]),@([id$=remoteGrowl])"
                                        action="#{ppuEvaluationController.prepareDataToShowFilterTable(path)}"
                                        oncomplete="if(!args.validationFailed) PF('addFilterPopup').show()"
                                        value="#{path.filter}" style="width: auto"
                                        rendered="#{path.filter == null or path.filter == ''}"
                                        >
                                        <h:outputText value="" class="ui-icon ui-icon-plus"  style=" width: 100%;"/>
                                    </p:commandLink>
                                    <p:commandButton
                                        icon="fa fa-edit"
                                        update="@([id$=addFilterPopup])"
                                        action="#{ppuEvaluationController.prepareDataToShowFilterTable(path)}"
                                        oncomplete="PF('addFilterPopup').show()"
                                        value="Edit filter"
                                        style="width:34%;padding-left: 18px"
                                        title="#{path.filter}"
                                        rendered="#{path.filter != null and path.filter != ''}"
                                        >

                                    </p:commandButton>

                                </p:column>

                                <p:column headerText="Action" colspan="1">
                                    <p:commandLink disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}"
                                                   action="#{ppuEvaluationController.prepareDeletePathRow(path,rowIndex)}"
                                                   update="@([id$=pathTable]),@([id$=path])"
                                                   >
                                        <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                                        <p:confirm header="Confirmation"
                                                   message="Are you sure to remove this path?"
                                                   icon="fa fa-warning"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                            <p:outputPanel rendered="#{ppuEvaluationController.inputFieldVariableMap.isInputMode == 2}" style="overflow: auto">
                                <p:outputLabel value="Function Table" 
                                               style="font-size: 14px; font-weight: bold ; float: left;  width: auto;"/>
                                <span style="color: red ; float: left;">*</span>
                                <p:commandButton  
                                    disabled="#{ppuEvaluationController.action eq false or ppuEvaluationController.view eq false}"
                                    icon="fa fa-plus" value="Function"
                                    action="#{ppuEvaluationController.preapareAddFunction}"
                                    style="float: right; margin-right: 1px; width: auto;"
                                    update="@([id$=functionTable1])"
                                    />

                            </p:outputPanel>
                            <div id="pathFunction">
                                <p:dataTable 
                                    rendered="#{ppuEvaluationController.inputFieldVariableMap.isInputMode == 2}"
                                    id="functionTable1"
                                    scrollable="true"
                                    scrollHeight="300"
                                    selectionMode="single"
                                    reflow="true"
                                    var="function"
                                    rowIndexVar="rowIndex"
                                    rowKey=""
                                    value="#{ppuEvaluationController.functions}"
                                    styleClass="table-campaign" style="margin-top: 10px"
                                    widgetVar="functionTable1"

                                    editable="true">
                                    <p:column 
                                        style="text-align: center"
                                        headerText="Index" sortBy="#{rowIndex}" colspan="1">
                                        <h:outputText value="#{rowIndex+1}"/>
                                    </p:column>


                                    <p:column 
                                        style="text-align: center"
                                        headerText="Function Name"
                                        colspan="3">
                                        <div style="margin-top: 8px"/>
                                        <p:selectOneMenu 
                                            disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}"
                                            syncTooltip="true"
                                            filterMatchMode="contains"  filter="true"
                                            value="#{function.functionId}">
                                            <f:selectItem itemValue="-1" itemLabel="Choose function" itemDescription="Choose function"/>
                                            <f:selectItems 
                                                value="#{rowIndex == 0 ? ppuEvaluationController.lstFunctionDataTypeOne : ppuEvaluationController.lstFunctionData}"
                                                var="item"
                                                itemDescription="#{item.functionDisplay}"
                                                itemValue="#{item.functionId}"
                                                itemLabel="#{item.functionDisplay}"
                                                />
                                            <p:ajax update="@([id$=functionTable1]),@([id$=path])" listener="#{ppuEvaluationController.changedFunctionTableName(function)}"/>
                                        </p:selectOneMenu>
                                        <div style="margin-bottom: 8px"/>
                                    </p:column>


                                    <p:column 
                                        style="text-align: center;"
                                        headerText="Function Parameter" colspan="4">

                                        <p:repeat value="#{function.lstFunctionParam}" var="params" >
                                            <div style="margin-top: 8px"/>
                                            <p:inputText onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '));" value="#{params.fieldValueString}"
                                                         title="#{params.fieldValueString}"
                                                         onkeyup="updateTitle(this)"
                                                         rendered="#{params.valueType eq 1}"
                                                         disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}">
                                                <p:ajax update="@([id$=path]),@([id$=pathFunction])" process="@([id$=functionTable1])" listener="#{ppuEvaluationController.onFunctionChange()}"/>
                                            </p:inputText>
                                            <p:spinner  value="#{params.fieldValueNumber}"
                                                        rendered="#{params.valueType eq 2}"
                                                        title="#{params.fieldValueNumber}"
                                                        onkeyup="$(this).val($(this).val().replace(/[^-+0-9]/g, ''));updateTitle(this)"
                                                        disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}">
                                                <p:ajax update="@([id$=path]),@([id$=pathFunction])" process="@([id$=functionTable1])" listener="#{ppuEvaluationController.onFunctionChange()}"/>

                                            </p:spinner>
                                            <p:calendar style="min-width: 300px;" showOn="button"
                                                        value="#{params.fieldValueDate}"
                                                        onkeyup="updateTitle(this)"
                                                        title="#{params.fieldValueDate}"
                                                        pattern="yyyy/MM/dd HH:mm:ss" rendered="#{params.valueType eq 3}"
                                                        disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}">
                                                <p:ajax event="keyup" delay="500" update="@([id$=path])" listener="#{ppuEvaluationController.onFunctionChange()}"/>
                                                <p:ajax event="dateSelect" process="@([id$=functionTable1])" update="@([id$=path]),@([id$=pathFunction])"  listener="#{ppuEvaluationController.onFunctionChange}" />

                                            </p:calendar>
                                            <p:commandButton
                                                disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}"
                                                value="#{params.fieldZoneName eq null ? 'Choose zone' : params.value}"
                                                title="#{params.fieldZoneName eq null ? 'Choose zone' : params.valueMax}"
                                                action="#{ppuEvaluationController.prepareChooseZone(params)}"
                                                update="@([id$=zoneTreePopup1])"
                                                id="chooseZone1"
                                                oncomplete="PF('zoneTreePopup1').show();"
                                                rendered="#{params.valueType  eq 4}"/>
                                            <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{params.fieldZoneMapId}"
                                                              style="min-width: auto;"
                                                              onkeyup="updateTitle(this)"
                                                              rendered="#{ params.valueType  eq 5}"
                                                              disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}">
                                                <p:ajax update="@([id$=path]),@([id$=pathFunction])" process="@([id$=functionTable1])" listener="#{ppuEvaluationController.onFunctionChange()}"/>
                                                <f:selectItem itemValue="-1" itemLabel="Choose value" itemDescription="Choose value"/>
                                                <f:selectItems value="#{ppuEvaluationController.lstZoneMap}"
                                                               var="zoneMap"
                                                               itemLabel="#{zoneMap.zoneMapName}"
                                                               itemDescription="#{zoneMap.zoneMapName}"
                                                               itemValue="#{zoneMap.zoneMapId}"/>
                                            </p:selectOneMenu>
                                            <p:inputText  value="#{params.valueStringDouble}" 
                                                          title="#{params.valueStringDouble}" 
                                                          rendered="#{params.valueType eq 6}"
                                                          onkeyup="$(this).val($(this).val().replace(/[^-+0-9.]/g, ''));updateTitle(this);"
                                                          disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}" >
                                                <f:validateDoubleRange minimum="-1.79769313486231570E+307" maximum="1.79769313486231570E+307"/>
                                                <p:ajax update="@([id$=path]),@([id$=pathFunction]),@this" listener="#{ppuEvaluationController.onFunctionChange()}" process="@([id$=functionTable1])"/>
                                            </p:inputText>
                                            <div style="margin-bottom: 8px"/>
                                        </p:repeat>

                                    </p:column>

                                    <p:column headerText="Action" colspan="1">
                                        <p:commandLink disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}" 
                                                       action="#{ppuEvaluationController.preapareDeleteFunctionTable(function,rowIndex)}"
                                                       update="@([id$=addVeriablePopup])"
                                                       >
                                            <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                                            <p:confirm header="Confirmation"
                                                       message="Are you sure to delete ?"
                                                       icon="fa fa-warning"/>

                                        </p:commandLink>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </p:outputPanel>
                    </p:outputPanel>
                </p:outputPanel>


            </p:outputPanel>

            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton 
                        icon="fa fa-undo"
                        value="Cancel"
                        style="width:auto;float: right; margin-left: 5px"
                        oncomplete="PF('variableDefineDialoga').hide()">
                        <i class="pi pi-undo"></i>
                    </p:commandButton>
                    <p:commandButton 
                        icon="fa fa-check"
                        value="Apply" style="width:auto;float: right;"
                        oncomplete="if(!args.validationFailed) PF('DefineConfirmation').show();"
                        update="@([id$=remoteGrowl])"
                        action="#{ppuEvaluationController.onSaveInputFieldVariable()}"
                        disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}">
                    </p:commandButton>
                </p:outputPanel>
            </div>

        </h:form>
    </p:dialog>

    <p:dialog header="Confirmation"
              widgetVar="DefineConfirmation"
              id="DefineConfirmation"
              modal="true"
              width="214"
              height="100">
        <div style="margin-top: 15px"/>
        <i class="fa fa-exclamation-triangle" style="margin-left: 8px; font-size: 1.15em;"></i>
        <h:outputText value="Are you sure to apply ?" 
                      style="margin:3px ">
        </h:outputText>
        <div style="background: #95b4d0; height: 1px;width: 115%;margin-top: 20px;position: relative;left:-14px;"/>
        <p:outputPanel class="ui-g-12 ui-lg-12">
            <p:commandButton value="No"
                             style="width:auto;float: right;margin-left: 2px"
                             oncomplete="PF('DefineConfirmation').hide();"/>

            <p:commandButton style="width:auto;float: right;"
                             value="Yes"
                             action="#{ppuEvaluationController.onsaveVariableDefine}"
                             update="@([id$=variableDefineDialoga]),@([id$=variableNameTable])"
                             oncomplete="PF('DefineConfirmation').hide(),PF('variableDefineDialoga').hide()">
            </p:commandButton>
        </p:outputPanel>
    </p:dialog>
</html>