<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Variable Define"
              widgetVar="valueDefaultDialog" id="valueDefaultDialog" responsive="true" modal="true">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Value Define" style="margin-left:10px;"/>
        </f:facet>
        <h:form style="width: 800px !important;height: 500px">

            <p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputPanel>
                        <p:outputPanel  style="overflow: auto">
                            <p:outputLabel value="Value Table"
                                           style="font-size: 14px; font-weight: bold ; float: left;  width: auto;"/>
                            <span style="color: red ; float: left;">*</span>
                            <p:commandButton disabled="#{ppuEvaluationController.action eq false}" icon="fa fa-plus" value="Row"
                                             style="float: right; margin-right: 1px; width: auto;"
                                             update="@([id$=valueTable])"
                                             action="#{ppuEvaluationController.prepareAddRowValueTable()}"
                                             />

                        </p:outputPanel>
                        <p:dataTable 
                            value="#{ppuEvaluationController.lstProcessValueNew}"
                            id="valueTable"
                            paginator="true" rows="10"
                            rowsPerPageTemplate="10,15,20" lazy="false"
                            selectionMode="single"
                            scrollable="true"
                            scrollHeight="300"
                            reflow="true"
                            var="item"
                            rowIndexVar="rowIndex"
                            rowKey=""
                            styleClass="table-campaign" style="margin-top: 10px"
                            widgetVar="valueTable"
                            editable="true">
                            <p:column 
                                style="text-align: center"
                                headerText="Value Id" colspan="1">
                                <p:inputText value="#{item.valueId}" readonly="true" id="valueId">
                                    <p:ajax  event="change" process="@this"  update="@([id$=valueId])"></p:ajax></p:inputText>
                            </p:column>


                            <p:column 
                                style="text-align: center"
                                headerText="Value Name"
                                colspan="2">
                                <p:inputText  onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '));" id="valueName" value="#{item.valueName}" placeholder="Value Name" title="#{item.valueName}">
                                    <p:ajax  event="change" process="@this"  update="@([id$=valueName])"></p:ajax>
                                </p:inputText>
                            </p:column>


                            <p:column 
                                style="text-align: center"
                                headerText="Value Color" colspan="2">
                                <p:outputPanel class="ui-g-12 ui-lg-9">
                                    <p:inputText onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '));" placeholder="Value Color"
                                                 value="#{item.valueColor}"
                                                 id="valueColor"
                                                 title="#{item.valueColor}">
                                        <p:ajax  event="keyup"  update="@this,@([id$=colorPicker])"></p:ajax>
                                    </p:inputText>
                                </p:outputPanel>
                                <p:outputPanel class="ui-g-12 ui-lg-3">
                                    <p:colorPicker value="#{item.valueColor}" id="colorPicker">

                                        <p:ajax  event="change"   update="@([id$=valueColor])"></p:ajax>
                                    </p:colorPicker>
                                </p:outputPanel>

                            </p:column>

                            <p:column 
                                style="text-align: center"
                                headerText="Description" colspan="2">
                                <p:inputText value="#{item.description}" title="#{item.description}" placeholder="Description" onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '));"
                                             id="description"
                                             >
                                    <p:ajax  event="change" process="@this"  update="@([id$=description])"></p:ajax></p:inputText>
                            </p:column>

                            <p:column headerText="Action" colspan="1">
                                <p:commandLink 
                                    oncomplete="if(!args.validationFailed) PF('ValueDefineDeleteConfirmation').show()"
                                    disabled="#{ppuEvaluationController.action eq false}"          
                                    update="@([id$=remoteGrowl])"
                                    action="#{ppuEvaluationController.prepareDeleteRowValueTable(item)}"
                                    >
                                    <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>

                                </p:commandLink>

                            </p:column>
                        </p:dataTable>
                    </p:outputPanel>
                </p:outputPanel>



            </p:outputPanel>
        </h:form>
        <p:outputPanel class="ui-g-12 ui-lg-12">

            <p:commandButton 
                icon="fa fa-check" value="Apply" style="width:auto;float: right;"
                oncomplete="if(!args.validationFailed) PF('ValueDefineConfirmation').show();"
                action="#{ppuEvaluationController.validationProcessValue()}"
                update="@([id$=remoteGrowl])"
                disabled="#{ppuEvaluationController.action eq false}">
            </p:commandButton>




        </p:outputPanel>
    </p:dialog>

    <p:dialog header="Confirmation"
              widgetVar="ValueDefineConfirmation"
              id="ValueDefineConfirmation"
              modal="true"
              height="auto"
              width="214"
              >
        <div style="margin-top: 15px"/>
        <i class="fa fa-exclamation-triangle" style="margin-left: 8px; font-size: 1.15em;"></i>
        <h:outputText value="Are you sure to apply ?" 
                      style="margin:3px ">
        </h:outputText>
        <div style="background: #95b4d0; height: 1px;width: 115%;margin-top: 20px;position: relative;left:-14px;"/>
        <p:outputPanel class="ui-g-12 ui-lg-12">
            <p:commandButton value="No"
                             style="width:auto;float: right;margin-left: 2px"
                             oncomplete="PF('ValueDefineConfirmation').hide();"/>

            <p:commandButton style="width:auto;float: right;"
                             action="#{ppuEvaluationController.onSaveValueDefault}"
                             value="Yes"
                             update="@([id$=defaultValue]),@([id$=mainContent]),@([id$=remoteGrowl])"
                             >
            </p:commandButton>
        </p:outputPanel>
    </p:dialog>
    <p:dialog header="Confirmation"
              widgetVar="ValueDefineDeleteConfirmation"
              id="ValueDefineDeleteConfirmation"
              modal="true"
              height="100"
              width="214">
        <div style="margin-top: 15px"/>
        <i class="fa fa-exclamation-triangle" style="margin-left: 8px; font-size: 1.15em;"></i>
        <h:outputText value="Are you sure to delete ?" 
                      style="margin:3px ">
        </h:outputText>
        <div style="background: #95b4d0; height: 1px;width: 115%;margin-top: 20px;position: relative;left:-14px;"/>
        <p:outputPanel class="ui-g-12 ui-lg-12">
            <p:commandButton value="No"
                             style="width:auto;float: right;margin-left: 2px"
                             oncomplete="PF('ValueDefineDeleteConfirmation').hide();"/>

            <p:commandButton style="width:auto;float: right;margin-right: 5px"
                             update="@([id$=valueTable]),@([id$=remoteGrowl])"
                             action="#{ppuEvaluationController.deleteValueTable()}"
                             value="Yes"
                             oncomplete="PF('ValueDefineDeleteConfirmation').hide()">

            </p:commandButton>
        </p:outputPanel>
    </p:dialog>


</html>