<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="fromTree">
        <div class="title-wrap">
            <div class="title-name">PPU Evaluation List</div>
        </div>       
        <p:tree filterMatchMode="contains"  id="treeCategory" var="node"
                value="#{ppuEvaluationController.rootNode}" 
                filterBy="#{node.filter}"
                selectionMode="single" 
                selection="#{ppuEvaluationController.selectedNode}" 
                style="height: calc(100vh - 101px) !important; border: 0px solid; padding: 0px;width: 100%;overflow: auto;">
            <p:ajax event="select" 
                    listener="#{ppuEvaluationController.prepareEditWhenClick()}"
                    update="@([id$=content]),@([id$=mainForm]), @([id$=carDialog]), @([id$=specialFields])"/>

            <p:treeNode type="category" expandedIcon="ui-icon-folder-open" 
                        collapsedIcon="ui-icon-folder-collapsed">
                <h:outputText value="#{node.name}" title="#{node.name}"/>
            </p:treeNode>

            <p:treeNode type="object" icon="ui-icon-document">
                <h:outputText value="#{node.preProcessName}" title="#{node.preProcessName}" id="objectName"/>
            </p:treeNode>
            <p:ajax event="expand" listener="#{ppuEvaluationController.onNodeExpand}"></p:ajax>
            <p:ajax event="collapse" listener="#{ppuEvaluationController.onNodeCollapse}"></p:ajax>
        </p:tree>

        <p:contextMenu for="treeCategory" nodeType="category" style="width: auto;">
            <p:menuitem icon="fa fa-floppy-o" 
                        value="Create category" 
                        action="#{ppuEvaluationController.prepareCreateCategory()}"
                        update="@([id$=carDialog]),@([id$=categoryConfirm]),@([id$=treeCategory])"
                        oncomplete="PF('carDialog').show();"/>
            <p:menuitem icon="fa fa-refresh" 
                        action="#{ppuEvaluationController.prepareEditCategory()}"
                        value="Edit category"
                        update="@([id$=carDialog]),@([id$=categoryConfirm])"
                        oncomplete="PF('carDialog').show();"/>
            <p:menuitem icon="fa fa-trash" 
                        value="Delete category"
                        oncomplete="if(!args.validationFailed) PF('DeleteConfirmationCategory').show()"
                        action="#{ppuEvaluationController.inValidCategoryNode()}"
                        update="@([id$=fromTree]),@([id$=remoteGrowl])" >
            </p:menuitem>
            <p:menuitem icon="fa fa-plus" value="Create ppu evaluation"
                        action="#{ppuEvaluationController.prepareAddPPUEvaluation()}"
                        update="@([id$=mainContent])"  />
        </p:contextMenu>

        <p:contextMenu for="treeCategory" nodeType="object" style="width: auto;">
            <p:menuitem icon="fa fa-refresh" 
                        value="Edit ppu evaluation" 
                        action="#{ppuEvaluationController.prepareEdit()}"
                        update="@([id$=mainContent])"/>
            <p:menuitem 
                oncomplete="if(!args.validationFailed) PF('ppuDeleteConfirmation').show()"
                icon="fa fa-trash" 
                value="Delete ppu evaluation" 
                action="#{ppuEvaluationController.validateDeletePPU()}"
                update="@([id$=remoteGrowl])" >
            </p:menuitem>
        </p:contextMenu>

    </h:form>
    <p:dialog header="Confirmation"
              widgetVar="ppuDeleteConfirmation"
              id="ppuDeleteConfirmation"
              modal="true"
              width="214"
              height="100">
        <div style="margin-top: 15px"/>
        <i class="fa fa-exclamation-triangle" style="margin-left: 8px; font-size: 1.15em;"></i>
        <h:outputText value="Are you sure to delete ?" 
                      style="margin:3px ">
        </h:outputText>
        <div style="background: #95b4d0; height: 1px;width: 115%;margin-top: 20px;position: relative;left:-14px;"/>
        <p:outputPanel class="ui-g-12 ui-lg-12">
            <p:commandButton value="No"
                             style="width:auto;float: right;margin-left: 2px"
                             oncomplete="PF('ppuDeleteConfirmation').hide();"/>
            <p:commandButton style="width:auto;float: right;"
                             action="#{ppuEvaluationController.prepareDeletePPUEvaluation()}"
                             update="@([id$=fromTree]),@([id$=remoteGrowl]),@([id$=mainContent])"
                             value="Yes"
                             oncomplete="PF('ppuDeleteConfirmation').hide();"
                             >
            </p:commandButton>
        </p:outputPanel>
    </p:dialog>
    <p:dialog header="Confirmation"
              widgetVar="DeleteConfirmationCategory"
              id="DeleteConfirmationCategory"
              modal="true"
              width="214"
              height="100">
        <div style="margin-top: 15px"/>
        <i class="fa fa-exclamation-triangle" style="margin-left: 8px; font-size: 1.15em;"></i>
        <h:outputText value="Are you sure to delete ?" 
                      style="margin:3px ">
        </h:outputText>
        <div style="background: #95b4d0; height: 1px;width: 115%;margin-top: 20px;position: relative;left:-14px;"/>
        <p:outputPanel class="ui-g-12 ui-lg-12">
            <p:commandButton value="No"
                             style="width:auto;float: right;margin-left: 2px"
                             oncomplete="PF('DeleteConfirmationCategory').hide();"/>

            <p:commandButton style="width:auto;float: right;"
                             action="#{ppuEvaluationController.doDeleteCategory()}"
                             update="@([id$=fromTree]),@([id$=remoteGrowl]),@([id$=mainContent])"
                             value="Yes"
                             oncomplete="PF('DeleteConfirmationCategory').hide();"
                             >
            </p:commandButton>
        </p:outputPanel>
    </p:dialog>
    <ui:include src="categoryCreateOrEditPopup.xhtml" />


</html>