<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="fromTree">

        <div class="title-wrap">
            <div class="title-name">Campaign Evaluation List</div>
        </div>
        <!--habm2-end-->



        <p:tree filterMatchMode="contains"  id="treeCategory" var="node"
                value="#{campaignEvaluationInfoController.rootNode}"
                filterBy="#{node.filter}"
                selectionMode="single" 
                selection="#{campaignEvaluationInfoController.selectedNode}"
                style="height: calc(100vh - 101px) !important; border: 0px solid; padding: 0px;width: 100%;overflow: auto;">
            <p:ajax event="select" 
                    listener="#{campaignEvaluationInfoController.prepareEditWhenClick()}"
                    update="@([id$=mainContent]),@([id$=carDialog])"/>

            <p:treeNode type="category" expandedIcon="ui-icon-folder-open" 
                        collapsedIcon="ui-icon-folder-collapsed">
                <h:outputText value="#{node.name}" title="#{node.name}"/>
            </p:treeNode>

            <p:treeNode type="object" icon="ui-icon-document">
                <h:outputText value="#{node.campaignEvaluationInfoName}"  title="#{node.campaignEvaluationInfoName}"/>
            </p:treeNode>
            <p:ajax event="expand" listener="#{campaignEvaluationInfoController.onNodeExpand}"></p:ajax>
            <p:ajax event="collapse" listener="#{campaignEvaluationInfoController.onNodeCollapse}"></p:ajax>
        </p:tree>

        <p:contextMenu for="treeCategory" nodeType="category" style="width: auto;">
            <p:menuitem icon="fa fa-floppy-o" 
                        value="Create category" 
                        action="#{campaignEvaluationInfoController.preapreCreateCategory()}"
                        update="@([id$=carDialog]),@([id$=categoryConfirm])"
                        oncomplete="PF('carDialog').show()"/>
            <p:menuitem icon="fa fa-refresh" 
                        value="Edit category"
                        action="#{campaignEvaluationInfoController.preapreUpdateCategory()}"
                        update="@([id$=carDialog]),@([id$=categoryConfirm])"
                        oncomplete="PF('carDialog').show()"/>
            <p:menuitem icon="fa fa-trash" 
                        value="Delete category" 
                        action="#{campaignEvaluationInfoController.deleteCategory()}"
                        update="@([id$=content]),@([id$=remoteGrowl])">
                <p:confirm header="Confirmation" message="You definitely want to delete ?" icon="ui-icon-alert"/>
            </p:menuitem>
            <p:menuitem icon="fa fa-plus" 
                        value="Create campaign Evaluation" 
                        action="#{campaignEvaluationInfoController.prepareCreateCampaignEvaluationInfo()}"
                        update="@([id$=mainContent])"/>
        </p:contextMenu>

        <p:contextMenu for="treeCategory" nodeType="object" style="width: auto;">
            <p:menuitem icon="fa fa-refresh" 
                        value="Edit campaign Evaluation" 
                        action="#{campaignEvaluationInfoController.prepareEditCampaignEvaluationInfo()}"
                        update="@([id$=mainContent])"/>
            <p:menuitem icon="fa fa-trash" 
                        value="Delete campaign Evaluation" 
                        action="#{campaignEvaluationInfoController.deleteCampaignEvaluationInfo()}"
                        update="@([id$=content])">
                <p:confirm header="Confirmation" message="Do you want to delete this campaign EvaluationInfo?" icon="ui-icon-alert"/>
            </p:menuitem>
        </p:contextMenu>

    </h:form>




</html>