<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces" />

    <p:outputPanel class="ui-g ui-fluid" 
                   style="height: calc(100vh - 67px) !important; overflow: auto;margin-right: -9px; margin-left: -9px; margin-top: -20px"
                   rendered="#{campaignEvaluationInfoController.disPlay}">
        <p:panel class="ui-g-12" style="border-radius: 5px !important">
            <div class="title-wrap">
                <div class="title-name">Campaign Evaluation</div>
                <div class="title-action">
                    <h:form>
                        <p:outputLabel for="editSw" value="Edit" styleClass="title-lb"/>
                        <p:inputSwitch id="editSw" label="Edit" styleClass="title-sw" style="position: sticky !important;"
                                       value="#{campaignEvaluationInfoController.action}">
                            <p:ajax update="@([id$=resetForm]),@([id$=saveForm]),@([id$=mainContent])"></p:ajax>
                        </p:inputSwitch>
                    </h:form>
                </div>
            </div>
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <h:form id="mainForm">

                    <!--    THONG TIN CAMPAIGN EVALUATION   -->
                    <p:outputPanel class="ui-g-12 ui-lg-12">

                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel value="Category"/>
                            <div class="spacerHeight"/>
                            <p:selectOneMenu disabled="#{campaignEvaluationInfoController.action eq false}"
                                             filterMatchMode="contains"  filter="true" 
                                             syncTooltip="true" 
                                             value="#{campaignEvaluationInfoController.campaignEvaluationInfo.categoryId}"
                                             style="margin-bottom:10px;">

                                <f:selectItems value="#{campaignEvaluationInfoController.categories}"
                                               var="item"
                                               itemLabel="#{item.name}" itemDescription="#{item.name}"
                                               itemValue="#{item.categoryId}"/>
                            </p:selectOneMenu>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel value="Id"/>
                            <div class="spacerHeight"/>
                            <p:inputText disabled="true"
                                         onchange="this.value = this.value.trim()"
                                         value="#{campaignEvaluationInfoController.campaignEvaluationInfo.campaignEvaluationInfoId}">
                            </p:inputText>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel value="Name"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText  disabled="#{campaignEvaluationInfoController.action eq false}"
                                          id="campaignEvaluationInfoNameId"
                                          placeholder="Name"
                                          value="#{campaignEvaluationInfoController.campaignEvaluationInfo.campaignEvaluationInfoName}"
                                          title="#{campaignEvaluationInfoController.campaignEvaluationInfo.campaignEvaluationInfoName}"
                                          onkeypress="updateTitle(this)">
                                <p:ajax event="change" 
                                        listener="#{campaignEvaluationInfoController.editNameCampaignEvaluationInfo()}"
                                        update="@([id$=ownerNameRuleEvaluationId]),@([id$=campaignEvaluationInfoNameId])"/>
                            </p:inputText>
                            <p:focus for="campaignEvaluationInfoNameId" ></p:focus>
                        </p:outputPanel>


                    </p:outputPanel>   

                    <p:outputPanel  class="ui-g-12 ui-lg-12">

                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel value="Schedule"/><span style="color: red">*</span> 
                            <p:commandButton action="#{campaignEvaluationInfoController.prepareEditOrCreateCampaignSchedule()}"
                                             disabled="#{campaignEvaluationInfoController.action eq false}"
                                             icon="fa fa-thumbs-up" 
                                             style="float: right; margin-bottom:5px;width: auto;"
                                             value="Create/Edit"
                                             title="Create or Edit Campaign Schedule"
                                             update="@([id$=campaignScheduleId])"
                                             oncomplete="PF('campaignScheduleId').show()"
                                             />
                            <div class="spacerHeight"/>

                            <p:inputText  id="scheduleNameId"
                                          disabled="true"
                                          value="#{campaignEvaluationInfoController.campaignEvaluationInfo.scheduleName}"
                                          title="#{campaignEvaluationInfoController.campaignEvaluationInfo.scheduleName}">
                            </p:inputText>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel value="Campaign"/><span style="color: red">*</span>
                            <p:commandButton   disabled="#{campaignEvaluationInfoController.action eq false}"
                                               icon="fa fa-thumbs-up"
                                               style="float: right; margin-bottom:5px;width: auto;"
                                               action="#{campaignEvaluationInfoController.buildCampaignTree()}"
                                               value="Choose"
                                               title="Choose Campaign"
                                               update="@([id$=chooseCampaign])"
                                               oncomplete="PF('chooseCampaign').show()"/>
                            <div class="spacerHeight"/>

                            <p:inputText  id="campaignNameId"
                                          disabled="true"
                                          value="#{campaignEvaluationInfoController.campaign.name}" 
                                          title="#{campaignEvaluationInfoController.campaign.name}"
                                          onkeypress="updateTitle(this)">
                            </p:inputText>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-4" style="padding-top: 50px">
                            <p:selectBooleanCheckbox disabled="#{campaignEvaluationInfoController.action eq false}"
                                                     value="#{campaignEvaluationInfoController.campaignEvaluationInfo.isDefault}">
                                <p:ajax event="change" 
                                        update="@([id$=mainContent])" listener="#{campaignEvaluationInfoController.chooseDefaultOrNotDefault()}"></p:ajax>
                            </p:selectBooleanCheckbox>
                            <p:outputLabel value=" Is Default Evaluation"/>
                        </p:outputPanel>

                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputLabel value="Description"/>
                        <div class="spacerHeight"/>
                        <p:inputText disabled="#{campaignEvaluationInfoController.action eq false}"
                                     id="campaignEvaluationInfoDescriptionId"
                                     placeholder="Description"
                                     value="#{campaignEvaluationInfoController.campaignEvaluationInfo.description}" 
                                     title="#{campaignEvaluationInfoController.campaignEvaluationInfo.description}" 
                                     onkeypress="updateTitle(this)">
                            <p:ajax event="change" 
                                    listener="#{campaignEvaluationInfoController.editDescriptionCampaignEvaluationInfo()}"
                                    update="@([id$=campaignEvaluationInfoDescriptionId])"/>
                        </p:inputText>

                    </p:outputPanel>                      
                    <!--    END THONG TIN CHUNG CAMPAIGN EVALUATION    -->

                    <!--               LEVEL SEGMENT                   -->
                    <p:outputPanel class="ui-g-12 ui-lg-12"  rendered="#{!campaignEvaluationInfoController.campaignEvaluationInfo.isDefault}">
                        <p:outputPanel style="border-bottom: 1px solid #a8acb1; width: 100%;display: flex;align-items: center">

                            <p:outputPanel>
                                <span  style="font-size: 24px;color: #0066B3"
                                       ><i class="fa fa-users" /></span>
                            </p:outputPanel>
                            <p:outputLabel value="LEVEL SEGMENT" style="font-size: 24px !important; font-weight: bold;flex: 1;padding-bottom: 0;margin-left: 10px"/> 
                            <span id="iconToggleAll" style="font-size: 20px; font-weight: bold"
                                  class="fa fa-fw fa-angle-double-down"></span>
                            <script>
                                $('#iconToggleAll').click(function () {
                                    $('#segmentEnd').toggle("slow");
                                });
                            </script>
                        </p:outputPanel>
                        <div id="segmentEnd">
                            <p:outputPanel>

                                <p:dataTable id="segmentTbale" 
                                             var="item" 
                                             value="#{campaignEvaluationInfoController.listSegmentEvaluationInfo}"
                                             rowIndexVar="rowIndex"
                                             styleClass="table-campaign" 
                                             paginator="true" rows="10"
                                             rowsPerPageTemplate="5,10,15,20" lazy="false">

                                    <f:facet name="header">
                                        <p:outputLabel value="List apply" style="float: left; font-weight: bold; font-size: 16px"/><span
                                            style="color: red;float: left;margin-left: 5px;">*</span>
                                        <p:commandButton  disabled="#{campaignEvaluationInfoController.action eq false}"
                                                          action="#{campaignEvaluationInfoController.prepareCreateSegmentEvaluationInfo()}"
                                                          icon="fa fa-plus" 
                                                          title="Create Segment Evaluation Info"
                                                          style="float: right; margin-left: 5px;width: auto;"
                                                          value="Segment"
                                                          update="@([id$=editSegmentEvaluationId]),@([id$=remoteGrowl])"
                                                          oncomplete="if (!args.validationFailed) PF('editSegmentEvaluationId').show()"/>
                                    </f:facet>
                                    <p:column headerText="Index" style="text-align: center">
                                        <h:outputText value="#{rowIndex+1}"/>
                                    </p:column>

                                    <p:column headerText="Segment Name" style="text-align: center">
                                        <h:outputText id="segmentName" value="#{item.value}" title="#{item.valueName}"/>

                                    </p:column>

                                    <p:column headerText="Reasoning Method" style="text-align: center">
                                        <h:outputText id="reasioningMethod" value="#{item.segmentReasioningMethod == 1 ? 'WEIGHTED_VOTE' :item.segmentReasioningMethod == 2 ? 'SINGLE_WINNER' : '' }"
                                                      title="#{item.segmentReasioningMethod == 1 ? 'WEIGHTED_VOTE' :item.segmentReasioningMethod == 2 ? 'SINGLE_WINNER' : '' }"/>

                                    </p:column>

                                    <p:column headerText="Segment Weight" style="text-align: center">
                                        <h:outputText id="segmentWeight" value="#{item.segmentWeight}" title="#{item.segmentWeight}"/>
                                    </p:column>

                                    <p:column headerText="Action" style="text-align: center">
                                        <p:outputPanel class="ui-g-12 ui-lg-4">
                                            <p:commandLink action="#{campaignEvaluationInfoController.showSegmentEvaluationInfo(item)}"
                                                           update="@([id$=editSegmentEvaluationId])"
                                                           title="View Segment Evalutontin Infor"
                                                           oncomplete="PF('editSegmentEvaluationId').show()">
                                                <h:outputText class="pi pi-eye"  style=" width: 100%;float: right;font-size: 20px;"/>
                                            </p:commandLink>
                                        </p:outputPanel>
                                        <p:outputPanel class="ui-g-12 ui-lg-4">
                                            <p:commandLink action="#{campaignEvaluationInfoController.prepareEditSegmentEvaluationInfo(item)}"
                                                           disabled="#{campaignEvaluationInfoController.action eq false}"
                                                           update="@([id$=editSegmentEvaluationId]),@([id$=remoteGrowl])"
                                                           title="Edit Segment Evalutontin Infor"
                                                           oncomplete="if (!args.validationFailed) PF('editSegmentEvaluationId').show()">
                                                <h:outputText class="ui-icon ui-icon-pencil"  style=" width: 100%;float: right;"/>
                                            </p:commandLink>
                                        </p:outputPanel>

                                        <p:outputPanel class="ui-g-12 ui-lg-4">
                                            <p:commandLink action="#{campaignEvaluationInfoController.deleteSegmentEvaluation(item)}"
                                                           disabled="#{campaignEvaluationInfoController.action eq false}"
                                                           title="Delete Segment Evalutontin Infor"
                                                           update="@([id$=segmentTbale]),@([id$=remoteGrowl])">
                                                <h:outputText class="ui-icon ui-icon-trash"  style=" width: 100%;float: left;"/>
                                                <p:confirm header="Confirmation" message="Are you sure to delete segment ?" icon="ui-icon-alert" />
                                            </p:commandLink>
                                        </p:outputPanel>


                                    </p:column>
                                </p:dataTable>

                            </p:outputPanel>
                        </div>
                    </p:outputPanel>

                    <!--            END SEGMENT              -->

                    <p:outputPanel class="ui-g-12 ui-lg-12" style="padding-top: 30px;">

                        <p:outputPanel style="border-bottom: 1px solid #a8acb1; width: 100%;display: flex;align-items: center">

                            <p:outputPanel>

                                <span id="icon" style="font-size: 24px;color: #0066B3"><i class="fa fa-star" /></span>
                            </p:outputPanel>


                            <p:outputLabel value="LEVEL CAMPAIGN" style="font-size: 24px !important; font-weight: bold;flex: 1;padding-bottom: 0;margin-left: 10px"/> 
                            <span id="iconToggleall" style="font-size: 20px; font-weight: bold"
                                  class="fa fa-fw fa-angle-double-down"></span>
                            <script>
                                $('#iconToggleall').click(function () {
                                    $('#showall').toggle("slow");
                                });
                            </script>
                        </p:outputPanel>
                    </p:outputPanel>
                    <div id="showall">
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputPanel class="ui-g-12 ui-lg-4">
                            </p:outputPanel>

                            <p:outputPanel class="ui-g-12 ui-lg-4" >
                                <p:outputLabel value="Reasoning Method"/><span style="color: red">*</span>
                                <div class="spacerHeight"/>
                                <p:selectOneMenu disabled="#{campaignEvaluationInfoController.action eq false}"
                                                 value="#{campaignEvaluationInfoController.campaignEvaluationInfo.reasioningMethod}"
                                                 style="margin-bottom:10px;">          
                                    <f:selectItem itemValue="1" itemLabel="WEIGHTED_VOTE" itemDescription="WEIGHTED_VOTE"/>
                                    <f:selectItem itemValue="2" itemLabel="SINGLE_WINNER" itemDescription="SINGLE_WINNER"/>
                                </p:selectOneMenu>
                            </p:outputPanel>

                            <p:outputPanel class="ui-g-12 ui-lg-4">
                            </p:outputPanel>
                        </p:outputPanel>


                        <!--            RULE_EVALUATION_INFO              -->
                        <p:outputPanel class="ui-g-12 ui-lg-12"  rendered="#{campaignEvaluationInfoController.campaignEvaluationInfo.isDefault}">
                            <p:outputPanel style="border-bottom: 1px solid #a8acb1; width: 100%;display: flex;align-items: center">

                                <p:outputPanel>
                                    <span id="icon" style="font-size: 24px;color: #0066B3"><i class="fa fa-cube" /></span>
                                </p:outputPanel>

                                <p:outputLabel value="Choose Rule" style="font-size: 24px !important; font-weight: bold;padding-bottom: 0;margin-left: 10px"/><span
                                    style="color: red;flex: 1;line-height: 38px">*</span>
                                <span id="iconToggle" style="font-size: 20px; font-weight: bold"
                                      class="fa fa-fw fa-angle-up"></span>
                                <script>
                                    $('#iconToggle').click(function () {
                                        $('#divRule').toggle("slow");
                                    });
                                </script>
                            </p:outputPanel>
                            <p:outputPanel>
                                <div id="divRule">
                                    <p:dataTable id="ruleTbale" 
                                                 var="item" 
                                                 value="#{campaignEvaluationInfoController.listRuleEvaluationInfo}"
                                                 rowIndexVar="rowIndex"
                                                 styleClass="table-campaign" 
                                                 paginator="true" rows="10"
                                                 rowsPerPageTemplate="5,10,15,20" lazy="false">

                                        <f:facet name="header">
                                            <p:outputLabel value="List Rule" style="float: left; font-weight: bold; font-size: 16px"/>
                                            <p:commandButton  disabled="#{campaignEvaluationInfoController.action eq false}"
                                                              action="#{campaignEvaluationInfoController.prepareCreateRuleEvaluationInfo()}"
                                                              icon="fa fa-plus" 
                                                              title="Create Rule Evaluation Infor"
                                                              style="float: right; margin-left: 5px;width: auto;"
                                                              value="Rule"
                                                              update="@([id$=assessmentRuleId]),@([id$=remoteGrowl])"
                                                              oncomplete="if (!args.validationFailed) PF('assessmentRuleId').show()"/>
                                        </f:facet>
                                        <p:column headerText="Index" style="text-align: center">
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>

                                        <p:column headerText="Rule Name" style="text-align: center">
                                            <h:outputText id="ruleTableName" value="#{item.value}" title="#{item.valueName}"/>

                                        </p:column>

                                        <p:column headerText="Reasoning Method" style="text-align: center">
                                            <h:outputText id="ReasioningMethod" value="#{item.ruleReasioningMethod == 1 ? 'WEIGHTED_VOTE' : item.ruleReasioningMethod == 2 ? 'SINGLE_WINNER':''}"
                                                          title="#{item.ruleReasioningMethod == 1 ? 'WEIGHTED_VOTE' : item.ruleReasioningMethod == 2 ? 'SINGLE_WINNER':''}"/>

                                        </p:column>

                                        <p:column headerText="Rule Weight" style="text-align: center">
                                            <h:outputText id="reuleWeight" value="#{item.ruleWeight}" title="#{item.ruleWeight}"/>
                                        </p:column>

                                        <p:column headerText="Action" style="text-align: center">
                                            <p:outputPanel class="ui-g-12 ui-lg-4">
                                                <p:commandLink action="#{campaignEvaluationInfoController.showRuleEvaluationInfo(item)}"
                                                               update="@([id$=assessmentRuleId])"
                                                               title="View Rule Evaluation Infor"
                                                               oncomplete="PF('assessmentRuleId').show()">
                                                    <h:outputText class="pi pi-eye"  style=" width: 100%;float: right;font-size: 20px;"/>
                                                </p:commandLink>
                                            </p:outputPanel>
                                            <p:outputPanel class="ui-g-12 ui-lg-4">
                                                <p:commandLink disabled="#{campaignEvaluationInfoController.action eq false}"
                                                               action="#{campaignEvaluationInfoController.prepareEditRuleEvaluationInfo(item)}"
                                                               update="@([id$=assessmentRuleId]),@([id$=remoteGrowl])"
                                                               title="Edit Rule Evaluation Infor"
                                                               oncomplete="if (!args.validationFailed) PF('assessmentRuleId').show()">
                                                    <h:outputText class="ui-icon ui-icon-pencil"  style=" width: 100%;float: right;"/>
                                                </p:commandLink>
                                            </p:outputPanel>

                                            <p:outputPanel class="ui-g-12 ui-lg-4">
                                                <p:commandLink disabled="#{campaignEvaluationInfoController.action eq false}"
                                                               action="#{campaignEvaluationInfoController.deleteRuleEvaluationInfo(item)}"
                                                               update="@([id$=ruleTbale]),@([id$=remoteGrowl])"
                                                               title="Delete Rule Evaluation Infor">

                                                    <h:outputText class="ui-icon ui-icon-trash"  style=" width: 100%;float: left;"/>
                                                    <p:confirm header="Confirmation" message="Are you sure to delete rule evaluation?" icon="ui-icon-alert" />
                                                </p:commandLink>
                                            </p:outputPanel>


                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </p:outputPanel>
                        </p:outputPanel>
                        <!--            END RULE_EVALUATION_INFO           --> 

                        <!--                  RESULT CLASS                 -->
                        <p:outputPanel class="ui-g-12 ui-lg-12" >
                            <p:outputPanel style="border-bottom: 1px solid #a8acb1; width: 100%;display: flex;align-items: center">
                                <p:outputPanel >
                                    <span id="icon" style="font-size: 24px;color: #0066B3;margin-top: 5px"
                                          class="fa fa-flag-checkered"></span>
                                </p:outputPanel>
                                <p:outputLabel value="Create Result" style="font-size: 24px !important; font-weight: bold;margin-left: 10px;padding-bottom: 0"/> <span
                                    style="color: red;flex: 1;line-height: 38px">*</span>
                                <span id="iconToggResultClass" style="font-size: 20px;font-weight: bold"
                                      class="fa fa-fw fa-angle-up"></span>
                                <script>
                                    $('#iconToggResultClass').click(function () {
                                        $('#divResult').toggle("slow");
                                    });
                                </script>
                            </p:outputPanel>
                            <p:outputPanel id="resultTableClass">
                                <div id="divResult">
                                    <p:dataTable id="tableResultClass" var="item" value="#{campaignEvaluationInfoController.listResultClass}"
                                                 rowIndexVar="rowIndex"
                                                 styleClass="table-campaign" 
                                                 paginator="true" rows="10"
                                                 rowsPerPageTemplate="5,10,15,20" lazy="false">

                                        <f:facet name="header">
                                            <p:outputLabel value="List Result" style="float: left; font-weight: bold; font-size: 16px"/>
                                            <p:commandButton  disabled="#{campaignEvaluationInfoController.action eq false}"
                                                              icon="fa fa-plus" style="float: right; margin-left: 5px;width: auto;"
                                                              action="#{campaignEvaluationInfoController.prepareCreateResultClass()}"
                                                              update="@([id$=tableResultClass]),@([id$=remoteGrowl])"
                                                              title="Create Result Class"
                                                              value="Result"/>
                                        </f:facet>
                                        <p:column headerText="Index" style="text-align: center">
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>

                                        <p:column headerText="Class Id" style="text-align: center">
                                            <h:outputText id="resultId" value="#{item.classId}" title="#{item.classId}"/>

                                        </p:column>

                                        <p:column headerText="Class Name" >
                                            <p:inputText disabled="#{campaignEvaluationInfoController.action eq false}"
                                                         onchange="this.value = this.value.trim()"
                                                         placeholder="Result Name"
                                                         id="resultName"
                                                         value="#{item.className}"
                                                         style="text-align: center"
                                                         title="#{item.className}"
                                                         onkeyup="updateTitle(this)">
                                                <p:ajax event="change" process="@([id$=resultName])" update="@([id$=className]),@([id$=tableResultClass])" listener="#{campaignEvaluationInfoController.editResultClassName()}"/>
                                            </p:inputText>

                                        </p:column>

                                        <p:column headerText="Description" >
                                            <p:inputText disabled="#{campaignEvaluationInfoController.action eq false}"
                                                         onchange="this.value = this.value.trim()"
                                                         placeholder="Description"
                                                         id="resultDescription"
                                                         value="#{item.description}"
                                                         style="text-align: center"
                                                         title="#{item.description}"
                                                         onkeyup="updateTitle(this)">
                                                <p:ajax event="change" process="@([id$=tableResultClass])" update="@([id$=tableResultClass])" />
                                            </p:inputText>

                                        </p:column>

                                        <p:column headerText="Action" style="text-align: center"> 

                                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                                <p:commandLink disabled="#{campaignEvaluationInfoController.action eq false}"
                                                               action="#{campaignEvaluationInfoController.deleteResultClass(item)}"
                                                               title="Delete Result Class"
                                                               update="@([id$=tableResultClass]),@([id$=remoteGrowl])">
                                                    <h:outputText class="ui-icon ui-icon-trash"  style=" width: 100%;float: left;"/>
                                                    <p:confirm header="Confirmation" message="Are you sure to delete this result class?" icon="ui-icon-alert" />
                                                </p:commandLink>
                                            </p:outputPanel>

                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </p:outputPanel>
                        </p:outputPanel>
                        <!--          END RESULT CLASS           -->

                        <!--          FUZZY_RULE            -->
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputPanel style="border-bottom: 1px solid #a8acb1; width: 100%;margin-bottom: 8px;display: flex;margin-bottom: 0;align-items: center">

                                <p:outputPanel >
                                    <span id="icon" style="font-size: 24px;color: #0066B3"><i class="fa fa-balance-scale" /></span>

                                </p:outputPanel>
                                <p:outputLabel value="Create Fuzzy" style="font-size: 24px !important; font-weight: bold;padding-bottom: 0;margin-left: 10px"/> <span
                                    style="color: red;flex:1;line-height: 38px">*</span>
                                <span id="iconToggle2" style="font-size: 20px;float: right; font-weight: bold"
                                      class="fa fa-fw fa-angle-up"></span>
                                <script>
                                    $('#iconToggle2').click(function () {
                                        $('#divFuzzy').toggle("slow");
                                    });
                                </script>
                            </p:outputPanel>
                            <p:outputPanel class="ui-g-12 ui-lg-12">

                                <div id="divFuzzy">
                                    <p:dataTable  var="item" value="#{campaignEvaluationInfoController.listFuzzyRule}"
                                                  id="fuzzyTable"
                                                  rowIndexVar="rowIndex"
                                                  styleClass="table-campaign" 
                                                  paginator="true" rows="10"
                                                  rowsPerPageTemplate="5,10,15,20" lazy="false">

                                        <f:facet name="header">
                                            <p:outputLabel value="List Fuzzy" style="float: left; font-weight: bold; font-size: 16px"/>
                                            <p:commandButton  disabled="#{campaignEvaluationInfoController.action eq false}"
                                                              icon="fa fa-plus" style="float: right; margin-left: 5px;width: auto;"
                                                              value="Fuzzy"
                                                              title="Create Fuzzy Rule"
                                                              action="#{campaignEvaluationInfoController.prepareCreateFuzzyRule()}"
                                                              update="@([id$=fuzzyRuleDialogId]),@([id$=remoteGrowl])"
                                                              oncomplete="if (!args.validationFailed) PF('fuzzyRuleDialogId').show()"/>
                                        </f:facet>
                                        <p:column headerText="Index" style="text-align: center">
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>

                                        <p:column headerText="Class Name" style="text-align: center">
                                            <h:outputText id="className" value="#{item.valueName}" title="#{item.valueMaxName}" />
                                        </p:column>

                                        <p:column headerText="Fuzzy Expression" style="text-align: center">
                                            <h:outputText id="displayExpression" value="#{item.value}" title="#{item.valueMax}"/>

                                        </p:column>

                                        <p:column headerText="fuzzy Operator" style="text-align: center">
                                            <h:outputText id="fuzzyOperator" value="#{item.fuzzyOperator == 1 ? 'MAX/MIN' : item.fuzzyOperator == 2 ? 'PROD/PROBOR': ''}"
                                                          title="#{item.fuzzyOperator == 1 ? 'MAX/MIN' : item.fuzzyOperator == 2 ? 'PROD/PROBOR': ''}"/>

                                        </p:column>

                                        <p:column headerText="Fuzzy weight" style="text-align: center">
                                            <h:outputText id="weight" value="#{item.weight}" title="#{item.weight}"/>

                                        </p:column>

                                        <p:column headerText="Action" style="text-align: center">
                                            <p:outputPanel class="ui-g-12 ui-lg-4">
                                                <p:commandLink action="#{campaignEvaluationInfoController.showFuzzyRule(item)}"
                                                               update="@([id$=fuzzyRuleDialogId])"
                                                               title="View Fuzzy Rule"
                                                               oncomplete="PF('fuzzyRuleDialogId').show()">
                                                    <h:outputText class="pi pi-eye"  style=" width: 100%;float: left;font-size: 20px;"/>
                                                </p:commandLink>
                                            </p:outputPanel>

                                            <p:outputPanel class="ui-g-12 ui-lg-4">
                                                <p:commandLink disabled="#{campaignEvaluationInfoController.action eq false}"
                                                               action="#{campaignEvaluationInfoController.prepareEditFuzzyRule(item)}"
                                                               title="Edit Fuzzy Rule"
                                                               update="@([id$=fuzzyRuleDialogId]),@([id$=remoteGrowl])"
                                                               oncomplete="if (!args.validationFailed) PF('fuzzyRuleDialogId').show()">
                                                    <h:outputText class="ui-icon ui-icon-pencil"  style=" width: 100%;float: right;"/>
                                                </p:commandLink>
                                            </p:outputPanel>

                                            <p:outputPanel class="ui-g-12 ui-lg-4">
                                                <p:commandLink disabled="#{campaignEvaluationInfoController.action eq false}"
                                                               title="Delete Fuzzy Rule"
                                                               action="#{campaignEvaluationInfoController.deleteFuzzy(item)}"
                                                               update="@([id$=fuzzyTable]),@([id$=remoteGrowl])">
                                                    <h:outputText class="ui-icon ui-icon-trash"  style=" width: 100%;float: left;"/>
                                                    <p:confirm header="Confirmation" message="Are you sure to delete this fuzzy rule?" icon="ui-icon-alert" />
                                                </p:commandLink>
                                            </p:outputPanel>


                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </p:outputPanel>
                        </p:outputPanel>
                    </div>


                    <!--             END FUZZY_RULE               -->              
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputPanel style="border-bottom: 1px solid #5f666c; width: 100%;"/>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:commandButton disabled="#{campaignEvaluationInfoController.action eq false}"
                                         id="resetForm" icon="fa fa-refresh" value="Reset"
                                         title="Reset Campaign Evaluation Info"
                                         style="width:auto;float: right;"
                                         oncomplete="PF('dlgConfirmResetTemp').show();">
                        </p:commandButton>
                        <p:commandButton disabled="#{campaignEvaluationInfoController.action eq false}"
                                         id="saveForm"  icon="fa fa-floppy-o" value="Save" style="width:auto;float: right;"
                                         process="@this,@([id$=mainContent]) "
                                         title="Save Campaign Evaluation Info"
                                         action="#{campaignEvaluationInfoController.validateCampaignEvaluationInfo()}"
                                         update="@([id$=remoteGrowl])"
                                         oncomplete="if (!args.validationFailed) PF('dlgConfirmSaveTemp').show();">
                        </p:commandButton>
                    </p:outputPanel>
                </h:form>
            </p:outputPanel>
        </p:panel>
    </p:outputPanel>

    <p:dialog header="Confirmation"
              widgetVar="dlgConfirmSaveTemp"
              id="dlgConfirmSaveTemp"
              modal="true"
              height="100">
        <h:outputText  value="Are you sure to save this Campaign Evaluation Info?" />
        <p:outputPanel class="ui-g-12 ui-lg-12" >
            <p:outputLabel class="ui-g-12 ui-lg-12" style="border-bottom: 1px solid #a8acb1; width: 100%"  />
        </p:outputPanel>
        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmSaveTemp').hide();"/>

                <p:commandButton style="width:auto;float: right;"
                                 value="Yes"
                                 action="#{campaignEvaluationInfoController.doSaveAll()}"
                                 update="@([id$=treeCategory]),@([id$=mainContent]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirmSaveTemp').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
    <p:dialog header="Confirmation"
              widgetVar="dlgConfirmResetTemp"
              id="dlgConfirmResetTemp"
              modal="true"
              height="100">
        <h:outputText  value="Are you sure to reset this Campaign Evaluation Info?" />
        <p:outputPanel class="ui-g-12 ui-lg-12" >
            <p:outputLabel class="ui-g-12 ui-lg-12" style="border-bottom: 1px solid #a8acb1; width: 100%"  />
        </p:outputPanel>
        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmResetTemp').hide();"/>

                <p:commandButton style="width:auto;float: right;"
                                 value="Yes"
                                 action="#{campaignEvaluationInfoController.onResetCampaignEvalautionInfo()}"
                                 update="@([id$=mainContent]),@([id$=treeCategory]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirmResetTemp').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
    <ui:include src="PopupChooseCampaignTree.xhtml" />
    <ui:include src="PopupAssessmentRuleDefine.xhtml" />
    <ui:include src="PopupAssessmentRuleTree.xhtml" />
    <ui:include src="PopupCampaignSchedule.xhtml" />
    <ui:include src="PopupFuzzyRuleDefine.xhtml" />
    <ui:include src="PopupExpresstionDefine.xhtml" /> 
    <ui:include src="PopupGroupDefine.xhtml" />
    <ui:include src="PopupCreateOrUpdateCategory.xhtml" />
    <ui:include src="./campaignEvaluationInfoNotDefault/PopupAssessmentRuleDefineSegment.xhtml" />
    <ui:include src="./campaignEvaluationInfoNotDefault/PopupAssessmentRuleSegmentTree.xhtml" />
    <ui:include src="./campaignEvaluationInfoNotDefault/PopupGroupDefineSegment.xhtml" />
    <ui:include src="./campaignEvaluationInfoNotDefault/PopupSegmentTree.xhtml" />
    <ui:include src="./campaignEvaluationInfoNotDefault/PopupSegmentEvaluationDefine.xhtml" />
    <ui:include src="./campaignEvaluationInfoNotDefault/PopupFuzzyRuleDefineSegment.xhtml" />
    <ui:include src="./campaignEvaluationInfoNotDefault/PopupExpresstionDefineSegment.xhtml" />

</html>