<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Expression Define"
              widgetVar="expressionDilogId" 
              id="expressionDilogId" 
              responsive="true" 
              modal="true">
        <f:facet name="header">
            <i class="fa fa-check" style="font-size: 14px;"></i>
            <h:outputText value="Expression Define" style="margin-left:10px;"/>
        </f:facet>
        <h:form style="width: 635px; height: auto; overflow: auto" id="contentExId">

            <p:outputPanel class="ui-g-12 ui-lg-4" rendered="#{campaignEvaluationInfoController.campaignEvaluationInfo.isDefault}">
                <p:outputLabel value="Content"/><span style="color: red">*</span>
                <p:selectOneMenu filterMatchMode="contains"
                                 id="contentExIsDefaultId"
                                 filter="true"  
                                 syncTooltip="true" 
                                 value="#{campaignEvaluationInfoController.expression.contentEx}"
                                 style="margin-top: 20px;">
                    <f:selectItem itemLabel="Choose Name" itemValue="" />
                    <f:selectItems value="#{campaignEvaluationInfoController.listRuleEvaluationInfo}"
                                   var="item"
                                   itemLabel="#{item.ruleName}"
                                   itemValue="#{item.ruleName}"
                                   itemDescription="#{item.ruleName}"/>
                    <p:ajax event="change" listener="#{campaignEvaluationInfoController.chooseContexntEx()}"
                            update="@([id$=valueExId])" />
                </p:selectOneMenu>
                <p:focus for="contentExIsDefaultId" rendered="#{campaignEvaluationInfoController.focusCombobox}"/>
            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-4" rendered="#{!campaignEvaluationInfoController.campaignEvaluationInfo.isDefault}">
                <p:outputLabel value="Content"/><span style="color: red">*</span>
                <p:selectOneMenu filterMatchMode="contains"  
                                 filter="true"  
                                 id="contentExNotDefaultId"
                                 syncTooltip="true" 
                                 value="#{campaignEvaluationInfoController.expression.contentEx}"
                                 style="margin-top: 20px;">
                    <f:selectItem itemLabel="Choose Name" itemValue="" />
                    <f:selectItems value="#{campaignEvaluationInfoController.listSegmentEvaluationInfo}"
                                   var="item"
                                   itemLabel="#{item.segmentName}"
                                   itemValue="#{item.segmentName}"
                                   itemDescription="#{item.segmentName}"/>
                    <p:ajax event="change" listener="#{campaignEvaluationInfoController.chooseSegmentName()}"
                            update="@([id$=valueExSegmentId])"/>
                </p:selectOneMenu>
                <p:focus for="contentExNotDefaultId" rendered="#{campaignEvaluationInfoController.focusCombobox}" />
            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-4" style="margin-top: 29px;">
                <p:outputLabel value=""/>
                <div class="spacerHeight"/>
                <p:selectOneMenu value="#{campaignEvaluationInfoController.expression.operatorEx}"
                                 style="margin-bottom:10px;">          
                    <f:selectItem itemValue="is" itemLabel="is"/>
                    <f:selectItem itemValue="not" itemLabel="not"/>
                </p:selectOneMenu>
            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-4" style="margin-top: 39px;" rendered="#{campaignEvaluationInfoController.campaignEvaluationInfo.isDefault}" >
                <p:outputLabel value=""/>
                <p:selectOneMenu filterMatchMode="contains" 
                                 id="valueExId"
                                 filter="true"  
                                 syncTooltip="true" 
                                 value="#{campaignEvaluationInfoController.expression.valueEx}">
                    <f:selectItem itemLabel="Choose Value" itemValue="" />
                    <f:selectItems value="#{campaignEvaluationInfoController.listResultClassMap}"
                                   var="item"
                                   itemLabel="#{item.className}"
                                   itemValue="#{item.className}"
                                   itemDescription="#{item.className}"/>

                </p:selectOneMenu>
                <p:focus for="valueExId" rendered="#{campaignEvaluationInfoController.focusValuEx}"/>
            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-4" style="margin-top: 39px;" rendered="#{!campaignEvaluationInfoController.campaignEvaluationInfo.isDefault}">
                <p:outputLabel value=""/>
                <p:selectOneMenu filterMatchMode="contains"  
                                 id="valueExSegmentId"
                                 filter="true"  
                                 syncTooltip="true" 
                                 value="#{campaignEvaluationInfoController.expression.valueEx}">
                    <f:selectItem itemLabel="Choose Value" itemValue="" />
                    <f:selectItems value="#{campaignEvaluationInfoController.listResultClassOfSementMap}"
                                   var="item"
                                   itemLabel="#{item.className}"
                                   itemValue="#{item.className}"
                                   itemDescription="#{item.className}"/>
                </p:selectOneMenu>
                <p:focus for="valueExSegmentId" rendered="#{campaignEvaluationInfoController.focusValuEx}" />
            </p:outputPanel>

            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton icon="fa fa-remove" value="Cancel"
                                     style="width:auto;float: right;"
                                     process="@this"
                                     oncomplete="PF('expressionDilogId').hide();"/>
                    <p:commandButton 
                        style="width:auto;float: right;" 
                        icon="fa fa-floppy-o" value="Apply"
                        action="#{campaignEvaluationInfoController.validateExpresstion()}"
                        update="@([id$=remoteGrowl]),@([id$=contentExId])"
                        oncomplete="if (!args.validationFailed) PF('dlgConfirmExpressionDilogId').show();">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog header="Confirmation" widgetVar="dlgConfirmExpressionDilogId" modal="true" height="100" >
        <h:outputText  value="Are you sure to save Expression?"/>
        <p:outputPanel class="ui-g-12 ui-lg-12" >
            <p:outputLabel class="ui-g-12 ui-lg-12" style="border-bottom: 1px solid #a8acb1; width: 100%"  />
        </p:outputPanel>
        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmExpressionDilogId').hide();"/>

                <p:commandButton 
                    style="width:auto;float: right;"
                    value="Yes"
                    action="#{campaignEvaluationInfoController.saveOrEditExpression()}"
                    process="@this"
                    update="@([id$=treeFuzzy]),@([id$=displayExpression]),@([id$=remoteGrowl]),@([id$=listButtonId])"
                    oncomplete="PF('dlgConfirmExpressionDilogId').hide();PF('expressionDilogId').hide();">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>


</html>