<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Fuzzy Rule Define"
              widgetVar="fuzzyRuleDialogId" 
              id="fuzzyRuleDialogId" 
              responsive="true" 
              modal="true">
        <f:facet name="header">
            <i class="fa fa-balance-scale" style="font-size: 14px;"></i>
            <h:outputText value="Fuzzy Rule Define" style="margin-left:10px;"/>
        </f:facet>
        <h:form id="fuzzyPopup" style="width: 900px; height: 600px;">
            <div>
                <p:outputPanel class="ui-g ui-fluid">

                    <p:outputPanel class="ui-g-12 ui-lg-3">
                        <p:outputLabel value="Id"/>
                        <div class="spacerHeight"/>
                        <p:inputText disabled="true"
                                     onchange="this.value = this.value.trim()" placeholder="id"
                                     value="#{campaignEvaluationInfoController.fuzzyRuleEdit.fuzzyRuleId}">
                        </p:inputText>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-3">
                        <p:outputLabel value="Level"/>
                        <div class="spacerHeight"/>
                        <p:inputText disabled="true"
                                     onchange="this.value = this.value.trim()" placeholder="level"
                                     value="#{campaignEvaluationInfoController.fuzzyRuleEdit.ruleLevel == 3 ? 'Campaign' : ''}"
                                     title="#{campaignEvaluationInfoController.fuzzyRuleEdit.ruleLevel == 3 ? 'Campaign' : ''}">
                        </p:inputText>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-3">
                        <p:outputLabel value="Owner Name"/>
                        <div class="spacerHeight"/>
                        <p:inputText disabled="true"
                                     onchange="this.value = this.value.trim()" placeholder="owner name"
                                     value="#{campaignEvaluationInfoController.campaign.name}"
                                     title="#{campaignEvaluationInfoController.campaign.name}"
                                     onkeyup="updateTitle(this)">
                        </p:inputText>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-3">
                        <p:outputLabel value="Fuzzy Weight"/><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputNumber    disabled="#{campaignEvaluationInfoController.disableFuzzy eq true}"
                                          onchange="this.value = this.value.trim()" placeholder="fuzzy weight"
                                          value="#{campaignEvaluationInfoController.fuzzyRuleEdit.weight}">
                        </p:inputNumber>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-6"  id="comboboxId">
                        <p:outputLabel value="Result Class"/><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:selectOneMenu disabled="#{campaignEvaluationInfoController.disableFuzzy eq true}"
                                         id="resuleClassFuzzyId"
                                         filterMatchMode="contains"  
                                         filter="true"  
                                         syncTooltip="true" 
                                         value="#{campaignEvaluationInfoController.fuzzyRuleEdit.classId}">
                            <f:selectItem itemLabel="Choose Result Name" itemValue="" />
                            <f:selectItems value="#{campaignEvaluationInfoController.chooseResultClass}"
                                           var="item"
                                           itemDescription="#{item.className}"
                                           itemLabel="#{item.className}"
                                           itemValue="#{item.classId}"/>
                        </p:selectOneMenu>
                        <p:focus for="resuleClassFuzzyId" rendered="#{campaignEvaluationInfoController.focusComboboxResult}"/>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Fuzzy Operator"/><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:selectOneMenu disabled="#{campaignEvaluationInfoController.disableFuzzy eq true}"
                                         value="#{campaignEvaluationInfoController.fuzzyRuleEdit.fuzzyOperator}">          
                            <f:selectItem itemValue="1" itemLabel="MAX/MIN" itemDescription="MAX/MIN"/>
                            <f:selectItem itemValue="2" itemLabel="PROD/PROBOR" itemDescription="PROD/PROBOR"/>
                        </p:selectOneMenu>
                    </p:outputPanel>


                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputLabel value="Description"/>
                        <div class="spacerHeight"/>
                        <p:inputText disabled="#{campaignEvaluationInfoController.disableFuzzy eq true}"
                                     onchange="this.value = this.value.trim()" placeholder="description"
                                     id="fuzzyDescriptionId"
                                     value="#{campaignEvaluationInfoController.fuzzyRuleEdit.description}"
                                     title="#{campaignEvaluationInfoController.fuzzyRuleEdit.description}"
                                     onkeyup="updateTitle(this)">
                            <p:ajax event="change" update="@([id$=fuzzyDescriptionId])" listener="#{campaignEvaluationInfoController.editDescriptionFuzzyRule()}" />
                        </p:inputText>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-12" >
                        <p:outputLabel class="ui-g-12 ui-lg-12" style="border-bottom: 1px solid #a8acb1; width: 100%"  />
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputLabel value="Expression Display"/><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText disabled="true"
                                     onchange="this.value = this.value.trim()" placeholder="display expression"
                                     value="#{campaignEvaluationInfoController.fuzzyRuleEdit.displayExpression}"
                                     id="displayExpression"
                                     title="#{campaignEvaluationInfoController.fuzzyRuleEdit.displayExpression}"
                                     onkeyup="updateTitle(this)">
                        </p:inputText>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-12" style="border: 1px solid #c9cdd2;height: 300px;overflow: auto">
                        <!--                    Nut  Expression   -->
                        <p:outputPanel class="ui-g-12 ui-lg-12" id="listButtonId">
                            <p:commandButton style="width:auto;float: right;margin-right: 1px" 
                                             disabled="#{campaignEvaluationInfoController.disableFuzzy eq true}"
                                             action="#{campaignEvaluationInfoController.clearTree()}"
                                             title="Clear All"
                                             update="@([id$=treeFuzzy]), @([id$=displayExpression]),@([id$=remoteGrowl]),@([id$=listButtonId])"
                                             icon="pi pi-trash" value="Clear">
                                <p:confirm header="Confirmation" message="You definitely want to delete ?" icon="ui-icon-alert"/>
                            </p:commandButton>
                            <p:commandButton style="width:auto;float: right;margin-right: 1px" 
                                             disabled="#{campaignEvaluationInfoController.disableFuzzy eq true}"
                                             oncomplete="PF('groupDefineId').show();"
                                             title="Create Group"
                                             action="#{campaignEvaluationInfoController.prepareCreateNodeInfoGroup()}"
                                             icon="fa fa-plus" value="Group"
                                             update="@([id$=groupDefineId])">
                            </p:commandButton>
                            <p:commandButton icon="fa fa-plus" value="Expression"
                                             oncomplete="PF('expressionDilogId').show();"
                                             title="Create Expression"
                                             action="#{campaignEvaluationInfoController.prepareCreateExpressionForGroup()}"
                                             disabled="#{campaignEvaluationInfoController.disableFuzzy eq true}"
                                             style="width:auto;float: right;margin-right: 1px"
                                             update="@([id$=expressionDilogId]),@([id$=valueExId]),@([id$=valueExSegmentId])">
                            </p:commandButton>
                           
                                <p:selectOneMenu value="#{campaignEvaluationInfoController.nodeDefineDTO.operatorDT}"
                                                 disabled="#{campaignEvaluationInfoController.disabaleCbb eq true}"
                                                 id="chooseOperratorGroupId"
                                                 
                                                 style="width: 70px;float: right;margin-right: 1px">   
                                    <f:selectItem itemValue="and" itemLabel="AND"/>
                                    <f:selectItem itemValue="or" itemLabel="OR"/>
                                    <f:selectItem itemValue="not" itemLabel="NOT"/>
                                    <p:ajax event="change" 
                                            listener="#{campaignEvaluationInfoController.chooseOperratorGroup()}"
                                            update="@([id$=treeFuzzy]),@([id$=displayExpression]),@([id$=remoteGrowl])"/>
                                </p:selectOneMenu>


                                <p:outputLabel value="Operator" style="margin-right: 3px;float: right;padding-top: 6px" > </p:outputLabel>
                            
                        </p:outputPanel>
                        <!--                    Cay Expression-->
                        <p:outputPanel  class="ui-g-12 ui-lg-12">
                            <p:tree id="treeFuzzy" var="node"
                                    value="#{campaignEvaluationInfoController.rootNodeFuzzy}"
                                    selectionMode="single"
                                    selection="#{campaignEvaluationInfoController.selectedNode}"
                                    style="border: none">

                                <p:treeNode type="group" expandedIcon="ui-icon-folder-open"
                                            collapsedIcon="ui-icon-folder-collapsed">
                                    <h:outputText value="#{node.display}" title="#{node.display}" />
                                </p:treeNode>
                                <p:treeNode type="object" icon="ui-icon-document">
                                    <h:outputText value="#{node.display}" title="#{node.display}" />
                                </p:treeNode>
                            </p:tree>

                            <p:contextMenu for="treeFuzzy" nodeType="group" style="width: auto;" >
                                <p:menuitem icon="fa fa-floppy-o"
                                            disabled="#{campaignEvaluationInfoController.disableFuzzy eq true}"
                                            action="#{campaignEvaluationInfoController.prepareCreateNodeInfo()}"
                                            update="@([id$=groupDefineId])"
                                            oncomplete="PF('groupDefineId').show()"
                                            value="Add sub Group Expression"/>
                                <p:menuitem icon="fa fa-refresh" 
                                            disabled="#{campaignEvaluationInfoController.disableFuzzy eq true}"
                                            action="#{campaignEvaluationInfoController.prepareEditNodeInfo()}"
                                            update="@([id$=groupDefineId])"
                                            oncomplete="PF('groupDefineId').show()"
                                            value="Edit"/>
                                <p:menuitem icon="fa fa-trash"
                                            disabled="#{campaignEvaluationInfoController.disableFuzzy eq true}"
                                            action="#{campaignEvaluationInfoController.deleteEpressionOrGroup()}"
                                            value="Delete"
                                            update="@([id$=treeFuzzy]),@([id$=displayExpression]),@([id$=listButtonId]),@([id$=remoteGrowl])">
                                    <p:confirm header="Confirmation" message="Do you want to delete this ?" icon="ui-icon-alert"/>
                                </p:menuitem>
                                <p:menuitem icon="fa fa-plus" 
                                            disabled="#{campaignEvaluationInfoController.disableFuzzy eq true}"
                                            action="#{campaignEvaluationInfoController.prepareCreateExpression()}"
                                            value="Add Rule Expression" 
                                            update="@([id$=expressionDilogId])"
                                            oncomplete="PF('expressionDilogId').show()"/>
                            </p:contextMenu>

                            <p:contextMenu for="treeFuzzy" nodeType="object" style="width: auto">
                                <p:menuitem icon="fa fa-refresh"
                                            disabled="#{campaignEvaluationInfoController.disableFuzzy eq true}"
                                            action="#{campaignEvaluationInfoController.prepareEditExpression()}"
                                            value="Edit"
                                            update="@([id$=contentExId])"
                                            oncomplete="PF('expressionDilogId').show()"/>

                                <p:menuitem icon="fa fa-trash"
                                            disabled="#{campaignEvaluationInfoController.disableFuzzy eq true}"
                                            action="#{campaignEvaluationInfoController.deleteEpressionOrGroup()}"
                                            update="@([id$=treeFuzzy]),@([id$=displayExpression]),@([id$=listButtonId])"
                                            value="Delete">
                                    <p:confirm header="Confirmation"  message="Do you want to delete this Expression ?" icon="ui-icon-alert"/>

                                </p:menuitem>
                            </p:contextMenu>

                            <p:contextMenu for="treeFuzzy" nodeType="abc" style="width: auto">

                            </p:contextMenu>


                        </p:outputPanel>
                    </p:outputPanel>


                </p:outputPanel>
            </div>
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12" style="visibility: #{campaignEvaluationInfoController.disableFuzzy eq false ? 'visible' : 'hidden'}">
                    <p:commandButton icon="fa fa-undo"  value="Cancel"
                                     style="width:auto;float: right;"
                                     process="@this"
                                     oncomplete="PF('fuzzyRuleDialogId').hide();"/>
                    <p:commandButton 
                        style="width:auto;float: right;" 
                        icon="fa fa-check"  value="Apply"
                        action="#{campaignEvaluationInfoController.validateFuzzyRule()}"
                        update="@([id$=remoteGrowl]),@([id$=comboboxId])"
                        oncomplete="if (!args.validationFailed) PF('dlgConfirmFuzzyRule').show();">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog header="Confirmation" widgetVar="dlgConfirmFuzzyRule" modal="true" width="300" height="100" >
        <h:outputText value="Are you sure to save this Fuzzy rule?" />
        <p:outputPanel class="ui-g-12 ui-lg-12" >
            <p:outputLabel class="ui-g-12 ui-lg-12" style="border-bottom: 1px solid #a8acb1; width: 100%"  />
        </p:outputPanel>
        <div class="card card-w-title" >
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmFuzzyRule').hide();"/>

                <p:commandButton 
                    style="width:auto;float: right;"
                    value="Yes"
                    action="#{campaignEvaluationInfoController.saveFuzzyRule()}"
                    update="@([id$=fuzzyTable]),@([id$=remoteGrowl])"
                    oncomplete="PF('dlgConfirmFuzzyRule').hide();PF('fuzzyRuleDialogId').hide();">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>


</html>