<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog header="Add schedule" widgetVar="campaignScheduleId" id="campaignScheduleId" responsive="true" dynamic="true"
              modal="true" width="800px">
        <f:facet name="header">
            
            <h:outputText value="Add schedule" style="margin-left:10px;"/>

        </f:facet>
        <!--<h:form id="createRuleForm">-->
        <h:form id="createSchedule">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Schedule name"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="Schedule Name"
                                 id="schedule"
                                 value="#{campaignEvaluationInfoController.campaignScheduleEdit.scheduleName}"
                                 title="#{campaignEvaluationInfoController.campaignScheduleEdit.scheduleName}"
                                 onkeyup="updateTitle(this)">
                       
                    </p:inputText>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Schedule Id"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" value="#{campaignEvaluationInfoController.campaignScheduleEdit.scheduleId}" disabled="true">
                    </p:inputText>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputLabel value="Description"/>
                    <div class="spacerHeight"/>
                    <p:inputTextarea  onchange="this.value = this.value.trim()" placeholder="description" rows="1"  autoResize="false"
                                      id="ruleDescription"
                                      value="#{campaignEvaluationInfoController.campaignScheduleEdit.description}"
                                      title="#{campaignEvaluationInfoController.campaignScheduleEdit.description}"
                                      onkeyup="updateTitle(this)">
                    </p:inputTextarea>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputLabel value="Mode schedule" style="float: left;padding: 0px;margin: 4px 20px 0 0;"/>
                    <p:selectOneRadio id="console" value="#{campaignEvaluationInfoController.campaignScheduleEdit.mode}">
                        <f:selectItem itemLabel="Crontab" itemValue="1"/>
                        <f:selectItem itemLabel="Specified date" itemValue="2"/>
                        <p:ajax event="change" update="@([id$=scheduleArea])" listener="#{campaignEvaluationInfoController.chooseNodeCampaignSchedule()}"></p:ajax>
                    </p:selectOneRadio>
                </p:outputPanel>
                <p:outputPanel id="scheduleArea">
                    <p:outputPanel class="ui-g-12 ui-lg-6"
                                   rendered="#{campaignEvaluationInfoController.campaignScheduleEdit.mode eq 2}" style="padding: 0px">
                        <p:outputPanel class="ui-g-12 ui-lg-12" >
                            <p:outputLabel for="chooseDate" value="Choose date"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:calendar id="chooseDate" showOn="button" style="display: block" 
                                        value="#{campaignEvaluationInfoController.campaignScheduleEdit.chooseDate}"
                                        pattern="dd/MM/yyyy" mindate="#{now}" />
                        </p:outputPanel>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-6"
                                   rendered="#{campaignEvaluationInfoController.campaignScheduleEdit.mode eq 2}" style="padding: 0px">
                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel for="spinnerHour" value="Hour"/>
                            <div class="spacerHeight"/>
                            <p:spinner id="spinnerHour" value="#{campaignEvaluationInfoController.campaignScheduleEdit.hour}" min="0"
                                       max="23">
                                <f:convertNumber type="number" pattern="00"/>
                            </p:spinner>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel for="spinnerHour" value="Minute"/>
                            <div class="spacerHeight"/>
                            <p:spinner id="spinnerminute" value="#{campaignEvaluationInfoController.campaignScheduleEdit.minute}"
                                       min="0"
                                       max="59" >
                                <f:convertNumber type="number" pattern="00"/>
                            </p:spinner>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel for="spinnerHour" value="Second"/>
                            <div class="spacerHeight"/>
                            <p:spinner id="spinnersecond" value="#{campaignEvaluationInfoController.campaignScheduleEdit.second}"
                                       min="0"
                                       max="59" >
                                <f:convertNumber type="number" pattern="00"/>
                            </p:spinner>
                        </p:outputPanel>

                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-12"
                                   rendered="#{campaignEvaluationInfoController.campaignScheduleEdit.mode eq 1}">
                        <p:outputLabel value="Pattern" for="parttern"/><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText onchange="this.value = this.value.trim()" placeholder="ss mm hh dd MM DD yyyy / ss mm hh dd MM DDD"
                                     id="parttern"
                                     value="#{campaignEvaluationInfoController.campaignScheduleEdit.schedulePattern}"
                                     >
                        </p:inputText>
                    </p:outputPanel>
                </p:outputPanel>
            </p:outputPanel>
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton style="width:auto;float: right;"
                                     value="Close"
                                     process="@this"
                                     oncomplete="PF('campaignScheduleId').hide();">
                    </p:commandButton>
                    <p:commandButton 
                        style="width:auto;float: right;"
                        icon="fa fa-floppy-o" value="Apply"
                        process=" @this ,@([id$=createSchedule])"
                        update="@([id$=remoteGrowl]),@([id$=scheduleNameId])"
                        action="#{campaignEvaluationInfoController.saveCampainSchedule()}"
                        oncomplete="if (!args.validationFailed) PF('campaignScheduleId').hide();">
                        <p:ajax></p:ajax>
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>
</html>