<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="fromTree">

<!--        <p:toolbar styleClass="toolbar">
            <f:facet name="left">
                <p:outputLabel value="List ocs behaviour" 
                               style="float: left; font-weight: bold; font-size: 14px"/>
            </f:facet>
        </p:toolbar>-->

        <!--habm2-start-->
        <div class="title-wrap">
            <div class="title-name">Rule Online</div>
        </div>
        <!--habm2-end-->
        
        <p:tree filterMatchMode="contains" id="treeCategory" var="node"
                value="#{ruleOnlineController.rootNode}"
                filterBy="#{node.filter}"
                selectionMode="single"
                selection="#{ruleOnlineController.selectedNode}"
                style="height: calc(100vh - 101px) !important; overflow: auto;">
            <p:ajax event="select" 
                    listener="#{ruleOnlineController.prepareEditWhenClick()}"
                    update="@([id$=content]), @([id$=carDialog])"/>

            <p:treeNode type="category" expandedIcon="ui-icon-folder-open"
                        collapsedIcon="ui-icon-folder-collapsed">
                <h:outputText value="#{node.name}"/>
            </p:treeNode>

            <p:treeNode type="rule_online" icon="ui-icon-document">
                <h:outputText value="#{node.name}" />
            </p:treeNode>
 
            <p:treeNode type="result" icon="ui-icon-document">
                <h:outputText value="#{node.name}" />
            </p:treeNode>
            
            <p:treeNode type="condition" >
                <h:outputText value="#{node.name}" />
            </p:treeNode>
            
            <p:treeNode type="ppu" icon="ui-icon-document">
                <h:outputText value="#{node.name}" />
            </p:treeNode>
            <p:ajax event="expand" listener="#{ruleOnlineController.onNodeExpand}"></p:ajax>
            <p:ajax event="collapse" listener="#{ruleOnlineController.onNodeCollapse}"></p:ajax>
        </p:tree>

        <p:contextMenu for="treeCategory" nodeType="category" style="width: auto;">
            <p:menuitem icon="fa fa-floppy-o"
                        value="Create category"
                        action="#{ruleOnlineController.prepareCreateCategory()}"
                        update="@([id$=carDialog]),@([id$=categoryConfirm])"
                        oncomplete="PF('carDialog').show();"/>
            <p:menuitem icon="fa fa-refresh"
                        value="Edit category"
                        action="#{ruleOnlineController.prepareEditCategory()}"
                        update="@([id$=carDialog]),@([id$=categoryConfirm])"
                        oncomplete="PF('carDialog').show();"/>
            <p:menuitem icon="fa fa-trash"
                        value="Delete category"
                        action="#{ruleOnlineController.doDeleteCategory()}"
                        update="@([id$=fromTree]),@([id$=remoteGrowl])">
                <p:confirm header="Confirmation" message="You definitely want to delete ?" icon="ui-icon-alert"/>
            </p:menuitem>
            <p:menuitem icon="fa fa-plus" value="Create rule online" action="#{ruleOnlineController.prepareAddObject()}"
                        update="@([id$=mainContent])"/>
        </p:contextMenu>

        <p:contextMenu for="treeCategory" nodeType="rule_online" style="width: auto">
            <p:menuitem icon="fa fa-refresh"
                        value="Edit rule"
                        action="#{ruleOnlineController.prepareEditFromContextMenu()}"
                        update="@([id$=content])"/>
            <p:menuitem icon="fa fa-trash"
                        value="Delete rule"
                        action="#{ruleOnlineController.onDeleteObject()}"
                        update="@([id$=treeCategory]),@([id$=remoteGrowl]),@([id$=mainContent])">
                <p:confirm header="Confirmation" message="Do you want to delete this rule online?" icon="ui-icon-alert"/>
            </p:menuitem>
        </p:contextMenu>

    </h:form>

    <ui:include src="categoryCreateOrEditPopup.xhtml"/>
    
</html>