<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/template_object.xhtml">

    <ui:define name="title">Rule online</ui:define>

    <ui:define name="viewname">Rule online</ui:define>
 
    <ui:define name="head">
        <style>
            body .ui-outputlabel {
                padding-bottom: 5px;
            }

            #basic1 .ui-panel-titlebar {
                padding: 0px;
                /*border-bottom: 0px solid;*/
            }

            body .ui-panel .ui-panel-content {
                padding: 0px;
            }
            .ocsTabview ul{
                width: fit-content;
            }
            .ui-picklist-list-wrapper ul{
                width: 208px !important;
            }
            .ui-picklist-list-wrapper ul li{
                width: max-content;
            }
        </style>
        <script type="text/javascript">
            function onShownResultTable() {
                console.log("messsage");
                $('#resultTablePopup .ui-icon-folder-collapsed').siblings().each(function( index ) {
                    if($( this ).hasClass( "ui-chkbox" )){
                        $( this ).css("display", "none");
                    }
                });

                $('#resultTablePopup .ui-icon-folder-open').siblings().each(function( index ) {
                    if($( this ).hasClass( "ui-chkbox" )){
                        $( this ).css("display", "none");
                    }
                });
            }
        </script>
    </ui:define>

    <ui:define name="content" >      
        <p:outputPanel class="ui-g ui-fluid" id="content">
            <p:outputPanel class="ui-g-12 ui-lg-3 panel_content" style=" margin-top: -20px">
                <ui:include src="RuleAndCategoryTree.xhtml"/>
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-9 panel_content" id="mainContent">
                <ui:include src="RuleContent.xhtml"/>
            </p:outputPanel>
        </p:outputPanel> 
    </ui:define>
</ui:composition>