<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<p:dialog header="Choose notification" widgetVar="notifyTriggerTreePopup" id="notifyTriggerTreePopup" responsive="true" style="width: 500px"
          modal="true">
    <f:facet name="header">
        <i class="fa fa-list" style="font-size: 14px;"></i>
        <h:outputText value="Choose notification" style="margin-left:10px;"/>
    </f:facet>
    <p:outputLabel value="List current notification" style=" margin-left: 9px;"/>
    <div class="spacerHeight"/>
    <h:form id="notifyTriggerTreeForm" style="width: 500px">
        <p:tree filterMatchMode="contains" id="ruleTree" var="node"
                value="#{oCSBehaviourController.notifyTriggerNote}"
                filterBy="#{node.filter}"
                selectionMode="single"
                selection="#{oCSBehaviourController.selectedNotifyTriggerNote}"
                style=" border: 0px solid; padding: 0px;width: 500px;height:550px ;overflow-y: auto;">

            <p:treeNode type="category" expandedIcon="ui-icon-folder-open"
                        collapsedIcon="ui-icon-folder-collapsed">
                <h:outputText value="#{node.name}"/>
            </p:treeNode>

            <p:treeNode type="notifyTrigger" icon="ui-icon-document">
                <h:outputText value="#{node.name}"/>
            </p:treeNode>
        </p:tree>
        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton action="#{oCSBehaviourController.onSelectNotifyTriggerTree()}"
                                 style="width:auto;float: right;"
                                 icon="fa fa-chevron-down" value="Select"
                                 process="@([id$=notifyTriggerTreeForm])"
                                 update="@([id$=notifyInput]),@([id$=notify]),@([id$=remoteGrowl])"
                                 oncomplete=" if (!args.validationFailed)   PF('notifyTriggerTreePopup').hide();">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </h:form>
</p:dialog>
</html>