<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:outputPanel class="ui-g ui-fluid" rendered="#{oCSBehaviourController.display}"
                   style="height: calc(100vh - 67px) !important; overflow: auto;margin-right: -9px; margin-left: -9px; margin-top: -20px">
        <p:panel class="ui-g-12" style="border-radius: 5px !important">
            <!--            <p:toolbar styleClass="toolbar">
                            <f:facet name="left">
                                <h:form>
                                    <p:outputLabel value="OCS behaviour"
                                                   style="float: left; font-weight: bold; font-size: 14px"/>
                                </h:form>
                            </f:facet>
                            <f:facet name="right">
                                <h:form>
                                    <p:inputSwitch style="float: right;margin-top: -3px;" value="#{oCSBehaviourController.action}">
                                        <p:ajax update="@([id$=resetForm]),@([id$=saveForm])"></p:ajax>
                                    </p:inputSwitch>
                                    <p:outputLabel value="Edit" style="float: right; margin-right: 10px;"/>
                                </h:form>
                            </f:facet>
                        </p:toolbar>-->

            <!--habm2-start-->
            <div class="title-wrap">
                <div class="title-name">OCS Behaviour</div>
                <div class="title-action">
                    <h:form>
                        <p:outputLabel for="editSw" value="Edit" styleClass="title-lb"/>
                        <p:inputSwitch id="editSw" label="Edit" styleClass="title-sw"
                                       value="#{oCSBehaviourController.action}">
                            <p:ajax update="@([id$=resetForm]),@([id$=saveForm]),@([id$=mainForm])"></p:ajax>
                        </p:inputSwitch>
                    </h:form>
                </div>
            </div>
            <!--habm2-end-->

            <p:outputPanel class="ui-g-12 ui-lg-12">
                <h:form id="mainForm">
                    <p:outputPanel id="inputForm" style="height: 230px">
                        <p:focus context="inputForm"/>
                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Ocs behaviour id"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText onchange="this.value = this.value.trim()" placeholder="Ocs behaviour id" disabled="true"
                                         value="#{oCSBehaviourController.currentValue.behaviourId}"/>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Ocs behaviour name"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText  disabled="#{oCSBehaviourController.action eq false}" onchange="this.value = this.value.trim()" placeholder="Ocs behaviour name"
                                         value="#{oCSBehaviourController.currentValue.behaviourName}"
                                         title="#{oCSBehaviourController.currentValue.behaviourName}"
                                         onkeypress="updateTitle(this)"/>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Description"/>
                            <div class="spacerHeight"/>
                            <p:inputTextarea  disabled="#{oCSBehaviourController.action eq false}"  onchange="this.value = this.value.trim()" placeholder="Description" rows="1" cols="30" autoResize="false"
                                             value="#{oCSBehaviourController.currentValue.description}"
                                             title="#{oCSBehaviourController.currentValue.description}"
                                             onkeypress="updateTitle(this)">
                            </p:inputTextarea>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Notification"/>
                            <div class="spacerHeight"/>
                            <p:inputText onchange="this.value = this.value.trim()" id="notifyInput" 
                                         title="#{oCSBehaviourController.currentValue.notifyName}"
                                         value="#{oCSBehaviourController.currentValue.notifyName}"
                                         disabled="true" style="width: 75%"/>
                            <p:commandButton disabled="#{oCSBehaviourController.action eq false}"  value="Choose" style="width: 20% ;float: right"
                                             action="#{oCSBehaviourController.prepareToShowNotifyTrigger(oCSBehaviourController.currentValue)}"
                                             update="@([id$=notifyInput]),@([id$=notifyTriggerTreeForm])"
                                             oncomplete="PF('notifyTriggerTreePopup').show();">
                            </p:commandButton>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Category"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:selectOneMenu  disabled="#{oCSBehaviourController.action eq false}"  syncTooltip="true"  filterMatchMode="contains"  filter="true" id="category" value="#{oCSBehaviourController.currentValue.categoryId}"
                                             style="margin-bottom:10px;">
                                <f:selectItems value="#{oCSBehaviourController.categories}"
                                               var="item"
                                               itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                               itemValue="#{item.categoryId}"/>
                            </p:selectOneMenu>
                        </p:outputPanel>

                    </p:outputPanel>
                    <!--</h:form>-->
                    <!--schedule-->

                    <p:tabView style="padding-top: 0px;" styleClass="ocsTabview" activeIndex="#{oCSBehaviourController.activeIndex}">
                        <p:tab title="Template" titleStyle="padding: 0px;     width: fit-content;">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:outputPanel id="tableForm">
                                    <div class="spacerHeight"/>
                                    <p:outputPanel class="ui-g-12 ui-lg-3">
                                        <p:outputLabel value="Template name"/><span style="color: red">*</span>
                                    </p:outputPanel>
                                    <p:outputPanel class="ui-g-12 ui-lg-7">
                                        <p:inputText  disabled="#{oCSBehaviourController.action eq false}" onchange="this.value = this.value.trim()" value="#{oCSBehaviourController.currentValue.templateName}"
                                                      readonly="true" title="#{oCSBehaviourController.currentValue.templateName}"/>
                                        <!--<p:selectOneMenu  disabled="#{oCSBehaviourController.action eq false}"  syncTooltip="true"  filterMatchMode="contains"  filter="true" id="console14"-->
                                        <!--value="#{oCSBehaviourController.currentValue.templateId}"-->
                                        <!--style="margin-bottom:10px;">-->
                                        <!--<p:ajax listener="#{oCSBehaviourController.onChangeTemplate()}"-->
                                        <!--update="@([id$=tableForm])"></p:ajax>-->
                                        <!--<f:selectItem itemLabel="Select One" itemValue=""/>-->
                                        <!--<f:selectItems value="#{oCSBehaviourController.lstOcsBehaviour}"-->
                                        <!--var="ocsBehaviour"-->
                                        <!--itemLabel="#{ocsBehaviour.templateName}"-->
                                        <!--itemValue="#{ocsBehaviour.templateId}">-->
                                        <!--</f:selectItems>-->
                                        <!--</p:selectOneMenu>-->
                                    </p:outputPanel>
                                    <p:outputPanel class="ui-g-12 ui-lg-2">
                                        <p:commandButton disabled="#{oCSBehaviourController.action eq false}"  value="Choose"
                                                         style="float: right; margin-left: 5px;width: auto;"
                                                         update="@([id$=ocsTemplateTreeForm])"
                                                         oncomplete="PF('ocsTemplateTreePopup').show()"/>
                                    </p:outputPanel>

                                    <p:outputPanel class="ui-g-12 ui-lg-12" style="margin-top: 25px">
                                        <p:outputPanel class="ui-inputgroup">
                                            <p:outputLabel value="Template field"
                                                           style="font-weight: bold"/> <span style="color: red">*</span>
                                        </p:outputPanel>
                                        <p:outputPanel>
                                            <div id="fieldDiv">
                                                <p:dataTable id="fieldTable" var="field"
                                                             value="#{oCSBehaviourController.lstOCSField}"
                                                             selectionMode="single"
                                                             reflow="true"
                                                             rowIndexVar="rowIndex"
                                                             styleClass="table-campaign" style="margin-top: 10px"
                                                             rowKey="#{field.behaviourFieldId}" paginator="true" rows="10"
                                                             widgetVar="fieldTable"
                                                             emptyMessage="No field found with given criteria"
                                                             editable="true"
                                                             rowsPerPageTemplate="5,10,15,20" lazy="false">
                                                    <p:column headerText="Field id" colspan="1">
                                                        <h:outputText value="#{field.craFieldId}"/>
                                                    </p:column>

                                                    <p:column  headerText="Field Name" colspan="2"
                                                               filterMatchMode="contains">
                                                        <h:outputText id="fieldNameTable" value="#{field.name}" title="#{field.name}"/>
                                                        <!--<p:tooltip for="fieldNameTable" value="#{field.name}"  position="top" />-->
                                                    </p:column>

                                                    <p:column headerText="Data Type" colspan="2" filterMatchMode="contains">
                                                        <h:outputText value="#{field.dataType}"/>
                                                    </p:column>

                                                    <p:column
                                                        headerText="Template Type" colspan="2" filterMatchMode="contains">
                                                        <h:outputText value="#{field.templateTypeName}"/>
                                                    </p:column>
                                                    <p:column headerText="Source Type" colspan="2" filterMatchMode="contains">
                                                        <p:selectOneMenu  disabled="#{oCSBehaviourController.action eq false}"  syncTooltip="true"  filterMatchMode="contains"  filter="true" id="sourceType" value="#{field.sourceType}"
                                                                         style="margin-bottom:0px;"
                                                                         rendered="#{field.templateType eq 2}">
                                                            <f:selectItem itemLabel="Exact" itemValue="1"/>
                                                            <f:selectItem itemLabel="Path" itemValue="2"/>
                                                            <p:ajax  event="change" process="@this"  update="@this"></p:ajax>
                                                        </p:selectOneMenu>
                                                    </p:column>

                                                    <p:column id="fieldValue" headerText="Value" colspan="1" filterMatchMode="contains">
                                                        <p:inputText  disabled="#{oCSBehaviourController.action eq false}" onchange="this.value = this.value.trim()" value="#{field.value}"
                                                                     rendered="#{field.templateType eq 2}" title="#{field.value}"   onkeypress="updateTitle(this)">
                                                            <!--<p:ajax event="keyup" delay="300" process="@this"-->
                                                                    <!--update="@([id$=fieldTable])" global="false" />-->
                                                        </p:inputText>
                                                        <h:outputText value="#{field.value}"
                                                                      rendered="#{field.templateType eq 1}" title="#{field.value}"/>
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </p:outputPanel>
                                    </p:outputPanel>
                                    <!--<h:form id="tableSegment">-->
                                    <p:outputPanel class="ui-g-12 ui-lg-12" style="margin-top: 25px">
                                        <p:outputPanel class="ui-inputgroup">
                                            <p:outputLabel value="Template extend field"
                                                           style="font-weight: bold"/>
                                        </p:outputPanel>
                                        <p:outputPanel>
                                            <div id="extendFieldDiv">
                                                <p:dataTable id="extendFieldTable" var="extendField"
                                                             value="#{oCSBehaviourController.lstOCSExtendField}"
                                                             selectionMode="single" reflow="true"
                                                             widgetVar="extendFieldTable"
                                                             styleClass="table-campaign" style="margin-top: 10px"
                                                             paginator="true" rows="10"
                                                             rowKey="#{extendField.id}"
                                                             emptyMessage="No extend field found with given criteria"
                                                             rowsPerPageTemplate="5,10,15,20" lazy="false">
                                                    <p:column headerText="Extend field Name" colspan="2" filterMatchMode="contains">
                                                        <h:outputText id="extenedfieldNameTable" value="#{extendField.name}" title="#{extendField.name}"/>
                                                        <!--<p:tooltip for="extenedfieldNameTable" value="#{extendField.name}"  position="top" />-->
                                                    </p:column>
                                                    <p:column headerText="Value" colspan="2" filterMatchMode="contains">
                                                        <p:inputText  disabled="#{oCSBehaviourController.action eq false}" onchange="this.value = this.value.trim()" value="#{extendField.value}" title="#{extendField.value}"  onkeypress="updateTitle(this)">
                                                            <!--<p:ajax event="keyup" delay="300" process="@this"-->
                                                                    <!--update="@([id$=extendFieldTable])" global="false" />-->
                                                        </p:inputText>
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </p:outputPanel>
                                    </p:outputPanel>
                                    <!--</p:tab>-->
                                    <!--<p:tab title="Post notify">-->
                                    <!--<p:outputPanel class="ui-g-12 ui-lg-3">-->
                                    <!--<p:outputLabel value="Template name"/><span style="color: red">*</span>-->
                                    <!--</p:outputPanel>-->
                                    <!--</p:tab>-->
                                    <!--</p:tabView>-->
                                </p:outputPanel>
                            </h:panelGrid>
                        </p:tab>
                        <p:tab title="Post notify" titleStyle="padding: 0px;     width: fit-content;">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:outputPanel class="ui-g-12 ui-lg-12" style="margin-top: 25px">
                                    <p:outputPanel class="ui-inputgroup">
                                        <p:outputLabel value="Mapping error code-notify"
                                                       style="font-weight: bold"/>
                                    </p:outputPanel>
                                    <p:outputPanel id="notifyPanel">
                                        <div id="notifyDiv">
                                            <p:dataTable id="notify" var="postNotify"
                                                         value="#{oCSBehaviourController.lstPostNotifyTrigger}"
                                                         selectionMode="single" reflow="true" widgetVar="notifyTable"
                                                         styleClass="table-campaign" style="margin-top: 10px"
                                                         paginator="true" rows="10"
                                                         rowKey="#{postNotify.postNotifyTriggerId}"
                                                         emptyMessage="No mapping found with given criteria"
                                                         editable="true"
                                                         rowsPerPageTemplate="5,10,15,20" lazy="false">
                                                <f:facet name="header">
                                                    <p:commandButton disabled="#{oCSBehaviourController.action eq false}"  icon="fa fa-plus" style="float: right; margin-left: 5px; width: 70px;" value=" Add"
                                                                     action="#{oCSBehaviourController.onAddNewNotify()}"
                                                                     update="@([id$=notify])"/>
                                                </f:facet>
                                                <p:column headerText="ErrorCode" colspan="2" filterMatchMode="contains">
                                                    <p:spinner disabled="#{oCSBehaviourController.action eq false}"  value="#{postNotify.errorCode}" min="0">
                                                        <p:ajax  event="change" process="@this"  update="@this" global="false"
                                                        ></p:ajax>
                                                    </p:spinner>

                                                </p:column>
                                                <p:column headerText="Notify Name" colspan="2" filterMatchMode="contains" style="text-align: center;">
                                                    <p:commandButton disabled="#{oCSBehaviourController.action eq false}"  value="Choose" style="width: auto"
                                                                     action="#{oCSBehaviourController.prepareToShowNotifyTrigger(postNotify)}"
                                                                     update="@([id$=notifyTriggerTreeForm])"
                                                                     oncomplete="PF('notifyTriggerTreePopup').show();"
                                                                     rendered="#{postNotify.notifyName == null or postNotify.notifyName == ''}">
                                                    </p:commandButton>
                                                    <h:outputText id="postNotifyTableName" value="#{postNotify.notifyName}"
                                                                  rendered="#{postNotify.notifyName != null and postNotify.notifyName != ''}" title="#{postNotify.notifyName}"/>
                                                    <!--<p:tooltip for="postNotifyTableName" value="#{postNotify.notifyName}"  position="top" rendered="#{postNotify.notifyName != null and postNotify.notifyName != ''}" />-->
                                                </p:column>
                                                <p:column headerText="Action" colspan="1" style="text-align: center;">
                                                    <p:outputPanel class="ui-g-12 ui-lg-6">
                                                        <p:commandLink value=""
                                                                       action="#{oCSBehaviourController.onClickViewDetail(postNotify)}"
                                                                       update="@([id$=remoteGrowl]),@([id$=dlgViewNotifyTrigger])"
                                                                       oncomplete="if (!args.validationFailed) PF('dlgViewNotifyTrigger').show();">
                                                            <h:outputText value="" class="ui-icon ui-icon-info"
                                                                          style=" width: auto; float: right"
                                                                          rendered="#{postNotify.notifyName != null and postNotify.notifyName != ''}"/>
                                                        </p:commandLink>
                                                    </p:outputPanel>
                                                    <p:outputPanel class="ui-g-12 ui-lg-6">
                                                        <p:commandLink disabled="#{oCSBehaviourController.action eq false}"  value=""
                                                                       action="#{oCSBehaviourController.onRemoveNotify(postNotify)}"
                                                                       update="@([id$=notify]),@([id$=remoteGrowl])">
                                                            <h:outputText value="" class="ui-icon ui-icon-trash"
                                                                          style=" width: auto;float: left"/>
                                                            <p:confirm disabled="#{postNotify.postNotifyTriggerId eq 0}" header="Confirmation"
                                                                       message="Are you sure to delete ?"
                                                                       icon="fa fa-warning"/>
                                                        </p:commandLink>
                                                    </p:outputPanel>
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                    </p:outputPanel>
                                </p:outputPanel>
                            </h:panelGrid>
                        </p:tab>
                    </p:tabView>

                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputPanel style="border-bottom: 1px solid #5f666c; width: 100%;"/>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:commandButton id="resetForm" icon="fa fa-refresh" value="Reset"
                                         style="width:auto;float: right;"
                                         action="#{oCSBehaviourController.onReset()}"
                                         update="@([id$=mainContent]),@([id$=treeCategory])  "
                                         disabled="#{oCSBehaviourController.action eq false}">
                            <p:confirm header="Confirmation"
                                       message="Are you sure to reset this OCS behaviour"
                                       icon="fa fa-warning"/>
                        </p:commandButton>
                        <p:commandButton id="saveForm"  icon="fa fa-floppy-o" value="Save" style="width:auto;float: right;"
                                         process="@this,@([id$=mainContent]) "
                                         action="#{oCSBehaviourController.onValidateObject()}"
                                         update="@([id$=remoteGrowl]),@([id$=fieldTable]),@([id$=extendFieldTable])"
                                         oncomplete="if (!args.validationFailed) PF('dlgConfirmSaveTemp').show();"
                                         disabled="#{oCSBehaviourController.action eq false}">
                        </p:commandButton>
                    </p:outputPanel>
                </h:form>
            </p:outputPanel>
        </p:panel>
    </p:outputPanel>
    <p:dialog header="Confirmation"
              widgetVar="dlgConfirmSaveTemp"
              id="dlgConfirmSaveTemp"
              modal="true"
              height="100">
        <h:outputText value="Are you sure to save this OCS behaviour ?" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmSaveTemp').hide();"/>

                <p:commandButton action="#{oCSBehaviourController.onSave()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 update="@([id$=remoteGrowl]),@([id$=treeCategory]), @([id$=editSw]), @([id$=mainForm]), @([id$=tableForm]) "
                                 oncomplete="PF('dlgConfirmSaveTemp').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
<!--    <p:outputPanel class="ui-g ui-fluid" rendered="#{oCSBehaviourController.display eq false}">
        <p:graphicImage name="images/anh_nen.jpg"
                        style="height: calc(100vh - 90px) !important; overflow: auto; width: 100%"/>
    </p:outputPanel>-->

    <ui:include src="OcsTemplateTreePopup.xhtml"/>
    <ui:include src="NotifyTriggerTree.xhtml"/>
    <ui:include src="ViewDetailContent.xhtml"/>
    <ui:include src="viewNotifyTriggerPopup.xhtml" />
</html>