<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:outputPanel class="ui-g ui-fluid" style="height: calc(100vh - 90px) !important; overflow: auto;">
        <p:panel class="ui-g-12" style="border-radius: 5px !important">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <h:form id="mainForm">
                    <p:outputPanel id="inputForm" style="height: 230px">
                        <p:focus context="inputForm"/>
                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Ocs behaviour id"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText placeholder="Ocs behaviour id" 
                                         value="#{oCSBehaviourController.currentValue.behaviourId}"
                                         disabled="true"/>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Ocs behaviour name"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText placeholder="Ocs behaviour name"
                                         value="#{oCSBehaviourController.currentValue.behaviourName}"
                                         title="#{oCSBehaviourController.currentValue.behaviourName}"
                                         disabled="true"/>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Description"/>
                            <div class="spacerHeight"/>
                            <p:inputTextarea  placeholder="Description" rows="1" cols="30" autoResize="false"
                                              value="#{oCSBehaviourController.currentValue.description}"
                                              title="#{oCSBehaviourController.currentValue.description}"
                                              disabled="true">
                            </p:inputTextarea>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Notification"/>
                            <div class="spacerHeight"/>
                            <p:inputText placeholder="Notification" 
                                         value="#{oCSBehaviourController.currentValue.notifyName}"
                                         title="#{oCSBehaviourController.currentValue.notifyName}"
                                         disabled="true"/>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Category"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:selectOneMenu  syncTooltip="true"  
                                              filterMatchMode="contains"  
                                              filter="true" 
                                              value="#{oCSBehaviourController.currentValue.categoryId}"
                                              style="margin-bottom:10px;"
                                              disabled="true">
                                <f:selectItems value="#{oCSBehaviourController.categories}"
                                               var="item"
                                               itemLabel="#{item.name}" 
                                               itemDescription="#{item.name}" 
                                               itemValue="#{item.categoryId}"/>
                            </p:selectOneMenu>
                        </p:outputPanel>

                    </p:outputPanel>

                    <p:tabView style="padding-top: 0px;" styleClass="ocsTabview">
                        <p:tab title="Template" titleStyle="padding: 0px; width: fit-content;">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:outputPanel id="tableForm">
                                    <div class="spacerHeight"/>
                                    <p:outputPanel class="ui-g-12 ui-lg-3">
                                        <p:outputLabel value="Template name"/><span style="color: red">*</span>
                                    </p:outputPanel>
                                    <p:outputPanel class="ui-g-12 ui-lg-9">
                                        <p:inputText placeholder="Template name" 
                                                     value="#{oCSBehaviourController.currentValue.templateName}"
                                                     title="#{oCSBehaviourController.currentValue.templateName}"
                                                     disabled="true" />
                                    </p:outputPanel>

                                    <p:outputPanel class="ui-g-12 ui-lg-12" style="margin-top: 25px">
                                        <p:outputPanel class="ui-inputgroup">
                                            <p:outputLabel value="Template field" style="font-weight: bold"/> <span style="color: red">*</span>
                                        </p:outputPanel>
                                        <p:outputPanel>
                                            <div id="fieldDiv">
                                                <p:dataTable id="fieldTable" var="field"
                                                             value="#{oCSBehaviourController.lstOCSField}"
                                                             selectionMode="single"
                                                             reflow="true"
                                                             rowIndexVar="rowIndex"
                                                             styleClass="table-campaign" style="margin-top: 10px"
                                                             rowKey="#{field.behaviourFieldId}" paginator="true" rows="10"
                                                             widgetVar="fieldTable"
                                                             emptyMessage="No field found with given criteria"
                                                             editable="true"
                                                             rowsPerPageTemplate="5,10,15,20" lazy="false">
                                                    <p:column headerText="Field id" colspan="1">
                                                        <h:outputText value="#{field.craFieldId}"/>
                                                    </p:column>

                                                    <p:column  headerText="Field Name" colspan="2" filterMatchMode="contains">
                                                        <h:outputText id="fieldNameTable" value="#{field.name}" title="#{field.name}"/>
                                                    </p:column>

                                                    <p:column headerText="Data Type" colspan="2" filterMatchMode="contains">
                                                        <h:outputText value="#{field.dataType}"/>
                                                    </p:column>

                                                    <p:column headerText="Template Type" colspan="2" filterMatchMode="contains">
                                                        <h:outputText value="#{field.templateTypeName}"/>
                                                    </p:column>

                                                    <p:column headerText="Source Type" colspan="2" filterMatchMode="contains">
                                                        <h:outputText rendered="#{field.templateType eq 2}" 
                                                                      value="#{field.value eq 1 ? 'Exact' : 'Path'}" />
                                                    </p:column>

                                                    <p:column id="fieldValue" headerText="Value" colspan="1" filterMatchMode="contains">
                                                        <h:outputText value="#{field.value}" title="#{field.value}"/>
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </p:outputPanel>
                                    </p:outputPanel>

                                    <p:outputPanel class="ui-g-12 ui-lg-12" style="margin-top: 25px">
                                        <p:outputPanel class="ui-inputgroup">
                                            <p:outputLabel value="Template extend field" style="font-weight: bold"/>
                                        </p:outputPanel>

                                        <p:outputPanel>
                                            <div id="extendFieldDiv">
                                                <p:dataTable id="extendFieldTable" var="extendField"
                                                             value="#{oCSBehaviourController.lstOCSExtendField}"
                                                             selectionMode="single" reflow="true"
                                                             widgetVar="extendFieldTable"
                                                             styleClass="table-campaign" style="margin-top: 10px"
                                                             paginator="true" rows="10"
                                                             rowKey="#{extendField.id}"
                                                             emptyMessage="No extend field found with given criteria"
                                                             rowsPerPageTemplate="5,10,15,20" lazy="false">
                                                    <p:column headerText="Extend field Name" colspan="2" filterMatchMode="contains">
                                                        <h:outputText value="#{extendField.name}" 
                                                                      title="#{extendField.name}"/>
                                                    </p:column>
                                                    <p:column headerText="Value" colspan="2" filterMatchMode="contains">
                                                        <p:inputText value="#{extendField.value}" 
                                                                     title="#{extendField.value}" 
                                                                     disabled="true" />
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </p:outputPanel>
                                    </p:outputPanel>
                                </p:outputPanel>
                            </h:panelGrid>
                        </p:tab>

                        <p:tab title="Post notify" titleStyle="padding: 0px;     width: fit-content;">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:outputPanel class="ui-g-12 ui-lg-12" style="margin-top: 25px">
                                    <p:outputPanel class="ui-inputgroup">
                                        <p:outputLabel value="Mapping error code-notify"
                                                       style="font-weight: bold"/>
                                    </p:outputPanel>
                                    <p:outputPanel id="notifyPanel">
                                        <div id="notifyDiv">
                                            <p:dataTable id="notify" var="postNotify"
                                                         value="#{oCSBehaviourController.lstPostNotifyTrigger}"
                                                         selectionMode="single" reflow="true" widgetVar="notifyTable"
                                                         styleClass="table-campaign" style="margin-top: 10px"
                                                         paginator="true" rows="10"
                                                         rowKey="#{postNotify.postNotifyTriggerId}"
                                                         emptyMessage="No mapping found with given criteria"
                                                         editable="true"
                                                         rowsPerPageTemplate="5,10,15,20" lazy="false">

                                                <p:column headerText="ErrorCode" colspan="1" filterMatchMode="contains" style="text-align: center;">
                                                    <h:outputText value="#{postNotify.errorCode}" />
                                                </p:column>
                                                <p:column headerText="Notify Name" colspan="3" filterMatchMode="contains" style="text-align: left;">
                                                    <h:outputText value="#{postNotify.notifyName}"
                                                                  title="#{postNotify.notifyName}"/>
                                                </p:column>

                                                <p:column headerText="Action" colspan="1" style="text-align: center;">
                                                    <p:outputPanel class="ui-g-12 ui-lg-12">
                                                        <p:commandLink action="#{oCSBehaviourController.onClickViewDetail(postNotify)}"
                                                                       update="@([id$=remoteGrowl]),@([id$=dlgViewNotifyTrigger])"
                                                                       oncomplete="if (!args.validationFailed) PF('dlgViewNotifyTrigger').show();">
                                                            <h:outputText class="ui-icon ui-icon-info"
                                                                          style=" width: auto;"/>
                                                        </p:commandLink>
                                                    </p:outputPanel>
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                    </p:outputPanel>
                                </p:outputPanel>
                            </h:panelGrid>
                        </p:tab>
                    </p:tabView>
                </h:form>
            </p:outputPanel>
        </p:panel>
    </p:outputPanel>

    <ui:include src="viewNotifyTriggerPopup.xhtml" />
</html>