<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:outputPanel id="panelCondition" class="ui-g ui-fluid" 
                   rendered="#{conditionTableController.isDisplay}" 
                   style="height: calc(100vh - 67px) !important; overflow: auto;margin-right: -9px; margin-left: -9px; margin-top: -20px">
        <p:panel class="ui-g-12" style="border-radius: 5px !important">
       
<!--            <p:toolbar styleClass="toolbar">
                <f:facet name="left">
                    <h:form>
                        <p:outputLabel value="Condition table"
                                       style="float: left; font-weight: bold; font-size: 14px"/>
                    </h:form>
                </f:facet>
                <f:facet name="right">
                    <h:form>
                        <p:inputSwitch style="float: right;margin-top: -3px;" value="#{conditionTableController.actonSwitch}">
                            <p:ajax update="@([id$=resetForm]),@([id$=saveForm])"></p:ajax>
                        </p:inputSwitch>
                        <p:outputLabel value="Edit" style="float: right; margin-right: 10px;"/>
                    </h:form>
                </f:facet>
            </p:toolbar>-->
            
            
            <!--habm2-start-->
            <div class="title-wrap">
                <div class="title-name">Condition Table</div>
                <div class="title-action">
                    <h:form>
                        <p:outputLabel for="editSw11" value="Edit" styleClass="title-lb"/>
                        <p:inputSwitch id="editSw11" label="Edit" styleClass="title-sw" style="position: sticky !important;"
                                       value="#{conditionTableController.actonSwitch}">
                            <p:ajax update="@([id$=resetForm]),@([id$=saveForm]),@([id$=conditionForm]"></p:ajax>
                        </p:inputSwitch>
                    </h:form>
                </div>
            </div>
            <!--habm2-end-->
            <h:form id="conditionForm">
                <p:outputPanel class="ui-g-12 ui-lg-12" id="test1">
                    <p:focus context="test1"/>
                    <p:outputPanel class="ui-g-6 ui-lg-4">
                        <p:outputLabel value="Category" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:selectOneMenu disabled="#{conditionTableController.actonSwitch eq false}"   syncTooltip="true"  filterMatchMode="contains"  filter="true" id="category"  value="#{conditionTableController.conditionTable.categoryId}" style="margin-bottom:10px;">
                            <f:selectItems value="#{conditionTableController.categories}"
                                           var="item"
                                           itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                           itemValue="#{item.categoryId}" />
                        </p:selectOneMenu>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-6 ui-lg-4">
                        <p:outputLabel value="Condition table id" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText  disabled="#{conditionTableController.actonSwitch eq false}" onchange="this.value = this.value.trim()" placeholder="Condition table id" value="#{conditionTableController.conditionTable.conditionTableId}"/>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-6 ui-lg-4" id="conditionTableName">
                        <p:focus context="conditionTableName"/>
                        <p:outputLabel value="Condition table name" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText  disabled="#{conditionTableController.actonSwitch eq false}" onchange="this.value = this.value.trim()" placeholder="Condition table name"
                                     value="#{conditionTableController.conditionTable.conditionTableName}"
                                     title="#{conditionTableController.conditionTable.conditionTableName}"
                                     required="true" requiredMessage="Condition table name is required"
                                     validatorMessage="Condition table name not contains '%' character"
                                     onkeypress="updateTitle(this)">
                            <f:validateRegex pattern="^[^%]*$"/>
                        </p:inputText>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputLabel value="Description" />
                        <div class="spacerHeight"/>
                        <!--                    <p:inputText  disabled="#{conditionTableController.actonSwitch eq false}" onchange="this.value = this.value.trim()" placeholder="Description" maxlength="255" value="#{conditionTableController.conditionTable.description}"/>-->
                        <p:inputTextarea disabled="#{conditionTableController.actonSwitch eq false}"   onchange="this.value = this.value.trim()" placeholder="Description" rows="1" cols="30" autoResize="false"
                                         validatorMessage="Description not contains '%' character"
                                         title="#{conditionTableController.conditionTable.description}"
                                         value="#{conditionTableController.conditionTable.description}"
                                         onkeypress="updateTitle(this)">
                            <f:validateRegex pattern="^[^%]*$"/>
                        </p:inputTextarea>
                    </p:outputPanel>



                    <!--  table-->
                    
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <!--                        <p:outputPanel class="ui-inputgroup">-->
                        <!--                            <p:outputPanel class="circle" style="position: relative;">-->
                        <!--                                <p:outputLabel value="2" style="position: absolute; padding-top: 5px; padding-left: 9px;font-weight: bold; color: #fff  "/>-->
                        <!--                            </p:outputPanel>-->
                        <!--                            <p:outputPanel style="border-bottom: 1px solid #a8acb1; width: 100%;margin-bottom: 8px;">-->
                        <!--                                <p:spacer height="0" width="10px"/>-->
                        <!--                                <p:outputLabel value="Content " style="font-size: 14px; font-weight: bold"/> <span style="color: red">*</span>-->
                        <!--                                <span id="iconToggle1" style="font-size: 20px;float: right; font-weight: bold" class="fa fa-fw fa-angle-down"></span>-->
                        <!--                                <script>-->
                        <!--                                    $('#iconToggle1').click(function () {-->
                        <!--                                        $('#tableRule').toggle("slow");-->
                        <!--                                    });-->
                        <!--                                </script>-->
                        <!--                            </p:outputPanel>-->
                        <!--                        </p:outputPanel>-->
                        <p:dataTable id="conditionTable" var="itemTbl" value="#{conditionTableController.conditionTableDTOS}"
                                     reflow="true"
                                     styleClass="table-campaign" style="margin-top: 10px"
                                     selection="#{conditionTableController.conditionTableDTO}"
                                     rowKey="#{itemTbl.index}"
                                     rowIndexVar="rowIndex"
                                     paginator="true" rows="10"
                                     widgetVar="ruleTable"
                                     emptyMessage="No content"
                                     editable="true" editMode="cell"
                                     scrollable="true" scrollWidth="100%"
                                     rowsPerPageTemplate="5,10,15,20" lazy="false">
                            <f:facet name="header">
<!--                                <p:outputLabel value="Content" style="float: left;font-weight: bold; font-size: 16px"/>-->
<!--                                <span style="color: red">*</span>-->
                                <p:outputLabel value="Content"
                                               style="font-size: 14px; font-weight: bold ; float: left;  width: auto;"/>
                                <span style="color: red ; float: left">*</span>
                                <p:commandButton disabled="#{conditionTableController.actonSwitch eq false}" icon="fa fa-plus" style="float: right; margin-left: 5px; width: 100px; margin-bottom: 5px" value="Row"
                                                 action="#{conditionTableController.onAddRow()}"
                                                 process="@([id$=conditionForm])"
                                                 update="@([id$=conditionForm]),@([id$=remoteGrowl])"/>
                                <p:commandButton disabled="#{conditionTableController.actonSwitch eq false}" icon="fa fa-plus" style="float: right; margin-left: 5px; width: 100px; margin-bottom: 5px" value="Column"
                                                 action="#{conditionTableController.onAddColumn()}"
                                                 process="@([id$=conditionForm])"
                                                 update="@([id$=conditionForm]),@([id$=remoteGrowl]),@([id$=preprocessUnitTreeForm])"/>
                                <!--                                <p:commandButton disabled="#{conditionTableController.actonSwitch eq false}" icon="fa fa-minus" style="float: right; margin-left: 5px; width: 140px;" value="Clear column 1"-->
                                <!--                                                 action="PF('dlClearColumn').show();"-->
                                <!--                                                 process="@([id$=conditionForm]), @this"-->
                                <!--                                                 update="@([id$=content]),@([id$=remoteGrowl]),@([id$=dlClearColumn])"/>-->
<!--                                <p:commandButton disabled="#{conditionTableController.actonSwitch eq false}" icon="fa fa-minus" value="Clear column" id="clear"-->
<!--                                                 style="float: right; margin-left: 5px; width: 140px;"-->
<!--                                                 process="@this"-->
<!--                                                 update="@([id$=remoteGrowl]), @([id$=content])"-->
<!--                                                 oncomplete="PF('dlClearColumn').show()"/>-->
                            </f:facet>
                          
                            <p:column headerText="Index"
                                      style="text-align:center; width: 50px;">
                                <h:outputText value="#{itemTbl.index}"/>
                            </p:column>
                            <p:column headerText="Default" selectionMode="single" id="col1"
                                      style="text-align:center; width: 50px;" process="@this">
                            </p:column>
                            <p:tooltip for="col1" value="Default" position="top"/>

                            <p:ajax event="rowSelectRadio" listener="#{conditionTableController.onSelectRow}" />

<!--                            <c:forEach items="#{conditionTableController.columns}" var="column">-->
<!--                                <p:column headerText="Index"-->
<!--                                          style="text-align:center; width: 10%">-->
<!--                                    <h:outputText value="#{column.header}"/>-->
<!--                                </p:column>-->
<!--                            </c:forEach>-->
                            <p:columns value="#{conditionTableController.columns}" var="column" columnIndexVar="colIndex"
                                       style="background-color: ##{itemTbl.valueColor[colIndex]}; width: 100px;">
                                <f:facet name="header"  >
                                    <h:outputText  value="#{column.header}" title="#{column.header}"/>
                                </f:facet>
                                <p:outputPanel style="width: 100%">
                                    <p:selectOneMenu disabled="#{conditionTableController.actonSwitch eq false}"   syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{itemTbl.valueIds[colIndex]}"
                                                     style="background-color: ##{itemTbl.valueColor[colIndex]}">
                                        <f:selectItem itemLabel="Choose value" itemValue="-1"/>
                                        <f:selectItems value="#{conditionTableController.preProcessUnits[colIndex].lstProcessValue}"
                                                       var="processValue"
                                                       itemDescription="#{processValue.valueName}"
                                                       itemLabel="#{processValue.valueName}"
                                                       itemValue="#{processValue.valueId}"/>

                                        <p:ajax event="change" update="@([id$=conditionForm]),@([id$=remoteGrowl])"
                                                listener="#{conditionTableController.onSelectRowProcessValue(rowIndex, colIndex)}" />
                                    </p:selectOneMenu>
                                </p:outputPanel>

                            </p:columns>

                            <p:column headerText="Combine" width="" style="width: 50px;">
                                <h:outputText value="#{itemTbl.combine}" id="combine" title="#{itemTbl.combine}"/>
                            </p:column>
                            <p:column headerText="Action" style="width: 50px;">
                                <p:commandLink disabled="#{conditionTableController.actonSwitch eq false}"  action="#{conditionTableController.moveUpRow(itemTbl)}"
                                               update="@([id$=conditionTable])" style="">
                                    <i class="fa fa-fw fa-arrow-up"></i>
                                </p:commandLink>

                                <p:commandLink disabled="#{conditionTableController.actonSwitch eq false}"  action="#{conditionTableController.moveDownRow(itemTbl)}"
                                               update="@([id$=conditionTable])" style="">
                                    <i class="fa fa-fw fa-arrow-down"></i>
                                </p:commandLink>

                                <p:commandLink disabled="#{conditionTableController.actonSwitch eq false}"  action="#{conditionTableController.removeRow(itemTbl)}"
                                               update="@([id$=conditionTable])" style="">
                                    <i class="fa fa-fw fa-trash"></i>

                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-12" id="divButton">
                        <p:commandButton icon="fa fa-refresh" value="Reset" id="resetForm"
                                         style="width:auto;float: right;"
                                         action="#{conditionTableController.refreshData()}"
                                         process="@this"
                                         update="@([id$=remoteGrowl]), @([id$=mainContent])"
                                         disabled="#{conditionTableController.actonSwitch eq false}">
                            <p:confirm header="Confirmation" message="Are you sure to reset?" icon="ui-icon-alert"/>
                        </p:commandButton>
                        <p:commandButton action="#{conditionTableController.validateCondition()}"
                                         style="width:auto;float: right;"
                                          icon="fa fa-floppy-o" value="Save" id="saveForm"
                                         process="@([id$=conditionForm])"
                                         update="@([id$=remoteGrowl]),@([id$=conditionTable])"
                                         disabled="#{conditionTableController.actonSwitch eq false}"
                                         oncomplete="if (!args.validationFailed) PF('dlgConfirmCondition').show();">
                        </p:commandButton>
                    </p:outputPanel>
                </p:outputPanel>
                <!-- end table-->
            </h:form>
        </p:panel>
    </p:outputPanel>

    <p:dialog header="Confirmation" widgetVar="dlgConfirmCondition" modal="true" height="100">
        <h:outputText value="#{conditionTableController.isUpdate eq false ? 'Are you sure to create this Condition Table?' : 'Are you sure to edit this Condition Table?'}" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmCondition').hide();"/>

                <p:commandButton action="#{conditionTableController.doSaveConditionTable()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 process="@([id$=conditionForm]),@this"
                                 update="@([id$=content]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirmCondition').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
    <p:dialog header="Confirmation" widgetVar="dlClearColumn" modal="true" height="100">
        <h:outputText value="Are you sure to clear columns?" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlClearColumn').hide();"/>

                <p:commandButton action="#{conditionTableController.onClearColumn()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 process="@([id$=conditionForm]),@this"
                                 update="@([id$=content]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlClearColumn').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
    <p:dialog header="Confirmation" widgetVar="dlgConfirmResetCondition" modal="true" height="100">
        <h:outputText value="Are you sure to reset?" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmResetCondition').hide();"/>

                <p:commandButton action="#{conditionTableController.refreshData()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 process="@([id$=conditionForm]),@this"
                                 update="@([id$=content]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirmResetCondition').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>

<!--    <p:outputPanel class="ui-g ui-fluid" rendered="#{conditionTableController.isDisplay eq false}">
        <p:graphicImage name="images/anh_nen.jpg" style="height: calc(100vh - 89px) !important; overflow: auto; width: 100%"/>
    </p:outputPanel>-->
    
    <ui:include src="preProcessUnitTreePopup.xhtml" />
    <ui:include src="addColumnPopup.xhtml" />
</html>