<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template_object.xhtml">

    <ui:define name="title">Condition table</ui:define>

    <ui:define name="viewname">Condition table</ui:define>
 
    <ui:define name="head">
        <style>
            body .ui-outputlabel {
                padding-bottom: 5px;
            }

            #basic1 .ui-panel-titlebar {
                padding: 0px;
                /*border-bottom: 0px solid;*/
            }

            body .ui-panel .ui-panel-content {
                padding: 0px;
            }

            .ui-datatable tbody > .ui-widget-content.ui-datatable-odd.ui-datatable-selectable.ui-state-highlight {
                background-color: #ffffff;
                color: #000000
            }
            .ui-datatable tbody > .ui-widget-content.ui-datatable-even.ui-datatable-selectable.ui-state-highlight {
                background-color: #ffffff;
                color: #000000
            }
        </style>
        <script>
            // PF('segmentTable').addRow();
        </script>
    </ui:define>

    <ui:define name="content" >      
        <p:outputPanel class="ui-g ui-fluid" id="content">
            <p:outputPanel class="ui-g-12 ui-lg-3 panel_content" style="margin-top: -20px;">
                <ui:include src="conditionTableAndCategoryTree.xhtml"/>
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-9 panel_content" id="mainContent">
                <ui:include src="conditionTableContent.xhtml"/>
            </p:outputPanel>
        </p:outputPanel> 
    </ui:define>
</ui:composition>