<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Add extend field" widgetVar="ocsTemplateExtendFieldPopup" id="ocsTemplateExtendFieldPopup" responsive="true" style="width: 500px" modal="true">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Add extend field" style="margin-left:10px;"/>
        </f:facet>
        <h:form id="ocsExtendfieldPickingListForm" style="width: 550px ;max-height: 800px;overflow: hidden">
            <p:outputLabel value="Extend field" style=" margin-left: 9px;"/>
            <div class="spacerHeight"/>
            <p:pickList id="ocsExtendPickingList"  var="var" value="#{oCSTemplateController.ocsTemplateExtendPickingList}"
                        itemValue="#{var}" itemLabel="#{var.name}"  showCheckbox="true"
                        showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains"
                        responsive="true" converter="oCSTemplateExtendFieldConverter">

                <p:column style="width: 100%"  >
                    <h:outputText value="#{var.name}" title="#{var.name}"/>
                </p:column>
            </p:pickList>
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <!--<p:commandButton value="Add"-->
                                     <!--action="#{oCSTemplateController.prepareToShowCreateExtendField()}"-->
                    <!--style="width:auto;float: right;"-->
                    <!--update="@([id$=createExtendField])"-->
                    <!--oncomplete="PF('createExtendFieldPopup').show() , PF('ocsTemplateExtendFieldPopup').hide() "/>-->
                    <p:commandButton icon="fa fa-floppy-o" value="Apply"
                                     action="#{oCSTemplateController.onSaveExtendField()}"
                                     style="width:auto;float: right;"
                                     update="@([id$=extendFieldTable])"
                                     oncomplete="PF('ocsTemplateExtendFieldPopup').hide()"/>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>
</html>