<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<p:dialog header="Create extend field"
          widgetVar="createExtendFieldPopup" id="createExtendFieldPopup" responsive="true" modal="true">
    <f:facet name="header">
        <i class="fa fa-list" style="font-size: 14px;"></i>
        <h:outputText value="Create extend field" style="margin-left:10px;"/>
    </f:facet>
    <h:form id="createExtendField">
        <p:outputPanel class="ui-g ui-fluid">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:outputLabel value="Field id"/><span style="color: red">*</span>
                <div class="spacerHeight"/>
                <p:inputText onchange="this.value = this.value.trim()" placeholder="Field id"
                             readonly="true"
                             value="#{oCSTemplateController.extendField.id}">
                </p:inputText>
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:outputLabel value="Field name"/><span style="color: red">*</span>
                <div class="spacerHeight"/>
                <p:inputText onchange="this.value = this.value.trim()" placeholder="Field name"
                             value="#{oCSTemplateController.extendField.name}"/>
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:outputLabel value="Description"/>
                <div class="spacerHeight"/>
                <p:inputText onchange="this.value = this.value.trim()" placeholder="Description"
                             value="#{oCSTemplateController.extendField.description}"/>
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-6"></p:outputPanel>
        </p:outputPanel>

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton action="#{oCSTemplateController.onCreateNewExtendField()}"
                                 style="width:auto;float: right;"
                                  icon="fa fa-floppy-o" value="Save"
                                 process="@([id$=createExtendField])"
                                 update="@([id$=remoteGrowl]),@([id$=ocsExtendPickingList])"
                                 oncomplete="if (!args.validationFailed) PF('createExtendFieldPopup').hide(), PF('ocsTemplateExtendFieldPopup').show()">
                    <p:confirm header="Confirmation"
                               message="Are you sure to create extend field ?"
                               icon="fa fa-warning"/>
                </p:commandButton>
            </p:outputPanel>
        </div>
    </h:form>
</p:dialog>

</html>