<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<p:dialog header="Add filter" widgetVar="addFilterPopup" id="addFilterPopup" responsive="true" style="width: 500px"
          modal="true">
    <f:facet name="header">
        <i class="fa fa-list" style="font-size: 14px;"></i>
        <h:outputText value="Add filter" style="margin-left:10px;"/>
    </f:facet>
    <div class="spacerHeight"/>
    <h:form id="addTreeForm" style="width: 1000px">
        <p:outputPanel class="ui-g ui-fluid" style=" border: 0px solid; padding: 0px ;height:550px ;overflow-y: auto;">
            <p:outputPanel class="ui-g-12 ui-lg-6">
                <p:outputPanel class="ui-g-12 ui-lg-12">

                    <p:outputLabel value="Filter condition"/>
                    <div class="spacerHeight"/>
                    <p:inputTextarea  onchange="this.value = this.value.trim()"  rows="1" id="inputCondition" placeholder="Filter condition"
                                      value="#{preProcessCompareNumberController.currentPathTable.dataCondition}" disabled="true">

                    </p:inputTextarea>
                    <p:dataTable id="condition" var="condition" value="#{preProcessCompareNumberController.lstConditionTable}"
                                 selectionMode="single"
                                 reflow="true"
                                 styleClass="table-campaign" style="margin-top: 10px"
                                 paginator="true" rows="10"
                                 rowKey="#{condition.fieldId}"
                                 widgetVar="conditionTable"
                                 emptyMessage="No condition found with given criteria"
                                 editable="true"
                                 rowsPerPageTemplate="5,10,15,20" lazy="false">
                        <f:facet name="header">
                            <p:commandButton icon="fa fa-plus" value="Condition"
                                             style="float: left ; width: auto"
                                             action="#{preProcessCompareNumberController.onAddCondition()}"
                                             update="@([id$=condition])"
                                             disabled="#{preProcessCompareNumberController.disableConditiontable or preProcessCompareNumberController.action eq false}"/> 
                        </f:facet>
                        <p:column headerText="Field Name" colspan="2">
                            <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{condition.fieldId}"
                                             disabled="#{preProcessCompareNumberController.disableConditiontable or preProcessCompareNumberController.action eq false}"
                                             style=" min-width: auto;">
                                <p:ajax listener="#{preProcessCompareNumberController.onFieldConditionChange(condition)}"
                                        update="@([id$=addTreeForm])"/>
                                <f:selectItem itemLabel="Choose field" itemValue=""/>
                                <f:selectItems value="#{preProcessCompareNumberController.lstConditionData}"
                                               var="data"
                                               itemLabel="#{data.objectName}"
                                               itemDescription="#{data.objectName}"
                                               itemValue="#{data.objectId}"/>
                            </p:selectOneMenu>
                        </p:column>
                        <p:column colspan="1">
                            <h:outputText value="="/>
                        </p:column>
                        <p:column headerText="Field value" colspan="2">
                            <p:inputText onchange="this.value = this.value.trim()" value="#{condition.fieldValueString}"
                                         title="#{condition.fieldValueString}"
                                         onkeypress="updateTitle(this)"
                                         disabled="#{preProcessCompareNumberController.disableConditiontable or preProcessCompareNumberController.action eq false}"
                                         rendered="#{condition.fieldType eq 2}">
                                <p:ajax event="change" process="@this" update="@([id$=inputCondition])"
                                        listener="#{preProcessCompareNumberController.onConditionChange}"/>
                            </p:inputText>
                            <p:spinner value="#{condition.fieldValueNumber}"
                                       rendered="#{condition.fieldType eq 3 or condition.fieldType eq 4}"
                                       onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
                                       disabled="#{preProcessCompareNumberController.action eq false}">
                                <p:ajax event="keyup" delay="500" process="@this" update="@([id$=addTreeForm])"
                                        listener="#{preProcessCompareNumberController.onConditionChange}"/>
                                <p:ajax event="change"  process="@this" update="@([id$=addTreeForm])"
                                        listener="#{preProcessCompareNumberController.onConditionChange}"/>
                            </p:spinner>
                            
                            
                            <p:spinner value="#{condition.fieldValueDouble}" 
                                           rendered="#{condition.fieldType eq 5}"
                                           onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
                                           disabled="#{preProcessCompareNumberController.action eq false}">
                                <p:ajax event="keyup" delay="500" process="@this" update="@([id$=addTreeForm])"
                                        listener="#{preProcessCompareNumberController.onConditionChange}"/>
                                <p:ajax event="change" process="@this" update="@([id$=addTreeForm])"
                                        listener="#{preProcessCompareNumberController.onConditionChange}"/>
                            </p:spinner>
                            
                            
                            
                            <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{condition.fieldValueBoolean}"
                                             rendered="#{ condition.fieldType == 6}"
                                             disabled="#{preProcessCompareNumberController.action eq false}">
                                <p:ajax update="@([id$=addTreeForm])"
                                        listener="#{preProcessCompareNumberController.onConditionChange}"/>
                                <f:selectItem itemLabel="true" itemValue="1"/>
                                <f:selectItem itemLabel="false" itemValue="0"/>
                            </p:selectOneMenu>
                        </p:column>

                        <p:column headerText="Action" colspan="1">
                            <p:commandLink action="#{preProcessCompareNumberController.onRemoveCondition(condition)}"
                                           update="@([id$=condition]),@([id$=remoteGrowl]),@([id$=addTreeForm])"
                                           disabled="#{preProcessCompareNumberController.action eq false}">
                                <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                                <p:confirm header="Confirmation"
                                           message="Are you sure to delete this condition?"
                                           icon="fa fa-warning"/>
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                </p:outputPanel>
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-6">
                <p:outputPanel class="ui-g-12 ui-lg-12">

                    <p:outputLabel value="Function"/>
                    <div class="spacerHeight"/>
                    <p:inputTextarea  onchange="this.value = this.value.trim()"  rows="1" id="inputFunction" placeholder="Function"
                                      value="#{preProcessCompareNumberController.currentPathTable.dataFunction}" disabled="true">
                    </p:inputTextarea>
                    <p:dataTable id="function" var="function" value="#{preProcessCompareNumberController.lstFunctionTable}"
                                 selectionMode="single"
                                 reflow="true"
                                 styleClass="table-campaign" style="margin-top: 10px"
                                 paginator="true" rows="10"
                                 rowKey="#{function.fieldId}"
                                 widgetVar="functionTable"
                                 emptyMessage="No function found with given criteria"
                                 editable="true"
                                 rowsPerPageTemplate="5,10,15,20" lazy="false">
                        <f:facet name="header">
                            <p:commandButton icon="fa fa-plus" value="Function"
                                             style="float: left ; width: auto"
                                             action="#{preProcessCompareNumberController.onAddFunction()}"
                                             update="@([id$=function])"
                                             disabled="#{preProcessCompareNumberController.action eq false}"/>
                        </f:facet>
                        <p:column headerText="Function Name" colspan="2">
                            <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{function.fieldId}"
                                             style="margin-bottom:8px;     min-width: auto;"
                                             disabled="#{preProcessCompareNumberController.action eq false}">
                                <p:ajax listener="#{preProcessCompareNumberController.onFieldFunctionChange(function)}"
                                        update="@([id$=addTreeForm])"/>
                                <f:selectItem itemLabel="Choose function" itemValue="-1"/>
                                <f:selectItems value="#{preProcessCompareNumberController.lstFunctionData}"
                                               var="data1"
                                               itemLabel="#{data1.functionDisplay}"
                                               itemDescription="#{data1.functionDisplay}"
                                               itemValue="#{data1.functionId}"/>
                            </p:selectOneMenu>
                        </p:column>
                        <p:column headerText="Parameters" colspan="2" filterMatchMode="contains">
                            <p:repeat value="#{function.lstFunctionParams}" var="params">
                                <p:inputText onchange="this.value = this.value.trim()" style="margin-bottom: 8px;" value="#{params.fieldValueString}"
                                             title="#{params.fieldValueString}"
                                             onkeypress="updateTitle(this)"
                                             rendered="#{params.valueType eq 1}"
                                             disabled="#{preProcessCompareNumberController.action eq false}">
                                    <p:ajax event="change" process="@([id$=function])" update="@([id$=addTreeForm])"
                                            listener="#{preProcessCompareNumberController.onFunctionChange}"/>
                                </p:inputText>
                                <p:spinner style="margin-bottom: 8px;" value="#{params.fieldValueNumber}"
                                           onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
                                           rendered="#{params.valueType eq 2}"
                                           disabled="#{preProcessCompareNumberController.action eq false}">
                                    <p:ajax event="keyup" delay="500" process="@([id$=function])" update="@([id$=addTreeForm])"
                                            listener="#{preProcessCompareNumberController.onFunctionChange}"/>
                                    <p:ajax event="change" process="@([id$=function])" update="@([id$=addTreeForm])"
                                            listener="#{preProcessCompareNumberController.onFunctionChange}"/>
                                </p:spinner>
                                <div style="margin-bottom: 8px">
                                    <p:calendar style="margin-bottom: 8px; width: auto" showOn="button"
                                                value="#{params.fieldValueDate}"
                                                converterMessage="Input parameter is wrong!"
                                                pattern="yyyy/MM/dd HH:mm:ss" rendered="#{params.valueType eq 3}"
                                                disabled="#{preProcessCompareNumberController.action eq false}">
                                        <p:ajax event="keyup" delay="500" process="@([id$=function])" update="@([id$=inputFunction])"
                                                listener="#{preProcessCompareNumberController.onFunctionChange}"/>
                                        <p:ajax event="dateSelect" process="@([id$=function])" update="@([id$=inputFunction])"
                                                listener="#{preProcessCompareNumberController.onFunctionChange}"/>
                                    </p:calendar>
                                </div>
                                <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{params.fieldZoneId}"
                                                 style="margin-bottom:8px;  min-width: auto;"
                                                 rendered="#{ params.valueType  eq 4}"
                                                 disabled="#{preProcessCompareNumberController.action eq false}">
                                    <p:ajax process="@([id$=function])" update="@([id$=addTreeForm])"
                                            listener="#{preProcessCompareNumberController.onFunctionChange}"/>
                                    <f:selectItems value="#{preProcessCompareNumberController.lstZone}"
                                                   var="zone"
                                                   itemLabel="#{zone.zoneName}"
                                                   itemDescription="#{zone.zoneName}"
                                                   itemValue="#{zone.zoneId}"/>
                                </p:selectOneMenu>
                                <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{params.fieldZoneMapId}"
                                                 style="margin-bottom:8px;  min-width: auto;"
                                                 rendered="#{ params.valueType  eq 5}"
                                                 disabled="#{preProcessCompareNumberController.action eq false}">
                                    <p:ajax process="@([id$=function])" update="@([id$=addTreeForm])"
                                            listener="#{preProcessCompareNumberController.onFunctionChange}"/>
                                    <f:selectItems value="#{preProcessCompareNumberController.lstZoneMap}"
                                                   var="zoneMap"
                                                   itemLabel="#{zoneMap.zoneMapName}"
                                                   itemDescription="#{zoneMap.zoneMapName}"
                                                   itemValue="#{zoneMap.zoneMapId}"/>
                                </p:selectOneMenu>
                                <p:spinner style="margin-bottom: 8px;" value="#{params.fieldValueNumber}"
                                           title="#{params.fieldValueDouble}"
                                           onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
                                           rendered="#{params.valueType eq 6}"
                                           disabled="#{preProcessCompareNumberController.action eq false}" >
                                    <p:ajax event="keyup" delay="500" process="@([id$=function])" update="@([id$=addTreeForm])"
                                            listener="#{preProcessCompareNumberController.onFunctionChange}"/>
                                    <p:ajax event="change"  process="@([id$=function])" update="@([id$=addTreeForm])"
                                            listener="#{preProcessCompareNumberController.onFunctionChange}"/>
                                </p:spinner>
                            </p:repeat>
                        </p:column>

                        <p:column headerText="Action" colspan="1">
                            <p:commandLink action="#{preProcessCompareNumberController.onRemoveFuntion(function)}"
                                           update="@([id$=function]),@([id$=addTreeForm]),@([id$=remoteGrowl])"
                                           disabled="#{preProcessCompareNumberController.action eq false}">
                                <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                                <p:confirm header="Confirmation"
                                           message="Are you sure to delete this function ?"
                                           icon="fa fa-warning"/>
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                </p:outputPanel>
            </p:outputPanel>
        </p:outputPanel>
        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton action="#{preProcessCompareNumberController.validateApplyFilter()}"
                                 style="width:auto;float: right;"
                                 icon="fa fa-floppy-o" value="Apply"
                                 process="@([id$=addTreeForm])"
                                 update="@([id$=inputField]),@([id$=inputField1]),@([id$=remoteGrowl]),@([id$=pathTable]),@([id$=pathTable2])"
                                 oncomplete=" if (!args.validationFailed)   PF('addFilterPopup').hide();"
                                 disabled="#{preProcessCompareNumberController.action eq false}">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </h:form>
</p:dialog>
</html>