<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog header="Add schedule" widgetVar="addScheduleDialog" id="addScheduleDialog" responsive="true" dynamic="true"
              modal="true" width="800px">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Add schedule" style="margin-left:10px;" rendered="#{campaignOfflineController.viewSchedule eq false}"/>
            <h:outputText value="View schedule" style="margin-left:10px;" rendered="#{campaignOfflineController.viewSchedule eq true}"/>
        </f:facet>
        <!--<h:form id="createRuleForm">-->
        <h:form id="createSchedule">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Schedule name"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="Schedule Name"
                                 id="schedule"
                                 value="#{campaignOfflineController.createNewSchedule.scheduleName}"
                                 title="#{campaignOfflineController.createNewSchedule.scheduleName}"
                                 onkeypress="updateTitle(this)"
                                 disabled="#{campaignOfflineController.viewSchedule}">
                    </p:inputText>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Schedule Id"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" value="#{campaignOfflineController.createNewSchedule.scheduleId}" disabled="true">
                    </p:inputText>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputLabel value="Description"/>
                    <div class="spacerHeight"/>
                    <p:inputTextarea  onchange="this.value = this.value.trim()" placeholder="description" rows="1"  autoResize="false"
                                      id="ruleDescription"
                                      value="#{campaignOfflineController.createNewSchedule.description}"
                                      title="#{campaignOfflineController.createNewSchedule.description}"
                                      onkeypress="updateTitle(this)"
                                      disabled="#{campaignOfflineController.viewSchedule}">
                    </p:inputTextarea>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputLabel value="Mode schedule" style="float: left;padding: 0px;margin: 4px 20px 0 0;"/>
                    <p:selectOneRadio id="console" value="#{campaignOfflineController.createNewSchedule.mode}"
                                      unselectable="true" disabled="#{campaignOfflineController.viewSchedule}">
                        <f:selectItem itemLabel="Crontab" itemValue="1"/>
                        <f:selectItem itemLabel="Specified date" itemValue="2"/>
                        <p:ajax update="@([id$=scheduleArea])"></p:ajax>
                    </p:selectOneRadio>
                </p:outputPanel>
                <p:outputPanel id="scheduleArea">
                    <p:outputPanel class="ui-g-12 ui-lg-6"
                                   rendered="#{campaignOfflineController.createNewSchedule.mode eq 2}" style="padding: 0px">
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel for="chooseDate" value="Choose date"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:calendar id="chooseDate" showOn="button"
                                        value="#{campaignOfflineController.createNewSchedule.chooseDate}"
                                        pattern="dd/MM/yyyy" disabled="#{campaignOfflineController.viewSchedule}" mindate="#{now}"/>
                        </p:outputPanel>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-6"
                                   rendered="#{campaignOfflineController.createNewSchedule.mode eq 2}" style="padding: 0px">
                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel for="spinnerHour" value="Hour"/>
                            <div class="spacerHeight"/>
                            <p:spinner id="spinnerHour" value="#{campaignOfflineController.createNewSchedule.hour}" min="0"
                                       max="23" disabled="#{campaignOfflineController.viewSchedule}">
                                <f:convertNumber type="number" pattern="00"/>
                            </p:spinner>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel for="spinnerHour" value="Minute"/>
                            <div class="spacerHeight"/>
                            <p:spinner id="spinnerminute" value="#{campaignOfflineController.createNewSchedule.minute}"
                                       min="0"
                                       max="59" disabled="#{campaignOfflineController.viewSchedule}">
                                <f:convertNumber type="number" pattern="00"/>
                            </p:spinner>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel for="spinnerHour" value="Second"/>
                            <div class="spacerHeight"/>
                            <p:spinner id="spinnersecond" value="#{campaignOfflineController.createNewSchedule.second}"
                                       min="0"
                                       max="59" disabled="#{campaignOfflineController.viewSchedule}">
                                <f:convertNumber type="number" pattern="00"/>
                            </p:spinner>
                        </p:outputPanel>

                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-12"
                                   rendered="#{campaignOfflineController.createNewSchedule.mode eq 1}">
                        <p:outputLabel value="Parttern" for="parttern"/><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText onchange="this.value = this.value.trim()" placeholder="ss mm hh dd MM DD yyyy / ss mm hh dd MM DDD"
                                     id="parttern"
                                     value="#{campaignOfflineController.createNewSchedule.schedulePattern}"
                                     disabled="#{campaignOfflineController.viewSchedule}">
                        </p:inputText>
                    </p:outputPanel>
                </p:outputPanel>
            </p:outputPanel>
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton style="width:auto;float: right;"
                                     value="Close"
                                     oncomplete="PF('addScheduleDialog').hide();"
                                     rendered="#{campaignOfflineController.viewSchedule eq true }">
                    </p:commandButton>
                    <p:commandButton action="#{campaignOfflineController.onCreateSchedule()}"
                                     style="width:auto;float: right;"
                                     icon="fa fa-floppy-o" value="Apply"
                                     process=" @this ,@([id$=createSchedule])"
                                     update="@([id$=schedule]),@([id$=remoteGrowl]) "
                                     oncomplete=" if (!args.validationFailed)   PF('addScheduleDialog').hide();"
                                     rendered="#{campaignOfflineController.viewSchedule eq false }">
                        <p:ajax></p:ajax>
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>
</html>