<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="fromTree">
        <!--        <p:toolbar styleClass="toolbar">
                    <f:facet name="left">
                       <p:outputLabel value="List campaign offline" 
                                       style="float: left; font-weight: bold; font-size: 14px"/>
                    </f:facet>
                </p:toolbar>-->
        
        
        
        <!--habm2-start-->
        <div class="title-wrap">
            <div class="title-name">Offline Campaign List</div>
        </div>
        <!--habm2-end-->
        
        
        
        <p:tree filterMatchMode="contains"  id="treeCategory" var="node"
                 value="#{campaignOfflineController.rootNode}"
                 filterBy="#{node.filter}"
                 selectionMode="single" 
                 selection="#{campaignOfflineController.selectedNode}"
                 style="height: calc(100vh - 101px) !important; border: 0px solid; padding: 0px;width: 100%;overflow: auto;">
            <p:ajax event="select"
                    process="@([id$=treeCategory])"
                    listener="#{campaignOfflineController.prepareEditWhenClick()}"
                    update="@([id$=content]), @([id$=carDialog])"/>

            <p:treeNode type="category" expandedIcon="ui-icon-folder-open" 
                        collapsedIcon="ui-icon-folder-collapsed">
                <h:outputText value="#{node.name}" />
            </p:treeNode>

            <p:treeNode type="campaign" icon="ui-icon-document">
                <h:outputText value="#{node.name}" />
            </p:treeNode>
            <p:treeNode type="segment" icon="ui-icon-folder-open">
                <h:outputText value="#{node.name}" />
            </p:treeNode>
            <p:treeNode type="rule" icon="ui-icon-document">
                <h:outputText value="#{node.name}" />
            </p:treeNode>
            <p:treeNode type="result" icon="ui-icon-document">
                <h:outputText value="#{node.name}" />
            </p:treeNode>
            <p:treeNode type="condition"  icon="ui-icon-document">
                <h:outputText value="#{node.name}" />
            </p:treeNode>
            <p:treeNode type="ppu" icon="ui-icon-document" >
                <h:outputText value="#{node.preProcessName}" />
            </p:treeNode>
            <p:ajax event="expand" listener="#{campaignOfflineController.onNodeExpand}"></p:ajax>
            <p:ajax event="collapse" listener="#{campaignOfflineController.onNodeCollapse}"></p:ajax>
        </p:tree>

        <p:contextMenu for="treeCategory" nodeType="category" style="width: auto;">
            <p:menuitem icon="fa fa-floppy-o" 
                        value="Create category" 
                        action="#{campaignOfflineController.prepareCreateCategory()}"
                        update="@([id$=carDialog]),@([id$=categoryConfirm])"
                        oncomplete="PF('carDialog').show();"/>
            <p:menuitem icon="fa fa-refresh" 
                        value="Edit category"
                        action="#{campaignOfflineController.prepareEditCategory()}"
                        update="@([id$=carDialog]),@([id$=categoryConfirm])"
                        oncomplete="PF('carDialog').show();"/>
            <p:menuitem icon="fa fa-trash" 
                        value="Delete category" 
                        action="#{campaignOfflineController.doDeleteCategory()}"
                        update="@([id$=fromTree]),@([id$=remoteGrowl])" >
                <p:confirm header="Confirmation" message="You definitely want to delete ?" icon="ui-icon-alert"/>
            </p:menuitem>
            <p:menuitem icon="fa fa-plus" value="Create campaign offline" action="#{campaignOfflineController.onAddNewCampaign()}"
                        update="@([id$=mainContent])"  />
        </p:contextMenu>

        <p:contextMenu for="treeCategory" nodeType="campaign">
            <p:menuitem icon="fa fa-refresh" 
                        value="Edit campaign" 
                        action="#{campaignOfflineController.prepareEditFromContextMenu()}"
                        update="@([id$=content])"/>
            <p:menuitem icon="fa fa-trash" 
                        value="Delete campaign" 
                        action="#{campaignOfflineController.doDeleteObject()}"
                        update="@([id$=treeCategory]),@([id$=remoteGrowl]),@([id$=mainContent])" >
                <p:confirm header="Confirmation" message="Do you want to delete this campaign ?" icon="ui-icon-alert"/>
            </p:menuitem>
        </p:contextMenu>

    </h:form>

    <ui:include src="categoryCreateOrEditPopup.xhtml" />
    

</html>