<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <c:if test="#{campaignOfflineController.editObject eq 'campaign'}">
        <ui:include src="campaignOfflineContentOnly.xhtml"/>
    </c:if>

    <c:if test="#{campaignOfflineController.editObject eq 'segment'}">
        <p:outputPanel style="margin-top: 56px; margin-top: 36px; margin-left: -9px; margin-right: -2px;">
            <ui:include src="/segment/segmentDetailOfflineOnly.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{campaignOfflineController.editObject eq 'rule'}">
        <p:outputPanel style="margin-top: 56px;">
            <ui:include src="/ruleOffline/RuleContentOnly.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{campaignOfflineController.editObject eq 'result'}">
        <p:outputPanel style="margin-top: 35px;">
            <ui:include src="/ruleEngine/resultTable/resultTableContentOnly.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{campaignOfflineController.editObject eq 'condition'}">
        <p:outputPanel style="margin-top: 56px;">
            <ui:include src="/ruleEngine/conditionTable/conditionTableContentOnly.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{campaignOfflineController.editObject eq 'ppu_string'}">
        <style>
            .title-action {
                margin-top: 3px;
            }
            .ui-inputswitch {
                margin-bottom: -6px;
            }
        </style>
        <p:outputPanel style="margin-top: 36px;">
            <ui:include src="/preProcessString/preprocessContent.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{campaignOfflineController.editObject eq 'ppu_number'}">
        <style>
            .title-action {
                margin-top: 3px;
            }
            .ui-inputswitch {
                margin-bottom: -6px;
            }
        </style>
        <p:outputPanel style="margin-top: 56px;">
            <ui:include src="/preProcessNumber/preprocessContent.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{campaignOfflineController.editObject eq 'ppu_exist_element'}">
        <style>
            .title-action {
                margin-top: 3px;
            }
            .ui-inputswitch {
                margin-bottom: -6px;
            }
        </style>
        <p:outputPanel style="margin-top: 56px;">
            <ui:include src="/preProcessExistElement/preprocessContent.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{campaignOfflineController.editObject eq 'ppu_time'}">
        <style>
            .title-action {
                margin-top: 3px;
            }
            .ui-inputswitch {
                margin-bottom: -6px;
            }
        </style>
        <p:outputPanel style="margin-top: 56px;">
            <ui:include src="/preProcessTime/preprocessContent.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{campaignOfflineController.editObject eq 'ppu_date'}">
        <style>
            .title-action {
                margin-top: 3px;
            }
            .ui-inputswitch {
                margin-bottom: -6px;
            }
        </style>
        <p:outputPanel style="margin-top: 56px;">
            <ui:include src="/preProcessDate/preprocessContent.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{campaignOfflineController.editObject eq 'ppu_number_range'}">
        <style>
            .title-action {
                margin-top: 3px;
            }
            .ui-inputswitch {
                margin-bottom: -6px;
            }
        </style>
        <p:outputPanel style="margin-top: 56px;">
            <ui:include src="/preProcessNumberRange/preprocessContent.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{campaignOfflineController.editObject eq 'ppu_compare_nember'}">
        <style>
            .title-action {
                margin-top: 3px;
            }
            .ui-inputswitch {
                margin-bottom: -6px;
            }
        </style>
        <p:outputPanel style="margin-top: 56px;">
            <ui:include src="/preProcessCompareNumber/preprocessContent.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{campaignOfflineController.editObject eq 'ppu_zone'}">
        <style>
            .title-action {
                margin-top: 3px;
            }
            .ui-inputswitch {
                margin-bottom: -6px;
            }
        </style>
        <p:outputPanel style="margin-top: 56px;">
            <ui:include src="/preProcessZone/preprocessContent.xhtml"/>
        </p:outputPanel>
    </c:if>

    <c:if test="#{campaignOfflineController.editObject eq 'ppu_same_element'}">
        <style>
            .title-action {
                margin-top: 3px;
            }
            .ui-inputswitch {
                margin-bottom: -6px;
            }
        </style>
        <p:outputPanel style="margin-top: 56px;">
            <ui:include src="/preProcessSameElement/preprocessContent.xhtml"/>
        </p:outputPanel>
    </c:if>

<!--    <p:outputPanel class="ui-g ui-fluid" rendered="#{campaignOfflineController.isDisplay eq false}">
        <p:graphicImage name="images/anh_nen.jpg" style="width: 100%; height: calc(100vh - 89px)!important;"/>
    </p:outputPanel>-->
</html>