<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="cataform"> 
        <p:panel id="basic1"  toggleable="true" >
            <!--habm2-start-->
            <div class="title-wrap">
                <div class="title-name">Menu List</div>
                <p:commandButton value="Add menu" 
                             style="float: right; margin-top: 1px;height: 30px" 
                             update="contentForm, cataform"
                             action="#{menuManagermentController.onAddNodeMenu}" 
                             icon="fa fa-plus" />
            </div>
            <!--habm2-end-->

            <p:tree filterMatchMode="contains" 
                    value="#{menuManagermentController.rootMenu}" 
                    var="doc"
                    id="treeMenu"
                    style="height: calc(100vh - 105px) !important; border: 0px solid; padding: 0px;width: 100%;overflow: auto;"
                    selectionMode="single"
                    selection="#{menuManagermentController.selectedNode}"
                    filterBy="#{doc.objectName}">

                <p:ajax event="select" 
                        update="contentForm" 
                        listener="#{menuManagermentController.onNodeSelect}" />

                <p:treeNode expandedIcon="ui-icon-folder-open" 
                            collapsedIcon="ui-icon-folder-collapsed">
                    <h:outputText value="#{doc.objectName}" 
                                  id="objectName"
                                  title="#{doc.objectName}"/>
                </p:treeNode>

                <p:treeNode type="document" 
                            expandedIcon="ui-icon-folder-open" 
                            collapsedIcon="ui-icon-folder-collapsed">
                    <h:outputText value="#{doc.objectName}" 
                                  id="objectName1"
                                  title="#{doc.objectName}"/>
                </p:treeNode>

                <p:treeNode type="picture" 
                            expandedIcon="ui-icon-folder-open" 
                            collapsedIcon="ui-icon-folder-collapsed">
                    <h:outputText value="#{doc.objectName}" 
                                  id="objectName2"
                                  title="#{doc.objectName}"/>
                </p:treeNode>

                <p:treeNode type="movie" icon="ui-icon-video">
                    <h:outputText value="#{doc.objectName}" 
                                  id="objectName3"
                                  title="#{doc.objectName}"/>
                </p:treeNode>
            </p:tree>
            <p:contextMenu for="treeMenu" nodeType="document">
                <p:menuitem value="Add sub menu" 
                            update="contentForm, cataform"
                            action="#{menuManagermentController.onAddNodeSubMenu}" 
                            icon="fa fa-plus"/>
                <p:menuitem value="Remove menu" 
                            update="cataform, @([id$=remoteGrowl]), contentForm, @([id$=menuform])"
                            action="#{menuManagermentController.onRemoveNodeMenu}" 
                            icon="fa fa-minus">
                    <p:confirm header="Confirmation" 
                               message="Do you want to remove this menu?" 
                               icon="fa fa-exclamation-triangle" />
                </p:menuitem>
            </p:contextMenu>
            
            <p:contextMenu for="treeMenu" nodeType="picture">
            
                <p:menuitem value="Remove menu" 
                            update="cataform, @([id$=remoteGrowl]), contentForm, @([id$=menuform])"
                            action="#{menuManagermentController.onRemoveNodeMenu}" 
                            icon="fa fa-minus">
                    <p:confirm header="Confirmation" 
                               message="Do you want to remove this menu?" 
                               icon="fa fa-exclamation-triangle" />
                </p:menuitem>
            </p:contextMenu>
        </p:panel>
    </h:form>
</html>