<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="contentForm">
        <p:outputPanel class="ui-g ui-fluid" id="formObject" >
            <p:outputPanel class="ui-g-12 ui-lg-12" >
                <p:panel id="basic" class="ui-g-12" 
                         toggleable="false" 
                         style="margin-top: -12px !important; width: 100%;" 
                         rendered="#{menuManagermentController.menuIschoose}">

                    <!--habm2-start-->
                    <div class="title-wrap">
                        <div class="title-name">Menu Management</div>
                        <div class="title-action">
                            <p:inputSwitch style="float: right;margin-top: 2px;"  
                                           value="#{menuManagermentController.actonSwitch}">
                                <p:ajax update="divButton,contentForm" listener="#{menuManagermentController.onSwitch()}"/>
                            </p:inputSwitch>
                            <p:outputLabel value="Edit" 
                                           rendered="#{menuManagermentController.action eq 'edit'}"
                                           style="float: right; margin-right: 10px; margin-top: 4px"/>
                            <p:outputLabel value="Add" 
                                           rendered="#{menuManagermentController.action eq 'add' or menuManagermentController.action eq 'clone'}"
                                           style="float: right; margin-right: 10px; margin-top: 4px"/>
                        </div>
                    </div>
                    <!--habm2-end-->

                    <p:outputPanel class="ui-g-12 ui-lg-12" style="height: calc(100vh - 112px) !important; border: 0px solid; padding: 0px;width: 100%;overflow: auto;" id="test1">
                        <p:focus context="test1"/>
                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Parent" for="parent"/>
                            <div class="spacerHeight"/>
                            <p:selectOneMenu  syncTooltip="true"  
                                              filterMatchMode="contains"  
                                              filter="true" 
                                              id="parent" 
                                              value="#{menuManagermentController.parentId}"
                                              disabled="#{!menuManagermentController.actonSwitch || menuManagermentController.disabledParent}">
                                <f:selectItem itemLabel="-- Select parent --" 
                                              itemValue="" />
                                <f:selectItems value="#{menuManagermentController.lstParent}" 
                                               var="par" 
                                               itemLabel="#{par.objectName}" 
                                               itemValue="#{par.objectId}"
                                               itemDescription="#{par.objectName}" />
                            </p:selectOneMenu>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Object name" /><span style="color: red"> *</span>
                            <div class="spacerHeight"/>
                            <p:focus for="objectName" />
                            <p:inputText onchange="this.value = this.value.trim()" id="objectName" 
                                         placeholder="Object name"
                                         value="#{menuManagermentController.objectName}"

                                         disabled="#{!menuManagermentController.actonSwitch}"
                                         title="#{menuManagermentController.objectName}"
                                         onkeypress="updateTitle(this)"/>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Object code" /><span style="color: red"> *</span>
                            <div class="spacerHeight"/>
                            <p:inputText onchange="this.value = this.value.trim()" placeholder="Object code"
                                         value="#{menuManagermentController.objectCode}"

                                         disabled="#{!menuManagermentController.actonSwitch}"
                                         title="#{menuManagermentController.objectCode}"
                                         onkeypress="updateTitle(this)"/>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Object url" />
                            <div class="spacerHeight"/>
                            <p:inputText onchange="this.value = this.value.trim()" placeholder="Object url"
                                         value="#{menuManagermentController.objectUrl}"
                                         disabled="#{!menuManagermentController.actonSwitch}"
                                         title="#{menuManagermentController.objectUrl}"
                                         onkeypress="updateTitle(this)"/>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Icon" />
                            <div class="spacerHeight"/>
                            <p:inputText onchange="this.value = this.value.trim()" placeholder="Icon" 
                                         value="#{menuManagermentController.icon}"
                                         disabled="#{!menuManagermentController.actonSwitch}"
                                         title="#{menuManagermentController.icon}"
                                         onkeypress="updateTitle(this)"/>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Order" />
                            <div class="spacerHeight"/>
                            <p:inputText onchange="this.value = this.value.trim()" placeholder="Order" 
                                         value="#{menuManagermentController.order}"
                                         disabled="#{!menuManagermentController.actonSwitch}"
                                         title="#{menuManagermentController.order}"
                                         onkeypress="updateTitle(this)"/>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Description" />
                            <div class="spacerHeight"/>
                            <p:inputTextarea  onchange="this.value = this.value.trim()" rows="3" cols="30" autoResize="false"
                                              placeholder="Description" 
                                              value="#{menuManagermentController.description}"
                                              disabled="#{!menuManagermentController.actonSwitch}"
                                              title="#{menuManagermentController.description}"
                                              onkeypress="updateTitle(this)">
                            </p:inputTextarea>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputPanel style="border-bottom: 1px solid #5f666c; width: 100%;"/>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-12" id="divButton">
                            <p:commandButton icon="fa fa-refresh" value="Reset" 
                                             style="width:auto;float: right;" 
                                             action="#{menuManagermentController.reset()}"
                                             validateClient="true" 
                                             update="contentForm, cataform, @([id$=remoteGrowl])"
                                             disabled="#{!menuManagermentController.actonSwitch}">
                                <p:confirm header="Confirmation"
                                           message="Are you sure?" 
                                           icon="fa fa-exclamation-triangle" />
                            </p:commandButton>
                            <p:commandButton  icon="fa fa-floppy-o" value="Save" style="width:auto;float: right;" 
                                              action="#{menuManagermentController.actionObject()}"
                                              validateClient="true" 
                                              update="contentForm, cataform,@([id$=menuform]), @([id$=remoteGrowl])"
                                              disabled="#{!menuManagermentController.actonSwitch}">
                                <p:confirm header="Confirmation" 
                                           message="Are you sure?" 
                                           icon="fa fa-exclamation-triangle" />
                            </p:commandButton>
                        </p:outputPanel>
                    </p:outputPanel>
                </p:panel>
            </p:outputPanel>
        </p:outputPanel>
    </h:form>
</html>