<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Menu management</ui:define>

    <ui:define name="viewname">Menu management</ui:define>

    <ui:define name="head">
        <style>
            body .ui-outputlabel {
                padding-bottom: 5px;
            }

            #basic1 .ui-panel-titlebar {
                padding: 0px;
                /*border-bottom: 0px solid;*/
            }

            body .ui-panel .ui-panel-content {
                padding: 0px;
            }
        </style>
    </ui:define>

    <ui:define name="catagory" >
        <ui:include src="menu-category-tree.xhtml"/>
    </ui:define>

    <ui:define name="content" >
        <ui:include src="menu-content.xhtml"/>
    </ui:define>


</ui:composition>