<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <style type="text/css">
        .ui-steps .ui-steps-item {
            width: 33.33333%;
        }

        .ui-fluid .ui-inputtext {
            color: black !important;
        }
    </style>

    <p:dialog widgetVar="dlgEdit" 
              id="dlgEdit"
              blockScroll="true"
              responsive="true"
              modal="true"
              width="70%"
              height="450px"
              positionType="absolute">
        <f:facet name="header">
            <h:outputText id="dialogHeader" value="#{creationRequestController.titlePopup}"/>
        </f:facet>
        <h:form id="requestfrm" enctype="multipart/form-data">
            <p:outputPanel class="ui-g ui-fluid">
                <p:outputPanel class="ui-g-12 ui-lg-3"></p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:steps id="stepsRequest" activeIndex="#{creationRequestController.stepsIndex}">
                        <p:menuitem/>
                        <p:menuitem/>
                        <p:menuitem/>
                    </p:steps>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-3">
                    <p:commandButton actionListener="#{creationRequestController.doNext()}"
                                     style="width:auto;float: right;" 
                                     value="Next"
                                     disabled="#{creationRequestController.stepsIndex eq 2 
                                                 or creationRequestController.displayBtnNext}"
                                     process="@([id$=requestfrm])"
                                     update="@([id$=requestfrm]),@([id$=remoteGrowl]), dialogHeader" 
                                     oncomplete="if (!args.validationFailed)"
                                     id="btnNext"/>
                    <p:commandButton actionListener="#{creationRequestController.doPrevious()}"
                                     style="width:auto;float: right;"
                                     value="Previous"
                                     disabled="#{creationRequestController.stepsIndex eq 0}"
                                     process="@this"
                                     update="@([id$=requestfrm]), dialogHeader" 
                                     id="btnPrevious" />
                </p:outputPanel>

                <ui:include src="stepsIndex1.xhtml"/>

                <ui:include src="stepsIndex2_SegmentUpload.xhtml"/>

                <ui:include src="stepsIndex2_SegmentDelete.xhtml"/>

                <ui:include src="stepsIndex2_BlackListUpload.xhtml"/>

                <ui:include src="stepsIndex2_BlackListDelete.xhtml"/>

                <ui:include src="stepsIndex2_BlackListUpdate.xhtml"/>

                <ui:include src="stepsIndex2_SpecialOfferUpload.xhtml"/>

                <ui:include src="stepsIndex2_SpecialOfferDelete.xhtml"/>

                <ui:include src="stepsIndex2_SpecialOfferUpdate.xhtml"/>

                <ui:include src="stepsIndex3_SegmentUpload.xhtml"/>

                <ui:include src="stepsIndex3_BlacklistUpload.xhtml"/>

                <ui:include src="stepsIndex3_BlacklistUpdate.xhtml"/>

                <ui:include src="stepsIndex3_SpecialOfferUpload.xhtml"/>

                <ui:include src="stepsIndex3_SpecialOfferUpdate.xhtml"/>

                <ui:include src="stepsIndex3_Delete.xhtml"/>
            </p:outputPanel>
        </h:form>
    </p:dialog>
    <p:dialog header="Confirmation HDFS" 
              widgetVar="dlgConfirmHdfs" 
              height="100"
              modal="true"
              id="dlgConfirmHdfs">
        <h:outputText value="Existed one of all path. Are you replace all ?" />
        <p:outputPanel class="ui-g-12 ui-lg-12">
            <p:commandButton value="No"
                             style="width:auto;float:right;"
                             process="@this"
                             oncomplete="PF('dlgConfirmHdfs').hide();"/>
            <p:commandButton action="#{creationRequestController.doReplaceHdfs()}"
                             style="width:auto;float:right;"
                             value="Yes"
                             update="@([id$=requestfrm])"
                             oncomplete="PF('dlgConfirmHdfs').hide();">
            </p:commandButton>
        </p:outputPanel>
    </p:dialog>
</html>