<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template_dashbord.xhtml">

    <ui:define name="title">Request creation</ui:define>

    <ui:define name="viewname">Request creation</ui:define>

    <ui:define name="head">
        <style>
            body .ui-outputlabel {
                padding-bottom: 5px;
            }

            #basic1 .ui-panel-titlebar {
                padding: 0px;
                /*border-bottom: 0px solid;*/
            }

            body .ui-panel .ui-panel-content {
                padding: 0px;
            }
        </style>

        <style type="text/css">
            .box-view {
                width: 20%;
            }
            .dashboard .overview-box.overview-box-5 {
                background-color: #f37a96; 
            }
            .header-overview-box {
                color: black;
                font-weight: bold;
                text-align: left;
            }
            .footer-overview-box {
                color: black;
                text-align: right !important;
            }
            .total-request{
                font-family: Open Sans,Helvetica Neue,sans-serif;
                width: 50%;
                text-align: left;
                padding: 7px 0px 0px 0px;
                font-weight: bold;
                color: black;
            }
            .font-sans{
                font-family: Open Sans,Helvetica Neue,sans-serif;
            }
        </style>
    </ui:define>

    <ui:define name="content" >
        <p:outputPanel class="ui-g ui-fluid" >
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:panel class="ui-g-12" toggleable="false" style="width: 100%">
                    <!--habm2-start-->
                    <div class="title-wrap">
                        <div class="title-name">Current Request List</div>
                    </div>
                    <!--habm2-end-->
                    <h:form id="notificationDiv">
                        <div class="ui-g dashboard" id="notificationDiv">
                            <div class="ui-g-12 box-view">
                                <div class="ui-g card overview-box overview-box-1">
                                    <div class="ui-g-12 header-overview-box">
                                        <samp class="font-sans">Init</samp>
                                    </div>
                                    <div class="ui-g-12">
                                        <span class="overview-box-count">#{creationRequestController.requestStatusDTO.init}</span>
                                    </div>
                                    <div class="ui-g-12 footer-overview-box">
                                        <span class="font-sans">(request)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g-12 box-view">
                                <div class="ui-g card overview-box overview-box-2">
                                    <div class="ui-g-12 header-overview-box">
                                        <samp class="font-sans">Accept</samp>
                                    </div>
                                    <div class="ui-g-12">
                                        <span class="overview-box-count">#{creationRequestController.requestStatusDTO.accept}</span>
                                    </div>
                                    <div class="ui-g-12 footer-overview-box">
                                        <span class="font-sans">(request)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g-12 box-view">
                                <div class="ui-g card overview-box overview-box-3">
                                    <div class="ui-g-12 header-overview-box">
                                        <samp class="font-sans">Running</samp>
                                    </div>
                                    <div class="ui-g-12">
                                        <span class="overview-box-count">#{creationRequestController.requestStatusDTO.running}</span>
                                    </div>
                                    <div class="ui-g-12 footer-overview-box">
                                        <span class="font-sans">(request)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g-12 box-view">
                                <div class="ui-g card overview-box overview-box-4">
                                    <div class="ui-g-12 header-overview-box">
                                        <samp class="font-sans">Success</samp>
                                    </div>
                                    <div class="ui-g-12">
                                        <span class="overview-box-count">#{creationRequestController.requestStatusDTO.success}</span>
                                    </div>
                                    <div class="ui-g-12 footer-overview-box">
                                        <span class="font-sans">(request)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g-12 box-view">
                                <div class="ui-g card overview-box overview-box-5">
                                    <div class="ui-g-12 header-overview-box">
                                        <samp class="font-sans">Fail</samp>
                                    </div>
                                    <div class="ui-g-12">
                                        <span class="overview-box-count">#{creationRequestController.requestStatusDTO.failed}</span>
                                    </div>
                                    <div class="ui-g-12 footer-overview-box">
                                        <span class="font-sans">(request)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form>

                    <p:poll interval="#{creationRequestController.interval}" 
                            listener="#{creationRequestController.doReload()}" 
                            update="@([id$=notificationDiv]), @([id$=dataTableRequest]),@([id$=remoteGrowl])" />

                    <div class="ui-g-12">
                        <div class="card card-w-title">
                            <p:dataTable var="item"
                                         id="dataTableRequest"
                                         value="#{creationRequestController.requests}" 
                                         selectionMode="single" 
                                         reflow="true"
                                         selection="#{creationRequestController.selectedRequest}" 
                                         rowKey="#{item.id}" 
                                         paginator="true" 
                                         rows="10"
                                         rowsPerPageTemplate="5,10,15,20">
                                <f:facet name="header">
                                    <div style="width: 100%;display: inline-flex;">
                                        <samp class="total-request">
                                            Detail | Total #{creationRequestController.requests.size()} (request)
                                        </samp>
                                        <div style="width: 50%">
                                            <p:commandButton id="btnAddRequest" 
                                                             value="Request" 
                                                             icon="fa fa-plus"
                                                             style="width: auto; float: right"
                                                             actionListener="#{creationRequestController.prepareCreateRequest()}"
                                                             update="@([id$=requestfrm]), dlgEdit"
                                                             oncomplete="PF('dlgEdit').show();"/>
                                        </div>
                                    </div>                        
                                </f:facet>

                                <p:column headerText="Transaction id" sortBy="#{item.transactionId}" >
                                    <h:outputText value="#{item.transactionId}" 
                                                  id="transactionId"/>
                                    <p:tooltip value="#{item.transactionId}"
                                               for="transactionId"
                                               showEffect="clip"
                                               position="top"
                                               style="max-width: 300px; overflow-wrap: break-word;" />
                                </p:column>

                                <p:column headerText="Request time" sortBy="#{item.requestTime}">
                                    <h:outputText value="#{item.requestTimeStr}" />
                                </p:column>

                                <p:column headerText="Request type" sortBy="#{item.requestTypeStr}">
                                    <h:outputText value="#{item.requestTypeStr}" />
                                </p:column>

                                <p:column headerText="State" sortBy="#{item.errorCode}">
                                    <h:outputText value="#{item.state}" />
                                </p:column>

                                <p:column headerText="Service name" sortBy="#{item.serviceName}">
                                    <h:outputText value="#{item.serviceName}" 
                                                  id="serviceName"/>
                                    <p:tooltip value="#{item.serviceName}"
                                               for="serviceName"
                                               showEffect="clip"
                                               position="top"
                                               style="max-width: 300px; overflow-wrap: break-word;" />
                                </p:column>

                                <p:column headerText="Factor" sortBy="#{item.factorStr}">
                                    <h:outputText value="#{item.factorStr}" />
                                </p:column>
                                <p:column headerText="Action" style="text-align: center;">
                                    <p:commandButton icon="ui-icon-search" 
                                                     style="width: auto"
                                                     actionListener="#{creationRequestController.onViewRequrst(item.id)}"
                                                     oncomplete="if (!args.validationFailed) PF('dlgView').show()"
                                                     update="@([id$=frmView]),@([id$=remoteGrowl])">
                                    </p:commandButton>
                                    <p:commandButton icon="ui-icon-trash" 
                                                     style="width: auto"
                                                     disabled="#{!item.isRemove}"
                                                     update="@([id$=dataTableRequest]),@([id$=notificationDiv]),@([id$=remoteGrowl])"
                                                     actionListener="#{creationRequestController.onDeleteRequrst(item)}">
                                        <p:confirm header="Confirmation" 
                                                   message="Are you sure you want to perform ?" 
                                                   icon="ui-icon-alert"/>
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </p:panel>
            </p:outputPanel>
        </p:outputPanel>
        <ui:include src="createRequestPopup.xhtml"/>
        <ui:include src="viewRequestPopup.xhtml"/>
        <ui:include src="dlgAddSpecialOfferUpload.xhtml"/>
        <ui:include src="dlgAddSpecialOfferUpdate.xhtml"/>
    </ui:define>
</ui:composition>