<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:panelGrid rendered="#{creationRequestController.stepsIndex eq 1 
                             and creationRequestController.object_action == 2}">
        <p:outputLabel class="ui-g-12 ui-lg-12" 
                       style="text-align: center" 
                       value="Segment infomation" />

        <p:outputPanel class="ui-g-12 ui-lg-2">
            <p:outputLabel value="Segment name" /><span style="color: red">*</span>
        </p:outputPanel>
        <p:outputPanel class="ui-g-12 ui-lg-8">
            <p:inputText onchange="this.value = this.value.trim()" 
                         value="${creationRequestController.requestBuildDTO.segmentName}" 
                         readonly="true"
                         title="${creationRequestController.requestBuildDTO.segmentName}"/>
            <p:inputText onchange="this.value = this.value.trim()" type="hidden" 
                         value="${creationRequestController.requestBuildDTO.segmentId}" 
                         required="true" 
                         requiredMessage="Segment name is required!"/>
        </p:outputPanel>                        
        <p:outputPanel class="ui-g-12 ui-lg-2">
            <p:commandButton id="btnChooseSementDelete"
                             widgetVar="btnChooseSementDelete"
                             process="@this"
                             value="Choose" 
                             style="width: auto"
                             oncomplete="PF('dlgChooseSegmentDelete').show()"
                             update="@([id$=dlgChooseSegmentDelete])" />
        </p:outputPanel>

        <p:panelGrid rendered="${creationRequestController.displayDetailSeg}">
            <p:fieldset legend="Detail infomation"
                        toggleable="true"
                        toggleSpeed="500"
                        style="width: 100%">
                <p:outputPanel class="ui-g-12 ui-lg-2">
                    <p:outputLabel value="Temp path" />
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-10">
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="Auto gen path" 
                                 readonly="true"
                                 value="${creationRequestController.requestBuildDTO.tempPath}" />
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-2">
                    <p:outputLabel value="Fail path" />
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-10">
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="Auto gen path" 
                                 readonly="true" 
                                 value="${creationRequestController.requestBuildDTO.failedPath}" />
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-2">
                    <p:outputLabel value="History path" />
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-10">
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="Auto gen path" 
                                 readonly="true" 
                                 value="${creationRequestController.requestBuildDTO.histPath}" />
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-2">
                    <p:outputLabel value="Path" />
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-10">
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="Auto gen path" 
                                 readonly="true" 
                                 value="${creationRequestController.requestBuildDTO.path}" />
                </p:outputPanel>
            </p:fieldset>
        </p:panelGrid>

        <p:dialog header="Choose segment" 
                  widgetVar="dlgChooseSegmentDelete" 
                  id="dlgChooseSegmentDelete" 
                  responsive="true"
                  modal="true"
                  appendTo="@(body)">
            <h:form>
                <p:tree filterMatchMode="contains"  id="treeCategorySegmentDelete" 
                        widgetVar="treeCategorySegmentDelete"
                        var="node"
                        value="#{creationRequestController.rootNodeSegment}" 
                        filterBy="#{node.filter}"
                        selectionMode="single" 
                        selection="#{creationRequestController.selectedNodeSegment}" 
                        style="height: 300px; border: 0px solid; padding: 0px;width: 500px;overflow: auto;">

                    <p:treeNode type="category" expandedIcon="ui-icon-folder-open" 
                                collapsedIcon="ui-icon-folder-collapsed">
                        <h:outputText value="#{node.name}" />
                    </p:treeNode>

                    <p:treeNode type="segment" icon="ui-icon-document">
                        <h:outputText value="#{node.name}" />
                    </p:treeNode>
                </p:tree>

                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton id="btnSelectSegmentDelete"
                                     widgetVar="btnSelectSegmentDelete"
                                     actionListener="#{creationRequestController.onSelectSegment()}" 
                                     style="width:auto;float: right;" 
                                     icon="fa fa-chevron-down" value="Select"
                                     process="@this requestfrm:dlgChooseSegmentDelete"
                                     update="@([id$=requestfrm]),@([id$=remoteGrowl])"
                                     oncomplete="if (!args.validationFailed) PF('dlgChooseSegmentDelete').hide();"/>
                </p:outputPanel>
            </h:form>
        </p:dialog>

    </p:panelGrid>
</html>