<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <style>
        body .ui-datatable .ui-datatable-header{
            text-align: end;
        }
    </style>

    <p:outputPanel class="ui-g-12 ui-lg-12" 
                   rendered="#{creationRequestController.stepsIndex eq 2 
                               and creationRequestController.object_action == 3}">
        <p:outputLabel class="ui-g-12 ui-lg-12" 
                       style="text-align: center" 
                       value="Build request" />

        <p:outputPanel class="ui-g-12 ui-lg-12">
            <p:outputLabel value="Mode file" />
            <div class="spacerHeight"/>
            <p:selectOneMenu syncTooltip="true"  filterMatchMode="contains"  style="margin-bottom:10px;" 
                             value="#{creationRequestController.chooseFileStep3}">
                <f:selectItem itemLabel="Choose file - 1" itemValue="1"/>
                <f:selectItem itemLabel="Create file - 2" itemValue="2"/>
                <p:ajax event="valueChange" 
                        update="requestfrm" 
                        listener="#{creationRequestController.onChangeChooseFile}"/>
            </p:selectOneMenu>
        </p:outputPanel>

        <p:outputPanel class="ui-g-12 ui-lg-12" 
                       rendered="#{creationRequestController.chooseFileStep3 eq 1}"
                       style="width: 100%">
            <p:outputLabel value="Data file" /><span style="color: red">*</span>
            <div class="spacerHeight"/>
            <p:fileUpload id="uploadFileBLUpload"
                          widgetVar="uploadFileBLUpload"
                          fileUploadListener="#{creationRequestController.handleFileUpload}" 
                          mode="advanced" 
                          dragDropSupport="false"
                          multiple="true" 
                          update="messagesBLUpload, btnValidateBLUpload, @this, outLabelPathBLUpload, btnBiuldBLUpload" 
                          sizeLimit="500000" 
                          fileLimit="1" 
                          allowTypes="/(\.|\/)(txt)$/" 
                          invalidFileMessage="Invalid file type"
                          style="width:100%" 
                          required="true"
                          requiredMessage="Upload file required to enter !"
                          oncomplete="PF('uploadFileBLUpload').reset();"/>
            <p:growl id="messagesBLUpload" showDetail="true" for="uploadFileBLUpload"/>
            <p:outputLabel id="outLabelPathBLUpload" 
                           class="ui-g-12 ui-lg-12"
                           value="#{creationRequestController.requestBuildDTO.pathFile}"/>
        </p:outputPanel>

        <p:outputPanel class="ui-g-12 ui-lg-12" 
                       rendered="#{creationRequestController.chooseFileStep3 eq 2}">
            <p:dataTable var="item"
                         id="tableCreateFileBLUpload"
                         widgetVar="tableCreateFileBLUpload"
                         value="#{creationRequestController.createFileDTOs}" 
                         reflow="true"
                         rowKey="#{item.id}" 
                         paginator="true" 
                         rows="10"
                         selectionMode="single"
                         rowsPerPageTemplate="5,10,20,40,100"
                         scrollable="true" 
                         scrollHeight="200"
                         emptyMessage="No field found with given criteria"
                         styleClass="table-campaign"
                         rowIndexVar="index">
                <f:facet name="header">
                    <p:commandButton id="btnAddRowBLUpload"
                                     widgetVar="btnAddRowBLUpload"
                                     value="Row" 
                                     icon="fa fa-plus"
                                     style="width: auto;"
                                     update="requestfrm, @([id$=tableCreateFileBLUpload])"
                                     actionListener="#{creationRequestController.onAddRowCreateFile()}"/>
                </f:facet>
                <p:column headerText="INDEX" style="width: 10%">
                    <h:outputText value="#{index + 1}" />
                </p:column>

                <p:column headerText="MSISDN">
                    <p:inputText onchange="this.value = this.value.trim()" 
                                 value="#{item.msisdn}">
                        <p:ajax  event="keyup" 
                                 delay="1000"
                                 process="@this" 
                                 update="requestfrm, @([id$=tableCreateFileBLUpload])"
                                 listener="#{creationRequestController.onkeyupMsi()}"></p:ajax>
                    </p:inputText>
                </p:column>

                <p:column headerText="Operator">
                    <h:outputText value="#{item.operator eq 1? 'ADD':''}" />
                </p:column>

                <p:column headerText="Action" style="text-align: center;width: 20%">
                    <p:commandLink actionListener="#{creationRequestController.onDeleteCreateFile(item)}"
                                   update="requestfrm, @([id$=tableCreateFileBLUpload]),@([id$=remoteGrowl])" >
                        <h:outputText class="ui-icon ui-icon-trash" style=" width: auto;"/>
                        <p:confirm header="Confirmation" 
                                   message="Are you sure ?" 
                                   icon="ui-icon-alert"/>
                    </p:commandLink>
                </p:column>
            </p:dataTable>

            <p:outputLabel class="ui-g-12 ui-lg-12" 
                           value="#{creationRequestController.requestBuildDTO.pathFile}"/>
        </p:outputPanel>

        <p:outputPanel class="ui-g-12 ui-lg-12" 
                       id="outputPanelBtnBu"
                       style="text-align: right" >

            <p:commandButton id="btnCreateBLUpload"
                             widgetVar="btnCreateBLUpload"
                             value="Create"
                             style="width: auto"
                             process="@([id$=requestfrm])"
                             update="@([id$=requestfrm]), @([id$=remoteGrowl])"
                             oncomplete="if (!args.validationFailed)"
                             action="#{creationRequestController.onCreateFile()}"
                             disabled="#{creationRequestController.disableBtnCreate}"
                             rendered="#{creationRequestController.chooseFileStep3 eq 2}" >
            </p:commandButton>

            <p:commandButton id="btnValidateBLUpload"
                             widgetVar="btnValidateBLUpload"
                             value="Validate"
                             style="width: auto"
                             process="@this"
                             update="btnBiuldBLUpload, @this, @([id$=remoteGrowl])"
                             oncomplete="if (!args.validationFailed)"
                             action="#{creationRequestController.doValidateStep3()}"
                             disabled="#{creationRequestController.disableBtnValidate}">
            </p:commandButton>

            <p:commandButton id="btnBiuldBLUpload"
                             widgetVar="btnBiuldBLUpload"
                             value="Build"
                             style="width: auto"
                             process="@([id$=requestfrm])"
                             update="@([id$=remoteGrowl])"
                             oncomplete="if (!args.validationFailed) PF('dlgConfirmBLUpload').show();"
                             action="#{creationRequestController.validateFileUpload()}"
                             disabled="#{creationRequestController.disableBtnBuild}">
            </p:commandButton>
        </p:outputPanel>

        <p:dialog header="Confirmation" 
                  modal="true"
                  appendTo="@(body)"
                  widgetVar="dlgConfirmBLUpload" 
                  height="100" 
                  id="dlgConfirmBLUpload">
            <h:outputText value="Are you sure you want to build ?" />
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmBLUpload').hide();"/>
                <p:commandButton action="#{creationRequestController.doSend()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 process="@([id$=requestfrm])"
                                 update="@([id$=notificationDiv]), @([id$=dataTableRequest]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirmBLUpload').hide();PF('dlgEdit').hide();">
                </p:commandButton>
            </p:outputPanel>
        </p:dialog>
    </p:outputPanel>
</html>