<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <p:panelGrid rendered="#{creationRequestController.stepsIndex eq 1 
                             and creationRequestController.object_action == 1}">
        <p:outputLabel class="ui-g-12 ui-lg-12" style="text-align: center" value="Segment infomation"/>
        <p:outputPanel class="ui-g-12 ui-lg-4">
            <p:outputLabel value="Segment name" /><span style="color: red">*</span>
            <div class="spacerHeight"/>
            <p:inputText onchange="this.value = this.value.trim()" value="${creationRequestController.requestBuildDTO.segmentName}"
                         required="true"
                         requiredMessage="Segment name is required!" 
                         validatorMessage="Segment name not contain % character!">
                <p:ajax event="change" 
                        update="segmentPathUpload, tempPathSegmentUpload, hisPathSegmentUpload, failPathSegmentUpload" 
                        listener="${creationRequestController.onChangeSegmentName()}" />
                <f:validateRegex pattern="^[^%]*$" />
            </p:inputText>
        </p:outputPanel>

        <p:outputPanel class="ui-g-12 ui-lg-4">
            <p:outputLabel value="Category" /><span style="color: red">*</span>
            <div class="spacerHeight"/>
            <p:selectOneMenu  syncTooltip="true"  
                              filterMatchMode="contains"  filter="true" 
                              value="${creationRequestController.categoryId}"
                              style="margin-bottom:10px;"
                              required="true"
                              requiredMessage="Category is required!"
                              id="categorySUpload">
                <f:selectItems value="#{creationRequestController.categorys}"
                               var="item" 
                               itemLabel="#{item.name}" itemDescription="#{item.name}" 
                               itemValue="#{item.categoryId}" />
            </p:selectOneMenu>
        </p:outputPanel>

        <p:outputPanel class="ui-g-12 ui-lg-4">
            <p:outputLabel value="Segment parent" />
            <div class="spacerHeight"/>
            <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="${creationRequestController.requestBuildDTO.segmentParent}"
                              style="margin-bottom:10px;" >
                <f:selectItem itemLabel="Choose parent" itemValue="0" />
                <f:selectItems value="#{creationRequestController.segments}"
                               var="item" 
                               itemLabel="#{item.name}" itemDescription="#{item.name}" 
                               itemValue="#{item.segmentId}" />
            </p:selectOneMenu>
        </p:outputPanel>

        <p:outputPanel class="ui-g-12 ui-lg-4">
            <p:outputLabel value="Effect date" /><span style="color: red">*</span>
            <div class="spacerHeight"/>
            <p:calendar value="${creationRequestController.requestBuildDTO.effectDate}"
                        showOn="button" 
                        required="true"
                        requiredMessage="Effect date is required!"
                        placeholder="__/__/____" 
                        pattern="dd/MM/yyyy" 
                        mask="true">
            </p:calendar>
        </p:outputPanel>

        <p:outputPanel class="ui-g-12 ui-lg-4">
            <p:outputLabel value="Expire date" /><span style="color: red">*</span>
            <div class="spacerHeight"/>
            <p:calendar value="${creationRequestController.requestBuildDTO.expireDate}"
                        showOn="button" 
                        required="true"
                        requiredMessage="Expire date is required!"
                        placeholder="__/__/____" 
                        pattern="dd/MM/yyyy" 
                        mask="true">
            </p:calendar>
        </p:outputPanel>

        <p:outputPanel class="ui-g-12 ui-lg-4">
            <p:outputLabel value="Description" />
            <div class="spacerHeight"/>
            <p:inputText onchange="this.value = this.value.trim()" value="${creationRequestController.requestBuildDTO.description}"
                         validatorMessage="Description not contain % character!">
                <f:validateRegex pattern="^[^%]*$" />
            </p:inputText>
        </p:outputPanel>

        <p:outputPanel class="ui-g-12 ui-lg-6">
            <p:outputLabel value="Path" />
            <div class="spacerHeight"/>
            <p:inputText onchange="this.value = this.value.trim()" placeholder="Auto gen path" 
                         value="${creationRequestController.requestBuildDTO.path}"
                         readonly="true"
                         id="segmentPathUpload"/>
        </p:outputPanel>

        <p:outputPanel class="ui-g-12 ui-lg-6">
            <p:outputLabel value="Temp path" />
            <div class="spacerHeight"/>
            <p:inputText onchange="this.value = this.value.trim()" placeholder="Auto gen path" 
                         value="${creationRequestController.requestBuildDTO.tempPath}"
                         readonly="true"
                         id="tempPathSegmentUpload"/>
        </p:outputPanel>

        <p:outputPanel class="ui-g-12 ui-lg-6">
            <p:outputLabel value="History path" />
            <div class="spacerHeight"/>
            <p:inputText onchange="this.value = this.value.trim()" placeholder="Auto gen path"
                         value="${creationRequestController.requestBuildDTO.histPath}"
                         readonly="true"
                         id="hisPathSegmentUpload"/>
        </p:outputPanel>

        <p:outputPanel class="ui-g-12 ui-lg-6">
            <p:outputLabel value="Fail path" />
            <div class="spacerHeight"/>
            <p:inputText onchange="this.value = this.value.trim()" placeholder="Auto gen path" 
                         value="${creationRequestController.requestBuildDTO.failedPath}"
                         readonly="true"
                         id="failPathSegmentUpload"/>
        </p:outputPanel>
    </p:panelGrid>
</html>