<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:panelGrid rendered="#{creationRequestController.stepsIndex eq 1
                             and creationRequestController.object_action == 4}">

        <p:outputLabel class="ui-g-12 ui-lg-12"
                       style="text-align: center"
                       value="Blacklist infomation" />

        <p:outputPanel class="ui-g-12 ui-lg-2">
            <p:outputLabel value="Blacklist name" /><span style="color: red">*</span>
        </p:outputPanel>
        <p:outputPanel class="ui-g-12 ui-lg-8">
            <p:inputText onchange="this.value = this.value.trim()" 
                         readonly="true"
                         value="${creationRequestController.requestBuildDTO.blacklistName}"
                         title="${creationRequestController.requestBuildDTO.blacklistName}"/>
            <p:inputText onchange="this.value = this.value.trim()" type="hidden" 
                         value="${creationRequestController.requestBuildDTO.blacklistId}" 
                         required="true"
                         requiredMessage="Blacklist name is required" />
        </p:outputPanel>
        <p:outputPanel class="ui-g-12 ui-lg-2">
            <p:commandButton id="btnChooseBlacklistDelete"
                             widgetVar="btnChooseBlacklistDelete"
                             process="@this"
                             value="Choose"
                             style="width: auto"
                             oncomplete="PF('dlgChooseBlacklistDelete').show()"
                             update="@([id$=dlgChooseBlacklistDelete])" />
        </p:outputPanel>

        <p:fieldset legend="Detail infomation"
                    toggleable="true"
                    toggleSpeed="500"
                    style="width: 100%"
                    rendered="${creationRequestController.displayDetailBL}">
            <p:outputPanel class="ui-g-12 ui-lg-2">
                <p:outputLabel value="Temp path" />
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-10">
                <p:inputText onchange="this.value = this.value.trim()" placeholder="/u01/file/backlist/temp_path/demo_backlist.txt" 
                             readonly="true"
                             value="${creationRequestController.requestBuildDTO.tempPath}"/>
            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-2">
                <p:outputLabel value="Fail path" />
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-10">
                <p:inputText onchange="this.value = this.value.trim()" placeholder="/u01/file/backlist/temp_path/demo_backlist.txt" 
                             readonly="true"
                             value="${creationRequestController.requestBuildDTO.failedPath}"/>
            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-2">
                <p:outputLabel value="History path" />
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-10">
                <p:inputText onchange="this.value = this.value.trim()" placeholder="/u01/file/backlist/temp_path/demo_backlist.txt" 
                             readonly="true"
                             value="${creationRequestController.requestBuildDTO.histPath}"/>
            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-2">
                <p:outputLabel value="Current path" />
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-10">
                <p:inputText onchange="this.value = this.value.trim()" placeholder="/u01/file/backlist/temp_path/demo_backlist.txt" 
                             readonly="true"
                             value="${creationRequestController.requestBuildDTO.path}"/>
            </p:outputPanel>
        </p:fieldset>

        <p:dialog header="Choose backlist"
                  widgetVar="dlgChooseBlacklistDelete"
                  id="dlgChooseBlacklistDelete"
                  responsive="true"
                  modal="true"
                  appendTo="@(body)">
            <h:form>
                <p:tree filterMatchMode="contains"  id="treeCategoryBlacklistDelete"
                        widgetVar="treeCategoryBlacklistDelete"
                        var="node"
                        value="#{creationRequestController.rootNodeBlacklist}"
                        filterBy="#{node.filter}"
                        selectionMode="single"
                        selection="#{creationRequestController.selectedNodeBlacklist}"
                        style="height: 300px; border: 0px solid; padding: 0px;width: 500px;overflow: auto;">

                    <p:treeNode type="category" expandedIcon="ui-icon-folder-open"
                                collapsedIcon="ui-icon-folder-collapsed">
                        <h:outputText value="#{node.name}" />
                    </p:treeNode>

                    <p:treeNode type="backlist" icon="ui-icon-document">
                        <h:outputText value="#{node.name}" />
                    </p:treeNode>
                </p:tree>

                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton id="btnSelectBlacklistDelete"
                                     widgetVar="btnSelectBlacklistDelete"
                                     actionListener="#{creationRequestController.onSelectBlacklist()}"
                                     style="width:auto;float: right;"
                                     icon="fa fa-chevron-down" value="Select"
                                     process="@this requestfrm:dlgChooseBlacklistDelete"
                                     update="@([id$=requestfrm]),@([id$=remoteGrowl])"
                                     oncomplete="if (!args.validationFailed) PF('dlgChooseBlacklistDelete').hide();"/>
                </p:outputPanel>
            </h:form>
        </p:dialog>
    </p:panelGrid>
</html>