<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:panelGrid rendered="#{creationRequestController.stepsIndex eq 1 
                             and creationRequestController.object_action == 7}">

        <p:outputLabel class="ui-g-12 ui-lg-12" 
                       style="text-align: center" 
                       value="Special offer infomation" />

        <p:outputPanel class="ui-g-12 ui-lg-2">
            <p:outputLabel value="Special offer name" /><span style="color: red">*</span>
        </p:outputPanel>
        <p:outputPanel class="ui-g-12 ui-lg-8">
            <p:inputText onchange="this.value = this.value.trim()" 
                         readonly="true"
                         value="#{creationRequestController.requestBuildDTO.specialOfferName}"
                         title="#{creationRequestController.requestBuildDTO.specialOfferName}"/>
            <p:inputText onchange="this.value = this.value.trim()" type="hidden" 
                         value="${creationRequestController.requestBuildDTO.specialOfferId}" 
                         required="true"
                         requiredMessage="Special name is required!" />
        </p:outputPanel>                        
        <p:outputPanel class="ui-g-12 ui-lg-2">
            <p:commandButton id="btnChooseSpecialOfferDelete"
                             widgetVar="btnChooseSpecialOfferDelete"
                             process="@this"
                             value="Choose"
                             style="width: auto"
                             oncomplete="PF('dlgChooseSpecialOfferDelete').show()"
                             update="@([id$=dlgChooseSpecialOfferDelete])" />
        </p:outputPanel>

        <p:fieldset legend="Detail infomation" 
                    toggleable="true" 
                    toggleSpeed="500"
                    style="width: 100%"
                    rendered="${creationRequestController.displayDetailSO}">
            <p:outputPanel class="ui-g-12 ui-lg-2">
                <p:outputLabel value="Temp path" />
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-10">
                <p:inputText onchange="this.value = this.value.trim()" placeholder="/u01/file/backlist/temp_path/demo_special.txt" 
                             readonly="true"
                             value="${creationRequestController.requestBuildDTO.tempPath}"/>
            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-2">
                <p:outputLabel value="Fail path" />
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-10">
                <p:inputText onchange="this.value = this.value.trim()" placeholder="/u01/file/backlist/temp_path/demo_special.txt" 
                             readonly="true"
                             value="${creationRequestController.requestBuildDTO.failedPath}"/>
            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-2">
                <p:outputLabel value="History path" />
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-10">
                <p:inputText onchange="this.value = this.value.trim()" placeholder="/u01/file/backlist/temp_path/demo_special.txt" 
                             readonly="true"
                             value="${creationRequestController.requestBuildDTO.histPath}"/>
            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-2">
                <p:outputLabel value="Path" />
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-10">
                <p:inputText onchange="this.value = this.value.trim()" placeholder="/u01/file/backlist/temp_path/demo_special.txt" 
                             readonly="true"
                             value="${creationRequestController.requestBuildDTO.path}"/>
            </p:outputPanel>
        </p:fieldset>

        <p:dialog header="Choose special" 
                  widgetVar="dlgChooseSpecialOfferDelete"
                  id="dlgChooseSpecialOfferDelete"
                  responsive="true"
                  modal="true"
                  appendTo="@(body)">
            <h:form>
                <p:tree filterMatchMode="contains"  id="treeCategorySpecialOfferDelete" var="node"
                        value="#{creationRequestController.rootNodeSpecialOffer}"
                        filterBy="#{node.filter}"
                        selectionMode="single" 
                        selection="#{creationRequestController.selectedNodeSpecialOffer}"
                        style="height: 300px; border: 0px solid; padding: 0px;width: 500px;overflow: auto;">

                    <p:treeNode type="category" expandedIcon="ui-icon-folder-open" 
                                collapsedIcon="ui-icon-folder-collapsed">
                        <h:outputText value="#{node.name}" />
                    </p:treeNode>

                    <p:treeNode type="specialprom" icon="ui-icon-document">
                        <h:outputText value="#{node.name}" />
                    </p:treeNode>
                </p:tree>

                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton id="btnSelectSpecialOfferDelete"
                                     widgetVar="btnSelectSpecialOfferDelete"
                                     actionListener="#{creationRequestController.onSelectSpecialOffer()}"
                                     style="width:auto;float: right;"
                                     icon="fa fa-chevron-down" value="Select"
                                     process="@this requestfrm:dlgChooseSpecialOfferDelete"
                                     update="@([id$=requestfrm]),@([id$=remoteGrowl])"
                                     oncomplete="if (!args.validationFailed) PF('dlgChooseSpecialOfferDelete').hide();"/>
                </p:outputPanel>
            </h:form>
        </p:dialog>
    </p:panelGrid>

</html>