<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Request" 
              widgetVar="dlgView" 
              id="dlgView" 
              modal="true"
              responsive="true"
              style="min-height: 400px;"
              width="80%">
        <h:form id="frmView">
            <p:outputPanel class="ui-g ui-fluid">
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Id" />
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" value="#{creationRequestController.request.id}" 
                                 readonly="true"/>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Transaction id" />
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" value="#{creationRequestController.request.transactionId}" 
                                 readonly="true"/>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Request time" />
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" value="#{creationRequestController.request.requestTimeStr}" 
                                 readonly="true"/>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Finish time" />
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" value="#{creationRequestController.request.finishTimeStr}" 
                                 readonly="true"/>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Factor" />
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" value="#{creationRequestController.request.factorStr}" 
                                 readonly="true"/>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Request type" />
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" value="#{creationRequestController.request.requestTypeStr}" 
                                 readonly="true"/>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-4">
                    <p:outputLabel value="Service id" />
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" value="#{creationRequestController.request.serviceName}" 
                                 readonly="true"/>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-4">
                    <p:outputLabel value="Object type" />
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" value="#{creationRequestController.request.objectType}" 
                                 readonly="true"/>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-4">
                    <p:outputLabel value="Object id" />
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" value="#{creationRequestController.request.objectId}" 
                                 readonly="true"/>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-4">
                    <p:outputLabel value="State" />
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" value="#{creationRequestController.request.state}" 
                                 readonly="true"/>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-4">
                    <p:outputLabel value="Error description" />
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" value="#{creationRequestController.request.errorDescription}" 
                                 readonly="true"/>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-4">
                    <p:outputLabel value="Percentage" />
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" value="#{creationRequestController.request.percentage}" 
                                 readonly="true"/>
                </p:outputPanel>
            </p:outputPanel>
        </h:form>
    </p:dialog>
</html>