<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:outputPanel class="ui-g ui-fluid" rendered="#{preProcessSameElementController.display}"
                   style="height: calc(100vh - 90px) !important; overflow: auto;">
        <p:panel class="ui-g-12" style="border-radius: 5px !important">

            <!--        <p:toolbar styleClass="toolbar">
                        <f:facet name="left">
                            <h:form>
                                <p:outputLabel value="PPU Same element"
                                               style="float: left; font-weight: bold; font-size: 14px"/>
                            </h:form>
                        </f:facet>
                        <f:facet name="right">
                            <h:form>
                                <p:inputSwitch style="float: right;margin-top: -3px;" value="#{preProcessSameElementController.action}">
                                    <p:ajax update="@([id$=resetForm]),@([id$=saveForm])"></p:ajax>
                                </p:inputSwitch>
                                <p:outputLabel value="Edit" style="float: right; margin-right: 10px;"/>
                            </h:form>
                        </f:facet>
                    </p:toolbar>-->


            <!--habm2-start-->
            <div class="title-wrap">
                <div class="title-name">PPU Same Element</div>
                <div class="title-action">
                    <h:form>
                        <p:outputLabel for="editSw" value="Edit" styleClass="title-lb"/>
                        <p:inputSwitch id="editSw" label="Edit" styleClass="title-sw"
                                       value="#{preProcessSameElementController.action}">
                            <p:ajax update="@([id$=resetForm]),@([id$=saveForm])"></p:ajax>
                        </p:inputSwitch>
                    </h:form>
                </div>
            </div>
            <!--habm2-end-->

            <p:outputPanel class="ui-g-12 ui-lg-12">
                <h:form id="mainForm">
                    <p:outputPanel id="inputForm" style="height: 230px">
                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="PreProcess unit id"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText onchange="this.value = this.value.trim()" placeholder="PreProcess unit id" disabled="true"
                                         value="#{preProcessSameElementController.currentValue.preProcessId}"/>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="PreProcess unit name"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText onchange="this.value = this.value.trim()" placeholder="PreProcess unit name"
                                         value="#{preProcessSameElementController.currentValue.preProcessName}"/>
                        </p:outputPanel>


                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Category"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" id="category" value="#{preProcessSameElementController.currentValue.categoryId}"
                                             style="margin-bottom:10px;">
                                <f:selectItems value="#{preProcessSameElementController.categories}"
                                               var="item"
                                               itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                               itemValue="#{item.categoryId}"/>
                            </p:selectOneMenu>
                        </p:outputPanel>



                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Description"/>
                            <div class="spacerHeight"/>
                            <p:inputTextarea  onchange="this.value = this.value.trim()" placeholder="Description" rows="1" cols="30" autoResize="false"
                                             validatorMessage="Description not contains '%' character"
                                             value="#{preProcessSameElementController.currentValue.description}">
                                <f:validateRegex pattern="^[^%]*$"/>
                            </p:inputTextarea>
                        </p:outputPanel>
                    </p:outputPanel>
                    <!--</h:form>-->
                    <!--Input field 1-->
                    <p:outputPanel id="tableForm">
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputPanel
                                style="border-bottom: 1px solid #5f666c; width: 100%;margin-bottom: 8px;     margin-top: 10px;">
                            </p:outputPanel>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Input field"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <!--                        <p:inputText onchange="this.value = this.value.trim()" id="inputField" placeholder="" disabled="true"-->
                            <!--                                     value="#{preProcessSameElementController.currentValue.inputFieldsOne}"/>-->
                            <p:inputTextarea  onchange="this.value = this.value.trim()" placeholder="" rows="3" autoResize="false" disabled="true" id="inputField"
                                             value="#{preProcessSameElementController.currentValue.inputFieldsOne}">
                            </p:inputTextarea>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Input mode"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" id="console13" value="#{preProcessSameElementController.currentValue.inputMode}"
                                             style="margin-bottom:10px;" disabled="true">
                                <p:ajax process="@([id$=tableForm])" listener="#{preProcessSameElementController.onChangeInputMode(1)}"
                                        update="@([id$=tableForm])"/>
                                <f:selectItem itemLabel="Object" itemValue="1"/>
                                <!--                            <f:selectItem itemLabel="Function" itemValue="2"/>-->
                            </p:selectOneMenu>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12"
                                       rendered="#{preProcessSameElementController.currentValue.inputMode eq 1}">
                            <p:outputPanel>
                                <div id="pathDiv">
                                    <p:dataTable id="pathTable" var="path"
                                                 value="#{preProcessSameElementController.lstPathTable}"
                                                 selectionMode="single"
                                                 reflow="true"
                                                 rowIndexVar="rowIndex"
                                                 rowKey="#{path.objectId}"
                                                 styleClass="table-campaign" style="margin-top: 10px"
                                                 paginator="true" rows="10"
                                                 widgetVar="pathTable"
                                                 emptyMessage="No field found with given criteria"
                                                 editable="true"
                                                 rowsPerPageTemplate="5,10,15,20" lazy="false">
                                        <f:facet name="header">
                                            <p:outputLabel value="Path table"
                                                           style="font-size: 14px; font-weight: bold ; float: left;  width: auto;"/>
                                            <span style="color: red ; float: left">*</span>
                                            <p:commandButton icon="fa fa-plus" value="Child path"
                                                             style="float: right; margin-right: 5px; width: auto;"
                                                             action="#{preProcessSameElementController.addChildPath(1)}"
                                                             update="@([id$=pathTable]),@([id$=remoteGrowl])"/>
                                            <p:commandButton icon="fa fa-plus" value="Path"
                                                             style="float: right; width: auto;"
                                                             update=":pathTreeForm:pathTree"
                                                             action="#{preProcessSameElementController.prepateToShowChoosePathPopup(1)}"
                                                             oncomplete="PF('pathTreePopup').show();"/>

                                        </f:facet>
                                        <p:column headerText="No" sortBy="#{rowIndex}" colspan="1">
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>


                                        <p:column headerText="Path/Child path"
                                                  colspan="2">
                                            <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{path.objectId}"
                                                             style="margin-bottom:10px;">
                                                <p:ajax listener="#{preProcessSameElementController.onChangePath(path, 1)}"
                                                        update="@([id$=pathTable]),@([id$=inputField])"/>
                                                <f:selectItem itemLabel="Choose node" itemValue="-1"/>
                                                <f:selectItems value="#{path.lstInput}"
                                                               var="input"
                                                               itemLabel="#{input.objectName}"
                                                               itemValue="#{input.objectId}"/>
                                            </p:selectOneMenu>
                                        </p:column>


                                        <p:column headerText="Filter" colspan="1">
                                            <p:commandLink value=""
                                                           action="#{preProcessSameElementController.prepareDataToShowFilterTable(path,1)}"
                                                           update="@([id$=addTreeForm]),@([id$=remoteGrowl])"
                                                           oncomplete=" if (!args.validationFailed) PF('addFilterPopup').show();"
                                                           rendered="#{path.data == null or path.data == ''}">
                                                <h:outputText value="" class="ui-icon ui-icon-plus"  style=" width: 100%;"/>
                                            </p:commandLink>
                                            <p:commandLink value="#{path.data}" style=" word-break: break-word;"
                                                           action="#{preProcessSameElementController.prepareDataToShowFilterTable(path,1)}"
                                                           update="@([id$=addTreeForm]),@([id$=remoteGrowl])"
                                                           oncomplete=" if (!args.validationFailed) PF('addFilterPopup').show();"
                                                           rendered="#{path.data != null and path.data != ''}">
                                            </p:commandLink>
                                        </p:column>

                                        <p:column headerText="Action" colspan="1">
                                            <p:commandLink value=""
                                                           action="#{preProcessSameElementController.onRemovePath(path, 1)}"
                                                           update="@([id$=pathTable]),@([id$=inputField]),@([id$=remoteGrowl])">
                                                <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                                                <p:confirm header="Confirmation"
                                                           message="Are you sure to delete ?"
                                                           icon="fa fa-warning"/>
                                            </p:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </p:outputPanel>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12"
                                       rendered="#{preProcessSameElementController.currentValue.inputMode eq 2}">
                            <p:outputPanel>
                                <div id="pathFunction">
                                    <p:dataTable id="functionTable" var="function"
                                                 value="#{preProcessSameElementController.lstFunctionPathTable}"
                                                 selectionMode="single"
                                                 reflow="true"
                                                 styleClass="table-campaign" style="margin-top: 10px"
                                                 paginator="true" rows="10"
                                                 rowKey="#{function.fieldId}"
                                                 rowIndexVar="rowIndex"
                                                 widgetVar="functionTable"
                                                 emptyMessage="No function found with given criteria"
                                                 editable="true"
                                                 rowsPerPageTemplate="5,10,15,20" lazy="false">
                                        <f:facet name="header">
                                            <p:outputLabel value="Path table"
                                                           style="font-size: 14px; font-weight: bold ; float: left;  width: auto;"/>
                                            <span style="color: red ; float: left">*</span>
                                            <p:commandButton icon="fa fa-plus" value="Function"
                                                             style="float: right ; width: auto"
                                                             action="#{preProcessSameElementController.onAddFunctionPath(1)}"
                                                             update="@([id$=functionTable])"/>
                                        </f:facet>
                                        <p:column headerText="No" sortBy="#{rowIndex}" colspan="1">
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>
                                        <p:column headerText="Function Name" colspan="2">
                                            <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{function.fieldId}"
                                                             style=" min-width: auto;">
                                                <p:ajax listener="#{preProcessSameElementController.onFieldFunctionPathChange(function, 1)}"
                                                        update="@([id$=functionTable]),@([id$=inputField])"/>
                                                <f:selectItem itemLabel="Choose function" itemValue="-1"/>
                                                <f:selectItems value="#{function.lstFunction}"
                                                               var="data1"
                                                               itemLabel="#{data1.functionDisplay}"
                                                               itemValue="#{data1.functionId}"/>
                                            </p:selectOneMenu>
                                        </p:column>
                                        <p:column headerText="Parameters" colspan="2" filterMatchMode="contains">
                                            <p:repeat value="#{function.lstFunctionParams}" var="params">
                                                <p:inputText onchange="this.value = this.value.trim()" style="margin-bottom: 8px;" value="#{params.fieldValueString}"
                                                             rendered="#{params.valueType eq 1}">
                                                    <p:ajax event="change" process="@([id$=functionTable])"
                                                            update="@([id$=pathFunction]),@([id$=inputField])"
                                                            listener="#{preProcessSameElementController.onFunctionPathChange(1)}"/>
                                                </p:inputText>
                                                <p:spinner style="margin-bottom: 8px;" value="#{params.fieldValueNumber}"
                                                           rendered="#{params.valueType eq 2}">
                                                    <p:ajax event="change" process="@([id$=functionTable])"
                                                            update="@([id$=pathFunction]) ,@([id$=inputField])"
                                                            listener="#{preProcessSameElementController.onFunctionPathChange(1)}"/>
                                                </p:spinner>
                                                <p:calendar style="margin-bottom: 8px;" showOn="button"
                                                            value="#{params.fieldValueDate}"
                                                            pattern="yyyy/MM/dd HH:mm:ss" rendered="#{params.valueType eq 3}">
                                                    <p:ajax event="change" process="@([id$=functionTable])"
                                                            update="@([id$=pathFunction]) ,@([id$=inputField])"
                                                            listener="#{preProcessSameElementController.onFunctionPathChange(1)}"/>
                                                    <p:ajax event="dateSelect" process="@([id$=functionTable])"
                                                            update="@([id$=pathFunction]),@([id$=inputField])"
                                                            listener="#{preProcessSameElementController.onFunctionPathChange(1)}"/>
                                                </p:calendar>
                                                <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{params.fieldZoneId}"
                                                                 style="margin-bottom:8px;  min-width: auto;"
                                                                 rendered="#{ params.valueType  eq 4}">
                                                    <p:ajax process="@([id$=functionTable])"
                                                            update="@([id$=pathFunction]) ,@([id$=inputField])"
                                                            listener="#{preProcessSameElementController.onFunctionPathChange(1)}"/>
                                                    <f:selectItems value="#{preProcessSameElementController.lstZone}"
                                                                   var="zone"
                                                                   itemLabel="#{zone.zoneName}"
                                                                   itemValue="#{zone.zoneId}"/>
                                                </p:selectOneMenu>
                                                <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{params.fieldZoneMapId}"
                                                                 style="margin-bottom:8px;  min-width: auto;"
                                                                 rendered="#{ params.valueType  eq 5}">
                                                    <p:ajax process="@([id$=functionTable])"
                                                            update="@([id$=pathFunction]) ,@([id$=inputField])"
                                                            listener="#{preProcessSameElementController.onFunctionPathChange(1)}"/>
                                                    <f:selectItems value="#{preProcessSameElementController.lstZoneMap}"
                                                                   var="zoneMap"
                                                                   itemLabel="#{zoneMap.zoneMapName}"
                                                                   itemValue="#{zoneMap.zoneMapId}"/>
                                                </p:selectOneMenu>
                                            </p:repeat>
                                        </p:column>

                                        <p:column headerText="Action" colspan="1">
                                            <p:commandLink value=""
                                                           action="#{preProcessSameElementController.onRemovePathFuntion(function, 1)}"
                                                           update="@([id$=functionTable]),@([id$=inputField]),@([id$=remoteGrowl])">
                                                <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                                                <p:confirm header="Confirmation"
                                                           message="Are you sure to delete this function ?"
                                                           icon="fa fa-warning"/>
                                            </p:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </p:outputPanel>
                        </p:outputPanel>
                        <!--                    Default value-->

                        <!--Input field 2-->
                        <p:outputPanel id="tableForm2">
                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <p:outputPanel
                                    style="border-bottom: 1px solid #5f666c; width: 100%;margin-bottom: 8px;     margin-top: 10px;">
                                </p:outputPanel>
                            </p:outputPanel>
                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <p:outputLabel value="Input field 2"/><span style="color: red">*</span>
                                <div class="spacerHeight"/>
                                <!--                            <p:inputText onchange="this.value = this.value.trim()" id="inputField2" placeholder="" disabled="true"-->
                                <!--                                         value="#{preProcessSameElementController.currentValue.inputFieldsSecond}"/>-->
                                <p:inputTextarea  onchange="this.value = this.value.trim()" placeholder="" rows="3" autoResize="false" disabled="true" id="inputField1"
                                                 value="#{preProcessSameElementController.currentValue.inputFieldsSecond}">
                                </p:inputTextarea>
                            </p:outputPanel>
                            <p:outputPanel class="ui-g-12 ui-lg-6">
                                <p:outputLabel value="Input mode"/><span style="color: red">*</span>
                                <div class="spacerHeight"/>
                                <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" id="console132" value="#{preProcessSameElementController.currentValue.inputModeSecond}"
                                                 style="margin-bottom:10px;" disabled="true">
                                    <p:ajax process="@([id$=tableForm2])" listener="#{preProcessSameElementController.onChangeInputMode(2)}"
                                            update="@([id$=tableForm2])"/>
                                    <f:selectItem itemLabel="Object" itemValue="1"/>
                                    <!--                                <f:selectItem itemLabel="Function" itemValue="2"/>-->
                                </p:selectOneMenu>
                            </p:outputPanel>
                            <p:outputPanel class="ui-g-12 ui-lg-12"
                                           rendered="#{preProcessSameElementController.currentValue.inputModeSecond eq 1}">
                                <p:outputPanel>
                                    <div id="pathDiv2">
                                        <p:dataTable id="pathTable2" var="path"
                                                     value="#{preProcessSameElementController.lstPathTableSecond}"
                                                     selectionMode="single"
                                                     reflow="true"
                                                     rowIndexVar="rowIndex"
                                                     rowKey="#{path.objectId}"
                                                     styleClass="table-campaign" style="margin-top: 10px"
                                                     paginator="true" rows="10"
                                                     widgetVar="pathTable"
                                                     emptyMessage="No field found with given criteria"
                                                     editable="true"
                                                     rowsPerPageTemplate="5,10,15,20" lazy="false">
                                            <f:facet name="header">
                                                <p:outputLabel value="Path table"
                                                               style="font-size: 14px; font-weight: bold ; float: left;  width: auto;"/>
                                                <span style="color: red ; float: left">*</span>
                                                <p:commandButton icon="fa fa-plus" value="Child path"
                                                                 style="float: right; margin-right: 5px; width: auto;"
                                                                 action="#{preProcessSameElementController.addChildPath(2)}"
                                                                 update="@([id$=tableForm2]),@([id$=remoteGrowl])"/>
                                                <p:commandButton icon="fa fa-plus" value="Path"
                                                                 style="float: right; width: auto;"
                                                                 update=":pathTreeForm:pathTree"
                                                                 action="#{preProcessSameElementController.prepateToShowChoosePathPopup(2)}"
                                                                 oncomplete="PF('pathTreePopup').show();"/>

                                            </f:facet>
                                            <p:column headerText="No" sortBy="#{rowIndex}" colspan="1">
                                                <h:outputText value="#{rowIndex+1}"/>
                                            </p:column>


                                            <p:column headerText="Path/Child path"
                                                      colspan="2">
                                                <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{path.objectId}"
                                                                 style="margin-bottom:10px;">
                                                    <p:ajax listener="#{preProcessSameElementController.onChangePath(path, 2)}"
                                                            update="@([id$=tableForm2]),@([id$=inputField1])"/>
                                                    <f:selectItem itemLabel="Choose node" itemValue="-1"/>
                                                    <f:selectItems value="#{path.lstInput}"
                                                                   var="input"
                                                                   itemLabel="#{input.objectName}"
                                                                   itemValue="#{input.objectId}"/>
                                                </p:selectOneMenu>
                                            </p:column>


                                            <p:column headerText="Filter" colspan="1">
                                                <p:commandLink value=""
                                                               action="#{preProcessSameElementController.prepareDataToShowFilterTable(path,2)}"
                                                               update="@([id$=addTreeForm]),@([id$=remoteGrowl])"
                                                               oncomplete=" if (!args.validationFailed) PF('addFilterPopup').show();"
                                                               rendered="#{path.data == null or path.data == ''}">
                                                    <h:outputText value="" class="ui-icon ui-icon-plus"  style=" width: 100%;"/>
                                                </p:commandLink>
                                                <p:commandLink value="#{path.data}" style=" word-break: break-word;"
                                                               action="#{preProcessSameElementController.prepareDataToShowFilterTable(path,2)}"
                                                               update="@([id$=addTreeForm]),@([id$=remoteGrowl])"
                                                               oncomplete=" if (!args.validationFailed) PF('addFilterPopup').show();"
                                                               rendered="#{path.data != null and path.data != ''}">
                                                </p:commandLink>
                                            </p:column>

                                            <p:column headerText="Action" colspan="1">
                                                <p:commandLink value=""
                                                               action="#{preProcessSameElementController.onRemovePath(path, 2)}"
                                                               update="@([id$=tableForm2]),@([id$=inputField1]),@([id$=remoteGrowl])">
                                                    <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                                                    <p:confirm header="Confirmation"
                                                               message="Are you sure to delete ?"
                                                               icon="fa fa-warning"/>
                                                </p:commandLink>
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                </p:outputPanel>
                            </p:outputPanel>
                            <p:outputPanel class="ui-g-12 ui-lg-12"
                                           rendered="#{preProcessSameElementController.currentValue.inputModeSecond eq 2}">
                                <p:outputPanel>
                                    <div id="pathFunction2">
                                        <p:dataTable id="functionTable2" var="function"
                                                     value="#{preProcessSameElementController.lstFunctionPathTableSecond}"
                                                     selectionMode="single"
                                                     reflow="true"
                                                     styleClass="table-campaign" style="margin-top: 10px"
                                                     paginator="true" rows="10"
                                                     rowKey="#{function.fieldId}"
                                                     rowIndexVar="rowIndex"
                                                     widgetVar="functionTable2"
                                                     emptyMessage="No function found with given criteria"
                                                     editable="true"
                                                     rowsPerPageTemplate="5,10,15,20" lazy="false">
                                            <f:facet name="header">
                                                <p:outputLabel value="Path table"
                                                               style="font-size: 14px; font-weight: bold ; float: left;  width: auto;"/>
                                                <span style="color: red ; float: left">*</span>
                                                <p:commandButton icon="fa fa-plus" value="Function"
                                                                 style="float: right ; width: auto"
                                                                 action="#{preProcessSameElementController.onAddFunctionPath(2)}"
                                                                 update="@([id$=tableForm2])"/>
                                            </f:facet>
                                            <p:column headerText="No" sortBy="#{rowIndex}" colspan="1">
                                                <h:outputText value="#{rowIndex+1}"/>
                                            </p:column>
                                            <p:column headerText="Function Name" colspan="2">
                                                <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{function.fieldId}"
                                                                 style=" min-width: auto;">
                                                    <p:ajax listener="#{preProcessSameElementController.onFieldFunctionPathChange(function, 2)}"
                                                            update="@([id$=tableForm2]),@([id$=inputField1])"/>
                                                    <f:selectItem itemLabel="Choose function" itemValue="-1"/>
                                                    <f:selectItems value="#{function.lstFunction}"
                                                                   var="data1"
                                                                   itemLabel="#{data1.functionDisplay}"
                                                                   itemValue="#{data1.functionId}"/>
                                                </p:selectOneMenu>
                                            </p:column>
                                            <p:column headerText="Parameters" colspan="2" filterMatchMode="contains">
                                                <p:repeat value="#{function.lstFunctionParams}" var="params">
                                                    <p:inputText onchange="this.value = this.value.trim()" style="margin-bottom: 8px;" value="#{params.fieldValueString}"
                                                                 rendered="#{params.valueType eq 1}">
                                                        <p:ajax event="change" process="@([id$=functionTable2])"
                                                                update="@([id$=tableForm2]),@([id$=inputField1])"
                                                                listener="#{preProcessSameElementController.onFunctionPathChange(2)}"/>
                                                    </p:inputText>
                                                    <p:spinner style="margin-bottom: 8px;" value="#{params.fieldValueNumber}"
                                                               rendered="#{params.valueType eq 2}">
                                                        <p:ajax event="change" process="@([id$=functionTable2])"
                                                                update="@([id$=tableForm2]) ,@([id$=inputField1])"
                                                                listener="#{preProcessSameElementController.onFunctionPathChange(2)}"/>
                                                    </p:spinner>
                                                    <p:calendar style="margin-bottom: 8px;" showOn="button"
                                                                value="#{params.fieldValueDate}"
                                                                pattern="yyyy/MM/dd HH:mm:ss" rendered="#{params.valueType eq 3}">
                                                        <p:ajax event="change" process="@([id$=functionTable2])"
                                                                update="@([id$=tableForm2]) ,@([id$=inputField1])"
                                                                listener="#{preProcessSameElementController.onFunctionPathChange(2)}"/>
                                                        <p:ajax event="dateSelect" process="@([id$=functionTable2])"
                                                                update="@([id$=tableForm2]),@([id$=inputField1])"
                                                                listener="#{preProcessSameElementController.onFunctionPathChange(2)}"/>
                                                    </p:calendar>
                                                    <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{params.fieldZoneId}"
                                                                     style="margin-bottom:8px;  min-width: auto;"
                                                                     rendered="#{ params.valueType  eq 4}">
                                                        <p:ajax process="@([id$=functionTable2])"
                                                                update="@([id$=tableForm2]) ,@([id$=inputField1])"
                                                                listener="#{preProcessSameElementController.onFunctionPathChange(2)}"/>
                                                        <f:selectItems value="#{preProcessSameElementController.lstZone}"
                                                                       var="zone"
                                                                       itemLabel="#{zone.zoneName}"
                                                                       itemValue="#{zone.zoneId}"/>
                                                    </p:selectOneMenu>
                                                    <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{params.fieldZoneMapId}"
                                                                     style="margin-bottom:8px;  min-width: auto;"
                                                                     rendered="#{ params.valueType  eq 5}">
                                                        <p:ajax process="@([id$=functionTable2])"
                                                                update="@([id$=tableForm2]) ,@([id$=inputField1])"
                                                                listener="#{preProcessSameElementController.onFunctionPathChange(2)}"/>
                                                        <f:selectItems value="#{preProcessSameElementController.lstZoneMap}"
                                                                       var="zoneMap"
                                                                       itemLabel="#{zoneMap.zoneMapName}"
                                                                       itemValue="#{zoneMap.zoneMapId}"/>
                                                    </p:selectOneMenu>
                                                </p:repeat>
                                            </p:column>

                                            <p:column headerText="Action" colspan="1">
                                                <p:commandLink value=""
                                                               action="#{preProcessSameElementController.onRemovePathFuntion(function, 2)}"
                                                               update="@([id$=tableForm2]),@([id$=inputField1]),@([id$=remoteGrowl])">
                                                    <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                                                    <p:confirm header="Confirmation"
                                                               message="Are you sure to delete this function ?"
                                                               icon="fa fa-warning"/>
                                                </p:commandLink>
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                </p:outputPanel>
                            </p:outputPanel>


                        </p:outputPanel>
                        <!--              END  Input field 2-->

                        <p:outputPanel class="ui-g-12 ui-lg-12" style="margin-top: 25px">
                            <p:outputPanel class="ui-inputgroup">
                                <p:outputPanel style="border-bottom: 1px solid #5f666c; width: 100%;margin-bottom: 8px;">
                                </p:outputPanel>
                            </p:outputPanel>
                            <!--                        <p:outputPanel class="ui-inputgroup ui-g ui-fluid">-->
                            <!--                            <p:outputPanel class="ui-g-12 ui-lg-12">-->
                            <!--                                <p:outputLabel value="Special field"/><span style="color: red">*</span>-->
                            <!--                            </p:outputPanel>-->
                            <!--                            <p:outputPanel class="ui-g-12 ui-lg-6">-->
                            <!--                                <p:outputLabel value="Compare type"/><span style="color: red"></span>-->
                            <!--                                <div class="spacerHeight"/>-->
                            <!--                                <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{preProcessSameElementController.currentValue.specialFieldsTmp}"-->
                            <!--                                                 style="margin-bottom:10px;">-->
                            <!--                                    <p:ajax process="@([id$=mainForm])"-->
                            <!--                                            update="@([id$=mainForm])"/>-->
                            <!--                                    <f:selectItem itemLabel="==" itemValue="1"/>-->
                            <!--                                    <f:selectItem itemLabel="&gt;" itemValue="2"/>-->
                            <!--                                    <f:selectItem itemLabel="&lt;" itemValue="3"/>-->
                            <!--                                    <f:selectItem itemLabel="&gt;=" itemValue="4"/>-->
                            <!--                                    <f:selectItem itemLabel="&lt;=" itemValue="5"/>-->
                            <!--                                </p:selectOneMenu>-->
                            <!--                            </p:outputPanel>-->
                            <!--                        </p:outputPanel>-->
                            <p:outputPanel class="ui-inputgroup ui-g ui-fluid">
                                <p:outputPanel class="ui-g-12 ui-lg-6">
                                    <p:outputLabel value="Default value"/><span style="color: red">*</span>
                                    <div class="spacerHeight"/>
                                    <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{preProcessSameElementController.currentValue.defaultValue}"
                                                     style="margin-bottom:10px;">
                                        <p:ajax process="@this"
                                                update="@this"/>
                                        <f:selectItem itemLabel="Choose default" itemValue=""/>
                                        <f:selectItem itemLabel="true" itemValue="1"/>
                                        <f:selectItem itemLabel="false" itemValue="0"/>
                                    </p:selectOneMenu>
                                </p:outputPanel>
                            </p:outputPanel>
                        </p:outputPanel>
                    </p:outputPanel>
                    <!--              END  Input field 1-->
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputPanel style="border-bottom: 1px solid #5f666c; width: 100%;"/>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:commandButton id="resetForm" icon="fa fa-refresh" value="Reset"
                                         style="width:auto;float: right;"
                                         action="#{preProcessSameElementController.onReset()}"
                                         update="@([id$=mainContent]),@([id$=treeCategory])  "
                                         disabled="#{preProcessSameElementController.action eq false}">
                            <p:confirm header="Confirmation"
                                       message="Are you sure to reset this PPU Same element"
                                       icon="fa fa-warning"/>
                        </p:commandButton>
                        <p:commandButton id="saveForm"  icon="fa fa-floppy-o" value="Save" style="width:auto;float: right;"
                                         process="@this,@([id$=mainContent]) "
                                         action="#{preProcessSameElementController.onValidateObject()}"
                                         update="@([id$=remoteGrowl])"
                                         oncomplete="if (!args.validationFailed) PF('dlgConfirmSaveTemp').show();"
                                         disabled="#{preProcessSameElementController.action eq false}">
                        </p:commandButton>
                    </p:outputPanel>
                </h:form>
            </p:outputPanel>
        </p:panel>
    </p:outputPanel>

    <p:dialog header="Confirmation"
              widgetVar="dlgConfirmSaveTemp"
              id="dlgConfirmSaveTemp"
              modal="true"
              height="100">
        <h:outputText value="Are you sure to save this PPU Same element ?" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmSaveTemp').hide();"/>

                <p:commandButton action="#{preProcessSameElementController.onSave()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 update="@([id$=remoteGrowl]),@([id$=mainContent]),@([id$=content]),@([id$=treeCategory]) "
                                 oncomplete="PF('dlgConfirmSaveTemp').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
    <ui:include src="AddFilterPopup.xhtml"/>
    <ui:include src="ChoosePath.xhtml"/>
    <ui:include src="DefineValuePopup.xhtml"/>

    <p:outputPanel class="ui-g ui-fluid" rendered="#{preProcessSameElementController.display eq false}">
        <p:graphicImage name="images/anh_nen.jpg"
                        style="height: calc(100vh - 90px) !important; overflow: auto; width: 100%"/>
    </p:outputPanel>
</html>