<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Choose notify template" widgetVar="notifyTemplateTreePopup" id="notifyTemplateTreePopup" responsive="true" style="width: 500px" modal="true">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Choose notify template" style="margin-left:10px;"/>
        </f:facet>

        <h:form id="ntTreeForm" style="width: 500px">
            <p:tree filterMatchMode="contains" id="preprocessUnitTree" var="node"
                    value="#{notifyTriggerController.notifyTemplateRootNode}"
                    filterBy="#{node.filter}"
                    selectionMode="single"
                    selection="#{notifyTriggerController.selectedNotifyTemplateNode}"
                    style=" border: 0px solid; padding: 0px;width: 100%;height:550px ;overflow-y: auto;">

                <p:treeNode type="category" expandedIcon="ui-icon-folder-open"
                            collapsedIcon="ui-icon-folder-collapsed" >
                    <h:outputText value="#{node.name}"/>
                </p:treeNode>

                <p:treeNode type="notifyTemplate" icon="ui-icon-document">
                    <h:outputText value="#{node.name}"/>
                </p:treeNode>
            </p:tree>
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton action="#{notifyTriggerController.validateChooseNT()}"
                                     style="width:auto;float: right;"
                                     icon="fa fa-chevron-down" value="Select"
                                     process="@([id$=ntTreeForm])"
                                     update="@([id$=panelTemplate]),@([id$=remoteGrowl]),@([id$=ntTreeForm])"
                                     oncomplete=" if (!args.validationFailed)  PF('notifyTemplateTreePopup').hide();">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>
</html>