<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:outputPanel id="panelCondition11" class="ui-g ui-fluid" rendered="#{notifyTriggerController.isDisplay}"
                   style="height: calc(100vh - 67px) !important; overflow: auto;margin-right: -17px; margin-left: -4px; margin-top: -20px">
        <p:panel class="ui-g-12" style="border-radius: 5px !important">

<!--            <p:toolbar styleClass="toolbar">
                <f:facet name="left">
                    <h:form>
                        <p:outputLabel value="Notify Trigger"
                                       style="float: left; font-weight: bold; font-size: 14px"/>
                    </h:form>
                </f:facet>
                <f:facet name="right">
                    <h:form>
                        <p:inputSwitch style="float: right;margin-top: -3px;" value="#{notifyTriggerController.actonSwitch}">
                            <p:ajax update="@([id$=resetForm]),@([id$=saveForm])"></p:ajax>
                        </p:inputSwitch>
                        <p:outputLabel value="Edit" style="float: right; margin-right: 10px;"/>
                    </h:form>
                </f:facet>
            </p:toolbar>-->

            <h:form id="notifyForm">
                <p:outputPanel class="ui-g-12 ui-lg-12" id="test1">
                    <p:focus context="test1"/>
                    <div class="spacerHeight"/>
                    <p:outputPanel class="ui-g-12 ui-lg-4">
                        <p:outputLabel value="Category" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:selectOneMenu disabled="#{notifyTriggerController.actonSwitch eq false}"   syncTooltip="true"  filterMatchMode="contains"  filter="true" id="category"  value="#{notifyTriggerController.notifyTrigger.categoryId}" style="margin-bottom:10px;">
                            <f:selectItems value="#{notifyTriggerController.categories}"
                                           var="item"
                                           itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                           itemValue="#{item.categoryId}" />
                        </p:selectOneMenu>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-4">
                        <p:outputLabel value="Notification id" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText  disabled="#{notifyTriggerController.actonSwitch eq false}" onchange="this.value = this.value.trim()" placeholder="Notification id" readonly="true" value="#{notifyTriggerController.notifyTrigger.notifyTriggerId}"/>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-4" id="NotifyName">
                        <p:focus context="NotifyName"/>
                        <p:outputLabel value="Notification name" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText  disabled="#{notifyTriggerController.actonSwitch eq false}" onchange="this.value = this.value.trim()" placeholder="Notification name"
                                     value="#{notifyTriggerController.notifyTrigger.triggerName}"
                                     title="#{notifyTriggerController.notifyTrigger.triggerName}"
                                     required="true" requiredMessage="Notification name is required"
                                     validatorMessage="Notification name not contains '%' character"
                                     onkeypress="updateTitle(this)">
                            <f:validateRegex pattern="^[^%]*$"/>
                        </p:inputText>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputLabel value="Description" />
                        <div class="spacerHeight"/>
                        <p:inputTextarea disabled="#{notifyTriggerController.actonSwitch eq false}"   onchange="this.value = this.value.trim()" placeholder="Description" rows="1" cols="30" autoResize="false"
                                         validatorMessage="Description not contains '%' character"
                                         title="#{notifyTriggerController.notifyTrigger.description}"
                                         value="#{notifyTriggerController.notifyTrigger.description}"
                                         onkeypress="updateTitle(this)">
                            <f:validateRegex pattern="^[^%]*$"/>
                        </p:inputTextarea>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-4">
                        <p:outputLabel value="Alias" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText  disabled="#{notifyTriggerController.actonSwitch eq false}" onchange="this.value = this.value.trim()" placeholder="Alias"
                                     value="#{notifyTriggerController.notifyTrigger.alias}"
                                     title="#{notifyTriggerController.notifyTrigger.alias}"
                                     required="true" requiredMessage="Alias is required"
                                     validatorMessage="Alias not contains '%' character"
                                     onkeypress="updateTitle(this)">
                            <f:validateRegex pattern="^[^%]*$"/>
                        </p:inputText>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-4">
                        <p:outputLabel value="Notification type" /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:selectOneMenu disabled="#{notifyTriggerController.actonSwitch eq false}"   syncTooltip="true"  filterMatchMode="contains"  filter="true" id="ussd"  value="#{notifyTriggerController.notifyTrigger.notifyType}" style="margin-bottom:10px;">
                            <p:ajax event="change" update="@([id$=notifyForm])" process="@([id$=notifyForm])"
                                    listener="#{notifyTriggerController.onSelectNotifyType}" />
                            <f:selectItem itemDescription="SMS" itemLabel="SMS" itemValue="1" />
                            <f:selectItem itemDescription="USSD" itemLabel="USSD" itemValue="2" />
                            <f:selectItem itemDescription="ZALO" itemLabel="ZALO" itemValue="3" />
                            <f:selectItem itemDescription="FACEBOOK" itemLabel="FACEBOOK" itemValue="4" />
                            <f:selectItem itemDescription="VIBER" itemLabel="VIBER" itemValue="5" />
                            <f:selectItem itemDescription="MOCHA" itemLabel="MOCHA" itemValue="6" />
                        </p:selectOneMenu>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-4">
                        <p:outputLabel value="Is invitation" /><span style="color: red"></span>
                        <div class="spacerHeight"/>
                        <h:panelGrid style="margin-bottom:10px; width: 100%px">
                            <p:selectBooleanCheckbox disabled="#{notifyTriggerController.actonSwitch eq false}"  style="width: 100%" value="#{notifyTriggerController.notifyTrigger.bInvite}" itemLabel="Is invitation">
                                <p:ajax update="@([id$=divCycle])" listener="#{notifyTriggerController.onchangeInvitation}" />
                            </p:selectBooleanCheckbox>
                        </h:panelGrid>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-12" id="divCycle">
                        <p:fieldset rendered="#{notifyTriggerController.notifyTrigger.bInvite eq true}" legend="Invitation" style="margin-bottom:20px">
                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <p:outputPanel class="ui-g-12 ui-lg-4">
                                    <p:outputLabel value="Retry cycle" /><span style="color: red">*</span>
                                    <div class="spacerHeight"/>
                                    <p:selectOneMenu disabled="#{notifyTriggerController.actonSwitch eq false}"   syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{notifyTriggerController.notifyTrigger.retryCycleId}" style="margin-bottom:10px;">
                                        <f:selectItems value="#{notifyTriggerController.retryCycles}"
                                                       var="itemCycle"
                                                       itemDescription="#{itemCycle.name}"
                                                       itemLabel="#{itemCycle.name}"
                                                       itemValue="#{itemCycle.id}" />
                                    </p:selectOneMenu>
                                </p:outputPanel>
                                <p:outputPanel class="ui-g-12 ui-lg-4">
                                    <p:outputLabel value="Repeat time" /><span style="color: red">*</span>
                                    <div class="spacerHeight"/>
                                    <p:selectOneMenu disabled="#{notifyTriggerController.actonSwitch eq false}"   syncTooltip="true"  filterMatchMode="contains"  filter="true"  value="#{notifyTriggerController.notifyTrigger.repeatTime}" style="margin-bottom:10px;">
                                        <p:ajax event="change" update="@([id$=notifyForm])" process="@([id$=notifyForm])"
                                                listener="#{notifyTriggerController.onSelectNotifyType}" />
                                        <f:selectItem itemDescription="15 minutes" itemLabel="15 minutes" itemValue="900000" />
                                        <f:selectItem itemDescription="30 minutes" itemLabel="30 minutes" itemValue="1800000" />
                                        <f:selectItem itemDescription="1 hour" itemLabel="1 hour" itemValue="3600000" />
                                        <f:selectItem itemDescription="3 hours" itemLabel="3 hours" itemValue="10800000" />
                                        <f:selectItem itemDescription="24 hours" itemLabel="24 hours" itemValue="86400000" />
                                    </p:selectOneMenu>
                                </p:outputPanel>

                                <p:outputPanel class="ui-g-12 ui-lg-4">
                                    <p:outputLabel value="Repeat number" /><span style="color: red">*</span>
                                    <div class="spacerHeight"/>
                                    <p:inputText  disabled="#{notifyTriggerController.actonSwitch eq false}" onchange="this.value = this.value.trim()" title="#{notifyTriggerController.notifyTrigger.numberRetry}"
                                            value="#{notifyTriggerController.notifyTrigger.numberRetry}" onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" />
                                </p:outputPanel>
                            </p:outputPanel>
                        </p:fieldset>
                    </p:outputPanel>
                    <!--                        statistic-->
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:fieldset legend="Statistic" style="margin-bottom:20px">
                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <!--                            <p:outputPanel class="ui-inputgroup">-->
                                <!--                                <p:outputPanel style="border-bottom: 1px solid #a8acb1; width: 100%;margin-bottom: 8px;">-->
                                <!--                                    <p:outputLabel value="List statistic " style="font-size: 14px; font-weight: bold"/> <span style="color: red"></span>-->
                                <!--                                </p:outputPanel>-->
                                <!--                            </p:outputPanel>-->
                                <p:dataTable id="tblStatistic" var="itemS" value="#{notifyTriggerController.notifyTrigger.statisticCycles}"
                                             reflow="true"
                                             styleClass="table-campaign" style="margin-top: 10px"
                                             rowKey="#{itemS.id}"
                                             widgetVar="ruleTable"
                                             emptyMessage="No content"
                                             scrollable="true"
                                             scrollHeight="200"
                                             editable="true" editMode="cell" rowIndexVar="index"
                                             lazy="false">
                                    <f:facet name="header">
                                        <div style="width: 100%;display: inline-flex;">
                                            <div style="width: 50%;text-align: left">
                                                <p:outputLabel value="List statistic"/>
                                                <span style="color: red"></span>
                                            </div>
                                            <div style="width: 50%;text-align: right">
                                                <p:commandButton disabled="#{notifyTriggerController.actonSwitch eq false}"  icon="fa fa-plus" style="float: right; margin-left: 5px; width: 70px;" value="Add"
                                                                 action="#{notifyTriggerController.onAddRowStatstic()}"
                                                                 process="@([id$=tblStatistic])"
                                                                 update="@([id$=tblStatistic]),@([id$=remoteGrowl]),@([id$=addStatisticTreePopup])"/>
                                            </div>
                                        </div>

                                    </f:facet>
                                    <p:column headerText="Statstic id" style="text-align:center" colspan="1">
                                        <h:outputText value="#{itemS.id}"/>
                                    </p:column>

                                    <p:column headerText="Statistic name" colspan="3">
                                        <h:outputText value="#{itemS.name}" title="#{itemS.name}"/>
                                    </p:column>
                                    <p:column headerText="Action" width="" colspan="1" style="text-align:center">
                                        <p:commandLink disabled="#{notifyTriggerController.actonSwitch eq false}"  action="#{notifyTriggerController.removeRowStatistic(itemS)}"
                                                       update="@([id$=tblStatistic])" style="">
                                            <i class="fa fa-trash" style=" "></i>
                                        </p:commandLink>

                                        <p:commandLink action="#{notifyTriggerController.viewStatistic(itemS)}"
                                                       update="@([id$=statisticTreeForm])" style=" ">
                                            <i class="fa fa-info-circle" style=""></i>
                                        </p:commandLink>


                                    </p:column>
                                </p:dataTable>
                            </p:outputPanel>
                        </p:fieldset>
                    </p:outputPanel>
                    <!--                        template-->
                    <p:outputPanel class="ui-g-12 ui-lg-12" id="panelTemplate">
                        <p:fieldset legend="Template" style="margin-bottom:20px">
                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <p:outputPanel class="ui-g-12 ui-lg-3">
                                    <p:outputLabel value="Template name" /><span style="color: red">*</span>
                                </p:outputPanel>
                                <p:outputPanel class="ui-g-12 ui-lg-6">
                                    <p:inputText onchange="this.value = this.value.trim()" placeholder="" disabled="true"
                                                 value="#{notifyTriggerController.notifyTrigger.notifyTemplateDetailDTO.name}"
                                                 title="#{notifyTriggerController.notifyTrigger.notifyTemplateDetailDTO.name}"
                                                 required="true">
                                    </p:inputText>
                                </p:outputPanel>
                                <p:outputPanel class="ui-g-12 ui-lg-3">
                                    <p:commandButton disabled="#{notifyTriggerController.actonSwitch eq false}"  style="float: right; margin-left: 5px; width: 100px;" value="Choose"
                                                     action="#{notifyTriggerController.onChooseNotifyTemplate()}"
                                                     process="@([id$=notifyForm])"
                                                     update="@([id$=ntTreeForm]),@([id$=remoteGrowl])"/>
                                </p:outputPanel>
                            </p:outputPanel>
                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <!--                            <p:outputPanel class="ui-inputgroup">-->
                                <!--                                <p:outputPanel style="border-bottom: 1px solid #a8acb1; width: 100%;margin-bottom: 8px;">-->
                                <!--                                    <p:outputLabel value="Template content " style="font-size: 14px; font-weight: bold"/> <span style="color: red"></span>-->
                                <!--                                </p:outputPanel>-->
                                <!--                            </p:outputPanel>-->
                                <p:dataTable id="tblTemplateContent" var="itemN" value="#{notifyTriggerController.notifyTrigger.notifyTemplateDetailDTO.contents}"
                                             reflow="true"
                                             styleClass="table-campaign" style="margin-top: 10px"
                                             rowKey="#{itemN.id}"
                                             widgetVar="ruleTable"
                                             emptyMessage="No content"
                                             editable="true" editMode="cell" rowIndexVar="index"
                                             scrollable="true"
                                             scrollHeight="200"
                                             lazy="false">
                                    <f:facet name="header">
                                        <div style="width: 100%;display: inline-flex;">
                                            <div style="width: 50%;text-align: left">
                                                <p:outputLabel value="Template content"/>
                                                <span style="color: red"></span>
                                            </div>
                                            <div style="width: 50%;text-align: right">

                                            </div>
                                        </div>
                                    </f:facet>

                                    <p:column headerText="Content id" style="text-align:center">
                                        <h:outputText value="#{itemN.id}"/>
                                    </p:column>

                                    <p:column headerText="Content" colspan="2">
                                        <h:outputText value="#{itemN.content}" title="#{itemN.content}" styleClass="preformatted"/>
                                    </p:column>
                                    <p:column headerText="Language">
                                        <h:outputText value="#{itemN.language.languageName}" title="#{itemN.language.languageName}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:outputPanel>

                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <!--                            <p:outputPanel class="ui-inputgroup">-->
                                <!--                                <p:outputPanel style="border-bottom: 1px solid #a8acb1; width: 100%;margin-bottom: 8px;">-->
                                <!--                                    <p:outputLabel value="Parameter of content " style="font-size: 14px; font-weight: bold"/> <span style="color: red"></span>-->
                                <!--                                </p:outputPanel>-->
                                <!--                            </p:outputPanel>-->
                                <p:dataTable id="tblContent" var="itemNV" value="#{notifyTriggerController.notifyTrigger.notifyValues}"
                                             reflow="true"
                                             styleClass="table-campaign" style="margin-top: 10px"
                                             rowKey="#{itemNV.notifyValueId}"
                                             widgetVar="ruleTable"
                                             emptyMessage="No content"
                                             scrollable="true"
                                             scrollHeight="200"
                                             editable="true" editMode="cell" rowIndexVar="index"
                                             lazy="false">
                                    <f:facet name="header">
                                        <div style="width: 100%;display: inline-flex;">
                                            <div style="width: 50%;text-align: left">
                                                <p:outputLabel value="Parameter of content"/>
                                                <span style="color: red"></span>
                                            </div>
                                            <div style="width: 50%;text-align: right">

                                            </div>
                                        </div>
                                    </f:facet>
                                    <p:column headerText="No" style="text-align:center; width: 8%">
                                        <h:outputText value="#{index + 1}"/>
                                    </p:column>

                                    <p:column headerText="Parameter" >
                                        <h:outputText value="#{itemNV.paramString}" title="#{itemNV.paramString}"/>
                                    </p:column>
                                    <p:column headerText="Source type">
                                        <p:selectOneMenu disabled="#{notifyTriggerController.actonSwitch eq false}"   syncTooltip="true"  filterMatchMode="contains"  filter="true"  value="#{itemNV.sourceType}" style="margin-bottom:10px;">
                                            <p:ajax event="change" update="@([id$=tblContent])" process="@([id$=notifyForm])"
                                                    listener="#{notifyTriggerController.onSelectSourceType(itemNV)}" />
                                            <f:selectItem itemLabel="Exact" itemValue="1" />
                                            <f:selectItem itemLabel="Path" itemValue="2" />
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column headerText="Data type">
                                        <p:selectOneMenu disabled="#{notifyTriggerController.actonSwitch eq false}"   syncTooltip="true"  filterMatchMode="contains"  filter="true"  value="#{itemNV.dataType}" style="margin-bottom:10px;">
                                            <f:selectItem itemLabel="Choose" itemValue="" />
                                            <f:selectItems value="#{notifyTriggerController.dataTypes}"
                                                           var="dataType"
                                                           itemLabel="#{dataType.dataTypeName}"
                                                           itemValue="#{dataType.dataTypeId}" />
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column headerText="Replace value">
                                        <p:inputText  disabled="#{notifyTriggerController.actonSwitch eq false}" onchange="this.value = this.value.trim()"  rendered="#{itemNV.sourceType eq 1 or itemNV.sourceType eq 2}"
                                                      placeholder="Replace value"
                                                      validatorMessage="Replace value not contains '%' character"
                                                      title="#{itemNV.value}"
                                                      value="#{itemNV.value}"
                                                      onkeypress="updateTitle(this)">
                                            <f:validateRegex pattern="^[^%]*$"/>
                                        </p:inputText>
                                    </p:column>

                                </p:dataTable>
                            </p:outputPanel>
                        </p:fieldset>
                    </p:outputPanel>
                    <!-- button -->
                    
                </p:outputPanel>
            </h:form>

        </p:panel>
    </p:outputPanel>

    <p:dialog header="Confirmation" widgetVar="dlgConfirmAdd" modal="true" height="100">
        <h:outputText value="Are you sure to add this Scenario Node" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmAdd').hide();"/>

                <p:commandButton action="#{notifyTriggerController.doAddNode()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 process="@([id$=notifyForm]),@this"
                                 update="@([id$=content]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirmAdd').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
    <p:dialog header="Confirmation" widgetVar="dlgConfirmCondition" modal="true" height="100">
        <h:outputText value="#{notifyTriggerController.isUpdate eq false ? 'Are you sure to create this Notify trigger?' : 'Are you sure to edit this Notify trigger?'}" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmCondition').hide();"/>

                <p:commandButton action="#{notifyTriggerController.doSaveObject()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 process="@([id$=notifyForm]),@this"
                                 update="@([id$=content]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirmCondition').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
    <p:dialog header="Confirmation" widgetVar="dlgConfirmResetScenario" modal="true" height="100">
        <h:outputText value="Are you sure to reset?" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this,@([id$=notifyForm])"
                                 oncomplete="PF('dlgConfirmResetScenario').hide();"/>

                <p:commandButton action="#{notifyTriggerController.refreshData()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 process="@this,@([id$=notifyForm])"
                                 update="@([id$=mainContent]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirmResetScenario').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
    <p:dialog header="Confirmation" widgetVar="dlgConfirmDelete" modal="true" height="100">
        <h:outputText value="Are you sure to delete?" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this,@([id$=tblStatistic])"
                                 oncomplete="PF('dlgConfirmDelete').hide();"/>

                <p:commandButton action="#{notifyTriggerController.removeRowStatisticCfm()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 process="@this,@([id$=tblStatistic])"
                                 update="@([id$=tblStatistic]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirmDelete').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>

    
    <ui:include src="statisticTreePopup.xhtml" />
    <ui:include src="notifyTemplateTreePopup.xhtml" />
    <ui:include src="tempTreePopup.xhtml" />
    <ui:include src="addStatsticTreePopup.xhtml" />
</html>