<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="fromTree">
        
<!--        <p:toolbar styleClass="toolbar">
            <f:facet name="left">
               <p:outputLabel value="List notify trigger" 
                               style="float: left; font-weight: bold; font-size: 14px"/>
            </f:facet>
        </p:toolbar>-->

        <!--habm2-start-->
        <div class="title-wrap">
            <div class="title-name">Notify Trigger List</div>
        </div>
        <!--habm2-end-->
        
        <p:tree filterMatchMode="contains"  id="treeCategoryCondition" var="node"
                 value="#{notifyTriggerController.rootNode}"
                 filterBy="#{node.filter}"
                 selectionMode="single" 
                 selection="#{notifyTriggerController.selectedNode}"
                 style="height: calc(100vh - 101px) !important; overflow: auto;">
            <p:ajax event="select" 
                    listener="#{notifyTriggerController.prepareEditWhenClick()}"
                    update="@([id$=mainContent]), @([id$=carDialog])"/>

            <p:treeNode type="category" expandedIcon="ui-icon-folder-open" 
                        collapsedIcon="ui-icon-folder-collapsed">
                <h:outputText value="#{node.name}" />
            </p:treeNode>

            <p:treeNode type="notifyTrigger"  icon="ui-icon-document">
                <h:outputText value="#{node.name}" />
            </p:treeNode>
            <p:treeNode type="column" icon="ui-icon-circle-check">
                <h:outputText value="#{node.name}" />
            </p:treeNode>
            <p:ajax event="expand" listener="#{notifyTriggerController.onNodeExpand}"></p:ajax>
            <p:ajax event="collapse" listener="#{notifyTriggerController.onNodeCollapse}"></p:ajax>
        </p:tree>

        <p:contextMenu for="treeCategoryCondition" nodeType="category" style="width: auto;">
            <p:menuitem icon="fa fa-floppy-o" 
                        value="Create Category"
                        action="#{notifyTriggerController.prepareCreateCategory()}"
                        update="@([id$=content])"
                        oncomplete="PF('carDialog').show();"/>
            <p:menuitem icon="fa fa-refresh" 
                        value="Edit Category"
                        action="#{notifyTriggerController.prepareEditCategory()}"
                        update="@([id$=content])"
                            oncomplete="PF('carDialog').show();"/>
            <p:menuitem icon="fa fa-trash" 
                        value="Delete Category"
                        action="#{notifyTriggerController.doDeleteCategory()}"
                        update="@([id$=fromTree]),@([id$=remoteGrowl])" >
                <p:confirm header="Confirmation" message="Are you sure to delete this Category ?" icon="ui-icon-alert"/>
            </p:menuitem>
            <p:menuitem icon="fa fa-plus"
                        value="Create Notify Trigger"
                        action="#{notifyTriggerController.prepareAddObject()}"
                        update="@([id$=content])"/>
        </p:contextMenu>
        
        <p:contextMenu for="treeCategoryCondition" nodeType="notifyTrigger" style="width: auto;">
            <p:menuitem icon="fa fa-refresh"
                        value="Edit Notify Trigger"
                        action="#{notifyTriggerController.prepareEditFromContextMenu()}"
                        update="@([id$=content])"/>
            <p:menuitem icon="fa fa-trash"
                        value="Delete Notify Trigger"
                        action="#{notifyTriggerController.validateDeleteObject()}"
                        update="@([id$=content]),@([id$=remoteGrowl])"
                        oncomplete="if (!args.validationFailed) PF('dlgConfirmDeleteCondition').show();">
<!--                <p:confirm header="Confirmation" message="Are you sure to delete this Condition Table ?" icon="ui-icon-alert"/>-->
            </p:menuitem>
        </p:contextMenu>
   
    </h:form>
    <p:dialog header="Confirmation" widgetVar="dlgConfirmDeleteCondition" modal="true" height="100">
        <h:outputText value="Are you sure to delete this Notify Trigger?" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmDeleteCondition').hide();"/>

                <p:commandButton action="#{notifyTriggerController.doDeleteObject()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 process="@([id$=fromTree]),@this"
                                 update="@([id$=content]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirmDeleteCondition').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>

    <ui:include src="categoryPopup.xhtml" />
    
<!--    <ui:include src="RuleTreePopup.xhtml" />-->
<!--    <ui:include src="CreateRuleOnlinePopup.xhtml" />-->
<!--    <ui:include src="AddCdrServicePopup.xhtml" />-->
<!--    <ui:include src="AddResultTablePopup.xhtml" />-->

</html>