<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="#{notifyTriggerController.addStatistic eq true ? 'Add statistic' :'Statistic'}" 
              widgetVar="statisticTreePopup" 
              id="statisticTreePopup" 
              responsive="true" 
              width="60%">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="#{notifyTriggerController.addStatistic eq true ? 'Add statistic' :'Statistic'}" style="margin-left:10px;"/>
        </f:facet>
        <h:form id="statisticTreeForm" style="width: 800px">
            <p:outputPanel class="ui-g ui-fluid">
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Statistic id" /><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="Statistic id" readonly="true" value="#{notifyTriggerController.statisticCycle.id}"/>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Statistic name" /><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" readonly="${notifyTriggerController.addStatistic eq false}"
                                 placeholder="Statistic name"
                                 value="#{notifyTriggerController.statisticCycle.name}"
                                 required="true" requiredMessage="Statistic name is required"
                                 validatorMessage="Statistic name not contains '%' character">
                        <f:validateRegex pattern="^[^%]*$"/>
                    </p:inputText>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Cycle unit id" /><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" disabled="${notifyTriggerController.addStatistic eq false}"
                                      value="#{notifyTriggerController.statisticCycle.cycleUnitId}" style="margin-bottom:10px;"
                                      required="true" requiredMessage="Cycle unit id is required">
                        <f:selectItems value="#{notifyTriggerController.cycleUnits}"
                                       var="itemCU"
                                       itemLabel="#{itemCU.name}"
                                       itemValue="#{itemCU.id}" />
                    </p:selectOneMenu>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Cycle unit times" /><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" readonly="${notifyTriggerController.addStatistic eq false}"
                                 value="#{notifyTriggerController.statisticCycle.cycleUnitTimes}"
                                 onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
                                 required="true" requiredMessage="Cycle unit times is required"/>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Max notify" /><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" readonly="${notifyTriggerController.addStatistic eq false}"
                                 value="#{notifyTriggerController.statisticCycle.maxNotify}"
                                 onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
                                 required="true" requiredMessage="Max notify is required"/>
                </p:outputPanel>
            </p:outputPanel>
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton rendered="${notifyTriggerController.addStatistic eq true}"
                                     action="#{notifyTriggerController.validateAddStatistic()}"
                                     style="width:auto;float: right;"
                                     icon="fa fa-floppy-o" value="Apply"
                                     process="@([id$=statisticTreeForm])"
                                     update="@([id$=statisticTreeForm]),@([id$=remoteGrowl]),@([id$=notifyForm])"
                                     oncomplete=" if (!args.validationFailed)  PF('statisticTreePopup').hide();">
                    </p:commandButton>
                    <p:commandButton rendered="${notifyTriggerController.addStatistic eq false}"
                                     action="PF('statisticTreePopup').hide();"
                                     style="width:auto;float: right;"
                                     value="Close"
                                     process="@([id$=statisticTreeForm]), @this"
                                     update="@([id$=remoteGrowl]),@([id$=statisticTreePopup])">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>
</html>