<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Choose path" widgetVar="pathTreePopup" id="pathTreePopup" responsive="true" style="width: 500px" modal="true">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Choose path" style="margin-left:10px;"/>
        </f:facet>
        <h:form id="pathTreeForm" style="width: 500px">
            <p:tree filterMatchMode="contains" id="preprocessUnitTree" var="node"
                    value="#{notifyTriggerController.tempRootNode}"
                    filterBy="#{node.objectName}"
                    selectionMode="single"
                    selection="#{notifyTriggerController.selectedTemmpNode}"
                    style=" border: 0px solid; padding: 0px;width: 100%;height:550px ;overflow-y: auto;">

                <p:treeNode type="category" expandedIcon="ui-icon-folder-open"
                            collapsedIcon="ui-icon-folder-collapsed" >
                    <h:outputText value="#{node.name}"/>
                </p:treeNode>

                <p:treeNode type="notifyTriggerDTO" icon="ui-icon-document">
                    <h:outputText value="#{node.name}"/>
                </p:treeNode>
            </p:tree>
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton action="#{notifyTriggerController.validateChoosePath()}"
                                     style="width:auto;float: right;"
                                     icon="fa fa-chevron-down" value="Select"
                                     process="@([id$=pathTreeForm])"
                                     update="@([id$=content]),@([id$=remoteGrowl]),@([id$=pathTreeForm])"
                                     oncomplete=" if (!args.validationFailed)  PF('pathTreePopup').hide();">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>
</html>