<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Choose promotion" 
              widgetVar="dlgChoosePromotion"
              id="dlgChoosePromotion"
              responsive="true"
              modal="true"
              width="40%">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Choose promotion" style="margin-left:10px;"/>
        </f:facet>

        <p:outputPanel class="ui-g-12 ui-lg-12">
            <p:outputLabel value="Choose promotion type" />
        </p:outputPanel>
        <p:outputPanel class="ui-g-12 ui-lg-12" style="padding-left: 5%">
            <p:selectOneRadio value="#{promotionBlockController.promotionType}">
                <f:selectItem itemValue="1" itemLabel="OSC behaviour" />
                <f:selectItem itemValue="2" itemLabel="Notify trigger" />
                <f:selectItem itemValue="3" itemLabel="Scenario trigger" />
                <p:ajax update="treePromotionList" 
                        event="change"
                        listener="#{promotionBlockController.onChangePrmType()}"/>
            </p:selectOneRadio>
        </p:outputPanel>

        <p:outputPanel class="ui-g-12 ui-lg-12">
            <p:outputLabel value="List promotion" />
            <div class="spacerHeight"/>
            <p:tree filterMatchMode="contains"  id="treePromotionList"
                    var="node"
                    value="#{promotionBlockController.rootNodePrm}"
                    filterBy="#{node.name}"
                    selectionMode="checkbox" 
                    selection="#{promotionBlockController.selectedNodePrm}"
                    style="height: 300px; padding: 0px;overflow: auto;width: 100%">

                <p:ajax event="select" 
                        update="contentForm:btnSelectPrm" 
                        listener="#{promotionBlockController.eventSelectNode()}"/>
                <p:ajax event="unselect" 
                        update="contentForm:btnSelectPrm" 
                        listener="#{promotionBlockController.eventSelectNode()}" />

                <f:facet name="header">
                    <h:outputText value="#{item.promotionId}" />
                </f:facet>

                <p:treeNode type="category" expandedIcon="ui-icon-folder-open" 
                            collapsedIcon="ui-icon-folder-collapsed">
                    <h:outputText value="#{node.name}" />
                </p:treeNode>

                <p:treeNode type="behaviour" icon="ui-icon-document">
                    <h:outputText value="#{node.name}" />
                </p:treeNode>
            </p:tree>
        </p:outputPanel>

        <p:outputPanel class="ui-g-12 ui-lg-12">
            <p:commandButton id="btnSelectPrm"
                             widgetVar="btnSelectPrm"
                             actionListener="#{promotionBlockController.onSelectedPrm(promotionBlockController.selectedNodePrm)}"
                             style="width:auto;float: right;" 
                             icon="fa fa-chevron-down" value="Select"
                             process="@this contentForm:dlgChoosePromotion"
                             update="@([id$=dataTableBehaviour]),@([id$=remoteGrowl])"
                             oncomplete="if (!args.validationFailed) PF('dlgChoosePromotion').hide();"
                             disabled="#{promotionBlockController.displayBtnSelect}"/>
        </p:outputPanel>
    </p:dialog>  
</html>