<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="promotionBlockTree"> 

        <!--habm2-start-->
        <div class="title-wrap">
            <div class="title-name">Promotion Block List</div>
        </div>
        <!--habm2-end-->
        <p:tree filterMatchMode="contains"  id="treeCategory" 
                var="node"
                value="#{promotionBlockController.rootNodeCategory}" 
                filterBy="#{node.name}"
                selectionMode="single" 
                selection="#{promotionBlockController.selectedNodeCategory}" 
                style="width: 100%;height: calc(100vh - 101px) !important; overflow: auto;">

            <p:ajax event="select" 
                    listener="#{promotionBlockController.prepareEditWhenClick()}"
                    update="@([id$=contentForm]), @([id$=carDialog])"/>

            <p:treeNode type="category" expandedIcon="ui-icon-folder-open" 
                        collapsedIcon="ui-icon-folder-collapsed">
                <h:outputText id="catNoteName"
                              value="#{node.name}"
                              title="#{node.name}"/>
            </p:treeNode>

            <p:treeNode type="promotionBlock" icon="ui-icon-document">
                <h:outputText id="promotionBlockName"
                              value="#{node.name}" 
                              title="#{node.name}"/>
            </p:treeNode>
            <p:ajax event="expand" listener="#{promotionBlockController.onNodeExpand}"></p:ajax>
            <p:ajax event="collapse" listener="#{promotionBlockController.onNodeCollapse}"></p:ajax>
        </p:tree>

        <p:contextMenu for="treeCategory" nodeType="category" style="width: auto">
            <p:menuitem icon="fa fa-floppy-o" 
                        value="Create category" 
                        action="#{promotionBlockController.prepareCreateCategory()}" 
                        update="@([id$=carDialog]),@([id$=remoteGrowl])"
                        oncomplete="PF('carDialog').show();"/>

            <p:menuitem icon="fa fa-refresh" 
                        value="Edit category"
                        action="#{promotionBlockController.prepareEditCategory()}" 
                        update="@([id$=carDialog]),@([id$=remoteGrowl])"
                        oncomplete="PF('carDialog').show();"/>

            <p:menuitem icon="fa fa-trash" 
                        value="Delete category" 
                        action="#{promotionBlockController.doDeleteCategory()}" 
                        update="@([id$=promotionBlockTree]),@([id$=remoteGrowl])" >
                <p:confirm header="Confirmation" 
                           message="You definitely want to delete ?" 
                           icon="ui-icon-alert"/>
            </p:menuitem>

            <p:menuitem icon="fa fa-plus" 
                        value="Create promotion block" 
                        action="#{promotionBlockController.prepareCreatePromotion()}"
                        update="@([id$=contentForm])" />
        </p:contextMenu>

        <p:contextMenu for="treeCategory" nodeType="promotionBlock" style="width: auto">
            <p:menuitem icon="fa fa-refresh" 
                        value="Edit promotion block" 
                        action="#{promotionBlockController.prepareEditFromContextMenu()}" 
                        update="@([id$=contentForm])"/>
            <p:menuitem icon="fa fa-trash" 
                        value="Delete promotion block" 
                        action="#{promotionBlockController.onDeletePrmBlock()}" 
                        update="@([id$=promotionBlockTree]),@([id$=contentForm]),@([id$=remoteGrowl])" >
                <p:confirm header="Confirmation" 
                           message="Do you want to delete this promotion block ?" 
                           icon="ui-icon-alert"/>
            </p:menuitem>
        </p:contextMenu>            
    </h:form>
    <ui:include src="categoryCreateOrEditPopup.xhtml" />
</html>