<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="contentForm">
        <p:outputPanel id="formObject" 
                       class="ui-g ui-fluid" 
                       rendered="#{promotionBlockController.isDisplay}" 
                       style="height: calc(100vh - 67px) !important; overflow: auto;margin-right: -9px; margin-left: -9px; margin-top: -20px">
            <p:panel class="ui-g-12" style="border-radius: 5px !important" id="test1">
                <p:focus context="test1"/>
                <!--habm2-start-->
                <div class="title-wrap">
                    <div class="title-name">Promotion Block</div>
                    <div class="title-action">

                        <p:outputLabel for="editSw" value="Edit" styleClass="title-lb"/>
                        <p:inputSwitch id="editSw" label="Edit" styleClass="title-sw" style="position: relative; top: 15%;"
                                       value="#{promotionBlockController.actonSwitch}">
                            <p:ajax update="divButton,contentForm,formObject" />
                        </p:inputSwitch>

                    </div>
                </div>
                <!--habm2-end-->

                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputPanel class="ui-g-12 ui-lg-4">
                        <p:outputLabel value="Block id" /><span style="color: red"> *</span>
                        <div class="spacerHeight"/>
                        <p:inputText onchange="this.value = this.value.trim()" value="#{promotionBlockController.promotionBlockDTO.blockId}" 
                                     disabled="true" />
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-4">
                        <p:outputLabel value="Block name" /><span style="color: red"> *</span>
                        <div class="spacerHeight"/>
                        <p:focus for="blockName" />
                        <p:inputText  disabled="#{!promotionBlockController.actonSwitch}" onchange="this.value = this.value.trim()" id="blockName"
                                      value="#{promotionBlockController.promotionBlockDTO.blockName}"
                                      required="true"
                                      requiredMessage="Block name is required!" 
                                      validatorMessage="Block name not contain % character!"

                                      title="#{promotionBlockController.promotionBlockDTO.blockName}"
                                      onkeypress="updateTitle(this)"
                                      readonly="#{!promotionBlockController.actonSwitch}">
                            <f:validateRegex pattern="^[^%]*$" />
                        </p:inputText>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-4">
                        <p:outputLabel value="Category" /><span style="color: red"> *</span>
                        <div class="spacerHeight"/>
                        <p:selectOneMenu syncTooltip="true"  
                                         filterMatchMode="contains"  
                                         filter="true" 
                                         style="margin-bottom:10px;"
                                         id="category"
                                         required="true"
                                         requiredMessage="Category is required!"
                                         value="${promotionBlockController.promotionBlockDTO.categoryId}"
                                         disabled="#{!promotionBlockController.actonSwitch}">
                            <f:selectItems value="#{promotionBlockController.categories}"
                                           var="item"
                                           itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                           itemValue="#{item.categoryId}" />
                        </p:selectOneMenu>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputLabel value="Description" />
                        <div class="spacerHeight"/>
                        <p:inputTextarea disabled="#{!promotionBlockController.actonSwitch}"   
                                         onchange="this.value = this.value.trim()" rows="3" cols="30" autoResize="false"
                                         placeholder="Description" 
                                         validatorMessage="Description not contains '%' character"
                                         value="#{promotionBlockController.promotionBlockDTO.description}"
                                         readonly="#{!promotionBlockController.actonSwitch}"
                                         title="#{promotionBlockController.promotionBlockDTO.description}"
                                         onkeypress="updateTitle(this)">
                            <f:validateRegex pattern="^[^%]*$"/>
                        </p:inputTextarea>
                    </p:outputPanel>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:dataTable var="item"
                                 id="dataTableBehaviour"
                                 value="#{promotionBlockController.behaviourDTOs}" 
                                 reflow="true"
                                 rowKey="#{item.promotionId}" 
                                 paginator="true" 
                                 rows="10"
                                 selectionMode="single"
                                 rowsPerPageTemplate="5,10,15,20"
                                 scrollable="true" 
                                 scrollHeight="200"
                                 emptyMessage="No field found with given criteria"
                                 styleClass="table-campaign">
                        <f:facet name="header">
                            <div style="width: 100%;display: inline-flex;">
                                <div style="width: 50%;text-align: left">
                                    <p:outputLabel value="List behaviour"/>
                                    <span style="color: red"> *</span>
                                </div>
                                <div style="width: 50%;text-align: right">
                                    <p:commandButton id="btnAddPrmList"
                                                     widgetVar="btnAddPrmList"
                                                     value="Add" 
                                                     icon="fa fa-plus"
                                                     style="width: auto"
                                                     update="@([id$=dlgChoosePromotion])"
                                                     process="@this"
                                                     oncomplete="PF('dlgChoosePromotion').show();"
                                                     actionListener="#{promotionBlockController.prepareOpenDlgChoosePromotion()}"
                                                     disabled="#{!promotionBlockController.actonSwitch}"/>
                                </div>
                            </div>
                        </f:facet>

                        <p:column headerText="Promotion type" sortBy="#{item.promotionType}" colspan="1">
                            <h:outputText value="#{item.promotionType}" />
                        </p:column>

                        <p:column headerText="Promotion id" sortBy="#{item.promotionId}">
                            <h:outputText value="#{item.promotionId}" />
                        </p:column>

                        <p:column headerText="Promotion name" sortBy="#{item.promotionName}">
                            <h:outputText value="#{item.promotionName}" 
                                          id="promotionName" 
                                          title="#{item.promotionName}"/>
                        </p:column>

                        <p:column headerText="Action" style="text-align: center;width: 20%">
                            <p:outputPanel class="ui-g-12 ui-lg-6">
                                <p:commandLink disabled="#{!promotionBlockController.actonSwitch}"  actionListener="#{promotionBlockController.onViewPrm(item)}"
                                               oncomplete="if (!args.validationFailed) PF('dlgView').show()"
                                               process="@this"
                                               update="@([id$=dlgView]),@([id$=remoteGrowl])">
                                    <h:outputText class="fa fa-info-circle" style=" width: auto; float: right"/>
                                </p:commandLink>
                            </p:outputPanel>

                            <p:outputPanel class="ui-g-12 ui-lg-6">
                                <p:commandLink disabled="#{!promotionBlockController.actonSwitch}"  actionListener="#{promotionBlockController.onDeletePrm(item)}"
                                               update="@([id$=dataTableBehaviour]),@([id$=remoteGrowl])" 
                                               process="@this"
                                               rendered="#{item.ocsParentId eq null}">
                                    <h:outputText class="ui-icon ui-icon-trash" style=" width: auto;float: left"/>
                                    <p:confirm header="Confirmation" 
                                               message="Are you sure you want to perform ?" 
                                               icon="ui-icon-alert"/>
                                </p:commandLink>
                            </p:outputPanel>
                        </p:column>
                    </p:dataTable>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputPanel style="border-bottom: 1px solid #A8ACB1; width: 100%;"/>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-12" id="divButton">
                    <p:commandButton id="resetForm" 
                                     icon="fa fa-refresh" value="Reset"
                                     style="width:auto;float: right;"
                                     action="#{promotionBlockController.onReset()}"
                                     update="@([id$=contentForm])"
                                     process="@this"
                                     disabled="#{!promotionBlockController.actonSwitch}">
                        <p:confirm header="Confirmation"
                                   message="Are you sure to reset this promotion block?"
                                   icon="fa fa-warning"/>
                    </p:commandButton>

                    <p:commandButton id="btnSave"
                                     widgetVar="btnSave"
                                     icon="fa fa-floppy-o" value="Save" 
                                     style="width:auto;float: right;"
                                     process="@([id$=contentForm])"
                                     update="@([id$=remoteGrowl])"
                                     action="#{promotionBlockController.validatePrm()}"
                                     oncomplete="if (!args.validationFailed) PF('dlgPrmConfirm').show();"
                                     disabled="#{!promotionBlockController.actonSwitch}"/>
                </p:outputPanel>
            </p:panel>
        </p:outputPanel>

        <p:dialog header="Confirmation" 
                  widgetVar="dlgPrmConfirm" 
                  id="dlgPrmConfirm"
                  height="100"
                  modal="true">
            <h:outputText value="#{promotionBlockController.update == false ? 'Are you sure to create this promotion block?' : 'Are you sure to update this promotion block?'}" />
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton value="No"
                                     style="width:auto;float: right;"
                                     process="@this"
                                     oncomplete="PF('dlgPrmConfirm').hide();"/>

                    <p:commandButton action="#{promotionBlockController.onSavePrmBlock()}"
                                     style="width:auto;float: right;"
                                     value="Yes"
                                     process="@([id$=contentForm])"
                                     update="@([id$=promotionBlockTree]),@([id$=contentForm]),@([id$=remoteGrowl])"
                                     oncomplete="PF('dlgPrmConfirm').hide();" />
                </p:outputPanel>
            </div>
        </p:dialog>

<!--        <p:outputPanel class="ui-g ui-fluid" rendered="#{promotionBlockController.isDisplay eq false}">
            <p:graphicImage name="images/anh_nen.jpg" style="height: calc(100vh - 90px) !important; overflow: auto; width: 100%"/>
        </p:outputPanel>-->

        <ui:include src="choosePrmPopup.xhtml" />
        <ui:include src="viewPrmPopup.xhtml" />
    </h:form>
</html>