<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template_2.xhtml">

    <ui:define name="title">Change password</ui:define>

    <ui:define name="viewname">Change password</ui:define>

    <ui:define name="head">
        <style>
            body .ui-outputlabel {
                padding-bottom: 5px;
            }

            #basic1 .ui-panel-titlebar {
                padding: 0px;
                /*border-bottom: 0px solid;*/
            }

            body .ui-panel .ui-panel-content {
                padding: 0px;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form id="contentForm">
            <p:outputPanel class="ui-g ui-fluid" id="formObject">
                <p:outputPanel class="ui-g-12 ui-lg-12" >
                    <p:panel id="basic" class="ui-g-12" 
                             toggleable="false" style="margin-top: 55px; width: 100%; margin-left: -4px">
                        <!--habm2-start-->
                        <div class="title-wrap">
                            <div class="title-name">Change Password</div>
                            <div class="title-action">
                                <p:inputSwitch style="float: right;margin-top: 2px;"  
                                               value="#{changePasswordController.actonSwitch}">
                                    <p:ajax update="divButton,contentForm" />
                                </p:inputSwitch>
                                <p:outputLabel value="Edit"
                                               style="float: right; margin-right: 10px; margin-top: 4px"/>
                            
                            </div>
                        </div>
                        <!--habm2-end-->

                        <p:outputPanel class="ui-g-12 ui-lg-3" id="test1">
                            <p:focus context="test1"/>
                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <p:outputLabel value="Old password" /><span style="color: red"> *</span>
                                <div class="spacerHeight"/>
                                <p:focus for="oldPassword" />
                                <p:password id="oldPassword" 
                                            placeholder="Old password" 
                                            required="true" 
                                            requiredMessage="Old password is required." 
                                            value="#{changePasswordController.oldPassword}"
                                            readonly="#{!changePasswordController.actonSwitch}"/>
                            </p:outputPanel>
                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <p:outputLabel value="New password" /><span style="color: red"> *</span>
                                <div class="spacerHeight"/>
                                <p:password id="newPassword" 
                                            placeholder="New password" 
                                            required="true"
                                            requiredMessage="New password is required." 
                                            value="#{changePasswordController.newPassword}"
                                            validatorMessage="New password is wrong format!" 
                                            readonly="#{!changePasswordController.actonSwitch}">
                                    <f:validateRegex pattern="^.*(?=.{8,})(?=..*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$_]).*$"/>
                                </p:password>
                            </p:outputPanel>
                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <p:outputLabel value="Re new password" /><span style="color: red"> *</span>
                                <div class="spacerHeight"/>
                                <p:password id="reNewPassword" 
                                            placeholder="Re new password" 
                                            required="true" 
                                            requiredMessage="Re new password is required." 
                                            value="#{changePasswordController.reNewPassword}"
                                            readonly="#{!changePasswordController.actonSwitch}"/>
                            </p:outputPanel>

                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <p:outputPanel style="border-bottom: 1px solid #5f666c; width: 100%;"/>
                            </p:outputPanel>

                            <p:outputPanel class="ui-g-12 ui-lg-12" id="divButton">
                                <p:commandButton action="#{changePasswordController.validatePassword()}" 
                                                 style="width:auto;float: right;" 
                                                  icon="fa fa-floppy-o" value="Save"
                                                 process="@([id$=contentForm])"
                                                 update="@([id$=remoteGrowl])"
                                                 oncomplete="if (!args.validationFailed) PF('dlgConfirm').show();"
                                                 disabled="#{!changePasswordController.actonSwitch}" >
                                </p:commandButton>
                            </p:outputPanel>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-9">
                        </p:outputPanel>
                    </p:panel>
                </p:outputPanel>
            </p:outputPanel>
        </h:form>

        <p:dialog header="Confirmation" 
                  widgetVar="dlgConfirm" 
                  height="100" 
                  id="dlgConfirm">

            <h:outputText value="Are you sure to change password?" />

            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton value="No"
                                     style="width:auto;float: right;"
                                     process="@this"
                                     oncomplete="PF('dlgConfirm').hide();"/>

                    <p:commandButton action="#{changePasswordController.changePassword()}"
                                     style="width:auto;float: right;"
                                     value="Yes"
                                     process="@this"
                                     update="@([id$=contentForm]),@([id$=remoteGrowl])"
                                     oncomplete="PF('dlgConfirm').hide();">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </p:dialog>
    </ui:define>
</ui:composition>