<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="#{ussdScenarioController.addContent eq true ? 'Add content' : 'Edit content'}" widgetVar="addContentTreePopup" id="addContentTreePopup" responsive="true" style="width: 800px" modal="true">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="#{ussdScenarioController.addContent eq true ? 'Add content' : 'Edit content'}" style="margin-left:10px;"/>
        </f:facet>

        <h:form id="addContentTreeForm" style="width: 800px">
            <p:outputPanel class="ui-g ui-fluid">
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Content id" /><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="Content id" disabled="true" value="#{ussdScenarioController.noteContent.nodeContentId}"/>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Language" /><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:selectOneMenu  syncTooltip="true"  filter="true" filterMatchMode="contains" id="language"
                                     value="#{ussdScenarioController.noteContent.languageId}" style="margin-bottom:10px;">
                        <f:selectItems value="#{ussdScenarioController.languages}"
                                       var="language"
                                       itemDescription="#{language.languageName}"
                                       itemLabel="#{language.languageName}"
                                       itemValue="#{language.languageId}" />
                    </p:selectOneMenu>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputLabel value="Content" /><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputTextarea  onchange="this.value = this.value.trim()" placeholder="Content" rows="3" cols="30" autoResize="false"
                                     validatorMessage="Content not contains '%' character"
                                     value="#{ussdScenarioController.noteContent.content}">
                        <f:validateRegex pattern="^[^%]*$"/>
                    </p:inputTextarea>
                </p:outputPanel>

            </p:outputPanel>
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton action="#{ussdScenarioController.validateAddRow()}"
                                     style="width:auto;float: right;"
                                     icon="fa fa-floppy-o" value="Apply"
                                     process="@([id$=addContentTreeForm])"
                                     update="@([id$=addContentTreeForm]),@([id$=remoteGrowl]),@([id$=conditionTbl])"
                                     oncomplete=" if (!args.validationFailed)  PF('addContentTreePopup').hide();">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>
</html>