<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<p:dialog header="Define time" widgetVar="addTimePopup" id="addTimePopup" responsive="true" width="1000px"
          style=" overflow-y: hidden" dynamic="true" modal="true">
    <f:facet name="header">
        <i class="fa fa-list" style="font-size: 14px;"></i>
        <h:outputText value="Define time" style="margin-left:10px;"/>
    </f:facet>
    <h:form id="addTimePopupForm">
        <p:outputPanel class="ui-g-12 ui-lg-12">
        <div class="spacerHeight"/>
            <p:dataTable id="nomalTable" var="processParams"
                         value="#{preProcessTimeController.lstProcessParams}"
                         reflow="true"
                         widgetVar="nomalTable"
                         styleClass="table-campaign" style="margin-top: 10px; height: 450px ; overflow-y: auto"
                         paginator="true" rows="10"
                         rowKey="#{processParams.processParamId}"
                         rowIndexVar="rowIndex"
                         editable="true" editMode="cell"
                         rowsPerPageTemplate="5,10,15,20" lazy="false">
                <f:facet name="header">
                    <p:outputLabel value="Value table"
                                   style="font-size: 14px; font-weight: bold ; float: left"/>
                    <span style="color: red ; float: left">*</span>
                    <p:commandButton icon="fa fa-plus" value="Row"
                                     style="float: right; margin-left: 5px;width: auto;"
                                     action="#{preProcessTimeController.addNomalizerTable()}"
                                     update="@([id$=nomalTable])"
                                     onstart="PF('nomalTable').paginator.setPage(0);"/>

                </f:facet>
                <p:column headerText="No" sortBy="#{rowIndex}" colspan="1">
                    <h:outputText value="#{rowIndex+1}"/>
                </p:column>
                <p:column headerText="Value Name"
                          colspan="2"  style="background-color: ##{processParams.valueColor}">
                    <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{processParams.paramIndex}">
                        <f:selectItem itemLabel="Choose value" itemValue="0"/>
                        <f:selectItems value="#{preProcessTimeController.lstProcessValue}"
                                       var="value" itemDescription="#{value.valueName}"
                                       itemLabel="#{value.valueName}"
                                       itemValue="#{value.valueId}"/>
                        <p:ajax process="@this" update="@([id$=nomalTable])"
                                listener="#{preProcessTimeController.onChangeValueName(processParams)}"></p:ajax>
                    </p:selectOneMenu>
                </p:column>

                <p:column headerText="Day" colspan="2">
                    <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{processParams.day}">
                        <f:selectItem itemLabel="Sunday" itemValue="1"/>
                        <f:selectItem itemLabel="Monday" itemValue="2"/>
                        <f:selectItem itemLabel="Tuesday" itemValue="3"/>
                        <f:selectItem itemLabel="Wednesday" itemValue="4"/>
                        <f:selectItem itemLabel="Thursday" itemValue="5"/>
                        <f:selectItem itemLabel="Friday" itemValue="6"/>
                        <f:selectItem itemLabel="Saturday" itemValue="7"/>
                        <p:ajax process="@this" update="@([id$=nomalTable])"></p:ajax>
                    </p:selectOneMenu>
                </p:column>
                <p:column headerText="Hour" colspan="2">
                    <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{processParams.hour}">
                        <f:selectItems value="#{preProcessTimeController.hours}"
                                       var="itemH"
                                       itemLabel="#{itemH}"
                                       itemValue="#{itemH}"/>
                        <p:ajax process="@this" update="@([id$=nomalTable])"></p:ajax>
                    </p:selectOneMenu>
                </p:column>
                <p:column headerText="Min" colspan="2">
                    <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{processParams.min}">
                        <f:selectItems value="#{preProcessTimeController.minAndSec}"
                                       var="itemM"
                                       itemLabel="#{itemM}"
                                       itemValue="#{itemM}"/>
                        <p:ajax process="@this" update="@([id$=nomalTable])"></p:ajax>
                    </p:selectOneMenu>
                </p:column>
                <p:column headerText="Sec" colspan="2">
                    <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{processParams.sec}">
                        <f:selectItems value="#{preProcessTimeController.minAndSec}"
                                       var="itemS"
                                       itemLabel="#{itemS}"
                                       itemValue="#{itemS}"/>
                        <p:ajax process="@this" update="@([id$=nomalTable])"></p:ajax>
                    </p:selectOneMenu>
                </p:column>
                <p:column headerText="Action" colspan="1">
                    <p:commandLink value=""
                                   action="#{preProcessTimeController.onRemoveNomalizerTable(processParams)}"
                                   update="@([id$=nomalTable]),@([id$=remoteGrowl])">
                        <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                        <p:confirm header="Confirmation"
                                   message="Are you sure to delete ?"
                                   icon="fa fa-warning"/>
                    </p:commandLink>

                </p:column>
            </p:dataTable>
        </p:outputPanel>
        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton action="#{preProcessTimeController.doApply(true)}"
                                 style="width:auto;float: right;"
                                 icon="fa fa-floppy-o" value="Apply"
                                 process="@this,@([id$=addTimePopupForm])"
                                 update="@([id$=addTimePopupForm]),@([id$=nomalTable1]),@([id$=remoteGrowl])"
                                 oncomplete=" if (!args.validationFailed)   PF('addTimePopup').hide();">
                    <p:ajax></p:ajax>
                </p:commandButton>

            </p:outputPanel>
        </div>
    </h:form>
</p:dialog>
</html>