<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:outputPanel class="ui-g ui-fluid" rendered="#{preProcessDateController.display}"
                   style="height: calc(100vh - 67px) !important; overflow: auto;margin-right: -9px; margin-left: -9px; margin-top: -20px">
        <p:panel class="ui-g-12" style="border-radius: 5px !important">

            <!--        <p:toolbar styleClass="toolbar">
                        <f:facet name="left">
                            <h:form>
                                <p:outputLabel value="PPU Date"
                                               style="float: left; font-weight: bold; font-size: 14px"/>
                            </h:form>
                        </f:facet>
                        <f:facet name="right">
                            <h:form>
                                <p:inputSwitch style="float: right;margin-top: -3px;" value="#{preProcessDateController.action}">
                                    <p:ajax update="@([id$=resetForm]),@([id$=saveForm])"></p:ajax>
                                </p:inputSwitch>
                                <p:outputLabel value="Edit" style="float: right; margin-right: 10px;"/>
                            </h:form>
                        </f:facet>
                    </p:toolbar>-->


            <!--habm2-start-->
            <div class="title-wrap">
                <div class="title-name">PPU Date</div>
                <div class="title-action">
                    <h:form>
                        <p:outputLabel for="editSw" value="Edit" styleClass="title-lb"/>
                        <p:inputSwitch id="editSw" label="Edit" styleClass="title-sw"
                                       value="#{preProcessDateController.action}">
                            <p:ajax update="@([id$=resetForm]),@([id$=saveForm]),@([id$=mainForm]),@([id$=dlgConfirmSaveTemp])"></p:ajax>
                        </p:inputSwitch>
                    </h:form>
                </div>
            </div>
            <!--habm2-end-->

            <p:outputPanel class="ui-g-12 ui-lg-12">
                <h:form id="mainForm">

                    <p:outputPanel id="inputForm" style="height: 230px">
                        <p:focus context="inputForm"/>
                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="PreProcess unit id"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText onchange="this.value = this.value.trim()" placeholder="PreProcess unit id" disabled="true"
                                         value="#{preProcessDateController.currentValue.preProcessId}"/>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="PreProcess unit name"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText disabled="#{preProcessDateController.action eq false}" onchange="this.value = this.value.trim()" placeholder="PreProcess unit name"
                                         title="#{preProcessDateController.currentValue.preProcessName}"
                                         value="#{preProcessDateController.currentValue.preProcessName}"
                                         onkeypress="updateTitle(this)"/>
                        </p:outputPanel>


                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Category"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:selectOneMenu disabled="#{preProcessDateController.action eq false}"   syncTooltip="true"  filterMatchMode="contains"  filter="true" id="category" value="#{preProcessDateController.currentValue.categoryId}"
                                              style="margin-bottom:10px;">
                                <f:selectItems value="#{preProcessDateController.categories}"
                                               var="item"
                                               itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                               itemValue="#{item.categoryId}"/>
                            </p:selectOneMenu>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-6">
                            <p:outputLabel value="Input mode"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:selectOneMenu syncTooltip="true"  filterMatchMode="contains"  filter="true" id="console13" value="#{preProcessDateController.currentValue.inputMode}"
                                              style="margin-bottom:10px;" disabled="true">
                                <p:ajax process="@([id$=inputForm])" listener="#{preProcessDateController.onChangeInputMode()}"
                                        update="@([id$=tableForm])"/>
                                <f:selectItem itemLabel="Object" itemValue="1"/>
                                <!--                            <f:selectItem itemLabel="Function" itemValue="2"/>-->
                            </p:selectOneMenu>
                        </p:outputPanel>


                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Description"/>
                            <div class="spacerHeight"/>
                            <p:inputTextarea disabled="#{preProcessDateController.action eq false}"  onchange="this.value = this.value.trim()" placeholder="Description" rows="1" cols="30" autoResize="false"
                                              validatorMessage="Description not contains '%' character"
                                              title="#{preProcessDateController.currentValue.description}"
                                              value="#{preProcessDateController.currentValue.description}"
                                              onkeypress="updateTitle(this)">
                                <f:validateRegex pattern="^[^%]*$"/>
                            </p:inputTextarea>
                        </p:outputPanel>
                    </p:outputPanel>
                    <!--</h:form>-->
                    <!--schedule-->
                    <p:outputPanel id="tableForm">
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputPanel
                                style="border-bottom: 1px solid #5f666c; width: 100%;margin-bottom: 8px;     margin-top: 10px;">
                            </p:outputPanel>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Input field"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <!--                        <p:inputText disabled="#{preProcessDateController.action eq false}" onchange="this.value = this.value.trim()" id="inputField" placeholder="" disabled="true"-->
                            <!--                                     value="#{preProcessDateController.currentValue.inputFields}"/>-->
                            <p:inputTextarea  onchange="this.value = this.value.trim()" placeholder="" rows="3" autoResize="false" disabled="true" id="inputField"
                                              value="#{preProcessDateController.currentValue.inputFields}"
                                              title="#{preProcessDateController.currentValue.inputFields}">
                            </p:inputTextarea>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-12"
                                       rendered="#{preProcessDateController.currentValue.inputMode eq 1}">
                            <p:outputPanel>
                                <div id="pathDiv">
                                    <p:dataTable id="pathTable" var="path"
                                                 value="#{preProcessDateController.lstPathTable}"
                                                 selectionMode="single"
                                                 reflow="true"
                                                 rowIndexVar="rowIndex"
                                                 rowKey="#{path.objectId}"
                                                 styleClass="table-campaign" style="margin-top: 10px"
                                                 paginator="true" rows="10"
                                                 widgetVar="pathTable"
                                                 emptyMessage="No field found with given criteria"
                                                 editable="true"
                                                 rowsPerPageTemplate="5,10,15,20" lazy="false">
                                        <f:facet name="header">
                                            <p:outputLabel value="Path table"
                                                           style="font-size: 14px; font-weight: bold ; float: left;  width: auto; margin-top: 15px"/>
                                            <span style="color: red ; float: left; margin-top: 15px">*</span>
                                            <p:commandButton disabled="#{preProcessDateController.action eq false}"  icon="fa fa-plus" value="Child path"
                                                             style="float: right; margin-right: 1px; width: auto;"
                                                             action="#{preProcessDateController.addChildPath()}"
                                                             update="@([id$=tableForm]),@([id$=remoteGrowl])"/>
                                            <p:commandButton disabled="#{preProcessDateController.action eq false}"  icon="fa fa-plus" value="Path"
                                                             style="float: right; width: auto;"
                                                             update=":pathTreeForm:pathTree"
                                                             action="#{preProcessDateController.prepateToShowChoosePathPopup()}"
                                                             oncomplete="PF('pathTreePopup').show();"/>

                                        </f:facet>
                                        <p:column headerText="No" sortBy="#{rowIndex}" colspan="1">
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>


                                        <p:column headerText="Path/Child path"
                                                  colspan="2">
                                            <p:selectOneMenu disabled="#{preProcessDateController.action eq false}"   syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{path.objectId}"
                                                              style="margin-bottom:10px;">
                                                <p:ajax listener="#{preProcessDateController.onChangePath(path)}"
                                                        update="@([id$=tableForm]),@([id$=inputField])"/>
                                                <f:selectItem itemLabel="Choose node" itemValue="-1"/>
                                                <f:selectItems value="#{path.lstInput}"
                                                               var="input"
                                                               itemLabel="#{input.objectName}"
                                                               itemValue="#{input.objectId}"
                                                               itemDescription="#{input.objectName}"/>
                                            </p:selectOneMenu>
                                        </p:column>


                                        <p:column headerText="Filter" colspan="1">
                                            <p:commandLink disabled="#{preProcessDateController.action eq false}"  value=""
                                                           action="#{preProcessDateController.prepareDataToShowFilterTable(path)}"
                                                           update="@([id$=addTreeForm]),@([id$=remoteGrowl])"
                                                           oncomplete=" if (!args.validationFailed) PF('addFilterPopup').show();"
                                                           rendered="#{path.data == null or path.data == ''}">
                                                <h:outputText value="" class="ui-icon ui-icon-plus"  style=" width: 100%;"/>
                                            </p:commandLink>
                                            <p:commandLink value="#{path.data}" style=" word-break: break-word;"
                                                           title="#{path.data}"
                                                           action="#{preProcessDateController.prepareDataToShowFilterTable(path)}"
                                                           update="@([id$=addTreeForm]),@([id$=remoteGrowl])"
                                                           oncomplete=" if (!args.validationFailed) PF('addFilterPopup').show();"
                                                           rendered="#{path.data != null and path.data != ''}">
                                            </p:commandLink>
                                        </p:column>

                                        <p:column headerText="Action" colspan="1">
                                            <p:commandLink disabled="#{preProcessDateController.action eq false}"  value=""
                                                           action="#{preProcessDateController.onRemovePath(path)}"
                                                           update="@([id$=pathTable]),@([id$=inputField]),@([id$=remoteGrowl])">
                                                <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                                                <p:confirm header="Confirmation"
                                                           message="Are you sure to delete ?"
                                                           icon="fa fa-warning"/>
                                            </p:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </p:outputPanel>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12"
                                       rendered="#{preProcessDateController.currentValue.inputMode eq 2}">
                            <p:outputPanel>
                                <div id="pathFunction">
                                    <p:dataTable id="functionTable" var="function"
                                                 value="#{preProcessDateController.lstFunctionPathTable}"
                                                 selectionMode="single"
                                                 reflow="true"
                                                 styleClass="table-campaign" style="margin-top: 10px"
                                                 paginator="true" rows="10"
                                                 rowKey="#{function.fieldId}"
                                                 rowIndexVar="rowIndex"
                                                 widgetVar="functionTable"
                                                 emptyMessage="No function found with given criteria"
                                                 editable="true"
                                                 rowsPerPageTemplate="5,10,15,20" lazy="false">
                                        <f:facet name="header">
                                            <p:outputLabel value="Path table"
                                                           style="font-size: 14px; font-weight: bold ; float: left;  width: auto; margin-top: 15px"/>
                                            <span style="color: red ; float: left; margin-top: 15px">*</span>
                                            <p:commandButton disabled="#{preProcessDateController.action eq false}"  icon="fa fa-plus" value="Function"
                                                             style="float: right ; width: auto"
                                                             action="#{preProcessDateController.onAddFunctionPath()}"
                                                             update="@([id$=functionTable])"/>
                                        </f:facet>
                                        <p:column headerText="No" sortBy="#{rowIndex}" colspan="1">
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>
                                        <p:column headerText="Function Name" colspan="2">
                                            <p:selectOneMenu disabled="#{preProcessDateController.action eq false}"   syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{function.fieldId}"
                                                              style=" min-width: auto;">
                                                <p:ajax listener="#{preProcessDateController.onFieldFunctionPathChange(function)}"
                                                        update="@([id$=functionTable]),@([id$=inputField])"/>
                                                <f:selectItem itemLabel="Choose function" itemValue="-1"/>
                                                <f:selectItems value="#{function.lstFunction}"
                                                               var="data1"
                                                               itemLabel="#{data1.functionDisplay}"
                                                               itemValue="#{data1.functionId}"/>
                                            </p:selectOneMenu>
                                        </p:column>
                                        <p:column headerText="Parameters" colspan="2" filterMatchMode="contains">
                                            <p:repeat value="#{function.lstFunctionParams}" var="params">
                                                <div style="margin-bottom: 8px">
                                                    <p:inputText disabled="#{preProcessDateController.action eq false}" onchange="this.value = this.value.trim()" style="margin-bottom: 8px;" value="#{params.fieldValueString}"
                                                                 rendered="#{params.valueType eq 1}">
                                                        <p:ajax event="change" process="@([id$=functionTable])"
                                                                update="@([id$=pathFunction]),@([id$=inputField])"
                                                                listener="#{preProcessDateController.onFunctionPathChange}"/>
                                                    </p:inputText>
                                                </div>
                                                <div style="margin-bottom: 8px">
                                                    <p:spinner disabled="#{preProcessDateController.action eq false}"  style="margin-bottom: 8px;" 
                                                               onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
                                                               value="#{params.fieldValueNumber}"
                                                               rendered="#{params.valueType eq 2}">
                                                        <p:ajax event="change" process="@([id$=functionTable])"
                                                                update="@([id$=pathFunction]) ,@([id$=inputField])"
                                                                listener="#{preProcessDateController.onFunctionPathChange}"/>
                                                    </p:spinner>
                                                </div>
                                                <p:calendar disabled="#{preProcessDateController.action eq false}"  style="margin-bottom: 8px;" showOn="button"
                                                            value="#{params.fieldValueDate}"
                                                            pattern="yyyy/MM/dd HH:mm:ss" rendered="#{params.valueType eq 3}">
                                                    <p:ajax event="change" process="@([id$=functionTable])"
                                                            update="@([id$=pathFunction]) ,@([id$=inputField])"
                                                            listener="#{preProcessDateController.onFunctionPathChange}"/>
                                                    <p:ajax event="dateSelect" process="@([id$=functionTable])"
                                                            update="@([id$=pathFunction]),@([id$=inputField])"
                                                            listener="#{preProcessDateController.onFunctionPathChange}"/>
                                                </p:calendar>
                                                <p:selectOneMenu disabled="#{preProcessDateController.action eq false}"   syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{params.fieldZoneId}"
                                                                  style="margin-bottom:8px;  min-width: auto;"
                                                                  rendered="#{ params.valueType  eq 4}">
                                                    <p:ajax process="@([id$=functionTable])"
                                                            update="@([id$=pathFunction]) ,@([id$=inputField])"
                                                            listener="#{preProcessDateController.onFunctionPathChange}"/>
                                                    <f:selectItems value="#{preProcessDateController.lstZone}"
                                                                   var="zone"
                                                                   itemLabel="#{zone.zoneName}"
                                                                   itemValue="#{zone.zoneId}"/>
                                                </p:selectOneMenu>
                                                <p:selectOneMenu disabled="#{preProcessDateController.action eq false}"   syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{params.fieldZoneMapId}"
                                                                  style="margin-bottom:8px;  min-width: auto;"
                                                                  rendered="#{ params.valueType  eq 5}">
                                                    <p:ajax process="@([id$=functionTable])"
                                                            update="@([id$=pathFunction]) ,@([id$=inputField])"
                                                            listener="#{preProcessDateController.onFunctionPathChange}"/>
                                                    <f:selectItems value="#{preProcessDateController.lstZoneMap}"
                                                                   var="zoneMap"
                                                                   itemLabel="#{zoneMap.zoneMapName}"
                                                                   itemValue="#{zoneMap.zoneMapId}"/>
                                                </p:selectOneMenu>

                                                <div style="margin-bottom: 8px">
                                                    <p:inputNumber disabled="#{preProcessDateController.action eq false}"  style="margin-bottom: 8px;"
                                                                   value="#{params.fieldValueDouble}"
                                                                   title="#{params.fieldValueDouble}"
                                                                   onkeypress="updateTitle(this)"
                                                                   rendered="#{params.valueType eq 6}">
                                                        <p:ajax event="change" process="@([id$=functionTable])"
                                                                update="@([id$=pathFunction]) ,@([id$=inputField])"
                                                                listener="#{preProcessDateController.onFunctionPathChange}"/>
                                                    </p:inputNumber>
                                                </div>
                                            </p:repeat>
                                        </p:column>

                                        <p:column headerText="Action" colspan="1">
                                            <p:commandLink disabled="#{preProcessDateController.action eq false}"  value=""
                                                           action="#{preProcessDateController.onRemovePathFuntion(function)}"
                                                           update="@([id$=functionTable]),@([id$=inputField]),@([id$=remoteGrowl])">
                                                <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                                                <p:confirm header="Confirmation"
                                                           message="Are you sure to delete this function ?"
                                                           icon="fa fa-warning"/>
                                            </p:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                                <!--                            special value-->

                            </p:outputPanel>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-9 ui-lg-9">
                            <p:outputLabel value="Special field"/><span style="color: red">*</span>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-3 ui-lg-3">
                            <p:selectBooleanCheckbox disabled="#{preProcessDateController.action eq false}"  style="width: 100%"
                                                     value="#{preProcessDateController.currentValue.usingCurTime}" itemLabel="Is equal at end value">
                                <p:ajax process="@this" event="change" partialSubmit="true" update="@([id$=specialFields])"
                                        listener="#{preProcessDateController.onChangeCurrentTime}" />
                            </p:selectBooleanCheckbox>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:inputText onchange="this.value = this.value.trim()" placeholder="Special field" id="specialFields" disabled="true"
                                         value="#{preProcessDateController.currentValue.specialFields}"
                                         title="#{preProcessDateController.currentValue.specialFields}"/>
                        </p:outputPanel>
                        <!--<h:form id="tableSegment">-->
                        <p:outputPanel class="ui-g-12 ui-lg-12" style="margin-top: 25px">
                            <p:outputPanel class="ui-inputgroup">
                                <p:outputPanel style="border-bottom: 1px solid #5f666c; width: 100%;margin-bottom: 8px;">
                                </p:outputPanel>
                            </p:outputPanel>
                            <p:outputPanel class="ui-inputgroup">
                                <p:outputPanel class="ui-g-12 ui-lg-2">
                                    <p:outputLabel value="Default value" style="margin-left: -8px"/><span style="color: red">*</span>
                                </p:outputPanel>
                                <p:outputPanel class="ui-g-12 ui-lg-8">
                                    <p:selectOneMenu disabled="#{preProcessDateController.action eq false}"   syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{preProcessDateController.currentValue.defaultValue}">
                                        <f:selectItem itemLabel="Choose value" itemValue=""/>
                                        <f:selectItems value="#{preProcessDateController.lstProcessValue}"
                                                       var="value"
                                                       itemDescription="#{value.valueName}"
                                                       itemLabel="#{value.valueName}"
                                                       itemValue="#{value.valueId}"/>
                                    </p:selectOneMenu>
                                </p:outputPanel>
                                <p:outputPanel class="ui-g-12 ui-lg-2">
                                    <p:commandButton disabled="#{preProcessDateController.action eq false}"  icon="fa fa-plus" value="Value"
                                                     style="float: right; margin-right: -6px; width: auto;"
                                                     action="#{preProcessDateController.prepareToShowDefineValuePopup}"
                                                     update="@([id$=defineValueForm])"
                                                     oncomplete="PF('defineValueDialog').show();"/>
                                </p:outputPanel>
                            </p:outputPanel>
                            <p:outputPanel>
                                <div id="nomalDiv">
                                    <p:dataTable id="nomalTable" var="processParams"
                                                 value="#{preProcessDateController.lstProcessParams}"
                                                 reflow="true"
                                                 widgetVar="nomalTable"
                                                 styleClass="table-campaign" style="margin-top: 10px"
                                                 paginator="true" rows="10"
                                                 rowKey="#{processParams.processParamId}"
                                                 rowIndexVar="rowIndex"
                                                 scrollable="true"
                                                 scrollHeight="200"
                                                 emptyMessage="No nomalizer found with given criteria"
                                                 editable="true" editMode="cell"
                                                 rowsPerPageTemplate="5,10,15,20" lazy="false">
                                        <f:facet name="header">
                                            <div style="width: 100%;display: inline-flex;">
                                                <div style="width: 50%;text-align: left; margin-top: 15px">
                                                    <p:outputLabel value="Normalizer table"/>
                                                    <span style="color: red;">*</span>
                                                </div>
                                                <div style="width: 50%;text-align: right">
                                                    <p:commandButton disabled="#{preProcessDateController.action eq false}"  icon="fa fa-plus" value="Row"
                                                                     style="float: right; margin-left: 5px;width: auto;"
                                                                     action="#{preProcessDateController.addNomalizerTable()}"
                                                                     update="@([id$=nomalTable])"
                                                                     onstart="PF('nomalTable').paginator.setPage(0);"/>
                                                </div>
                                            </div>

                                            <!--                                        <p:commandButton disabled="#{preProcessDateController.action eq false}"  icon="fa fa-floppy-o" value="Apply"-->
                                            <!--                                                         style="float: right; margin-left: 5px;width: auto;"-->
                                            <!--                                                         action="#{preProcessDateController.doApply()}"-->
                                            <!--                                                         update="@([id$=nomalTable1]),@([id$=remoteGrowl])"/>-->
                                        </f:facet>
                                        <p:column headerText="No" sortBy="#{rowIndex}" colspan="1">
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>
                                        <p:column headerText="Value Name"
                                                  colspan="2"  style="background-color: ##{processParams.valueColor}">
                                            <p:selectOneMenu disabled="#{preProcessDateController.action eq false}"   syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{processParams.paramIndex}">
                                                <f:selectItem itemLabel="Choose value" itemValue="0"/>
                                                <f:selectItems value="#{preProcessDateController.lstProcessValue}"
                                                               var="value"
                                                               itemDescription="#{value.valueName}"
                                                               itemLabel="#{value.valueName}"
                                                               itemValue="#{value.valueId}"/>
                                                <p:ajax process="@this" update="@([id$=nomalTable])"
                                                        listener="#{preProcessDateController.onChangeValueName(processParams)}"></p:ajax>
                                            </p:selectOneMenu>
                                        </p:column>

                                        <p:column headerText="Start Type" colspan="2">
                                            <p:selectOneMenu disabled="#{preProcessDateController.action eq false}"   syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{processParams.startType}" title="#{processParams.startType}">
                                                <p:ajax listener="#{preProcessDateController.onChangeStartType(processParams)}"
                                                        process="@([id$=nomalTable])"
                                                        update="@([id$=nomalTable])"/>
                                                <f:selectItem itemLabel="None" itemValue="1" itemDescription="None"/>
                                                <f:selectItem itemLabel="Current time" itemValue="2" itemDescription="Current time"/>
                                                <f:selectItem itemLabel="Delta" itemValue="3" itemDescription="Delta"/>
                                            </p:selectOneMenu>
                                        </p:column>
                                        <p:column headerText="Start Value" colspan="2">
                                            <p:calendar disabled="#{preProcessDateController.action eq false}"  style="margin-bottom: 8px;" showOn="button"
                                                        value="#{processParams.startValue}"
                                                        converterMessage="Input parameter is wrong!"
                                                        pattern="yyyy/MM/dd HH:mm:ss"
                                                        rendered="#{processParams.startType eq 1 or processParams.startType eq null}"
                                                        title="#{processParams.startValue}">

                                                <p:ajax event="change" process="@([id$=nomalTable])"
                                                        update="@([id$=nomalDiv])"
                                                        listener="#{preProcessDateController.onChangeStartVal}"/>
                                                <p:ajax event="dateSelect" process="@([id$=nomalTable])"
                                                        update="@([id$=nomalDiv])"
                                                        listener="#{preProcessDateController.onChangeStartVal}"/>
                                            </p:calendar>
                                            <p:outputLabel rendered="#{processParams.startType eq 2}" value="none" />
                                            <!--                                            gia tri duong-->
                                            <p:spinner disabled="#{preProcessDateController.action eq false}"  
                                                       onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
                                                       rendered="#{processParams.startType eq 3 and processParams.endType != 3}" min="0" 
                                                       value="#{processParams.startVal}">
                                                <p:ajax  event="change" process="@this"  update="@this"></p:ajax>
                                            </p:spinner>
                                            <!--                                            co ca gia tri am-->
                                            <p:spinner disabled="#{preProcessDateController.action eq false}"  
                                                       onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
                                                       rendered="#{processParams.startType eq 3 and processParams.endType eq 3}" min="0" 
                                                       value="#{processParams.startVal}">
                                                <p:ajax  event="change" process="@this"  update="@this"></p:ajax>
                                            </p:spinner>
                                                
                                        </p:column>

                                        <p:column headerText="End Type" colspan="2">
                                            <p:selectOneMenu disabled="#{preProcessDateController.action eq false}"   syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{processParams.endType}" title="#{processParams.endType}">
                                                <p:ajax listener="#{preProcessDateController.onChangeEndType(processParams)}"
                                                        process="@([id$=nomalTable])"
                                                        update="@([id$=nomalTable])"/>
                                                <f:selectItem itemLabel="None" itemValue="1" itemDescription="None"/>
                                                <f:selectItem itemLabel="Current time" itemValue="2" itemDescription="Current time"/>
                                                <f:selectItem itemLabel="Delta" itemValue="3" itemDescription="Delta"/>
                                            </p:selectOneMenu>
                                        </p:column>
                                        <p:column headerText="End Value" colspan="2">
                                            <p:calendar disabled="#{preProcessDateController.action eq false}"  style="margin-bottom: 8px;" showOn="button"
                                                        value="#{processParams.endValue}"
                                                        pattern="yyyy/MM/dd HH:mm:ss"
                                                        rendered="#{processParams.endType eq 1 or processParams.startType eq null}"
                                                        title="#{processParams.endValue}">

                                                <p:ajax event="change" process="@([id$=nomalTable])"
                                                        update="@([id$=nomalDiv])"
                                                        listener="#{preProcessDateController.onChangeEndVal}"/>
                                                <p:ajax event="dateSelect" process="@([id$=nomalTable])"
                                                        update="@([id$=nomalDiv])"
                                                        listener="#{preProcessDateController.onChangeEndVal}"/>
                                            </p:calendar>
                                            <p:outputLabel rendered="#{processParams.endType eq 2}" value="none"/>
                                            <p:spinner disabled="#{preProcessDateController.action eq false}"  
                                                       onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
                                                       rendered="#{processParams.endType eq 3 and processParams.startType != 3}" min="0" 
                                                       value="#{processParams.endVal}">
                                                <p:ajax  event="change" process="@this"  update="@this"></p:ajax>

                                            </p:spinner>
                                                
                                            <p:spinner disabled="#{preProcessDateController.action eq false}"  
                                                       rendered="#{processParams.endType eq 3 and processParams.startType eq 3}" min="0"
                                                       onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
                                                       value="#{processParams.endVal}">
                                                <p:ajax  event="change" process="@this"  update="@this"></p:ajax>
                                            </p:spinner>
                                        </p:column>

                                        <p:column headerText="Priority" colspan="2">
                                            <p:spinner disabled="#{preProcessDateController.action eq false}" 
                                                       onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
                                                       value="#{processParams.priority}" min="0">
                                                <p:ajax  event="change" process="@this"  update="@this"></p:ajax>
                                            </p:spinner>
                                                
                                        </p:column>
                                        <p:column headerText="Action" style="width: 40px;">
                                            <p:commandLink disabled="#{preProcessDateController.action eq false}"  value=""
                                                           action="#{preProcessDateController.onRemoveNomalizerTable(processParams)}"
                                                           update="@([id$=nomalTable]),@([id$=remoteGrowl])">
                                                <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                                                <p:confirm header="Confirmation"
                                                           message="Are you sure to delete ?"
                                                           icon="fa fa-warning"/>
                                            </p:commandLink>

                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </p:outputPanel>
                        </p:outputPanel>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputPanel style="border-bottom: 1px solid #5f666c; width: 100%;"/>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:commandButton id="resetForm" icon="fa fa-refresh" value="Reset"
                                         style="width:auto;float: right;"
                                         action="#{preProcessDateController.onReset()}"
                                         update="@([id$=mainContent]),@([id$=treeCategory])  "
                                         disabled="#{preProcessDateController.action eq false}">
                            <p:confirm header="Confirmation"
                                       message="Are you sure to reset this preprocess string"
                                       icon="fa fa-warning"/>
                        </p:commandButton>
                        <p:commandButton id="saveForm"  icon="fa fa-floppy-o" value="Save" style="width:auto;float: right;"
                                         process="@this,@([id$=mainContent]) "
                                         action="#{preProcessDateController.onValidateObject()}"
                                         update="@([id$=remoteGrowl])"
                                         oncomplete="if (!args.validationFailed) PF('dlgConfirmSaveTemp').show();"
                                         disabled="#{preProcessDateController.action eq false}">

                        </p:commandButton>
                    </p:outputPanel>
                </h:form>
            </p:outputPanel>
        </p:panel>
    </p:outputPanel>

    <p:dialog header="Confirmation"
              widgetVar="dlgConfirmSaveTemp"
              id="dlgConfirmSaveTemp"
              modal="true"
              height="100">
        <h:outputText value="Are you sure to save this PPU Date ?" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton disabled="#{preProcessDateController.action eq false}"  value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmSaveTemp').hide();"/>

                <p:commandButton disabled="#{preProcessDateController.action eq false}"  action="#{preProcessDateController.onSave()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 update="@([id$=remoteGrowl]),@([id$=mainContent]),@([id$=content]),@([id$=treeCategory]) "
                                 oncomplete="PF('dlgConfirmSaveTemp').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
<!--    <p:outputPanel class="ui-g ui-fluid" rendered="#{preProcessDateController.display eq false}">
        <p:graphicImage name="images/anh_nen.jpg"
                        style="height: calc(100vh - 90px) !important; overflow: auto; width: 100%"/>
    </p:outputPanel>-->

    <ui:include src="AddFilterPopup.xhtml"/>
    <ui:include src="ChoosePath.xhtml"/>
    <ui:include src="DefineValuePopup.xhtml"/>
</html>